@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
body{
	color: #000;
	font-size: 14px;
	font-weight: normal;
	font-family: Roboto;
}

.hidethis{
	display:none!important;
}

/* page old data */

.display-none{
	display:none!important;
}

.container-old-data{
	background-color:#2ba9cf;
}

.container-nav-old-data{
	display: table;
	height:82px;
	max-height:80px;
	width:100%;
}

.container-nav-old-data ul {
	display: table-cell;
	vertical-align: middle;
    list-style-type: none;
	margin:0 auto;
	text-align:center;
	padding-left:0px;
	font-family: "Titillium Web";
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container-nav-old-data ul li {
    display: inline;
	/* padding-left: 13px;
	padding-right: 13px;
	padding-top: 30px;
	padding-bottom: 30px; */
	padding: 30px 13px 32px 13px;
	background:url(../img/Marker-AnotherYear.png) no-repeat bottom center;
	background-size: 1px 100%;
	-webkit-background-size: 1px 97%;
}

.container-nav-old-data ul li a {
	font-size:18px;
	color:#fff;
	font-weight:bold;
	opacity:0.5;
	vertical-align: middle;
	outline: none;
}

.container-nav-old-data ul li a:hover {
	font-size:18px;
	color:#fff;
	font-weight:bold;
	opacity:1;
	border-bottom:1px solid #fff;
	text-decoration:none;
}

.container-nav-old-data ul .active  {
	background:url(../img/Marker-SelectedYear.png) no-repeat bottom center;
	background-size: 15px 100%;
	-webkit-background-size: 15px 97%;
}

.container-nav-old-data ul .active a  {
	font-size:33px;
	color:#fff;
	font-weight:bold;
	opacity:1;
	text-decoration:none;
	border-bottom:none;
	cursor:context-menu;
	outline: none;
}

.container-nav-old-data ul .active a:hover  {
	font-size:33px;
	color:#fff;
	font-weight:bold;
	opacity:1;
	text-decoration:none;
	border-bottom:none;
	cursor:context-menu;
}

.nav-year{
	font-size:18px;
	color:#fff;
	font-weight:bold;
	vertical-align: middle;
	background:none!important;
}
/* end page old data */

.title-event-gallery{
	font-size: 33px;
	font-family: 'Titillium Web'; 
	font-weight: bold; 
	-webkit-font-smoothing: antialiased; 
	-moz-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale; 
	text-align:center; 
	margin-bottom: 20px; 
}

#time9june16, #time9junedone, #date9june{}

/* announcement content */
.announcement-right-img-heart{
	float:left; 
	width:24%; 
	padding-top:10px; 
	padding-bottom:10px;
}

.announcement-right-img-text{
	float:left; 
	width:76%; 
	padding-bottom:20px; 
	padding-top:10px;
}


#containingBlock {
	display: table; 
	height:530px; 
	position: relative; 
	overflow: hidden;
	width:100%; 
	padding-left: 25px;
}
#containingBlock div {
	display: table-cell; 
	vertical-align: middle; 
}

.warning-text-runner-up{
	margin:20px auto;
}

.icon-like-announcements{
	color:#DF0101;
}

.left-winner-contest-ctd{
	background:url('../img/winner/winner-banner.jpg') no-repeat center center;
	min-height: 530px;
	background-size: cover;
}

.title-announcement-winner{
	font-family:Pacifico; 
	font-size:60px; 
	color:#DA5B26; 
	margin-bottom:20px; 
	margin-top:0px;
}

.img-heart-announcement{
	width: 115px; 
	height: 110px;
}

.margin-top-20{
	margin-top: 20px;
}

.col-sm-5-am{
	float:left;
}

.col-sm-5-am{
	width:20%;
	text-align:center;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}

.runner-up-outer{
	display:table; 
	height:50px; 
	margin-top:5px; 
	width:100%;
}

.runner-up-inner-left{
	display: table-cell; 
	vertical-align: middle; 
	width: 25%;
}

.runner-up-inner-left p{
	margin: -15px 0px 0px; 
	font-size: 40px; 
	font-family: Pacifico; 
	border-bottom: 1px solid rgb(221, 221, 221);
}

.runner-up-inner{
	display:table-cell; 
	vertical-align:middle; 
	width:75%; 
	padding-left:5px; 
	text-align: left; 
	font-size: 13px;
}

.runner-up-inner p{
	margin:0px;
}
/* end announcement content */

.inst-im4u{
	width:127px;
	height:57px;
}

.step-instagram-contest-am{
	text-align:left;
}

.no-pad{
	padding:0px!important;
}

.no-pad-left{
	padding-left:0px!important;
}

.no-pad-right{
	padding-right:0px!important;
}

.supported-by a img{
	padding-right:4.5%;
	outline:none;
}

.urgentshow{
	display:table!important;
	width: 100%;
}

.displaynone{
	display:none!important;
}

.btn{
	font-family: 'Titillium Web',Roboto,SansSerif;
	font-size: 14px;
	font-weight: bold;
	/*font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;*/
}
.align-center{
	text-align:center;
}
#content > h2:first-child {
  display: none;
}
.navbar-default{
	background-color: #fff;
	height: 104px;
}
.navbar-nav{
	padding: 19px 0px 25px 0px;
}
.navbar-brand{
	padding:  0px 10px 0 0px;
	margin-right: -7px;
/*	border-right: 1px solid #ddd;*/
	height: 104px;
}
.navbar-nav>li>a {
	font-size: 16px;
	font-weight: normal;
	font-family: 'Titillium Web';
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.current>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #000;
	font-weight: normal;
	background-color: #fff;
}
.navbar-default .navbar-nav>li>a:hover>span, 
.navbar-default .navbar-nav>.active>a>span,
.navbar-default .navbar-nav>.current>a>span, 
.navbar-default .navbar-nav>.active>a:focus>span, 
.navbar-default .navbar-nav>.active>a:hover>span{
	display: block;
	margin-top: 15px;
	margin-bottom: -15px;
	width: 20px;
	border-bottom: 3px solid #000;
}

.navbar-default .navbar-nav.navbar-right.top-menu-right>li>a:hover>span,
.navbar-default .navbar-nav.navbar-right.top-menu-right>.active>a>span,
.navbar-default .navbar-nav.navbar-right.top-menu-right>.current>a>span,
.navbar-default .navbar-nav.navbar-right.top-menu-right>.active>a:focus>span,
.navbar-default .navbar-nav.navbar-right.top-menu-right>.active>a:hover>span {
	display: block;
	margin-top: 15px;
	margin-bottom: -15px;
	width: 20px;
	border-bottom: none;
}
.navbar-default .navbar-nav>li.top-menu-share > a{
	font-weight: normal;
	font-size: 14px;
	color: #000;
	padding: 0px;
}
.navbar-default .navbar-nav>li.top-menu-share > a.text{
	padding: 15px;
}
.navbar-right{
	margin-right: 0px;
}
.navbar-default .navbar-nav>li.top-menu-share > a > img{
	padding: 0 5px;
}
.top-menu-right{
/*	border-left: 1px solid #ddd;*/
	padding: 0px 10px 0px 0px !important;
}
.cover-copyright{
	position: absolute;
	color: #fff;
	bottom: 5px;
	right: 10px;
	font-size: 11px;
}
.background-cover{
/*  	margin-top: 105px;*/
	background: url(../img/TopImg-Home.jpg);
	background-size: cover;
	min-height: 530px;
	padding: 0 75px;
	position: relative;
}
.cover-text-wrapper{
	margin-top: -3px;
	/* position: relative; */
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	font-family: 'Titillium Web',Roboto,SansSerif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.welcome-text-background{
	background-color:  RGBA(255,255,255,0.7);    
	display: block;
	width: 255px;
	height: 55px;
	
}
.welcome-text{
	font-family: "Pacifico";
	font-size: 33px;
	margin-left: 20px;
	position: absolute;
	top: 10px;
}
.coral-triangle-text-background{
	background-color: RGBA(255,255,255,0.7);    
	display: block;
	width: 400px;    
	height: 55px;
}
.coral-triangle-text{
	font-family: "Pacifico";
	font-size: 33px;
    margin-left: 20px;
    top: 55px;
    position: absolute;
}
.cover-text-description{
	/*padding: 20px;
	margin-top: 10px;
	width: 400px;
	background-color: RGBA(255,255,255,0.7);*/
	max-width: 570px;
	color: #fff;
	font-size: 16px;
}
.cover-text-description.home{
	font-size: 16px;
	line-height: 1.5;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 1); 
	/* background-color: RGBA(0,0,0, 0.5); */
}
.background-cover .pull-left .line{
	border-bottom: 1px solid #fff;
	width: 230px;
	margin: 0px 0 20px;
}
.cover-right{
	margin-top:102px;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}
.cover-right .date{
	font-size: 100px;
	color: #fff;
	font-weight: bold;
	font-family: 'Titillium Web';
	text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}
.cover-right .line{
	border-bottom: 1px solid #fff;
	width: 112px;
	display: block;
	margin: -23px auto -15px auto;
}
.cover-right .text{
	margin-top: 38px;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.instagram-contest{
	text-align:center; 
	padding-top:35px;
	/*height: 562px;*/
	margin: 0px -15px;
}
.instagram-contest .title{
	/* font-family:'Pacifico';  */
	font-family: 'Titillium Web', Roboto, SansSerif;
	font-size: 33px;
	color: #035291;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.instagram-contest .line{
	margin: 15px auto 23px;
	border-bottom: 1px solid #ddd;
	width: 245px;
}
.instagram-contest p{
	max-width: 700px;
	margin: 0px auto 23px;
	font-size: 16px;
	line-height: 1.4;
}
.instagram-contest .photo-list{
	max-width: 1187px;
	margin: 20px auto;
	/*height: 350px;*/
}
.instagram-contest .photo-list ul{
	list-style: none;
}
.instagram-contest .photo-list ul > li{
	float: left;
	border: 1px solid #fff;
	border-left: 0px;
	border-top: 0px;
}
.instagram-contest .photo-list img{
	width:175px;
	height: 175px;
}
.btn-primary{
	background-color: #38aed2;
	text-transform: uppercase;
	border: none;
	padding: 12px 18px;
}
btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #2B9CBE;
  border-color: 1px solid #d7d7d7;
}
#map-canvas-wrapper {
	width: 100%;
	position: relative;
	height: 620px;
}
#map-canvas{
	height: 620px;
	width:100%;
	background-color: #38aed2;
}
.map-wrapper{
	position: relative;
	margin-top: 50px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.map-wrapper .modal-map{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 620px;
	background: RGBA(0,0,0,0.3);
}
.map-wrapper .modal-map .content {
	position: absolute;
	background: #fff;
  	padding: 42px 50px;
	left: 0;
	right: 0;
	bottom: 0px;
	top: 0px;
	margin: auto;
	max-height: 333px;
	max-width: 585px;
	text-align: center;
}
.map-wrapper .modal-map .content p{
	margin-bottom: 25px;
}
.map-wrapper .modal-map .content .title{
	font-weight: bold;
	font-size: 33px;
	font-family: 'Titillium Web';
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.map-wrapper .modal-map .btn-close{
	color: #000;
	background-color: #f5f5f5;
	padding:14px;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 18px;
	font-weight: bold;
	font-stretch: expanded;
	cursor: pointer;
}
.sidemenu-country-wrapper {
	position: absolute;
	top: 0px;
	right: 100%;
	height: 100%;
	background: #fff;
	padding: 30px 35px;
	min-width: 20%;
	width: 280px;
	/*right: 0px;*/
}
.sidemenu-country-wrapper .title{
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sidemenu-country-wrapper p{
	font-size: 14px;
}
.sidemenu-country-wrapper ul{
	list-style: none;
	padding: 0px;
}
.sidemenu-country-wrapper ul li:first-child{
	border-top: 1px solid #ddd;
}
.sidemenu-country-wrapper ul li {
	font-size: 14px;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	/*margin-top: 15px;*/
	cursor: pointer;
	font-weight: bold;
}
.sidemenu-country-wrapper ul li.active {
	color: #2ba9cf;
}
.sidemenu-country-wrapper ul li:hover{
	color: #2B9CBE;
}
.sidemenu-country-wrapper > button{
	bottom: 30px;
	position: absolute;
}

.sidedetail-event-wrapper {
	position: absolute;
	top: 0px;
    right: 0px;
	height: 100%;
	background: #FFF none repeat scroll 0% 0%;
	padding: 25px 35px;
	width: 50%;
	max-width: 600px;
	float: right;
}
.sidedetail-event-wrapper .navigation{
	color: #2B9CBE;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Titillium Web';
	height: 45px;
  	border-bottom: 1px solid #ddd;
}
.sidedetail-event-wrapper .navigation a{
	height: 30px;
	line-height: 30px;
	display: block;
	float: left;
}
.sidedetail-event-wrapper .navigation a.disabled {
	color: #b7b7b7;
}
.sidedetail-event-wrapper .navigation a.disabled:hover {
	text-decoration: none;
}
.sidedetail-event-wrapper .navigation .divider{
	height: 30px;
	width: 1px;
	display: block;
	float: left;
	border-left: 1px solid #d7d7d7;
	margin-left: 20px;
	margin-right: 19px;
}
.sidedetail-event-wrapper .btn-close{
	background-color: #f0f0f0;
	color: #000;
	font-weight: bold;
	border: none;
	font-family: 'Titillium Web';
	border-radius: 0px;
	width: 40px;
	font-size: 20px;
	margin-top: -10px;
}
.sidedetail-event-wrapper .title:first-child{
	font-size: 18px;
}
.sidedetail-event-wrapper .title{
	display: block;
	margin-top:0px;
	margin-bottom: 0px;
  	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#event_content{
	height: 100%;
	padding-right: 20px;
}

#event_content .title{
	margin-top: 24px;
}

.sidedetail-event-wrapper p.description{
	margin-top: 10px;
	font-size: 14px;
}
.sidedetail-event-wrapper p{
	margin-bottom: -10px;
}
.sidedetail-event-wrapper .organizer-wrapper .title{
  	font-size: 14px;
	margin-bottom: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sidedetail-event-wrapper .sponsor-wrapper .title{
  	font-size: 14px;
	margin-bottom: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.eventlist-wrapper{
	max-width: 960px;
	margin:28px auto 50px;
	text-align: center;
}
.eventlist-wrapper .title, .news .title {
	font-size: 33px;
	font-family: 'Titillium Web';
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.eventlist-wrapper .nav-tabs>li {
	background-color: #ebebeb;
	/* margin-left: -1px; */
	border-bottom: 1px solid #ebebeb;
	height: 50px;
	outline: none;
}
.eventlist-wrapper .nav-tabs>li>a {
	padding: 14px 17px;
	color: #000;
	margin-right: 0px;
	border-radius: 0px;
	border: 1px solid #ddd;
	border-bottom: 0;
	border-left: none;
}
.eventlist-wrapper .nav-tabs>li>a :hover{
	border: 1px solid #ddd;
}
.eventlist-wrapper .nav-tabs>li.active>a{
	clear: both;
	border: 1px solid transparent;
	border-left: none;
	outline: none;
}
.eventlist-wrapper .nav-tabs>li.active {
	border: 1px solid #ddd;
	border-bottom: 0px;
	border-left: none;
}
.eventlist-wrapper .nav-tabs>li:hover{
	border-bottom: 1px solid #2B9CBE;
}
.eventlist-wrapper .nav-tabs>li.active:hover {
	border-bottom: 1px solid #fff;
}
.eventlist-wrapper .nav-tabs>li.active>a:hover{
	border-bottom: 0px;
	background-color:#fff;
	border-color: transparent;
	color: #000;
}
.eventlist-wrapper .nav-tabs>li>a:hover{
	color: #fff;
	background-color: #2B9CBE;
	border-color: #2B9CBE;
}
.eventlist-wrapper .events-scroller {
	/* max-height: 390px; */
	/* overflow-y: scroll; */
}
.coloumn-head{
	/* margin-left: -1px; */
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #ddd;
}
.nav-tabs {
    border-bottom: 1px solid #DDD;
    width: 959px;
	border-left: 1px solid #ddd;
}
.coloumn-when{
	display: inline-block;
	width: 145px;
	/*width: 220px;*/
	padding: 15px 20px;
	font-weight: bold;
}
.coloumn-event{
	display: inline-block;
/*	width: 370px;*/
    width: 308px;
	padding: 15px 20px;
	font-weight: bold;
}
.coloumn-where{
	display: inline-block;
/*	width: 240px;*/
  	width: 230px;
	padding: 15px 20px;
	font-weight: bold;
}
.coloumn-city{
	display: inline-block;
	width: 190px;
	padding: 15px 20px;
	font-weight: bold;
}
.coloumn-detail{
  	padding: 5px 20px 35px;
	max-width: 850px;
	display: none;
}
.coloumn-detail .title{
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 0px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.coloumn-body{
	position: relative;
	/* margin-left: -1px; */
	/* border-left: 1px solid #ddd; */
	border-bottom: 1px solid #ddd;
	/* border-right: 1px solid #ddd; */
	background: url(../img/Button-OpenDropdown.png) no-repeat;
	background-position: top 10px right 30px;
	transition: 0.25s;
}
.coloumn-body.active{
	background: url(../img/Button-CloseDropdown.png) no-repeat;
	background-position: top 10px right 30px;
}
.coloumn-body .head{
	cursor: pointer;
}
.coloumn-body.active > span{
	position: absolute; 
	border-left: 5px solid #2B9CBE; 
	min-height: 100%; 
}
.coloumn-body .head > div{
	vertical-align: top;
}
.coloumn-body .organizer-wrapper{
	/*width:280px;*/
	/*width: 49%;*/
	display: inline-block;
	margin-top: -10px;
}
.coloumn-body .sponsor-wrapper{
	/*width:280px;*/
	/*width: 49%;*/
	display: inline-block;
	margin-top: -10px;
}
.coloumn-body .organizer-wrapper img,
.coloumn-body .sponsor-wrapper img {
	max-height: 40px;
	padding-right: 20px;
}
.coloumn-detail .organizer-wrapper .title, .coloumn-detail .sponsor-wrapper .title{
	margin-bottom: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.event-photo .photo-list{
	width: 100%;
	max-width: 1375px;
	margin: 20px auto;
	height: 350px;
}
.event-photo .photo-list ul{
	padding:0px;
	list-style: none;
}
.event-photo .photo-list ul > li{
	float: left;
	border: 1px solid #fff;
	border-left: 0px;
	border-top: 0px;
}
.news{
	padding: 35px;
	text-align: center;
	background-color: #f0f0f0;
	position:relative;
}
.title{
	font-family: 'Titillium Web';
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.news-list{
	margin-top: 15px;
	text-align: left;
	list-style: none;
}
.news-title{
	color: #000;
	font-weight: bold;	
	cursor: pointer;
}
.news-list ul{
	list-style: none;
	/* max-width: 960px; */
	margin: auto;
	/* max-height: 370px;
  	overflow-y: auto; */
	padding-left:0px;
}
.news-list  li{
	border-bottom: 1px solid #ddd;
	padding: 10px 20px;

	margin:auto;
}
.news-list  li:first-child{
	/* border-top: 1px solid #ddd; */
}
.news-list  li .date{
	font-weight: normal;
	color:#777;
	width: 115px;
}
.eventsponsor{
	margin-top: 45px;
	text-align: center;
}
.eventsponsor .title{
	font-size: 14px;
}
.list-sponsor{
	position: relative;
	overflow: hidden;
	height: 100px;
}
.list-sponsor .item{
	float: left;
	margin:20px 35px;
}
/* carousel */
.media-carousel 
{
  margin:auto;
/*  padding: 0 40px 30px 40px;*/
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left {
  left: -9px;
  background-image: none;
  border: none;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 22px;
  color: #777;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
	right: -9px !important;
	background-image: none;
	height: 40px;
	width: 40px;
	margin-top: 22px;
	color: #777;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
/*.media-carousel img
{
  width: 250px;
  height: 100px
}*/
/* End carousel */
.inner-item{
	padding: 8px 30px;
	display: inline-block;
}
#media .inner-item .thumbnail{
	border: 0px;
}
div#media {
	max-width: 1210px;
}
.carousel-control {
	color: #777;
	text-shadow: none;
	font-size: 30px;
}
.carousel-control:hover {
	color: #777;
	text-shadow: none;
}
.footer{
 	margin: 32px auto 50px;
	max-width: 1210px;
	padding: 35px 0 25px; 
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
}
.footer-menu{
	position: relative;
	height: 50px;
}
.footer-menu ul{
	padding: 0px;
	list-style: none;
	font-size: 14px;
}
.footer-menu ul li{
	display: inline-block;
}
.footer-menu ul li > a{
	color: #000;
	text-decoration: none;
	margin-right: 35px;
	font-family: 'Titillium Web';
}
.footer-menu ul li > a:hover {
	color: #37aed2;
	text-decoration: underline;
}
.social-media-wrapper{
	margin-top: -8px;
}
.social-media-wrapper > label{
	font-size: 14px;
	font-weight: normal;
	color: #777;
	margin-right: 18px;
	font-family: "Titillium Web", Roboto, sans-serif;
}
.footer .partner{
	font-size: 14px;
  	margin-top: 20px;
	text-align: center;
}
.footer .partner .partner-list{
	margin-top: 30px auto;
	list-style: none;
	padding: 0px;
}
.footer .partner .partner-list > li{
	margin: 3px 10px 3px 10px;
	display: inline-block;
}
.footer .copyright {
	text-align: center;
	font-size: 14px;
	color: #777;
	margin-top: 55px;
}

/*Instagram page*/
.cover-title-instagramcontent{
	font-family: 'Titillium Web',Roboto,SansSerif;
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
}
.instagram-date{
	color: #fff;
	/* margin-top: -53px; */
	margin-top: 0px;
}
.instagram-date .date{
	font-family: 'Titillium Web',Roboto,SansSerif;
	font-size: 100px;
	display: inline-block;
}
.instagram-date .line{
	background-color: #fff;
	height: 100px;
	width: 1px;
	display: inline-block;
	margin: -15px 25px;
}
.instagram-date .text{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	font-family: Titillium Web;
}
.row.participate{
	margin-top: 45px;
	text-align: center;
}
.title-instagram{
	/* font-family: 'Pacifico'; */
	font-family: "Titillium Web",Roboto,SansSerif;
	font-size: 32px;
	color: #035291
}
.participate-coloumn .text {
	display: inline-block;
	width: 400px;
	text-align: left;
	/*	font-weight: bold;*/
}
.participate-coloumn .homepage_text {
	display: inline-block;
	width: 400px;
	text-align: left;
	display: table-cell;
	height: 40px;
	vertical-align: middle;
}
.participate-coloumn .number {
	display: inline-block;
	/* font-family: Pacifico; */
	font-family:'Titillium Web',Roboto,SansSerif;
	font-size: 60px;
	margin-right: -25px;
	border-bottom: 1px solid #ddd;
	float: left;
	/* margin-top: -45px; */
}
.participate-coloumn {
	width: 465px;
	display: inline-block;
	vertical-align: top;
}
.participate .terms{
	margin-top: 15px;
	color: #777;
	font-size: 14px;
}
.row.prizes{
	margin-top: 45px;
	background-color: #f0f0f0;
	padding: 43px;
	text-align: center;
}
.row.prizes .coloumn{
	text-align: left;
	max-width: 515px;
}
label.number-coloumnprizes {
	font-size: 18px;
	font-weight: normal;
	margin-bottom:0px;
	color: #252525;
	font-family: BebasNeue;
	text-decoration:uppercase;
}
label.title-coloumnprizes {
	font-size: 26px;
	font-weight: normal;
	line-height: 1;
	color: #252525;
	font-family: BebasNeue;
	text-decoration:uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.row.prizes .coloumn-wrapper{
	margin: 20px auto;
	/* max-width: 980px; */
	max-width: 1163px;
	overflow: auto;
}
.photo-list ul{
	list-style: none;
}
.photo-list ul > li{
/*	float: left;*/
	display: inline-block;
	border: 1px solid #fff;
	border-left: 0px;
	border-top: 0px;
}
.pagination>li>a, .pagination>li>span {
	border: 0;
	color: #777;
	cursor: pointer;
	padding: 2px;
	margin: 6px 12px;
	font-weight: bold;
}
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a,  .pagination>li:last-child>span {
	border: 0;
	color: #2B9CBE;
}
.pagination>li>a:hover, .pagination>li>span:hover{
	background-color: #fff;
	color: #000;
}
.btn-small{
	text-transform: none;  
	padding: 8px 20px;
}
.row-line{
	  padding: 45px 0;
	  max-width:1210px; 
	  border-bottom:1px solid #ddd; 
	  margin:auto;
}
.toc ul{
	margin: auto;
}
.toc ol li{
	text-align: left;
	line-height: 1.7;
	width: 100%;
	margin-bottom: 10px;
}
.cover-instagram-contest{
	height:530px;
	display:table;
	width:100%;
	padding-left:75px;
}
span.toc-instagramcontest, a.toc-instagramcontest{
	color:gray;
}
.cover-instagram-contest .cover-text-wrapper{
	background-color: transparent;
	color: #fff;
	float: left;
	width: 100%;
}
.cover-instagram-contest .cover-text-description{
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
#instagram-photolist li > img{
	width: 225px;
	height: 225px;
}
a.to_tnc, a.s_link {
	color: #37aed2;
}
a.to_tnc:hover, a.s_link:hover {
	text-decoration: underline;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>li>span:hover, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #fff;
	border-color: #fff;
	color: #000;
	border-bottom: 2px solid;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #fff;
	border-color: #fff;
	color: #000;
	border-bottom: 2px solid;
}
.top-text-share{
	list-style: none;
	vertical-align: middle;
	padding: 34px 30px;
	font-size: 16px;
	color: #777;
	margin-bottom: -7px;
}
.top-text-share a{
	color: #777;
}
.top-text-share a:hover, .top-text-share a:focus{
	color: #000;
	text-decoration: none;
}
.top-text-share .dropdown-menu>li>a{
	display: inline-block;
	padding: 0px;
}
.dropdown-menu:after {
	position: absolute;
	top: -12px;
	left: 134px;
	display: inline-block;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #ffffff;
	border-left: 12px solid transparent;
	content: '';
}
.dropdown-menu:before {
	position: absolute;
	top: -13px;
	left: 133px;
	display: inline-block;
	border-right: 13px solid transparent;
	border-bottom: 13px solid #ccc;
	border-left: 13px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.1);
	content: '';
}
.photo-list .thumbnail {
  border: 0px;
  padding: 0px;
  margin-bottom: 0px;
}
.photo-list .thumbnail a>img, .photo-list .thumbnail>img {
  margin: 0px;
}
.photo-list .col-md-2.col-sm-4 {
	padding: 0px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.photo-list .img-responsive{
	width: 100%;
}
.btn-share{
	margin-left: 13px;
	background-color: #fff;
	border: 1px solid #d7d7d7;
}
.btn-share{
	background-color: #fff;
	border: 1px solid #d7d7d7;
	font-size: 16px;
	padding: 6px 12px !important;
	/* margin-top: 8px !important; */
	margin-top: 15px !important;
	
}
.dropdown.open .btn-share, .btn-share:hover, .btn-share:focus {
	color: #fff !important;
	background-color: #2B9CBE !important;
	border: 1px solid #fff ;
	font-size: 16px;
}
.btn-share:hover>span{
	border-bottom: 0px !important;
}
.top-text-share a:hover{
	color: #fff;
	font-size: 16px;
}
.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

 .navbar-inner {
    text-align:center;
}
.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

/*mosaic start*/
.masonry-wrapper {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}
.masonry-wrapper #mcontainer {
	display:none;
	width:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}
#mcontainer .item {
	display: block;
	float: left;
	margin:0;
	padding:0;
	position: relative;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
#mcontainer .item img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	padding: 0;
	margin: 0;
}
#mcontainer .item .mosaic_meta {
	z-index: 1;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	position: absolute;
	vertical-align: middle;
	text-align: center;
	/* background-color: rgba(0,0,0,0.45); */
	background-color: rgba(0,0,0,0.8);
	display: none;
	color: #dcdcdc;
	padding: 25% 10px 10px;
	font-family: Roboto, 'Titillium Web';
	font-size: 14px;
	font-weight: normal;
}
#mcontainer .item .mosaic_meta p {
	position: absolute;
	width: 90%;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	line-height: 1.4em;
}
#mcontainer .item .mosaic_meta p strong,
#mcontainer .item .mosaic_meta p i {
	display: block;
	padding-bottom: 7px;
}
#mcontainer .item .mosaic_meta p strong {
	font-size: 1.2em;
	font-weight: 700;
	/*border-bottom: 1px solid #ccc;*/
	margin-bottom: 3px;
}
/*mosaic end*/

/*instagram feeds*/
.instagram-feeds {
	position: relative;
	padding:0;
	margin:0;
	background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
	overflow: hidden;
}
.instagram_img_wrapper {
	position: relative;
}
.instagram-feeds .instagram_img {
	z-index: 1;
}
.instagram-feeds:hover {
}
.insta_meta_wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background-color: rgba(0,0,0,0.6);
	z-index: 1;
}
.instagram-feeds .instagram_meta {
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 1;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	line-height: 1.4em;
	position: absolute;
	vertical-align: middle;
	text-align: center;
	/*display: block;*/
	color: #dcdcdc;
}
.instagram-feeds .instagram_meta p {
	text-align: center;
	font-family: Roboto, 'Titillium Web';
	font-size: 14px;
	font-weight: normal;
}
.instagram-feeds .instagram_meta a {
	color: #fff;
	text-decoration: none;
	transition: 0.25s;
	margin-left: 0;
}
.instagram-feeds .instagram_meta a:hover {
	color: #dcdcdc;
	text-decoration: none;
}
.instagram-feeds .instagram_meta a.btn {
	color: #555;
	transition: 0.25s;
	margin: 0 auto;
}
.instagram-feeds .instagram_meta a.btn:hover {
	color: #000;
}
a.insta_link {
	font-size: 12px;
	white-space: nowrap;
}
/*end instagram feeds*/

/*form-event-wrapper*/
.form-event-wrapper{
	max-width: 835px;
	padding: 31px 50px 50px;
	background-color: #f0f0f0;
	margin: 50px auto;
}
.form-event-wrapper .title{
	font-size: 32px;
	text-align: center;
	margin-bottom: 25px;
}
.form-event-wrapper .form-control {
  border-radius: 0px;
  height: 40px;
  margin-bottom: 1px;
}
.form-event-wrapper label{
	width: 100%;
}
.form-event-wrapper label>span, .checkbox label {
	  float: right;
	  font-size: 12px;
	  color: #777;
}
.form-event-wrapper textarea.form-control {
	height: 245px;
}
.checkbox{
	  margin-bottom: 22px;
	  margin-top: 5px;
	  text-align: right;
}
.form-event-wrapper .form-control.map-event-wrapper{
	height: 230px;
	margin-top: -2px;
}
.form-event-wrapper .input-group-addon:last-child {
  border-radius: 0;
  background: #fff;
  width: 85px;
}
.form-event-wrapper .input-group{
	margin-bottom: -1px;
}
.btn-browse{
	height: 40px;
	border-radius: 0;
	margin-left: -1px;
	width: 85px;
	margin-top: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
}
.list-form-upload{
	margin-top: -50px;
	padding-left: 17px;
	list-style-type: decimal;
	-moz-margin-top:-35px;
}
.list-form-upload > li{
/*	padding-top: 25px;*/
/*	margin-top: 5px;*/
	padding-top: 5px;
  	margin-top: 30px;
	margin-bottom: 10px;
/*	display: block;*/
	position: relative;
}
@-moz-document url-prefix() {
	.list-form-upload > li{
		padding-top: 5px;
	  	margin-top: 50px;
		margin-bottom: 10px;
		position: relative;
	}
}
.list-form-upload  li > .input-group:first-child{
	width:100%; 
	padding-top: 0;
	margin-top: 0;
	margin-top: -20px;
}
.form-event-wrapper label>span.more{
	float: right;
	font-size: 12px;
	color: #2B9CBE;
	cursor: pointer;
	font-weight: normal;
}
.form-event-wrapper .form-control[readonly] {
	background-color: #fff;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.popovernote{
	margin: 15px;
	display: none;
	border: 1px solid #F0F0F0;
	box-shadow: none;
	margin-left: 15px;
	border-radius: 0;
	box-shadow: #888888 0 0 2px;
}
.popovernote li{
  	padding: 10px 15px;
}
.dropdown-menu.popovernote:after {
  	left: 20px;
}
.dropdown-menu.popovernote:before {
  	left: 19px;
}
ul.dropdown-menu.popovernote.top:before {
	left: 45%;
	bottom: -14px;
	top: auto;
	border-right: 13px solid transparent;
	border-top: 13px solid #ebebeb;
	border-left: 13px solid transparent;
	border-bottom: 0;
}
ul.dropdown-menu.popovernote.top:after {
	left: 45%;
	bottom: -13px;
	top: auto;
	border-right: 13px solid transparent;
	border-top: 13px solid #fff;
	border-left: 13px solid transparent;
	border-bottom: 0;
}
.dropdown-menu.popovernote.top.textarea{
	top: -80px
}
.dropdown-menu.popovernote.top {
  display: none;
  right: 0px;
  top: -60px;
}

.dropdown-menu.popovernote.top.checkbox {
  display: none;
  right: 0px;
  top: -75px;
  text-align: left;
}

.message-wrapper{
	max-width: 835px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: -20px;
	font-size: 16px;
}

/*end form event*/


.remove_me {
	position: absolute;
	right: 0px;
/*	top: 2px;*/
	top:-17px;
	padding: 1px 6px;
	border: 1px solid #ccc;
	background: #de1f00;
	color: #f5f5f5;
	border-radius: 3px;
	transition: 0.25s;
	z-index: 100;
}
.remove_me:hover {
	color: #fff;
	background: #fb2400;
	text-decoration: none;
}

@-moz-document url-prefix() {
	.remove_me {
		position: absolute;
		right: 0px;
	/*	top: 2px;*/
		top:-38px;
		padding: 1px 6px;
		border: 1px solid #ccc;
		background: #de1f00;
		color: #f5f5f5;
		border-radius: 3px;
		transition: 0.25s;
		z-index: 100;
	}
}

.eventsponsor .list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.eventsponsor .list_carousel li {
	margin: 6px;
	display: block;
	float: left;
}
.eventsponsor .list_carousel li img{
	/* height: 100px; */
	height: 70px;
	padding-left: 10px;
	padding-right: 10px;
}
.eventsponsor .list_carousel.responsive {
	width: auto;
	margin-left: 0;
	margin-top: 32px;
	margin-bottom: 40px;
}
.eventsponsor .slider-control{
	font-size: 40px;
	margin-top: -60px;
	color: #d7d7d7;
	outline: none;
}
.clearfix {
	float: none;
	clear: both;
}	

/* AM */

/* tooltip */
.tooltip.left {
    margin-left: -3px;
    padding: 0px 9px 0px 3px;
	width: 200px;
}
.tooltip.right {
    padding: 0px 3px 0px 9px;
    margin-left: 3px;
	width: 200px;
}
.tooltip.bottom {
    margin-top: 3px;
    padding: 9px 0px;
}
.tooltip.top {
    margin-top: -3px;
    padding: 9px 0px;
}
.tooltip.top .tooltip-arrow {
    bottom: 0px;
    left: 50%;
    margin-left: -5px;
    border-width: 9px 9px 0px;
    border-top-color: #fff;
}
.tooltip.bottom .tooltip-arrow {
    top: 0px;
    left: 50%;
    margin-left: -5px;
    border-width: 0px 9px 9px;
    border-bottom-color: #fff;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0px;
    margin-top: -5px;
    border-left-color: #fff;
    border-width: 9px 0px 9px 9px;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0px;
    margin-top: -5px;
    border-width: 9px 9px 9px 0px;
    border-right-color: #fff;
}
.tooltip-inner {
    max-width: 400px;
    text-decoration: none;
    font-size: 14px;
	font-weight: normal;
	font-family: Roboto;
    text-align: left;
    border-radius: 0px;
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 2px #ddd;
}
/* end tooltip */

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    padding-top: 8px;
}

.socmed-share-content{
	margin-left: -100px;
	margin-top: 15px !important;
	border: 1px solid #F0F0F0;
}

.homepage .participate-coloumn {
    text-align: left;

}

.event-table-inner-content{
	text-align:left; 
	height:338px; 
	max-height:338px;
}

/* container */
.container-full{
	max-width:100%; 
	width:100%;
	overflow:auto;
}
/* container */

/* 9may2016 */
.gal_view {
	/* width: 223.833px;
	height: 223.833px; */
	width: 16.593%;
	padding-bottom: 16.593%;
	margin: 0px 1px 1px 0px;
	float: left;
	border: none;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: pointer;
	background-size:cover;
	background-position: center center;
}
.gal_view .gal_mask,
.gal_view .content {
	/* width: 223.833px; */
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	display: table;
	vertical-align: middle;
}
.gal_view img {
	display: block;
	position: relative;
}
.gal_view .info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	/* background: #000; */
	-webkit-box-shadow: 0 0 1px #000;
	-moz-box-shadow: 0 0 1px #000;
	box-shadow: 0 0 1px #000;
   
	display:table-cell;
	vertical-align:middle;
	
	text-align: center;
	color: #dcdcdc;
	font-family: Roboto, 'Titillium Web';
	font-size: 14px;
	font-weight: normal;
}
.gal_view .info: hover {
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}
.gal_view_first .gal_mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	background-color: rgba(0,0,0, 0.7);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.gal_view_first .info {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.gal_view_first:hover .gal_mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.gal_view_first:hover .info {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}
.gal_view_first:hover .info {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
#loading{
	width:100%;
	height:100px;
	background:#fff url(../img/loading.gif) no-repeat center center; 
	background-size: 64px 64px;
}
/* 9may2016 */

/* 11may2016 */
.row.judges{
	margin-top: 0px;
	background-color: #fff;
	padding: 43px;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.row.judges .coloumn-wrapper{
	margin: 0px auto;
	max-width: 860px;
	overflow: auto;
}
.coverinstagramcontestpage{
	background:transparent url('../img/InstaBanner2.jpg') no-repeat center center / cover;
}
/* 11may2016 */

/* 12may2016 */
.no-pad-l{
	padding-left:0px !important;
}
.no-pad-r{
	padding-right:0px !important;
}
.no-pad-l-r{
	padding-left:0px !important;
	padding-right:0px !important;
}
.align-l{
	text-align:left;
}
.judges .judges_photo img{
	border-radius:50%;
	margin-top: 7px;
}
.judges .name_judges{
	font-size: 21px;
	font-weight: bold;
	font-family: roboto;
	text-transform:uppercase;
}
.judges .bio_judges{
	font-size: 14px;
	font-weight: normal;
	font-family: Roboto;
}
.judges .judges_list{
	padding-bottom: 40px;
	padding-top: 30px;
	border-bottom: 1px solid #eee;
}
.judges .last_judges_list{
	padding-bottom: 0px;
	border-bottom: none;
}
.judges .judges_list .col-sm-10{
	padding-left:21px;
}
.cover_instagram_contest_in1{
	display: table-cell; 
	vertical-align: middle;
	
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 0px 0px 20px rgba( 0 , 0 , 0 , 1);
}
/* 12may2016 */

/* 13may2016 */
.container_h_participate{
	width: 990px; 
	margin: 0px auto; 
	overflow: auto;
	min-height:80px;
}
.container_h_participate .col-sm-10{
	text-align:left;
}
.container_h_participate .col-sm-2{
	font-size: 60px;
	font-family: "Titillium Web",Roboto,SansSerif;
	line-height: 47px;
}
.container_h_participate .col-sm-2 div{
	border-bottom: 1px solid rgb(238, 238, 238);
	padding-bottom: 15px;
	width: 30px;
	margin: 0 auto;
}
.copyright_banner_contest{
	position: absolute;
	z-index: 1;
	color: #fff;
	bottom: 5px;
	right: 10px;
	font-size: 11px;
}
.ul_in_t_c_l_1{
	list-style-type:disc;
}
.ul_in_t_c_l_1 li{
	margin-bottom:0px !important;
}
.ol_in_t_c_l_1{
	list-style-type:lower-alpha;
}
.ol_in_t_c_l_1 li{
	margin-bottom:0px !important;
}
/* 13may2016 */

/* 16may2016 */
/* navigation */
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 35px;
    height: 4px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px;
}
/* navigation */
/* 16may2016 */

/* 16may2016 */
.contest_sponsor,
.contest_partners{
	width:92.7% !important;
	margin: 0 auto;
}
.contest_sponsor .list_carousel li,
.contest_partners .list_carousel li {
    height: 82px;
    display: table;
	vertical-align: middle;
}
.contest_sponsor .list_carousel li a,
.contest_partners .list_carousel li a{
    vertical-align: middle;
	display: table-cell;
}
.contest_sponsor .list_carousel li img,
.contest_partners .list_carousel li img {
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.contest_sponsor .list_carousel.responsive {
    width: auto;
    margin-left: 0;
    margin-top: 12px;
    margin-bottom: 34px;
}
.contest_partners .list_carousel.responsive {
    width: auto;
    margin-left: 0;
    margin-top: 12px;
    margin-bottom: 40px;
}

.banner_homepage-left,
.banner_homepage-right{
	height: 530px; 
	margin-top: 0px; 
	display: table;
}
.in_level_1_banner_homepage_left{
	display: table-cell;
	vertical-align: middle;
}
.in_level_1_banner_homepage_right{
	text-align: center; 
	display: table-cell; 
	vertical-align: middle;
}

.step-instagram-contest-am .first_participate,
.step-instagram-contest-am .second_participate,
.step-instagram-contest-am .third_participate{
	display: table; 
	vertical-align: middle; 
	height: 45px;
}
/* 16may2016 */

/* 17may2016 */
.prizes .last_list_prizes{
	margin-top:20px!important;
}
.prizes .list_prizes{
	margin-top:14px;
}
.prizes .list_prizes p{
	color: #636363;
	font-size: 14px;
	font-family: roboto;
	margin-top: 5px;
}
.prizes .col-sm-3{
	padding-left:20px;
	padding-right:20px;
}
.prizes .col-sm-3 img{
	width: 100%;
}
/* 17may2016 */

/* 18may2016 */
.t_and_c_first{
	margin-bottom:45px;
}
.line-am{
	border-top:1px solid #d7d7d7;
	margin:auto 30px;
}
/* 18may2016 */

/* 11june2016 */
/* NEW CONTEST */
.col-sm-4.no-pad.bor-exc-bot{
	z-index: 900;
	position: relative;
}
.col-sm-6.no-pad.bor-grey{
	position: relative;
	z-index: 1000;
}
.col-sm-4.no-pad.thumb-small{
	position: relative;
	z-index: 100;
}
.area-winner{
	margin-top: -460px;
	width: 100%;
	position: absolute;
    padding-bottom: 10px;
    z-index: 1000;
	background-image: -ms-linear-gradient(top, transparent 0%, #000000 100%);
    background-image: -moz-linear-gradient(top, transparent 0%, #000000 100%);
    background-image: -o-linear-gradient(top, transparent 0%, #000000 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(100, #000000));
    background-image: -webkit-linear-gradient(top, transparent 0%, #000000 100%);
    background-image: linear-gradient(to bottom, transparent 0%, #000000 100%);
    padding-top: 370px;
}
.winner-desc-left{
	padding: 0px 20px;
	position: relative;
	z-index: 100;
	color: #fff;
    line-height: 17px;
    height: 80px;
}
.winner-desc-right{
	position: relative;
	display: inline-flex;
	border-left: 1px solid #fff;
	height: 55px;
	overflow: hidden;
	padding-right: 10px;
}
.winner-desc-left small{
	font-size: 50% !important;
	vertical-align: top;
}
.winner-desc-left span.rank{
	font-size: 40px;
	color: #fff;
	font-family: BebasNeue;
	text-transform: uppercase;
	/* font-weight: bold; */
	line-height: 1 !important;
}
.winner-desc-left span.attraction{
	font-size: 15px;
	color: #fff;
	font-family: BebasNeue;
	text-transform: uppercase;
	line-height: 1 !important;
	/* font-weight: lighter; */
	font-weight: bold;
}
.winner-desc-right span.name{
	font-size: 24px;
	color: #fff;
	line-height: 1.2;
	margin-top: -2px;
	font-weight: bold;
	font-family: Roboto,SansSerif;
	display: table;
	width: 74%;
	height: 57px;
}
.winner-desc-right span.name div{
	display:table-cell;
	vertical-align:middle;
}
.winner-desc-right img{
	border-radius: 50%;
	margin:0px 10px 0px 20px;
	height: 55px;
    width: 55px;
}
img.bg-inst{
	width: 100%;
	cursor: pointer;
}
.bor-exc-bot{
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	cursor: pointer;
}
.bor-all{
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
}
.bor-grey{
	margin-top: -1px;
	z-index: -1;
	border-bottom:1px solid #ccc;
}
.instagramthumbcontestpage .col-sm-4{
	width: 33.30% ;
}
.area-winner-note{
    padding: 30px 28px 30px 32px;
	position: absolute;
	top: 0;
}
.area-winner-note span.note-title{
	font-size: 36px;
	color: #252525;
	font-family: BebasNeue;
	text-transform: uppercase;
	line-height: 1 !important;
}
.area-winner-note p{
	margin-top: 6px;
	font-size: 14px;
	color: #636363;
	font-family: Roboto;
	line-height: 1.1 !important;
}
.area-popular-photo{
	width: 100%;
	position: absolute;
	margin-top: -300px;
	background-image: -ms-linear-gradient(top, transparent 0%, #000000 100%);
    background-image: -moz-linear-gradient(top, transparent 0%, #000000 100%);
    background-image: -o-linear-gradient(top, transparent 0%, #000000 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(100, #000000));
    background-image: -webkit-linear-gradient(top, transparent 0%, #000000 100%);
    background-image: linear-gradient(to bottom, transparent 0%, #000000 100%);
    padding-top: 240px;
	cursor: pointer;
}
.popular-desc-left{
	padding: 3px 10px !important;
	position: relative;
	z-index: 100;
	color: #fff;
    line-height: 17px;
	height: 60px;
    text-align: center;
}
.popular-desc-left span.votes-title{
	font-size: 28px;
	color: #fff;
	font-family: BebasNeue;
	text-transform: uppercase;
	line-height: 0.9 !important;
}
.popular-desc-left span.votes{
	font-size: 14px;
	color: #fff;
	font-family: BebasNeue;
	text-transform: uppercase;
	line-height: 1 !important;
}
.popular-desc-right{
	position: relative;
	display: inline-flex;
	padding: 3px 5px 0px 0px;
	height: 40px;
}
.popular-desc-right img{
	border-radius: 50%;
	margin-right: 10px;
	height: 36px;
    width: 36px;
}
.popular-desc-right span.name{
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
	line-height:1.2;
}
.popular-desc-right span.name_one_line{
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;
	line-height:1.2;
	display:table;
	height:37px;
}
.popular-desc-right span.name_one_line div{
	display:table-cell;
	vertical-align:middle;
}
.mar-auto{
	margin: auto !important;
	display: block !important;
}

span, label, h1, h2, p{
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
/* 11june2016 */

@media only screen and (max-width: 1920px) {}

@media only screen and (max-width: 1852px) {}

@media only screen and (max-width: 1500px) {}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1334px) {
	/* 17may2016 */
	.gal_view {
		width: 16.59%;
	}
	/* 17may2016 */
}

@media only screen and (max-width: 1283px) {
	/* 17may2016 */
	.gal_view {
		width: 16.58%;
	}
	/* 17may2016 */
}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width:1279px){
	.winner-desc-right img {
		margin: 0px 10px 0px 10px;
	}
	.winner-desc-left{
		padding: 0px 10px;
	}
	
	.center.navbar .nav, 
	.center.navbar .nav > li {
		float: left;
	}
}

@media only screen and (max-width:1276px){
	/* 16may2016 */
	/* don't add css in this resolution, just for navigations burger' */
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: #e7e7e7;
		background: #fff;
		float: right;
		width: 460px;
		height: 100vh;
		max-height: 100vh;
		-webkit-box-shadow: -8px 0px 10px -10px rgba(0,0,0,0.75);
		-moz-box-shadow: -8px 0px 10px -10px rgba(0,0,0,0.75);
		box-shadow: -8px 0px 10px -10px rgba(0,0,0,0.75);
	}
	.nav>li>a {
		padding-left: 0px;
		padding-right: 0px;
	}
	.center.navbar .nav, 
	.center.navbar .nav > li {
		float: right;
		vertical-align: top;
		display: table;
		width: 100%;
		margin-top: 10px;
	}
	.navbar-nav {
		margin: 0px auto;
		padding-bottom: 30px;
		border-bottom: 1px solid #dedede;
		padding-top: 0px;
		margin-top: 0px !important;
	}
	.navbar-nav > li > a {
		padding-top: 15px;
		padding-bottom: 5px;
		font-size: 25px;
	}
	.nav > li > a {
		padding-left: 0px;
		padding-right: 0px;
	}
	.navbar-collapse {
		padding-right: 35px;
		padding-left: 35px;
	}
	.btn-share {
		margin-left: 0px;
		background-color: #fff;
		border: 1px solid #d7d7d7;
		width: 100px;
		text-align: center !important;
		float: right;
	}
	.top-menu-right {
		padding: 0px !important;
		margin-top: 0px !important;
		margin-bottom: 200px !important;
	}
	.btn-share {
		padding: 10px 12px 12px !important;
	}
	.navbar-default .navbar-nav>li>a:hover>span, 
	.navbar-default .navbar-nav>.active>a>span,
	.navbar-default .navbar-nav>.current>a>span, 
	.navbar-default .navbar-nav>.active>a:focus>span, 
	.navbar-default .navbar-nav>.active>a:hover>span{
		margin-top: 30px;
		margin-bottom: -10px;
		width: 20px;
		border-bottom: 3px solid rgb(0, 0, 0);
		float: right;
		margin-left: -20px;
	}
	.shrink .navbar-collapse {
		height: 100em!important;
		margin-top: -5px;
	}
	.shrink .navbar-center {
		padding-bottom: 30px!important;
	}
	.shrink .navbar-right-img img {
		max-height: 80px !important;
	}
	.shrink {
		height: 60px !important;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-ms-transition: 0.5s;
		transition: 0.5s;
	}
	.navbar-collapse {
		border-top: none;
	}
	.navbar-right-img img {
		max-height: 80px !important;
	}
	.navbar-nav .open .dropdown-menu {
		position: absolute;
		float: right;
		width: 100%;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.socmed-share-content{
		padding: 0px!important;
		margin-left: 0px;
	}
	.socmed-share-content li{
		padding: 10px important;
		float: right;
		background: #dedede;
		border-radius: 3px;
	}
	.dropdown-menu::before {
		left: 84%;
	}
	.dropdown.open .btn-share, .btn-share:hover, .btn-share:focus {
		color: #fff;
		background-color: #2B9CBE;
		border: 1px solid #fff;
		font-size: 25px;
	}
	/* 16may2016 */
}

@media only screen and (max-width: 1210px){
	/* 17may2016 */
	#footer {
		padding: 0px 15px;
	}
	/* 17may2016 */
}

@media only screen and (max-width: 1200px){}

@media only screen and (max-width:1200px){
	/* 17may2016 */
	.row.participate {
		margin-left: 15px;
		margin-right: 15px;
	}
	/* 17may2016 */
	
	.contestpage .participate .participate-coloumn {
		width: 331px !important;
		margin-bottom: 30px;
		margin-right: 0 !important;
	}
}

@media(min-width:1021px) and (max-width:1199px){
	.footer-menu ul li > a{
		margin-right: 30px;
	}
	.area-winner-note{
		padding: 10px !important;
	}
}

@media only screen and (max-width:1150px){
	.winner-desc-left span.rank {
		font-size: 30px;
	}
	.area-winner-note span.note-title{
		font-size: 25px;
	}
	.area-winner-note span.note-title br{
		display:none!important;
	}
	.winner-desc-right span.name {
		font-size: 15px;
	}
	.popular-desc-left {
		width: 100%;
		height: auto;
		line-height: 0;
	}
	.area-winner{
		height: 490px;
		margin-top: -490px;
	}
	.popular-desc-right img {
		margin-right: 5px;
	}
	.popular-desc-left br{
		display:none!important;
	}
	.winner-desc-left {
		width: 100%!important;
		height: auto;
		padding-bottom: 10px;
	}
	.winner-desc-right {
		width: 100%;
		border-left: none;
	}
	.area-popular-photo {
		padding-top: 228px;
		height: 310px;
		margin-top: -310px;
	}
	.popular-desc-left span.votes-title {
		min-width: 40px;
		display: inline-block;
		text-align: left;
		float: left;
		width: 25%;
	}
	.popular-desc-left span.votes{
		width: 25%;
		display: table;
		text-align: left;
		height: 24px;
		float: left;
		min-width: 40px;
	}
	.popular-desc-left span.votes div{
		display: table-cell;
		vertical-align: bottom;
	}
	.popular-desc-right{
		width: 100%;
		padding: 0px 10px;
	}
}

@media only screen and (max-width:1134px){
	/* 17may2016 */
	.gal_view {
		width: 16.56%;
	}
	/* 17may2016 */
}

@media only screen and (max-width: 1049px){
	.area-winner-note{
		padding: 10px !important;
	}
}

@media only screen and (max-width:1024px){
	/* 17may2016 */
	.row.prizes {
		padding: 43px 20px;
	}
	.row.prizes .coloumn-wrapper {
		max-width: 100%;
		width: 100%;
	}
	.prizes .col-sm-3 {
		padding-left: 10px;
		padding-right: 10px;
	}
	.container_h_participate {
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
	.row.judges {
		padding: 43px 30px;
	}
	.row.judges .coloumn-wrapper {
		max-width: 100%;
	}
	/* 17may2016 */

	.winner-desc-left span.attraction{
		font-size: 14px !important;
	}

	.area-winner-note{
		padding: 10px !important;
	}
}

@media only screen and (max-width:1025px){
	/* announcement content */
	.announcement-right-img-heart {
		width: 30%;
		text-align: center;
	}
	
	.announcement-right-img-text {
		width: 70%;
	}
	
	.col-sm-5-am {
		width: 25%;
	}
	/* end announcement content */

	/* content ints contest */
	.sponsored-by {
		width: 100%;
	}
	
	.supported-by {
		padding-top: 30px;
		padding-right: 0px;
	}
	
	.contestpage .participate-coloumn {
		margin: 0px auto !important;
	}
	.participate-coloumn {
		width: 100%;
	}
	/* end content ints contest */

	.footer-menu ul li > a{
		  margin-right: 30px;
	}
	.contestpage .participate .participate-coloumn {
	  width: 602px !important;
	  margin-bottom: 30px;
	  margin-right: 0 !important;
	}
}

@media only screen and (max-width:1017px){
	/* 17may2016 */
	.gal_view {
		width: 16.56%;
	}
	/* 17may2016 */
	.popular-desc-right span.name{
		font-size: 10px !important;
	}
}

@media only screen and (max-width:991px){
	/* 17may2016 */
	.ol_t_c_out{
		padding-left: 5px;
	}
	.term-condition p{
		padding-left: 6px!important;
	}
	/* 17may2016 */
}

@media only screen and (max-width:981px){
	/* 17may2016 */
	.participate  .container_h_participate .col-sm-4{
		width:100%;
		height: 80px;
	}
	.participate  .container_h_participate .col-sm-4 .col-sm-10{
		display: table;
		height: 55px;
	}
	.participate  .container_h_participate .col-sm-4 .col-sm-10 div{
		vertical-align: middle;
		display: table-cell;
	}
	.contest_sponsor, 
	.contest_partners {
		width: 100% !important;
	}
	.contest_sponsor .eventsponsor, 
	.contest_partners .eventsponsor{
		width: 100% !important;
	}
	/* 17may2016 */
	
	/* 16may2016 */
	.homepage .lead_participate,
	.homepage .first_participate,
	.homepage .second_participate	{
		margin-bottom: 0px;
	}
	/* 16may2016 */
	
	/* submit-photo */
	.form-event-wrapper {
		padding: 10px 30px;
	}
	/* end submit-photo */

	/* announcement content */

	.title-announcement-winner{
		font-family:Pacifico; 
		font-size:35px; 
		color:#DA5B26; 
		margin-bottom:20px; 
		margin-top:0px;
	}

	.col-sm-5-am{
		width: 33%;
		text-align:center;
		padding-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.runner-up-outer{
		display:table; 
		height:50px; 
		margin-top:5px; 
		width:100%;
		padding: 0px 25px;
	}
	
	.warning-text-runner-up{
		padding:0 30px;
	}
	/* end announcement content */

	.step-instagram-contest-am{
		text-align:center;
	}

	/* contest */
	.supported-by a img {
		padding: 0 20px;
		outline: medium none;
	}
	
	.supported-by{
		padding-top: 30px;
		padding-right: 0px;
	}
	
	.promote-contest-content .col-sm-6{
		width:50%;
		float: left;
	}
	.contestpage .instagram-contest .col-sm-2.instagram-feeds {
		width: 25%;
		float: left;
	}
	.content-intagram-contest{
		margin-bottom:30px;
	}
	/* end contest */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 498px !important;
	}
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */

	.eventlist-wrapper .nav-tabs{
		width: 100%;
	}
	.content-event-table{
		width: 100% !important;
		max-width: 100% !important;
	}
	.row.eventlist-wrapper{
		width: 100%;
	}
	.row.background-cover .pull-left {
	  max-width: 530px;
	}
	.footer>.footer-menu>ul.pull-left {
	  float: none !important;
	  text-align: center;
	}
	.footer>.footer-menu>.social-media-wrapper.pull-right {
	  margin-top: 20px;
	  float: none !important;
	  text-align: center;
	}
	.footer-menu {
		height: 80px;
	}
	.coloumn-where{
		width: 180px;
	}
	.cover-instagram-contest .instagram-date .text {
	  	text-align: left;
	}
	.contestpage .participate-coloumn {
	    width: 440px !important;
  		margin: 0px auto !important;
	}
	.contestpage .prizes .coloumn {
		margin-bottom: 20px;
		margin:auto;
	}
	.contestpage .prizes img {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	.contestpage .cover-instagram-contest .cover-text-wrapper {
		margin: auto;
		float: none;
		width: 100%;
	}
	.prizes .col-md-6.coloumn .col-md-6 {
	  width: 50%;
	  float: left;
	  margin-bottom: 40px;
	}
}

@media only screen and (max-width:961px){
	/* announcement content */
	
	.title-announcement-winner{
		font-family:Pacifico; 
		font-size:35px; 
		color:#DA5B26; 
		margin-bottom:20px; 
		margin-top:0px;
	}

	.col-sm-5-am{
		width: 33%;
		text-align:center;
		padding-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.runner-up-outer{
		display:table; 
		height:50px; 
		margin-top:5px; 
		width:100%;
		padding: 0px 22px;
	}
	
	.warning-text-runner-up{
		padding:0 30px;
	}
	/* end announcement content */

	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 350px !important;
	}
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */

	.row.background-cover .pull-left {
	  max-width: 530px;
	}
	.footer>.footer-menu>ul.pull-left {
	  float: none !important;
	  text-align: center;
	}
	.footer>.footer-menu>.social-media-wrapper.pull-right {
	  margin-top: 20px;
	  float: none !important;
	  text-align: center;
	}
	.footer-menu {
		height: 80px;
	}
}

@media only screen and (max-width:921px){
	/* 17may2016 */
	.gal_view {
		width: 16.5555%;
	}
	/* 17may2016 */
}

@media only screen and (max-width:901px){
	.popular-desc-right span.name_one_line {
		font-size: 12px;
	}
	
	/* 16may2016 */
	.background-cover {
		max-height: 350px;
	}
	.homepage .background-cover {
		padding: 40px 27px 0px 27px;
	}
	.homepage .row.background-cover .pull-left{
		margin-top: 0px;
		max-width: 100%;
		max-height: 350px;
		width: 100%;
	}
	.homepage .cover-text-wrapper {
	  font-size: 24px;
	  text-align: left;
	}
	.homepage .background-cover .cover-right {
		float: none !important;
	}
	.homepage .contestpage .participate .participate-coloumn {
		/*width: 385px !important;
		margin-right: 0 !important;*/
		width: 485px !important;
		display: block;
		margin: 35px auto !important;
	}
	.homepage .coloumn-event {
	  	display: inline-block;
	 	width: 233px;
	}
	.banner_homepage-left, .banner_homepage-right {
		height: auto;
	}
	.cover-right {
		margin-top: 0px;
	}
	.in_level_1_banner_homepage_right {
		text-align: left;
	}
	.cover-right .line {
		margin: -23px auto -15px 0px;
	}
	/* 16may2016 */

	/* announcement content */
	.title-announcement-winner{
		font-family:Pacifico; 
		font-size:35px; 
		color:#DA5B26; 
		margin-bottom:20px; 
		margin-top:0px;
	}

	.col-sm-5-am{
		width: 33%;
		text-align:center;
		padding-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.runner-up-outer{
		display:table; 
		height:50px; 
		margin-top:5px; 
		width:100%;
		padding: 0px 15px;
	}
	
	.warning-text-runner-up{
		padding:0 30px;
	}
	/* end announcement content */

	/* content inst contest */
	.homepage .instagram-contest img.img-responsive.pull-right {
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 498px !important;
	}
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */
}

@media only screen and (max-width:899px){
	.area-winner-note span.note-title {
		font-size: 18px;
	}
	.area-winner-note p {
		font-size: 12px;
		margin: 0px;
	}
	.area-winner-note {
		padding: 5px 10px !important;
	}
}

@media only screen and (max-width:885px){
	/* 17may2016 */
	.gal_view {
		width: 16.54%;
	}
	/* 17may2016 */
}

@media (min-width: 641px) and (max-width: 800px){
	/* 17may2016 */
	.cover-instagram-contest {
		padding-left: 25px;
	}
	/* 17may2016 */
	
	/* announcement content */
	.announcement-right-img-heart {
		width: 30%;
		text-align: center;
	}
	
	.announcement-right-img-text {
		width: 70%;
	}
	
	.title-announcement-winner{
		font-family:Pacifico; 
		font-size:35px; 
		color:#DA5B26; 
		margin-bottom:20px; 
		margin-top:0px;
	}

	.col-sm-5-am{
		width: 33%;
		text-align:center;
		padding-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.runner-up-outer{
		display:table; 
		height:50px; 
		margin-top:5px; 
		width:100%;
		padding: 0;
	}
	
	.warning-text-runner-up{
		padding:0 30px;
	}
	/* end announcement content */

	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 498px !important;
	}
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */
	.homepage .background-cover .cover-right {
		margin-top: 10px;
		margin-bottom: 50px;
		float: none !important;
	}
	.homepage .participate-coloumn {
		width: 100%;
	}
	.homepage  .coloumn-event {
		width: 118px;
		padding: 5px 10px;
	}
	.homepage .coloumn-where {
		display: inline-block;
		width: 125px;
		padding: 5px 10px;
		font-weight: bold;
	}
	.homepage .coloumn-city {
		display: inline-block;
		width: 100px;
		padding: 5px 10px;
		font-weight: bold;
	}
	.homepage ul.nav.nav-tabs {
		width: 100%;
	}
	.homepage .content-event-table {
		width: 100%;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		margin: auto;
	}
	.coloumn-when {
		display: inline-block;
		width: 112px;
		padding: 5px 10px;
		font-weight: bold;
	}
	.coloumn-body {
		padding: 15px 0;
	}
	.prizes .coloumn-wrapper .col-md-6.coloumn .col-md-6 {
		width: 50%;
		float: left;
		margin-bottom: 10px;
	}
	.contestpage .instagram-contest .col-sm-2.instagram-feeds {
		width: 25%;
		float: left;
	}
	.footer-menu ul li {
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 1px;
	}
	.footer-menu {
		height: 130px;
	}
	.social-media-wrapper.pull-right > a {
		display: inline-block;
	}
	.social-media-wrapper > label {
		display: block;
	}
	
	.footer-menu ul li > a {
		margin-right: 25px;
	}
	.footer .partner {
		font-size: 13px;
	}
	  
	/*about*/
	.containt-800 {
	  width: 100% !important;
	  max-width: 100% !important;
	}
	.containt-800 .col-sm-3 {
	  width: 25%;
	  float: left;
	}
	.coverinstagramcontestpage{
		padding: 5px !important;
	}
	.cover-instagram-contest .cover-text-description {
	  margin-top: 5px;
	  max-width: 100%;
	}
	.contestpage .cover-title-instagramcontent {
  		font-size: 24px;
	}
	.contestpage .participate .title-instagram {
	  font-size: 28px;
	}
	.contestpage .participate-coloumn {
	  width: 330px !important;
	}
	.contestpage .participate-coloumn .text {
	  margin-left: 40px !important;
	  margin-bottom: 20px;
	}
	.contestpage .prizes{
	  padding: 10px;
	}
	.contestpage .prizes .coloumn {
		margin-bottom: 20px;
		margin:auto;
	}
	.contestpage .prizes img {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	.contestpage .row.participate.row-line{
		margin-top:0px !important;
		padding: 0px 0 40px;
	}
	.contestpage .row.participate.row-line .col-sm-3{
		text-align: center !important;
		float:left;
	}
}

@media only screen and (max-width: 768px) {
	/* 17may2016 */
	.gal_view {
		width: 16.53%;
	}
	/* 17may2016 */
	
	/* announcement content */
	.title-announcement-winner{
		font-family:Pacifico; 
		font-size:35px; 
		color:#DA5B26; 
		margin-bottom:20px; 
		margin-top:0px;
	}

	.col-sm-5-am{
		width: 33%;
		text-align:center;
		padding-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.runner-up-outer{
		display:table; 
		height:50px; 
		margin-top:5px; 
		width:100%;
		padding: 0;
	}
	
	.warning-text-runner-up{
		padding:0 30px;
	}
	/* end announcement content */

	/* submit-photo */
	.form-event-wrapper {
		padding: 10px 30px;
	}
	/* end submit-photo */

	/* contest */
	.promote-contest-content .col-sm-6{
		width:50%;
		float: left;
	}
	.supported-by {
		padding-top: 30px;
		padding-right: 0px;
	}
	/* end contest */

	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		float: none !important;
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 498px !important;
	}
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */
}

@media only screen and (max-width: 767px){
	.area-winner-note p {
		font-size: 16px;
		margin: 10px auto;
		line-height: 1.3 !important;
	}
	.area-winner-note span.note-title {
		font-size: 36px;
	}
	
	/* 17may2016 */
	.judges .judges_photo img {
		width: 100%;
	}
	.contestpage .col-sm-2 {
		width: 16.66666667%;
	}
	.contestpage .col-sm-3 {
		width: 25%;
	}
	.contestpage .col-sm-10 {
		width: 83.33333333%;
	}
	.col-sm-12 {
		width: 100%;
	}
	.contestpage .col-sm-1, 
	.contestpage .col-sm-2, 
	.contestpage .col-sm-3, 
	.contestpage .col-sm-4, 
	.contestpage .col-sm-5, 
	.contestpage .col-sm-6, 
	.contestpage .col-sm-7, 
	.contestpage .col-sm-8, 
	.contestpage .col-sm-9, 
	.contestpage .col-sm-10, 
	.contestpage .col-sm-11, 
	.contestpage .col-sm-12 {
		float: left;
	}
	.contestpage .prizes .col-sm-3{
		width: 50%;
		padding-bottom: 30px;
	}
	/* 17may2016 */
	
	/* 16may2016 */
	.participate-coloumn .homepage_text {
		width: 100%;
	}
	.step-instagram-contest-am {
		margin-top:30px;
	}
	/* 16may2016 */
	.area-winner{
		/*margin-top: -145px !important;*/
		/*margin-top: -505px !important;*/
	}
	.winner-desc-left{
		border-right: none !important;
		text-align: left;
	}
	.col-sm-4.no-pad.winner-desc-left{
    	margin-top: -75px;
		width: 100%;
		padding-left: 0 !important;
	}
	.col-sm-6.no-pad.bor-all{
		width: 100%;
	}
	.col-sm-3.no-pad.popular-desc-left{
		width: 33.33%;
	}
	.col-sm-9.popular-desc-right{
		width: 66.66667%;
	}
	.area-winner-note{
		/*padding: 20px !important;*/
	}
	.bor-grey{
		margin-top: 0px !important;
	}
}

@media only screen and (max-width: 719px){
	/* 17may2016 */
	.gal_view {
		width: 24.85%;
	}
	/* 17may2016 */
	.area-winner-note{
		padding: 20px !important;
	}
}

@media only screen and (max-width: 655px){
	.area-winner{
		/*margin-top: -159px !important;*/
	}
}

@media only screen and (max-width: 655px){
	/* 17may2016 */
	.how_to_participate{
		margin-left: 0px!important;
		margin-right: 0px!important;
		padding-left: 0px!important;
		padding-right: 0px!important;
	}
	.gal_view {
		width: 33.16%;
		padding-bottom: 33.16%;
	} 
	.container_h_participate {
		padding-left: 0px;
		padding-right: 0px;
	}
	.row.toc {
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.cover-instagram-contest {
		padding-left: 25px;
	}
	/* 17may2016 */
}

@media (min-width: 481px) and (max-width: 640px){
	.event-table-inner-content {
		height: 330px;
		max-height: 330px;
	}
	
	/* announcement content */
	.left-winner-contest-ctd {
		min-height: 360px;
	}
	
	#containingBlock {
		height: 550px;
	}
	
	.announcement-right-img-heart {
		width: 30%;
		text-align: center;
	}
	
	.announcement-right-img-text {
		width: 70%;
	}
	
	#containingBlock {
		padding-left: 10px;
	}
	
	.title-announcement-winner{
		font-size: 60px;
	}

	.col-sm-5-am{
		width:50%;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.runner-up-outer{
		padding: 0 20px;
	}
	
	.warning-text-runner-up{
		padding:0 20px;
	}
	/* end announcement content */

	/* submit-photo */
	.form-event-wrapper {
		padding: 10px 20px;
	}
	/* end submit-photo */

	/* contest */
	.promote-contest-content .col-sm-6{
		width:50%;
		float: left;
	}
	/* end contest */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		float: none !important;
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 498px !important;
	}
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */
	
	.homepage .instagram-contest img.img-responsive.pull-right {
  		float: none !important;
	}
	.homepage .background-cover .cover-right {
		margin-top: 10px;
		margin-bottom: 50px;
		float: none !important;
	}
	.homepage .participate-coloumn {
	  width: 100%;
	}
	.homepage  .coloumn-event {
	  width: 118px;
	  padding: 5px 10px;
	}
	.homepage .coloumn-where {
	  display: inline-block;
	  width: 115px;
	  padding: 5px 10px;
	  font-weight: bold;
	}
	.homepage .coloumn-city {
	  display: inline-block;
	  width: 100px;
	  padding: 5px 10px;
	  font-weight: bold;
	}
	.homepage ul.nav.nav-tabs {
	  width: 100%;
	}
	.homepage .content-event-table {
	  width: 100%;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		float: none !important;
		margin: auto;
	}
	.coloumn-when {
	  display: inline-block;
	  width: 112px;
	  padding: 5px 10px;
	  font-weight: bold;
	}
	.coloumn-body {
	  padding: 15px 0;
	}
	.prizes .coloumn-wrapper .col-md-6.coloumn .col-md-6 {
	  width: 50%;
	  float: left;
	  margin-bottom: 10px;
	}
	.contestpage .instagram-contest .col-sm-2.instagram-feeds {
	  width: 50%;
	  float: left;
	}
	.footer-menu ul li {
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 1px;
	}
	.footer-menu {
	  height: 130px;
	}
	.social-media-wrapper.pull-right > a {
	  display: inline-block;
	}
	.social-media-wrapper > label {
		display: block;
	}
	
	.footer-menu ul li > a {
	  margin-right: 25px;
	}
	.footer .partner {
	  font-size: 13px;
 	 }
	  
	/*about*/
	
	.embed-youtube{
		height: 350px !important;
	}
	.last-fact{
		margin-top:15px;
	}

	.containt-800 {
	  width: 100% !important;
	  max-width: 100% !important;
	}
	.containt-800 > .row > .col-sm-3 > div {
		border-right: 0px !important;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 10px;
		padding-top: 10px;
	}	
	
	.coverinstagramcontestpage{
		padding: 5px !important;
	}
	.contestpage .cover-title-instagramcontent {
  		font-size: 24px;
	}
	
	.cover-instagram-contest .cover-text-wrapper {
		float: none;
	}
	
	 .participate {
	  	padding: 0 20px;
	}
	.contestpage .participate .title-instagram {
	  font-size: 28px;
	}
	.contestpage .participate .participate-coloumn{
	  width: 100% !important;
	}
	.contestpage .prizes{
	  padding: 10px;
	}
	.contestpage .prizes .coloumn {
		margin-bottom: 20px;
	}
	.contestpage .prizes img {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	.contestpage .row.participate.row-line{
		margin-top:0px !important;
		padding: 0px 0 40px;
	}
	.contestpage .row.participate.row-line .col-sm-3{
		text-align: center !important;
		float:left;
	}
	/*submit event*/
	.col-sm-4.no-pad.bor-exc-bot{
		width: 100%;
	}
	.col-sm-4.no-pad.winner-desc-left{
		width: 33.33%;
		text-align: left !important;
		padding-left: 20px !important;
		margin-top: 10px !important;
		padding-bottom: 20px !important;
	}
	.col-sm-8.no-pad.winner-desc-right{
		width: 65.3% !important;
		padding-bottom: 20px !important;
		margin-top: 10px !important;
	}
	.area-winner{
		width: 100%;
	}
	.winner-desc-left{
		border-right: 1px solid #fff !important;
		height: 58px !important;
	}
	.winner-desc-right img{
		margin: 0px 20px !important;
	}
	.area-winner-note{
		padding: 10px !important;
	}
}

@media only screen and (max-width: 520px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		width: 360px;
		max-width: 360px;
	}
}

@media only screen and (max-width: 500px){
	/* 18may2016 */
	.container-nav-old-data ul .active a {
		font-size: 15px;
	}
	.container-nav-old-data ul .active a:hover {
		font-size: 15px;
	}
	.container-nav-old-data ul li a {
		font-size: 12px;
	}
	.container-nav-old-data ul li a:hover {
		font-size: 12px;
	}
	/* 18may2016 */
	
	/* 17may2016 */
	.promote-contest-content img{
		width:100%!important;
	}
	.gal_view {
		width: 33.1%;
		padding-bottom: 33.1%;
	}
	/* 17may2016 */
}

@media only screen and (max-width: 480px){
	/* 18may2016 */
	.ul_in_t_c_l_1{
		padding-left: 15px !important;
	}
	.instagram-date .line {
		display: none;
	}
	.cover-instagram-contest .instagram-date .text {
		padding-left: 10px;
	}
	/* 18may2016 */
	
	/* 17may2016 */
	.contestpage .prizes .col-sm-3 {
		width: 100%;
	}
	.row.toc .col-md-8{
		padding-left: 0px;
		padding-right: 0px;
	}
	.contestpage .cover-instagram-contest {
		padding-left: 25px;
		padding-right: 25px;
	}
	/* 17may2016 */
	
	.event-table-inner-content {
		height: 450px;
		max-height: 450px;
	}
	
	/* announcement content */
	.left-winner-contest-ctd {
		min-height: 360px;
	}
	
	#containingBlock {
		height: 550px;
	}
	
	.announcement-right-img-heart {
		width: 30%;
		text-align: center;
	}
	
	.announcement-right-img-text {
		width: 70%;
	}
	
	#containingBlock {
		padding-left: 10px;
	}
	
	.title-announcement-winner{
		font-size: 60px;
	}

	.col-sm-5-am{
		width:50%;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.runner-up-outer{
		padding: 0;
	}
	
	.warning-text-runner-up{
		padding:0 20px;
	}
	/* end announcement content */
	
	/* submit-photo */
	.form-event-wrapper {
		padding: 10px 20px;
	}
	/* end submit-photo */

	/* contest */
	.contestpage .instagram-contest .col-sm-2.instagram-feeds {
		width: 50%;
		float: left;
	}
	.promote-contest-content .col-sm-6 {
		width: 50%;
		float: left;
	}
	/* end contest */

	/* about */
	.embed-youtube{
		height: 260px !important;
	}
	.last-fact{
		margin-top:15px;
	}
	/* end about */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		float: none !important;
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 350px !important;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */
	
	.homepage .background-cover .cover-right {
		margin-top: 10px;
		margin-bottom: 50px;
		float: none !important;
	}
	.homepage .participate-coloumn {
		width: 100%;
	}
	.homepage  .coloumn-event {
		width: 100%;
	}
	.homepage ul.nav.nav-tabs {
		width: 100%;
	}
	.homepage .content-event-table {
		width: 100%;
	}
	.footer-menu ul li {
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 1px;
	}
	.footer-menu {
	  height: 110px;
	}
	.social-media-wrapper.pull-right > a {
	  display: inline-block;
	}
	.social-media-wrapper > label {
		display: block;
	}
	
	.footer-menu ul li > a {
	  margin-right: 0px;
	}
	.footer .partner {
	  font-size: 13px;
 	 }
	.containt-800 {
	  width: 100% !important;
	  max-width: 100% !important;
	}
	.containt-800 > .row > .col-sm-3 > div {
		border-right: 0px !important;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 10px;
		padding-top: 10px;
	}	
	
	.coverinstagramcontestpage{
		padding: 5px !important;
	}
	.contestpage .cover-title-instagramcontent {
  		font-size: 24px;
	}
	.participate {
	  	padding: 0 20px;
	}
	.contestpage .participate .title-instagram {
	  font-size: 28px;
	}
	.contestpage .participate-coloumn {
	  width: 100% !important;
	}
	.contestpage .prizes{
	  padding: 10px;
	}
	.contestpage .prizes .coloumn {
		margin-bottom: 20px;
	}
	.contestpage .prizes img {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	.contestpage .row.participate.row-line{
		margin-top:0px !important;
		padding: 0px 0 40px;
	}
	.contestpage .row.participate.row-line .col-sm-3{
		text-align: center !important;
	}
	
	/* content contest */
	.contestpage .participate .participate-coloumn {
		width: 100% !important;
	}
	.this-for-space-last{
		display:none;
	}
	.contestpage .prizes .coloumn .col-md-6  {
		margin-bottom: 20px;
	}
	.prizes .col-md-6.coloumn .col-md-6 {
	  width: 100%;
	  float: left;
	  margin-bottom: 40px;
	}
	
	.last-prize{
		border-top:1px solid #ddd;
		padding-top: 32px;
	}
	.row.participate .term-condition ol{
		padding-left:15px!important;
	}
	
	.row.participate .term-condition p{
		padding-left:15px!important;
	}
	/* end content contest */
	.col-sm-4.no-pad.bor-exc-bot{
		width: 100%;
	}
	.col-sm-4.no-pad.winner-desc-left{
		width: 33.33%;
		text-align: left !important;
		padding-left: 20px !important;
		margin-top: 10px !important;
		padding-bottom: 20px !important;
	}
	.col-sm-8.no-pad.winner-desc-right{
		width: 65.3% !important;
		padding-bottom: 20px !important;
		margin-top: 10px !important;
	}
	.area-winner{
		/*margin-top: -78px !important; */
	}
	.winner-desc-left{
		border-right: 1px solid #fff !important;
		height: 58px !important;
	}
	.winner-desc-right img{
		margin: 0px 20px !important;
	}
	.area-winner-note{
		padding: 10px !important;
	}
}

@media only screen and (max-width: 430px){
	.col-sm-4.no-pad.thumb-small{
		width: 100% !important;
	}
	.col-sm-6.no-pad.bor-all{
		width: 100%;
	}
	.col-sm-3.no-pad.popular-desc-left{
		width: 25%;
	}
	.col-sm-9.popular-desc-right{
		width: 75%;
	}
	.popular-desc-right span.name{
		font-size: 16px !important;
	}
	.popular-desc-left span.votes-title{
		font-size: 30px !important;
	}
	.area-winner-note{
		padding: 20px !important;
	}
}

@media only screen and (max-width: 403px){
	/* 17may2016 */
	.gal_view {
		width: 49.6%;
		padding-bottom: 49.6%;
	}
	/* 17may2016 */
	
	/* 16may2016 */
	.step-instagram-contest-am .first_participate,
	.step-instagram-contest-am .second_participate,
	.step-instagram-contest-am .third_participate{
		display: table; 
		vertical-align: middle; 
		height: 100px;
	}
	.homepage .background-cover {
		padding: 20px 27px 0px 27px;
	}
	/* 16may2016 */
}

@media only screen and (max-width: 360px){
	.event-table-inner-content {
		height: 500px;
		max-height: 500px;
	}
	
	/* announcement content */
	.left-winner-contest-ctd {
		min-height: 400px;
	}
	
	#containingBlock {
		height: 720px;
	}
	
	.announcement-right-img-heart {
		width: 100%;
		text-align: center;
	}
	
	.announcement-right-img-text {
		width: 100%;
	}
	
	#containingBlock {
		padding-left: 5px;
	}
	
	.title-announcement-winner{
		font-size: 45px;
	}

	.col-sm-5-am{
		width:100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.runner-up-outer{
		padding: 0 35px;
	}
	
	.warning-text-runner-up{
		padding:0 20px;
	}
	/* end announcement content */

	/* contest */
	.supported-by a img {
		padding: 0px 30% 10px;
		outline: medium none;
	}
	
	.contestpage .instagram-contest .col-sm-2.instagram-feeds {
		width: 50%;
		float: left;
	}
	
	.promote-contest-content .col-sm-6{
		text-align:center!important;
		width: 100%;
	}
	/* end contest */

	/* about */
	.embed-youtube{
		height: 190px !important;
	}
	.last-fact{
		margin-top:15px;
	}
	/* end about */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	/* end content inst contest */
	
	/* content event table */
	.row.eventlist-wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 350px !important;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px 25px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */
	
	.contestpage .participate-coloumn .text{
		width: 185px!important;
	}
	.footer-menu ul li {
	  display: block;
	  margin-bottom: 10px;
	}
	.footer-menu {
	  height: 290px;
	}
	.footer-menu ul li > a {
	  margin-right: 0px;
	}
	.footer .partner {
	  font-size: 13px;
	} 
	
	/* content contest */
	.contestpage .participate .participate-coloumn {
		width: 100% !important;
	}
	.this-for-space-last{
		display:none;
	}
	.contestpage .prizes .coloumn .col-md-6  {
		margin-bottom: 20px;
	}
	.prizes .col-md-6.coloumn .col-md-6 {
	  width: 100%;
	  float: left;
	  margin-bottom: 40px;
	}
	
	.last-prize{
		border-top:1px solid #ddd;
		padding-top: 32px;
	}
	
	.last-promote-contest{
		padding-top:30px;
	}
	
	.row.participate .term-condition ol{
		padding-left:15px!important;
	}
	
	.row.participate .term-condition p{
		padding-left:15px!important;
	}
	/* end content contest */
	.winner-desc-left span.rank{
		font-size: 30px !important;
	}
	.winner-desc-left span.attraction{
		font-size: 14px !important;
	}
	.winner-desc-right span.name{
		font-size: 20px !important;
	    margin-top: 0px !important; 
	    line-height: 1.1 !important;
	}
}

@media only screen and (max-width: 321px){
	/* 17may2016 */
	.participate .container_h_participate .col-sm-4 {
		height: 120px;
	}
	/* 17may2016 */
	
	/* 16may2016 */
	.homepage .cover-text-wrapper {
		font-size: 20px;
	}
	.cover-text-description.home {
		font-size: 14px;
	}
	.cover-right .text {
		margin-top: 30px;
	}
	/* 16may2016 */
	
	.event-table-inner-content {
		height: 500px;
		max-height: 500px;
	}
	
	/* announcement content */
	.left-winner-contest-ctd {
		min-height: 310px;
	}
	
	#containingBlock {
		height: 720px;
	}
	
	.announcement-right-img-heart {
		width: 100%;
		text-align: center;
	}
	
	.announcement-right-img-text {
		width: 100%;
	}
	
	#containingBlock {
		padding-left: 5px;
	}
	
	.title-announcement-winner{
		font-size: 40px;
	}

	.col-sm-5-am{
		width:100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.runner-up-outer{
		padding: 0 20px;
	}
	
	.warning-text-runner-up{
		padding:0 20px;
	}
	/* end announcement content */

	/* contest */
	.promote-contest-content .col-sm-6{
		text-align:center!important;
	}
	/* end contest */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 350px !important;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 290px;
		max-width: 290px;
		overflow-x: auto;
	}
	.news {
		padding: 35px 20px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 285px!important;
		max-width: 285px!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */
	
	/* about */
	.embed-youtube{
		height: 170px !important;
	}
	.last-fact{
		margin-top:15px;
	}
	/* end about */
	
	/* content contest */
	.contestpage .participate .participate-coloumn {
		width: 100% !important;
	}
	.this-for-space-last{
		display:none;
	}
	.contestpage .prizes .coloumn .col-md-6  {
		margin-bottom: 20px;
	}
	.prizes .col-md-6.coloumn .col-md-6 {
	  width: 100%;
	  float: left;
	  margin-bottom: 40px;
	}
	
	.last-prize{
		border-top:1px solid #ddd;
		padding-top: 32px;
	}
	
	.last-promote-contest{
		padding-top:30px;
	}
	
	.row.participate .term-condition ol{
		padding-left:15px!important;
	}
	
	.row.participate .term-condition p{
		padding-left:15px!important;
	}
	.get-detail-inst-contest{
		margin-top:0px;
	}
	/* end content contest */
}