/* .steps .col-sm-4:hover {
    background-color: rgba(0, 0, 0, .5);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
} */

.steps {
    background-color: rgba(0, 0, 0, .5);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px;
}

.steps .col-xs-2 {
    font-size: 50px;
    color: #b3ec4a;
    padding: 10px;
}

.steps .col-xs-10 {
    color: #fff;
    text-align: left;
    font-size: 15px;
    padding: 10px;
}

.contest-welcome-2018 {
    /* background-color: #ecf0f1; */
    background-color: #b3b3b3;
    /* text-align: center; */
    padding: 100px;
    text-align: center;
    background-image: url('../img/2018-up.jpg');
    background-size: cover;
    background-position-y: -66px;
    background-blend-mode: multiply;
}

.contest-welcome-2018 .title-instagram {
    color: #ecf0f1;
    font-size: 40px;
}

.contest-welcome-2018 p {
    font-size: 16px;
    max-width: 400px;
    display: block;
    color: #ecf0f1;
    margin: 0 auto;
}

.contest-welcome-2018 ol {
    color: #ecf0f1;
    text-align: center;
    font-size: 18px;
    width: 70%;
    position: relative;
}

.separator {
    width: 100px;
}

.separator.separator-wide {
    width: 300px;
}

.separator.separator-dark {
    background-color: #222222;
    border: 0;
    height: 1px;
}

.hollow-button-container button {
    background-color: rgba(0, 0, 0, .1);
    padding: 20px 40px;
    font-size: 17px;
    border: 2px solid #ecf0f1;
    color: #ecf0f1;
    transition: .2s ease;
    outline: 0;
    margin-right: -5px;
    /* border-radius: 50px; */
    position: relative;
}

.hollow-button-container button:hover {
    background-color: rgba(0, 0, 0, .5);
    color: #000000;
    background-color: #b3ec4a;
}

.hollow-button-container button:active {
    transform: scale(0.9);
}

.hollow-button-container button:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.hollow-button-container button:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* .img-grayscale-list img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .4s ease;
}
.img-grayscale-list img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
} */

.terms {
    margin: 25px 0 0 0;
}

.prizes .column-wrapper {
    max-width: 80%;
}

.prizes .list_prizes {
    text-align: left;
    margin: 0;
}

.prizes a {
    display: block;
    position: relative;
}

.prizes ul {
    list-style-position: inside;
}

.img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #ecf0f1;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .2s ease;
    border-radius: 20px;
}

.img-overlay h1 {
    margin-top: 25%;
}

.prizes .col-sm-12:hover .img-overlay {
    opacity: 1;
}

.prizes img {
    border-radius: 20px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.row.prizes a img:hover {
    opacity: .6;
}

.row.judges {
    background-color: #f0f0f0;
}


.prizes .col-sm-12:nth-child(2) {
    border-top: 1px dotted #222222;
    border-bottom: 1px dotted #222222;
    padding-top: 20px;
    padding-bottom: 20px;
}

.prizes .col-sm-12:nth-child(1) {
    padding-bottom: 20px;
}

.prizes .col-sm-12:nth-child(3) {
    padding-top: 20px;
}

.judges .judges_photo {
    text-align: center;
}

.judges .name_judges,
.judges .bio_judges {
    text-align: center;
}

.judges .name_judges {
    margin-top: 10px;
}

.hollow-button-container button .btnOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ecf0f1;
}

@media only screen and (max-width: 599px) {
    .contest-welcome-2018 {
        padding: 30px;
    }
    .contest-welcome-2018 .title-instagram {
        font-size: 20px;
    }
    .contest-welcome-2018 p {
        font-size: 14px;
    }
    .separator.separator-wide {
        width: 100%;
    }
    .separator {
        width: 100%;
    }
    .hollow-button-container button {
        font-size: 16px;
        padding: 10px 20px;
        margin-top: -2px;
    }
    .prizes .col-md-3 {
        min-height: inherit;
    }
    
}

@media only screen and (max-width: 981px) {
    .prizes .col-md-3 {
        min-height: inherit;
    }
    .hollow-button-container button {
        border-radius: 0 !important;
    }

    .judges2018 img {
        max-width: 200px;
    }
}

@media only screen and (max-width: 1155px) {
    .hollow-button-container button {
        border-radius: 0 !important;
        margin-top: -2px;
    }
}