.navbar-default .navbar-toggle .collapsed {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar{
    background-color: #38AED2;
}

.icon-bar:hover {
    background-color: #fff;
}

.navbar-center{
	max-height: 104px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.navbar-toggle {
    margin-top: 30px;
    margin-right: 25px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
    outline: none !important;
}

.navbar-default .navbar-nav li ul.dropdown{
	list-style-type: none;
	background: #fff;
	padding: 0px;
	/* width: 80px; */
	min-width: 80%;
	margin-left: 15px;
	border: 1px solid #d7d7d7;
	text-decoration: none;
	outline: none !important;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.4);
	box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.4);
	display: none;
}

.navbar-default .navbar-nav li ul.dropdown li{
	padding: 9px 15px;
}

.navbar-default .navbar-nav li.has_children:hover ul.dropdown{ display: block; }

.navbar-default .navbar-nav li.has_children:hover > a > span{
	display: block;
    margin-top: 15px;
    margin-bottom: -15px;
    width: 20px;
    border-bottom: 3px solid #000;
}

.navbar-default .navbar-nav li.has_children:hover > a{
    color: #000;
    font-weight: normal;
    background-color: #fff;
}


.navbar-default .navbar-nav li ul.dropdown li a{
	color:#777;
	font-size: 16px;
	font-weight: normal;
	font-family: 'Titillium Web';
	display: block;
	text-align: left;
}

.navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 15px;
	text-align: right;
}

.navbar-brand {
	padding: 0px !important;
	width:203px;
	outline: none !important;
	text-align: left;
}
.navbar-brand img {
	max-height: 104px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.navbar-right-img{
	padding: 0px !important;
	/* width:203px; */
	/* width: 445px; */
}

/* 13may2016 */
.top-menu-right .logo_nav_right{
	width:519px;
}
.top-menu-right .logo_nav_right a{
	float:right;
	padding:0;
	margin:0
}
.top-menu-right .navbar-right-img2,
.top-menu-right .navbar-right-img3{
	padding-right:10px;
}
/* 13may2016 */

.navbar-right-img img {
	max-height: 104px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.shrink {
	height: 60px !important;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-toggle {
    margin-top: 13px;
    margin-right: 25px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-collapse {
	height: 60px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-inner {
	height: 60px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .container-fluid {
	height: 60px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-center {
	padding-top: 0px;
	padding-bottom: 0px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-right {
	padding-top: 12px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
/* .shrink .navbar-right-img img {
	max-height: 59px;
	padding-top: 0px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
} */
/* 13may2016 */
.shrink .navbar-right-img img {
	max-height: 59px;
	padding-top: 0px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
/* 13may2016 */
.shrink .navbar-brand {
	max-height: 59px;
	outline: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-brand img {
	max-height: 59px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-nav > li > a {
    padding-top: 21px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .btn-share {
    margin-top: 14px !important;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}