/* stylesheet for demo and examples */
.mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent!important;
}

.mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 10px!important;
}

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.4)!important;
}

.mCSB_scrollTools .mCSB_draggerContainer {
    /* margin-left: -10px; */
}

#mCSB_2_dragger_vertical {
    margin-left: 0px!important;
}

.mCSB_draggerContainer {
	margin-left: 0px!important;
}

.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.4);
}

.mCustomScrollbar.mCS_no_scrollbar {
    border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.tab-content > .active {
    border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	/* height: 338px !important; */
	height: 100% !important;
	margin-top: -50px !important;
	padding-top: 50px;
}

.content-news {
    overflow: auto;
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 960px;
    max-width: 960px;
    /* height: 370px; real height*/
    height: 150px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}

.content-upload-images {
    overflow: auto;
    position: relative;
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 370px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	border-right: 1px solid transparent !important;
	border-left: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important;
}

.mCSB_container {
    /* min-height: 490px; */
}

.content-detail-event-map {
    overflow: auto;
    position: relative;
    padding: 0px;
    margin-top: 0px;
    height: 500px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	border-right: 1px solid transparent !important;
	border-left: 1px solid transparent !important;
	border-bottom: 1px solid transparent !important;
	/* display: block; */
}

.content-event-table {
    overflow: auto;
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 960px;
    max-width: 960px;
    height: 338px;
    max-height: 338px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

#event_content.mCustomScrollbar {
	border: none;
}

@media only screen and (min-width: 1229px){
	.showcase .horizontal-images.content{ width: 1060px; }
}

@media only screen and (min-width: 1629px){
	.showcase .horizontal-images.content{ width: 700px; }
}