/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
/*
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:hidden;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
*/

/* 
    Example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay{background:url(../img/overlay.png) 0 0 repeat;}
#colorbox{}
#cboxClose {
	text-indent:-9999px;
}
#GcboxClose {
	position:absolute;
	right: 5px;
	top: 5px;
	cursor:pointer;
	background-image: url(../img/lightbox_closeicon.png);
	no-repeat;
	width:20px;
	height:20px;
	text-indent:-9999px;
	display: block;
}
/**
	#cboxTopLeft{width:21px; height:21px; background:none;}
    #cboxTopRight{width:21px; height:21px; background:none;}
    #cboxBottomLeft{width:21px; height:21px; background:none;}
    #cboxBottomRight{width:21px; height:21px; background:none;}
    #cboxMiddleLeft{width:21px; background:none;}
    #cboxMiddleRight{width:21px; background:none;}
    #cboxTopCenter{height:21px; background:none;}
    #cboxBottomCenter{height:21px; background:none;}
    #cboxContent{background:#000;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0px; background:none; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:none; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:none;}
        #cboxLoadingGraphic{background:none;}
        #cboxClose{position:absolute; bottom:0; right:0; background:none; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}
/* */

/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../img/colorbox/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../img/colorbox/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../img/colorbox/internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../img/colorbox/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../img/colorbox/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../img/colorbox/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../img/colorbox/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../img/colorbox/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}

/** used in editvideo **/

form.crud .grid { display: block; }

form.crud .grid ul {
	list-style-type: none;
	margin-top: 10px;
}
form.crud .grid li {
	float: left;
	margin: 5px;
	height: 220px;
	width: 170px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #e2e2e2;
	padding-right: 10px;
	background-color: #f3f3f3;
}
form.crud .grid li:hover {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #cdcfcf;
}
form.crud .grid li img {
	display: block;
	margin: auto;
	position: relative;
	margin-bottom: 5px;
	clear: both;
}
form.crud ul.grid li .imgContainer {
	margin-top: 10px;
	position: relative;
	height: 70%;
	vertical-align: middle;
	bottom: 0;
}
form.crud .grid .actions,
form.crud .grid .actions a,
form.crud .grid .actions input {
	vertical-align: middle;
}
form.crud .grid .actions {
	padding: 5px 0;
}
form.crud .grid .actions a {
	/*border-left: 1px solid #c2c2c2;*/
	vertical-align: middle;
	padding-left: 7px;
}
form.crud .grid .actions a:hover {
	text-decoration: none;
}
form.crud .grid .actions a.download_file {
	border-left: none;
	padding: 0;
}
form.crud label.normal {
	display: block;
	padding: 0 0 5px;
	margin: 0 auto;
	text-align: left;
	width: auto;
	max-width: 250px;
	height: 14px;
	line-height: 1.1em;
	clear: both;
}
.loading {
	display: block;
	position: absolute;
	width: 170px;
	text-align: center;
	height: 22px;
	vertical-align: middle;
	line-height: 22px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #fff;
	background: url('pbar-ani.gif') repeat-x 50% 50%;
}
.checkingthumb {
	display:none;
	position: absolute;
	line-height: 100px;
	vertical-align: middle;
	text-align: center;
	padding-left: 170px;
	width:150px;
	height: 100px;
	margin: auto;
}

/*galeri*/
ul.gallery {
	list-style: none;
}
ul.gallery li {
	display:block;
	float:left;
	border: 1px solid #e5e5e5;
	text-align:center;
	position:relative;
	padding: 5px;
	margin:0 10px 20px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
ul.gallery li:hover {
	border: 1px solid #a6a4a4;
}
div.galImage figure a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}


/* disabled navigational button. is not needed when tabs are configured with rotate: true */
.disabled {
	visibility:hidden !important;		
}

/* lightbox/galeri styles */

/*lightbox*/
#liteBox{
	display:block;
	/*position:absolute;*/
	/*background-image:url(../img/litbox_bg.png);*/
	/*background-repeat:repeat;*/
	/* background: #000; */
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:100;
	margin: auto;
}
#liteBox #litebox_gallery{
	position:relative;
	/* min-height:700px; */
	/*margin-top:200px;*/
	/* background-color:#121212; */
	width: 675px;
	margin:auto;
	padding:5px;
	display:block;
}
#liteBox #litebox_gallery figure#litebox_preview{
	display:block;
	position:relative;
}
figure#litebox_preview:hover #litebox_controls{
	display:block;
}
#litebox_controls{
	display:none;
	position:absolute;
	bottom:70px;
	left:27%;
	background-image:url(../img/litbox_bg.png);
	background-repeat:repeat;
	width:329px;
	text-align:center;
	height:41px;
	padding-top:20px;
	z-index: 100;
}
#litebox_controls .playpause_btn,
#litebox_controls .pauseplay_btn,
#litebox_controls .nextimage_btn,
#litebox_controls .previmage_btn{
	display:inline-block;
	*display:inline;
	zoom:1;
	height:24px;
	cursor:pointer;
}

#litebox_controls .playpause_btn{
	margin:0 10px;
	width:39px;
	background-image:url(../img/lightbox_control_playpause.png);
	background-position:top;
}
#litebox_controls .pauseplay_btn{
	margin:0 10px;
	width:39px;
	background-image:url(../img/lightbox_control_pauseplay.png);
	background-position:top;
}
#litebox_controls .nextimage_btn{
	width:52px;
	background-image:url(../img/lightbox_control_right.png);
	background-position:top;
}
#litebox_controls .previmage_btn{
	width:52px;
	background-image:url(../img/lightbox_control_left.png);
	background-position:top;
}
#litebox_controls .playpause_btn:hover,
#litebox_controls .pauseplay_btn:hover,
#litebox_controls .nextimage_btn:hover,
#litebox_controls .previmage_btn:hover{
	background-position:bottom;
}

.litebox_img {
	width: 600px;
	height: 449px;
	margin: auto;
}

#litebox_preview .litebox_imgdetail{
	display:block;
	text-align:center;
	margin:10px 0;
	height:14px;
	/* background-image:url(../img/lightbox_imgdetail.png); */
	background-repeat:no-repeat;
	background-position:center;
}

figure#litebox_preview .litebox_arrowleft,
figure#litebox_preview .litebox_arrowright{
	display:block;
	position:absolute;
	top:45%;
	width:31px;
	height:21px;
	cursor:pointer;
	background-image:url(../img/lightbox_thumbsarrows.png);
}
.litebox_arrowleft{
	left:-15px;
	background-position:left top;
}
.litebox_arrowright{
	right:-15px;
	background-position:right top;
}
.litebox_arrowleft:hover{
	background-position:left bottom;
}
.litebox_arrowright:hover{
	background-position:right bottom;
}

figure#litebox_preview figcaption {
	z-index: 101;
	display:block;
	text-align:center;
	font-size:13px;
	color:#818181;
	font-style:italic;
}
figure#litebox_preview figcaption h1{
	display:block;
	margin:10px 0;
	padding-bottom: 0;
	color: #000044;
	font-size:15px;
	font-weight:normal;
	text-transform:uppercase;
	font-style:normal;
}
figure#litebox_preview figcaption p{
	display:block;
	margin:0 auto;
	width:400px;
}

ul.lightbox_thumnails{
	display:block;
	margin-top:20px;
	padding-top: 9px;
	position:relative;
	height: 100px;
}
ul.lightbox_thumnails li.lightbox_thObject{
	display:inline-block;
	*display:inline;
	zoom:1;
	vertical-align:middle;
}
li.lightbox_thObject.th_arrowleft, li.lightbox_thObject.th_arrowright,
.th_arrowleft, .th_arrowright{
	background-image:url(../img/lightbox_thumbsarrows.png);
	background-repeat:no-repeat;
	width:31px;
	height:21px;
	cursor:pointer;
	display: none;
}
li.lightbox_thObject.th_arrowleft, .th_arrowleft{
	background-position:left top;
}
li.lightbox_thObject.th_arrowright, .th_arrowright{
	background-position:right top;
}
li.lightbox_thObject.th_arrowleft:hover, .th_arrowleft:hover{
	background-position:left bottom;
}
li.lightbox_thObject.th_arrowright:hover, .th_arrowright:hover{
	background-position:right bottom;
}


li.lightbox_thObject.thumbsline{
	width:590px;
	height:77px;
	position:relative;
	overflow:hidden;
}
li.lightbox_thObject ul.lightbox_thumbsStripe{
	width:3000px;
	position: absolute;
}
li.lightbox_thumbItem{
	width:116px;
	height:77px;
	overflow:hidden;
	display:inline-block;
	*display:inline;
	zoom:1;
	cursor:pointer;
	margin-left:11px;
	filter: alpha(opacity=50);
	opacity: 0.5;
    zoom: 1;
}
li.lightbox_thumbItem:first-child{
	margin-left:0px !important;
}
li.lightbox_thumbItem:hover{
	filter: alpha(opacity=100);
	zoom: 1;
	opacity: 1;
	filter: none;
}
li.lightbox_thumbItem.hover{
	filter: alpha(opacity=100);
	zoom: 1;
	opacity: 1;
	filter: none;
}
.lightboxClose{
	position:absolute;
	right:-7px;
	top:-7px;
	cursor:pointer;
}

/* *
ul.gallery{
	display:block;
	margin:20px 10px;
	text-align:left;
	overflow:hidden;
}
ul.gallery li.galleryItem{
	display:block;
	float:left;
	margin:0 10px 20px 0;
	padding-top:10px;
	width:334px;
	height:282px;
	background-color:#121212;
	text-align:center;
	position:relative;
}
ul.gallery li.galleryItem .gdetail{
	position:absolute;
	height:14px;
	background-image:url(../img/gallery_detail.png);
	background-repeat:no-repeat;
	background-position:center;
	left:0;
	right:0;
	bottom:-7px;
}
li.galleryItem .galImage{
	display:block;
	margin:auto;
	margin-bottom:10px;
	width:309px;
	height:206px;
	overflow:hidden;
	position:relative;
}
li.galleryItem .galImage figure a{
	display:block;
	z-index:11;
	position:relative;
}
li.galleryItem span{
	display:inline-block;
	margin-left:10px;
	zoom:1;
	*display:inline;
}
li.galleryItem span.imageName{
	font-size:13px;
	font-weight:normal;
	color:#c8af6e;
	font-family: 'BergamoStdRegular';
	text-transform:uppercase;
}
li.galleryItem span.imageName:first-letter{
	font-size:18px;
}
li.galleryItem span.imageMiniDesc{
	font-size:10px;
	font-weight:normal;
	font-style:italic;
	color:#818181;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

li.galleryItem .galImage .overlay{
	background-image:url(../img/galimg_overlay.png);
	background-repeat:repeat-x;
	position:absolute;
	z-index:10;
	top:0;
	left:0;
	right:0;
	bottom:0;
	cursor:pointer;
}
.galImage figure{
	position:relative;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
.galImage figure img{
	position:relative;
	filter: url(grayscale.svg#desaturate);
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    zoom: 1;
}
.galImage:hover figure{
	filter: alpha(opacity=100);
	opacity: 1;
}
.galImage:hover figure img{
	filter: none;
}
.btnZoom_img{
	font-size:12px;
	font-weight:normal;
	font-style:italic;
	color:#818181;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
/* */

/* *
section.contentHolder{
	display:block;
	width:600px;
	margin:auto;
	padding-top:30px;
	border: 1px solid red;
}
.contentHolder article.insideArticle{
	display:block;
	margin:0 109px;
	text-align:left;
}

section.contentHolder .contentTittle{
	display:block;
	font-family: 'BergamoStdRegular';
	margin:10px 0;
	margin-bottom:20px;
	text-align:left;
}
section.contentHolder .contentTittle.floatsL{
	float:left;
	width:400px;
}
section.contentHolder .wagonSelection{
	float:right;
	margin-top:35px;
	position:relative;
	z-index:20;
}
.wagonSelection h4.wagonLabel{
	display:block;
	margin-bottom:3px;
	color:#626262;
	font-size:11px;
	font-weight:normal;
	font-family: 'BergamoStdRegular';
	text-transform:uppercase;
}
.whiteText_helper{
	color:#ffffff !important;
}
.wagonSelection h4.wagonLabel:first-letter{
	font-size:14px;
}
.wagonOptions{
	display:block;
	position:relative;
	width:196px;
	height:21px;
	font-size:14px;
	color:#c6aa63;
	font-weight:normal;
	line-height:21px;
	padding:0 4px;
	background-image:url(../img/vagonseleccion_bg.jpg);
}

section.contentHolder .contentTittle h1.contentH1{
	display:block;
	font-size:30px;
	min-height:55px;
	color:#c6aa63;
	text-transform:uppercase;
	font-weight:normal;
	margin-bottom:-8px;
}
section.contentHolder .contentTittle h2.contentH2{
	display:block;
	font-size:13px;
	color:#bbbbbb;
	margin-left:55px;
	text-transform:uppercase;
	font-weight:normal;
	margin-bottom:-15px;
}
h1.contentH1:first-letter{
	font-size:1.7em;
	*font-size:3.1em;
}
h2.contentH2:first-letter{
	font-size:1.7em;
	*font-size:1.4em;
}

/* */