<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ theme:partial name="metadata" }}

    <!-- Google Analytics -->
    {{ integration:analytics }}
</head>

<body>
    <!-- Global container, 12 columns wide -->
    <div id="container" class="container_12 clearfix homepage">
        <!-- Header -->
        <div id="header" class="grid_12">
            {{ theme:partial name="header" }}
        </div>
		
        <!-- Content -->
        <div class="col-xs-12" style="margin-top:104px;">
            <div id="content" class="grid_8 suffix_1">
				<div class="row  background-cover">
                    <div class="pull-left" style="margin-top:135px;">
                        <div class="cover-text-wrapper">WELCOME TO
                            <br /> THE CORAL TRIANGLE DAY 2015</div>
                        <div class="line">&nbsp;</div>

                        <div class="cover-text-description home" style="">
                            Join us as we celebrate the Coral Triangle! 
							<br/>On June 9th, get involved in events to celebrate the richest 
							<br/>marine environment on the planet and share our message:
							<br/>let&#39;s protect the ocean that sustains us all!
                        </div>
                    </div>

                    <div class="pull-right cover-right" style="height: 530px; margin-top: 0px; display: table;">
                        <div style="text-align: center; display: table-cell; vertical-align: middle;" id="deadline_contest">
                        </div>
                    </div>
                    <div class="cover-copyright">
                        &copy; Cat Holloway / WWF
                    </div>
                </div>
				
                <div class="instagram-contest">
                    <label class="title">Instagram Contest</label>

                    <div class="line">&nbsp;</div>

                    <div class="col-xs-12 content-intagram-contest">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="{{url:site}}contest"><img src="{{ theme:path }}/img/heart-coral-triangle.png" class="img-responsive pull-right" /></a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 step-instagram-contest-am">
                            <div class="participate-coloumn" style="margin-bottom: 25px;">
                                Fancy an escape to <a href="http://www.elnidoresorts.com/" target="_blank">El Nido Resorts</a> in the Philippines or a stunning underwater photo book? Win a prize by joining this fun and easy Instagram competition, and get creative with nature.
                            </div>
                            <div class="participate-coloumn" style="margin-bottom: 25px;">
                                <div class="number" style="margin-right: 29px;">1</div>
                                <div class="text">
                                    Create a heart shape with any natural materials you can find (leaves, seashells, your hands, etc.) in the Coral Triangle in a way that is respectful and harmless for nature.
                                </div>
                            </div>
                            <div class="participate-coloumn" style="margin-bottom: 25px;">
                                <div class="number" style="margin-right: 20px;">2</div>
                                <div class="text">
                                    Take a photo and post it on Instagram with the hashtag <b>#iheartcoraltriangle</b>
                                </div>
                            </div>
                            <div class="participate-coloumn" style="margin-bottom: 25px;">
                                <div class="number" style="margin-right: 23px;">3</div>
                                <div class="text">
                                    Share it on Facebook and Twitter, and get your photo 'liked' by others. The photo with the most likes will win<sup>*</sup>!
                                    <br>
                                        <!--<a href="#" class="toc-instagramcontest">*Terms and conditions apply.</a>-->
                                        <span class="toc-instagramcontest"><sup>*</sup>Terms and conditions apply</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <a href="{{url:site}}contest" class="btn btn-primary get-detail-inst-contest get-the-detail-track" style="margin-top: 15px;">GET THE DETAILS</a>
                        </div>
                    </div>
                </div>

                {{theme:partial name="hp-map"}}
				
				<!-- events starts -->
				{{ctd:events_table}}
				<!-- events ends -->

                <!-- new mosaic starts -->
                <div class="clearfix"><br /><br /></div>
                {{ theme:js file="mosaic.js"}}
                <div class="row event-photo">

                    <div class="masonry-wrapper" style="width:100%;">

                        <div id="loading" style="width:100%;height:100px;background:#fff url({{site:url}}/img/loading.gif) no-repeat center center; background-size: 64px 64px;"></div>
                        <div id="mcontainer" class="effect-parent">

                            {{galleries:images slug="homepage-mosaic" limit="15"}}
                            <div class="item">{{if external_url}}<a target="_blank" href="{{external_url}}">{{endif}}
                                {{thumbnail}}
                                <div class="mosaic_meta">
                                    <p>
                                        <strong>{{subtitle}}</strong>
                                        {{title}}
                                    </p>
                                </div>
                            {{if external_url}}</a>{{endif}}</div>
                            {{/galleries:images}}

                        </div>
                        <!-- end:#mcontainer -->

                    </div>

                    <div class="clearfix"></div>

                </div>
                <!-- / row event-photo -->

                <div class="clearfix"></div>
                <!-- new mosaic ends -->

				{{theme:partial name="news"}}

                <!--event sponsor-->
				{{theme:partial name="sponsors"}}

            </div>

            <!-- Footer -->
            <div id="footer" class="grid_12">
                {{ theme:partial name="footer" }}
            </div>
        </div>
    </div>
    
    <script>
		function ctdcontest9june() {
			var contest9june = new Date("June 9, 2015 16:00:00");
			var now = new Date();
			var timeDiff = contest9june.getTime() - now.getTime();
			
			$("#deadline_contest").append("<div id='date9june'><span class='date' id='remainingdays_date'>14</span><div class='line'>&nbsp;</div><p class='text' id='deadline_p'>DAYS TO<br/>THE CORAL TRIANGLE DAY<br />9 JUNE 2015</p></div>");
		
			$("#remainingdays_date").countdown("2016/06/10", function(event) {
				$(this).text(
					event.strftime('%D')
				);
			});

			var cek_date = document.getElementById("remainingdays_date").innerHTML;
			
			if(cek_date != '00'){

			}
			else if (timeDiff <= 0) {
				clearTimeout(timer);
				// document.write("complete time deadline");
				$('#date9june').remove();
				$('#time9june16').remove();
				$('#time9junedone').remove();
				//$("#deadline_contest").append("<div id='time9junedone'><span class='date' id='contest_closed'><span id='hoursBox' class='hidethis'></span>00:00<span id='minsBox' class='hidethis'></span></span><div class='line'>&nbsp;</div><p class='text' id='deadline_done'>THE CORAL TRIANGLE DAY <br/>INSTAGRAM CONTEST <br/>IS NOW CLOSED</p></div>");
				return false;
			}else{
				$('#date9june').remove();
				$('#time9june16').remove();
				$('#time9junedone').remove();
				//$("#deadline_contest").append("<div id='time9june16'><span class='date' id='remainingdays_time'><span id='hoursBox'></span>:<span id='minsBox'></span></span><div class='line'>&nbsp;</div><p class='text' id='deadline_p'>TIME TO THE CLOSING <br/>OF THE CORAL TRIANGLE DAY <br/>INSTAGRAM CONTEST</p></div>");
			}
				
			var seconds = Math.floor(timeDiff / 1000);
			var minutes = Math.floor(seconds / 60);
			var hours = Math.floor(minutes / 60);
			var days = Math.floor(hours / 24);
			
			hours %= 24;
			minutes %= 60;
			seconds %= 60;
			
			//day = ("00" + day).substr(-2);            
            hours = ("00" + hours).substr(-2);            
            minutes = ("00" + minutes).substr(-2);            
            //second = ("00" + second).substr(-2);
			
			//document.getElementById("daysBox").innerHTML = days;
			document.getElementById("hoursBox").innerHTML = hours;
			document.getElementById("minsBox").innerHTML = minutes;
			//document.getElementById("secsBox").innerHTML = seconds;
			var timer = setTimeout('ctdcontest9june()',1000);
		}
	</script>
	<script>ctdcontest9june();</script>
</body>

</html>