<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ theme:partial name="metadata" }}

    <!-- Google Analytics -->
    {{ integration:analytics }}
</head>

<body>
    <!-- Global container, 12 columns wide -->
    <div id="container" class="container_12 clearfix homepage">
        <!-- Header -->
        <div id="header" class="grid_12">
            {{ theme:partial name="header" }}
        </div>
		
        <!-- Content -->
        <div class="col-xs-12" style="margin-top:104px;">
            <div id="content" class="grid_8 suffix_1">
				<div class="row  background-cover">
					<div class="pull-left banner_homepage-left">
						<div class="in_level_1_banner_homepage_left">
							<div class="cover-text-wrapper">WELCOME TO
								<br />CORAL TRIANGLE DAY 2016</div>
							<div class="line">&nbsp;</div>
								<div class="cover-text-description home" style="">
								Join us as we celebrate the Coral Triangle! 
								<br/>On June 9th, get involved in events to celebrate the richest 
								<br/>marine environment on the planet and share our message:
								<br/>let&#39;s protect the ocean that sustains us all!
							</div>
						</div>
					</div>
					<div class="pull-right cover-right banner_homepage-right">
						<div class="in_level_1_banner_homepage_right" id="deadline_contest"></div>
					</div>
					<div class="cover-copyright">
						&copy; Don Silcock | indopacificimages.com
					</div>
                </div>
				
                <div class="instagram-contest">
                    <label class="title">#NOPLACE4PLASTIC CONTEST</label>

                    <div class="line">&nbsp;</div>

                    <div class="col-xs-12 content-intagram-contest">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="{{url:site}}contest"><img src="{{ theme:path }}/img/instagram_contest_noplace4platics.png" class="img-responsive pull-right" /></a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 step-instagram-contest-am">
                            <div class="participate-coloumn lead_participate">
                                Win a stay at one of the Coral Triangle's most exclusive eco resorts, an all inclusive dive package in Borneo, or a Cressi dive gear.
                            </div>
                            <div class="participate-coloumn first_participate">
                                <div class="number" style="margin-right: 20px;">1</div>
                                <div class="text homepage_text">
									Take creative photos of plastic waste where it <b>SHOULDN'T</b> be.
                                </div>
                            </div>
                            <div class="participate-coloumn second_participate">
                                <div class="number" style="margin-right: 20px;">2</div>
                                <div class="text homepage_text">
									Post on Instagram, tag <b>#noplace4plastic</b> and <b>#coraltriangle</b> and tell us what YOU'RE doing to cut down plastic use.
								</div>
                            </div>
                            <div class="participate-coloumn third_participate">
                                <div class="number" style="margin-right: 20px;">3</div>
                                <div class="text homepage_text">
									Win a stay at an exclusive eco resort, a dive package, or a dive gear. 5 runnners-up take home a coffee table book.
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <a href="{{url:site}}contest" class="btn btn-primary get-detail-inst-contest get-the-detail-track" style="margin-top: 15px;">GET THE DETAILS</a>
                        </div>
                    </div>
                </div>

                {{theme:partial name="hp-map"}}
				
				<!-- events starts -->
				{{ctd:events_table}}
				<!-- events ends -->

				<!-- 9may2016 -->
				<div class="clearfix"><br /><br /></div>
				<div class="row">
					<div class="container-full">
						<!-- <div id="loading"></div> -->
						{{galleries:images slug="homepage-mosaic-2016" limit="20" }}	
							{{if external_url}}<a target="_blank" href="{{external_url}}">{{endif}}
							<div class="gal_view gal_view_first" style="background: #fff url({{thumbnail_med}}) no-repeat center center / cover;">
								<div class="gal_mask">
									<p class="info">
									<strong>{{subtitle}}</strong><br/>
									{{title}}
									</p>
								</div>
							</div>
							{{if external_url}}</a>{{endif}}
						{{/galleries:images}}
					</div>
					<div class="clearfix"></div>
				</div>
				<!-- 9may2016 -->
				
                <div class="clearfix"></div>
                <!-- new mosaic ends -->

				{{theme:partial name="news"}}

                <!--event sponsor-->
				{{theme:partial name="sponsors"}}

            </div>

            <!-- Footer -->
            <div id="footer" class="grid_12">
                {{theme:partial name="footer"}}
            </div>
        </div>
    </div>
    
    <script>
		function ctdcontest9june() {
			var contest9june = new Date("June 9, 2016 16:00:00");
			var now = new Date();
			var timeDiff = contest9june.getTime() - now.getTime();
			
			$("#deadline_contest").append("<div id='date9june'><span class='date' id='remainingdays_date'>14</span><div class='line'>&nbsp;</div><p class='text' id='deadline_p'>DAYS TO<br/>CORAL TRIANGLE DAY<br />9 JUNE 2016</p></div>");
		
			$("#remainingdays_date").countdown("2016/06/10", function(event) {
				$(this).text(
					event.strftime('%D')
				);
			});

			var cek_date = document.getElementById("remainingdays_date").innerHTML;
			
			if(cek_date != '00'){

			}
			else if (timeDiff <= 0) {
				clearTimeout(timer);
				// document.write("complete time deadline");
				$('#date9june').remove();
				$('#time9june16').remove();
				$('#time9junedone').remove();
				//$("#deadline_contest").append("<div id='time9junedone'><span class='date' id='contest_closed'><span id='hoursBox' class='hidethis'></span>00:00<span id='minsBox' class='hidethis'></span></span><div class='line'>&nbsp;</div><p class='text' id='deadline_done'>CORAL TRIANGLE DAY <br/>INSTAGRAM CONTEST <br/>IS NOW CLOSED</p></div>");
				return false;
			}else{
				$('#date9june').remove();
				$('#time9june16').remove();
				$('#time9junedone').remove();
				//$("#deadline_contest").append("<div id='time9june16'><span class='date' id='remainingdays_time'><span id='hoursBox'></span>:<span id='minsBox'></span></span><div class='line'>&nbsp;</div><p class='text' id='deadline_p'>TIME TO THE CLOSING <br/>OF CORAL TRIANGLE DAY <br/>INSTAGRAM CONTEST</p></div>");
			}
				
			var seconds = Math.floor(timeDiff / 1000);
			var minutes = Math.floor(seconds / 60);
			var hours = Math.floor(minutes / 60);
			var days = Math.floor(hours / 24);
			
			hours %= 24;
			minutes %= 60;
			seconds %= 60;
			
			//day = ("00" + day).substr(-2);            
            hours = ("00" + hours).substr(-2);            
            minutes = ("00" + minutes).substr(-2);            
            //second = ("00" + second).substr(-2);
			
			//document.getElementById("daysBox").innerHTML = days;
			document.getElementById("hoursBox").innerHTML = hours;
			document.getElementById("minsBox").innerHTML = minutes;
			//document.getElementById("secsBox").innerHTML = seconds;
			var timer = setTimeout('ctdcontest9june()',1000);
		}
	</script>
	<script>ctdcontest9june();</script>
</body>

</html>