<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ theme:partial name="metadata" }}

    <!-- Google Analytics -->
    {{ integration:analytics }}
</head>

<body>
    <!-- Global container, 12 columns wide -->
    <div id="container" class="container_12 clearfix homepage">
        <!-- Header -->
        <div id="header" class="grid_12">
            {{ theme:partial name="header" }}
        </div>
		
        <!-- Content -->
        <div class="col-xs-12" style="margin-top:104px;">
            <div id="content" class="grid_8 suffix_1">
				<div class="row" style="border-bottom: 1px solid #D7D7D7;">
					<div class="col-sm-6 no-pad">
						<a href="https://instagram.com/p/3YZKA0OI1O/" target="_blank"><div class="left-winner-contest-ctd">&nbsp;</div></a>
					</div>
					
					<div class="col-sm-6">
						<div id="containingBlock">
							<div>
								<h1 class="title-announcement-winner">Congratulations!</h1>
									
								<div class="announcement-right-img-heart">
									<img data-pyroimage="true" src="{{ url:site }}{{ theme:path }}/img/HeartImg-Small.png" class="img-heart-announcement">
								</div>
								<div class="announcement-right-img-text">
									<h3 style="margin:0px;"><a href="https://instagram.com/p/3YZKA0OI1O/" target="_blank">@kenservationist</a></h3>
									<h3 style="margin:5px 0px 0px 0px;"><span class="icon-like-announcements">&#10084;</span> 85</h3>
									<p style="margin: 10px 0px 0px; font-weight:bold; color:#035291;">Grand Prize Winner,<br />Coral Triangle Day Instagram Contest</p>
								</div>

								<p>This photo is the Grand Prize winner of the 2015 Coral Triangle Day Instagram Contest.</p>
								<p>Its owner takes the Grand Prize of a 3-day, 2-night stay for two at <a href="http://www.elnidoresorts.com" target="_blank">El Nido Resorts'</a> award-winning Miniloc Island Resort in the Philippines, including two-way airfare (Manila-El Nido-Manila), full board meals, and a tour of the island.</p>
								<p>The contest winners have been selected on the basis of our <a href="{{url:site}}contest#insta_tnc">Terms and Conditions</a> and <a href="https://help.instagram.com/477434105621119/" target="_blank">Instagram Community Guidelines</a>.</p>

								<p style="font-size:14px; color:gray;">Sponsored by:</p>
								<a href="http://www.elnidoresorts.com/" target="_blank">{{theme:image file="El Nido Logotype - Gold.jpg" style="width: 148px; height: 52px;"}}</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div style="margin:0 auto; width:76%; padding-top:30px; text-align:center;">
					<h2 style="font-family: Pacifico; margin-top: 0px; margin-bottom: 25px;">Runners Up</h2>
					<p style="margin-top: 25px; margin-bottom: 25px;">Runners-up receive one copy each of the <a href="http://wwf.panda.org/what_we_do/where_we_work/coraltriangle/publications/photobook/" target="_blank">The Coral Triangle photo book</a>.</p>

					<div class="col-sm-5-am">
						<a href="https://instagram.com/p/3iggNrKgdp/" target="_blank"><img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 01.jpg" /></a>
						<div class="runner-up-outer">
							<div class="runner-up-inner-left">
								<p>1</p>
							</div>

							<div class="runner-up-inner">
								<p><a href="https://instagram.com/p/3iggNrKgdp/" target="_blank">@batang_walay</a></p>
								<p><span class="icon-like-announcements">&#10084;</span> 49</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-5-am">
						<a href="https://instagram.com/p/3SUDSVi9TI/" target="_blank"><img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 02.jpg" /></a>
						<div class="runner-up-outer">
							<div class="runner-up-inner-left">
								<p>2</p>
							</div>

							<div class="runner-up-inner">
								<p><a href="https://instagram.com/p/3SUDSVi9TI/" target="_blank">@lalabells</a></p>
								<p><span class="icon-like-announcements">&#10084;</span> 48</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-5-am">
						<a href="https://instagram.com/p/3oD8BKq_c1/" target="_blank"><img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 03.jpg" /></a>
						<div class="runner-up-outer">
							<div class="runner-up-inner-left">
								<p>3</p>
							</div>

							<div class="runner-up-inner">
								<p><a href="https://instagram.com/p/3oD8BKq_c1/" target="_blank">@meeiyeng</a></p>
								<p><span class="icon-like-announcements">&#10084;</span> 42</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-5-am">
						<a href="https://instagram.com/p/3OwExFhHSz/" target="_blank"><img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 04.jpg" /></a>
						<div class="runner-up-outer">
							<div class="runner-up-inner-left">
								<p>4</p>
							</div>

							<div class="runner-up-inner">
								<p><a href="https://instagram.com/p/3OwExFhHSz/" target="_blank">@myusrilmirza</a></p>
								<p><span class="icon-like-announcements">&#10084;</span> 32</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-5-am">
						<a href="https://instagram.com/p/3RrhgVEgv2/" target="_blank"><img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 05.jpg" /></a>
						<div class="runner-up-outer">
							<div class="runner-up-inner-left">
								<p>5</p>
							</div>

							<div class="runner-up-inner">
								<p><a href="https://instagram.com/p/3RrhgVEgv2/" target="_blank">@iamkippie</a></p>
								<p><span class="icon-like-announcements">&#10084;</span> 25</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-5-am">
						<a href="https://instagram.com/p/3QbvhhuI3n/" target="_blank"><img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 06.jpg" /></a>
						<div class="runner-up-outer">
							<div class="runner-up-inner-left">
								<p>6</p>
							</div>

							<div class="runner-up-inner">
								<p><a href="https://instagram.com/p/3QbvhhuI3n/" target="_blank">@irvanardiyanto</a></p>
								<p><span class="icon-like-announcements">&#10084;</span> 23</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-5-am">
						<a href="https://instagram.com/p/3rgmsmHIoo/" target="_blank"><img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 07.jpg" /></a>
						<div class="runner-up-outer">
							<div class="runner-up-inner-left">
								<p>7</p>
							</div>

							<div class="runner-up-inner">
								<p><a href="https://instagram.com/p/3rgmsmHIoo/" target="_blank">@torrricameron</a></p>
								<p><span class="icon-like-announcements">&#10084;</span> 23</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-5-am">
						<a href="https://instagram.com/p/3HAsFTwR_H/" target="_blank"><img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 08.jpg" /></a>
						<div class="runner-up-outer">
							<div class="runner-up-inner-left">
								<p>8</p>
							</div>

							<div class="runner-up-inner">
								<p><a href="https://instagram.com/p/3HAsFTwR_H/" target="_blank">@fakruddin727</a></p>
								<p><span class="icon-like-announcements">&#10084;</span> 22</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-5-am">
						<a href="https://instagram.com/p/3At5ZBHMS5/" target="_blank"><img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 09.jpg" /></a>
						<div class="runner-up-outer">
							<div class="runner-up-inner-left">
								<p>9</p>
							</div>

							<div class="runner-up-inner">
								<p><a href="https://instagram.com/p/3At5ZBHMS5/" target="_blank">@iamemerissa</a></p>
								<p><span class="icon-like-announcements">&#10084;</span> 19</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-5-am">
						<a href="https://instagram.com/p/3L5FsmPbVz/" target="_blank"><img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 10.jpg" /></a>
						<div class="runner-up-outer">
							<div class="runner-up-inner-left">
								<p>10</p>
							</div>

							<div class="runner-up-inner">
								<p><a href="https://instagram.com/p/3L5FsmPbVz/" target="_blank">@kimmytran_19</a></p>
								<p><span class="icon-like-announcements">&#10084;</span> 15</p>
							</div>
						</div>
					</div>
					
					</div>
				</div>
				
				<div class="row">
					<p class="align-center warning-text-runner-up">Number of Instagram likes are based on June 9 contest cut-off time at 16.00 (GMT+7)<p/>
				</div>
				
                {{theme:partial name="hp-map"}}
				
				<!-- events starts -->
				{{ctd:events_table}}
				<!-- events ends -->

                <!-- new mosaic starts -->
                <div class="clearfix"><br /><br /></div>
                {{ theme:js file="mosaic.js"}}
                <div class="row event-photo">

                    <div class="masonry-wrapper" style="width:100%;">

                        <div id="loading" style="width:100%;height:100px;background:#fff url({{site:url}}/img/loading.gif) no-repeat center center; background-size: 64px 64px;"></div>
                        <div id="mcontainer" class="effect-parent">

                            {{galleries:images slug="homepage-mosaic" limit="15"}}
                            <div class="item">{{if external_url}}<a target="_blank" href="{{external_url}}">{{endif}}
                                {{thumbnail}}
                                <div class="mosaic_meta">
                                    <p>
                                        <strong>{{subtitle}}</strong>
                                        {{title}}
                                    </p>
                                </div>
                            {{if external_url}}</a>{{endif}}</div>
                            {{/galleries:images}}

                        </div>
                        <!-- end:#mcontainer -->

                    </div>

                    <div class="clearfix"></div>

                </div>
                <!-- / row event-photo -->

                <div class="clearfix"></div>
                <!-- new mosaic ends -->

				{{theme:partial name="news"}}

                <!--event sponsor-->
				{{theme:partial name="sponsors"}}

            </div>
		
            <!-- Footer -->
            <div id="footer" class="grid_12">
                {{ theme:partial name="footer" }}
            </div>
        </div>
    </div>
</body>
</html>