<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ theme:partial name="metadata" }}

    <!-- Google Analytics -->
    {{ integration:analytics }}
</head>

<body>
    <!-- Global container, 12 columns wide -->
    <div id="container" class="container_12 clearfix">
        <!-- Header -->
        <div id="header" class="grid_12">
            {{ theme:partial name="header" }}
        </div>
        <!-- Content -->
        <div class="col-xs-12" style="margin-top:104px;">
            <div id="content" class="grid_8 suffix_1">
                <div class="row background-cover">
                    <div class="pull-left" style="margin-top:135px;">
                        <div class="cover-text-wrapper">WELCOME TO
                            <br /> THE CORAL TRIANGLE DAY 2015</div>
                        <div class="line">&nbsp;</div>

                        <div class="cover-text-description home" style="">
                            Join us as we celebrate the Coral Triangle! On June 9th, get involved in events to celebrate the richest marine environment on the planet and share our message - let&#39;s protect the ocean that connect us all
                        </div>
                    </div>

                    <div class="pull-right cover-right">
                        <div style="text-align:center;"><span class="date" id="remainingdays">14</span>
                            <div class="line">&nbsp;</div>
                            <p class="text">DAYS TO
                                <br /> THE CORAL TRIANGLE DAY
                                <br /> 9 JUNE 2015</p>
                        </div>
                    </div>
                    <div class="cover-copyright">
                        &copy; Cat Holloway / WWF-Canon
                    </div>
                </div>

                <div class="instagram-contest">
                    <label class="title">Instagram Contest</label>

                    <div class="line">&nbsp;</div>

                    <div class="col-xs-12">
                        <div class="col-md-6 col-xs-12">
                            <img src="{{ theme:path }}/img/heart-coral-triangle.png" class="img-responsive pull-right" />
                        </div>
                        <div class="col-md-6 col-xs-12" style="text-align:left;">
                            <div class="participate-coloumn" style="margin-bottom: 25px;">
                                Fancy an escape to an eco-resort or a stunning underwater photo book?
                                <br> Win a prize by joining this fun and easy Instagram competition,
                                <br> and get creative with nature.
                            </div>
                            <div class="participate-coloumn" style="margin-bottom: 25px;">
                                <div class="number" style="margin-right: 29px;">1</div>
                                <div class="text">
                                    Create a heart shape with any natural materials you can find (leaves, shells, your hands, etc.) on the beach or under water. That’s up to you.
                                </div>
                            </div>
                            <div class="participate-coloumn" style="margin-bottom: 25px;">
                                <div class="number" style="margin-right: 20px;">2</div>
                                <div class="text">
                                    Take the photo in the Coral Triangle and post it to Instagram with the hashtag <b>#iheartcoraltriangle</b>
                                </div>
                            </div>
                            <div class="participate-coloumn" style="margin-bottom: 25px;">
                                <div class="number" style="margin-right: 23px;">3</div>
                                <div class="text">
                                    Share it on Facebook and Twitter and get your photo ‘loved’ by others as the photos with the most likes will win *!
                                    <br>
                                        <!--<a href="#" class="toc-instagramcontest">*Terms and conditions apply.</a>-->
                                        <span class="toc-instagramcontest">*Terms and conditions apply.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <a href="{{url:site}}instagram-event" class="btn btn-primary" style="margin-top: 15px;">GET THE DETAILS</a>
                        </div>
                    </div>
                    <!--<p>Help us to create awareness of the Coral Triangle, the centre of marine diversity!
					        <br /> Get creative on Instagram and you could win a stay in an Eco-Resort, or amazing photo book.</p>
					    <button class="btn btn-primary">GET THE DETAILS</button>
					
					    <div class="photo-list">
					        <ul>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					        </ul>
					    </div>-->
                </div>
                <!--Google map-->
<style>
.gInfoWindow {
	min-height: 50px;
	overflow-y: auto;
	min-width: 300px;
}
</style>
{{theme:partial name="map-js"}}
                <div class="row">
                    <div class="col-xs-12 map-wrapper">
                        <div class="row">
                            <div id="map-canvas">&nbsp;</div>

                            <div class="modal-map">
                                <!--modal map-->
                                <div class="content">
                                    <div class="btn-close" onclick="Catalyze.map.hidemodal()">
                                        <img src="{{ theme:path }}/img/Button-Close.png">
                                    </div>
                                    <div class="title">Join the celebration!</div>
                                    <div style="border-bottom:1px solid #ddd; width:245px; margin: -1px auto 23px;">&nbsp;</div>
                                    <p>What makes the Coral Triangle Day so special each year are the events that take place across the Coral Triangle: beach clean-ups, film screenings, educational talks and more. Join the fun!</p>
                                    <button onclick="Catalyze.map.hidemodal()" class="btn btn-primary" style="margin-right:8px;">BROWSE EVENTS</button>
                                    <a href="{{url:site}}ctd/submitevent" class="btn btn-primary" style="margin-left:8px;">SUBMIT AN EVENT</a>
                                </div>
                            </div>
                        </div>

                        <!--End modal map-->

                        <div class="sidemenu-country-wrapper" style="display:none;">
                            <!--Side menu country-->
                            <label class="title">Events</label>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</p>

                            <ul>
                                <li>Fiji</li>
                                <li>Indonesia</li>
                                <li>Malaysia</li>
                                <li>Philippines</li>
                                <li>Solomon Islands</li>
                                <li>Timor Leste</li>
                            </ul>
                            <button class="btn btn-primary">submit event</button>
                        </div>

                        <div class="sidedetail-event-wrapper" style="display:none;">
                            <div class="navigation"><a href="#">PREV</a> <a href="#">NEXT</a>
                                <button class="btn btn-close pull-right" onclick="Catalyze.map.toggledetailevent()">X</button>
                            </div>

                            <div class="content" id="event_content">
                                <label class="title">No Ordinary Fish Market Sustainable Seafood Festival </label>
                                <label>7 Jun - 9 Jun 2015</label>

                                <p class="description">A fish market where visitors can have face-to-face interaction with fishermen implementing best fishing and aquaculture practices, and buy high quality responsible seafood products. The event is supported by the community of Bintaro, JARING Nusantara (a network of best fishers and NGOs), Fish &#39;n Blues (a supplier), chefs from Trisakti Tourism Academy and WWF-Indonesia.</p>
                                <label class="title">ADDRESS</label>

                                <p>Nine Walk - Jl. Maleo (Bintaro Jaya Sektor 9).</p>
                                <label class="title">CONTACT</label>

                                <p>info@ninewalk.com</p>

                                <div class="organizer-wrapper">
                                    <label class="title">ORGANIZER</label> <img data-pyroimage="true" src="{{ theme:path }}/img/organizer.jpg" /> <img data-pyroimage="true" src="{{ theme:path }}/img/organizer.jpg" /></div>

                                <div class="sponsor-wrapper">
                                    <label class="title">SPONSOR</label> <img data-pyroimage="true" src="{{ theme:path }}/img/sponsor.jpg" /> <img data-pyroimage="true" src="{{ theme:path }}/img/sponsor.jpg" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End google map-->

				<!-- events starts -->
				{{ctd:events_table}}
				<!-- events ends -->

                <!-- new mosaic starts -->
                {{ theme:js file="mosaic.js"}}
                <div class="row event-photo">

                    <div class="masonry-wrapper" style="width:100%;">

                        <div id="loading" style="width: 100%;height:100px;background:#fff url(/img/loading.gif) no-repeat center center;"></div>
                        <div id="mcontainer" class="effect-parent">

                            {{galleries:images slug="homepage-mosaic" limit="15"}}
                            <div class="item">
                                {{thumbnail}}
                                <div class="mosaic_meta">
                                    <p>
                                        <strong>{{title}}</strong>
                                    </p>
                                </div>
                            </div>
                            {{/galleries:images}}

                        </div>
                        <!-- end:#mcontainer -->

                    </div>

                    <div class="clearfix"></div>

                </div>
                <!-- / row event-photo -->

                <div class="clearfix"></div>
                <!-- new mosaic ends -->

                <div class="clearfix"></div>

                <div class="row news">
                    <div class="title">News</div>
                    <div class="news-list">
					<div id='news_custom_scroll' class='flexcroll'>
						<ul style="list-style:none;">
							{{news:posts}}
							<li>
								<label class="date">{{date_only}}</label> <a href="{{external_url}}" target="_blank" class="news-title">{{title}}</a></li>
							</li>
							{{/news:posts}}
						</ul>
                    </div>
                    </div>
                </div>

                <!--event sponsor-->
					{{theme:partial name="sponsors"}}
            </div>

            <!-- Footer -->
            <div id="footer" class="grid_12">
                {{ theme:partial name="footer" }}
            </div>
        </div>
    </div>
    
    <script>
        $("#remainingdays").countdown("2015/06/09", function(event) {
             $(this).text(
               event.strftime('%D')
             );
       });
        
    </script>
</body>

</html>