<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ theme:partial name="metadata" }}

    <!-- Google Analytics -->
    {{ integration:analytics }}
</head>

<body>
    <!-- Global container, 12 columns wide -->
    <div id="container" class="container_12 clearfix homepage">
        <!-- Header -->
        <div id="header" class="grid_12">
            {{ theme:partial name="header" }}
        </div>
        <!-- Content -->
        <div class="col-xs-12" style="margin-top:104px;">
            <div id="content" class="grid_8 suffix_1">
                <div class="row  background-cover">
                    <div class="pull-left banner_homepage-left">
                        <div class="in_level_1_banner_homepage_left">
                            <div class="cover-text-wrapper">WELCOME TO
                                <br />CORAL TRIANGLE DAY 2018</div>
                            <div class="line">&nbsp;</div>
                                <div class="cover-text-description home" style="">
                                Join us as we celebrate the Coral Triangle!
                                <br/>On June 9th, get involved in events to celebrate the richest 
                                <br/>marine environment on the planet and share our message:
                                <br/>let&#39;s protect the ocean that sustains us all!
                                <div style="margin-top: 15px; margin-bottom: -12px">
                                    Get others to join the fun and promote the event!
                                </div> 
                                <br/><a class="btn btn-primary" href="https://drive.google.com/drive/folders/1D4yEJzWOEib4QHGf-Hdy2Vjqhktxdgmh?usp=sharing">Download the promo kit</a>
                            </div>
                        </div>
                    </div>
                    <?php 
                        $time = time();
						$deadline_time = 1528559999;
						//echo 'Sekarang'.date('Y-m-d', $time) .' - Deadline'. date('Y-m-d', $deadline_time);
                    ?>
                    <div class="pull-right cover-right banner_homepage-right">
                        <?php if($time <= $deadline_time){ ?>
                            <div class="in_level_1_banner_homepage_right" id="deadline_contest"></div>
                        <?php } ?>
                    </div>
                    <div class="cover-copyright">
                        &copy; IYOR | The Ocean Agency
                        <!-- &copy; Don Silcock | indopacificimages.com -->
                    </div>
                </div>
                
                <div class="instagram-contest" style="overflow:hidden;">
                    <label class="title">#PLASTICRESISTANCE CONTEST</label>
                    <div class="line">&nbsp;</div>
                    <?php if($time <= $deadline_time){ ?>
                    <div class="col-xs-12 content-intagram-contest">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="{{url:site}}contest/2018"><img src="{{ theme:path }}/img/promo_contest2018.jpg" class="img-responsive pull-right" /></a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 step-instagram-contest-am">
                            <div class="participate-coloumn lead_participate">
                                Win a 7 nights dive holiday at Raja Ampat, a 3 day 2 night Scuba Junkie in Borneo, underwater guides, coffee table books and more!
                            </div>
                            <div class="participate-coloumn first_participate">
                                <div class="number" style="margin-right: 20px;">1</div>
                                <div class="text homepage_text">
									Post a photo or video showing how YOU are breaking up with pointless plastics
                                </div>
                            </div>
                            <div class="participate-coloumn second_participate">
                                <div class="number" style="margin-right: 20px;">2</div>
                                <div class="text homepage_text">
									Tag it <strong>#plasticresistance</strong> &amp; <strong>#coraltriangle</strong>
                                </div>
                            </div>
                            <div class="participate-coloumn third_participate">
                                <div class="number" style="margin-right: 20px;">3</div>
                                <div class="text homepage_text">
									Share your plastic pledge in 50 words or less &amp; tag a fried to join the #plasticresistance!
                                </div>
                            </div>
							
							<a href="{{url:site}}contest/2018" class="btn btn-primary get-detail-inst-contest get-the-detail-track" style="margin-top:24px;">GET THE DETAILS</a>
                        </div>
                    </div>
                    <?php } else { ?>
					<!-- -->
                    <div class="col-xs-12 content-intagram-contest">
                        <div class="col-md-12 col-sm-12 col-xs-12 step-instagram-contest-am">
                            <div class="participate-coloumn lead_participate mar-auto">
                                <font style="font-size:20px;">Congratulations to the winners of the #sayno2plastic Instagram contest!</font>
                                <br/><br/>
								Find out who are the lucky winners of 3 day 2 night dive holiday at Scuba Junkie in Borneo,<br/>a 3 day 2 night break at Puri Dajuma Eco Resort in idyllic east Bali, a Chilly's bottle, underwater guides, <br/>coffee table books and more.
                                <br/>
                                <center>
                                    <a href="{{url:site}}contest/2017" class="btn btn-primary get-detail-inst-contest get-the-detail-track" style="margin-top: 30px;">CHECK OUT THE WINNERS</a>
                                </center>
                            </div>
                        </div>  
                    </div>
                    <?php } ?>
                </div>

				<div>
				{{ theme:partial name="hp-map"}}	
                
                <!-- events starts -->
				{{ ctd:events_table }}	
                <!-- events ends -->
				</div>

                <!-- 9may2016 -->
                <div class="row mosaic_homepage">
					<div class="title">Coral Triangle Day celebrations from 2012 to 2018</div>
					<div class="line_after_title">&nbsp;</div>
                    <div class="container-full">
                        <!-- <div id="loading"></div> -->
                        {{galleries:images slug="homepage-mosaic-2012-to-2016" limit="20" }}    
                            {{if external_url}}<a target="_blank" href="{{external_url}}">{{endif}}
                            <div class="gal_view gal_view_first" style="background: #fff url({{thumbnail_med}}) no-repeat center center / cover;">
                                <div class="gal_mask {{css_class}}">
                                    <p class="info">
                                    <strong>{{subtitle}}</strong><br/>
                                    {{title}}
                                    </p>
                                </div>
                            </div>
                            {{if external_url}}</a>{{endif}}
                        {{/galleries:images}}
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- 9may2016 -->
                
                <div class="clearfix"></div>
                <!-- new mosaic ends -->

                {{theme:partial name="news"}}

                <!--event sponsor-->
                {{theme:partial name="sponsors"}}

            </div>

            <!-- Footer -->
            <div id="footer" class="grid_12">
                {{theme:partial name="footer"}}
            </div>
        </div>
    </div>
    
    <script>
	    $(document).ready(function(){
		    $('.gal_view_first .gal_mask.last').html('<p class="info info_bottom"><a href="https://www.flickr.com/photos/97485135@N06/albums/with/72157669477673925" target="_blank" class="fl_link">Click here to see Coral Triangle Day Celebrations From 2012 to 2016</a></p>');
	    });
        function ctdcontest9june() {
            var contest9june = new Date("June 9, 2018 16:00:00");
            var now = new Date();
            var timeDiff = contest9june.getTime() - now.getTime();
            
            $("#deadline_contest").append("<div id='date9june'><span class='date' id='remainingdays_date'>14</span><div class='line'>&nbsp;</div><p class='text' id='deadline_p'>DAYS TO<br/>CORAL TRIANGLE DAY<br />9 JUNE 2018</p></div>");
        
            $("#remainingdays_date").countdown("2018/06/9", function(event) {
                $(this).text(
                    event.strftime('%D')
                );
            });

            var cek_date = document.getElementById("remainingdays_date").innerHTML;
            
            if(cek_date != '00'){

            }
            else if (timeDiff <= 0) {
                clearTimeout(timer);
                // document.write("complete time deadline");
                $('#date9june').remove();
                $('#time9june16').remove();
                $('#time9junedone').remove();
                //$("#deadline_contest").append("<div id='time9junedone'><span class='date' id='contest_closed'><span id='hoursBox' class='hidethis'></span>00:00<span id='minsBox' class='hidethis'></span></span><div class='line'>&nbsp;</div><p class='text' id='deadline_done'>CORAL TRIANGLE DAY <br/>INSTAGRAM CONTEST <br/>IS NOW CLOSED</p></div>");
                return false;
            }else{
                $('#date9june').remove();
                $('#time9june16').remove();
                $('#time9junedone').remove();
                //$("#deadline_contest").append("<div id='time9june16'><span class='date' id='remainingdays_time'><span id='hoursBox'></span>:<span id='minsBox'></span></span><div class='line'>&nbsp;</div><p class='text' id='deadline_p'>TIME TO THE CLOSING <br/>OF CORAL TRIANGLE DAY <br/>INSTAGRAM CONTEST</p></div>");
            }
                
            var seconds = Math.floor(timeDiff / 1000);
            var minutes = Math.floor(seconds / 60);
            var hours = Math.floor(minutes / 60);
            var days = Math.floor(hours / 24);
            
            hours %= 24;
            minutes %= 60;
            seconds %= 60;
            
            //day = ("00" + day).substr(-2);            
            hours = ("00" + hours).substr(-2);            
            minutes = ("00" + minutes).substr(-2);            
            //second = ("00" + second).substr(-2);
            
            //document.getElementById("daysBox").innerHTML = days;
            document.getElementById("hoursBox").innerHTML = hours;
            document.getElementById("minsBox").innerHTML = minutes;
            //document.getElementById("secsBox").innerHTML = seconds;
            var timer = setTimeout('ctdcontest9june()',1000);
        }
    </script>
    <script>ctdcontest9june();</script>
</body>

</html>