/* A few styles to ajust default form styles for the events module */
form.crud label.intro {
    display: block;
    float: none;
}
li.date-meta div.selector {
    float: left;
    width: 70px;
    /*background-position: -633px -130px;*/
}
li.date-meta div.selector span {
    width: 28px;
}
li.date-meta label.time-meta {
    width: auto;
}
form.crud label.normal {
	font-weight: normal;
	display: block;
	text-align: left;
	width: 700px;
	min-width: 500px;
	height: 20px;
}


form.crud li.sub_fields {
	margin-left:180px;
	padding: 0 8px 15px;
}
form.crud li.sub_fields label {
	float:none;
	text-align: left;
	color:#999;
}
form.crud li.sub_fields input:checkbox{
	float:left;
}
