#regform {
	padding: 9px;
}
#regform h1, #regform h2, #regform h3 {
	font-weight: bold;
	font-size: 1.2em;
	padding-bottom: 9px;
}
#regform table td {
	padding: 5px 3px;
	border-top: 1px solid #ccc;
	font-size: 90%;
}
	/** forms **/
	form.crud {padding: 0 5px 0 10px; color:#504332}
	form.crud p {margin:10px 0; font-size: 90%;}
	form.crud h3 {color:#fff; font-weight:bold; font-size:150%; margin:10px 0;}
	form.crud h4 {font-weight:bold; font-size:125%; margin:10px 0;}
	
	form.crud fieldset {padding-top:10px; border:0;}
	form.crud ol { margin: 0; margin-left: 5px; padding: 0;}
	form.crud ol li {list-style-type: none; margin-bottom: 2px; -moz-border-radius:5px; -webkit-border-radius:5px; }
	form.crud ol li {padding:5px;}
	form.crud ol li.even {background:#f3f3f3;}
	
	form.crud ol li input, form.crud ol li textarea {
		border:1px solid #dedede;
		-moz-border-radius:4px;
		color:#565;
		padding:4px;
	}
	form.crud ol li input[type="radio"], form.crud ol li input[type="checkbox"] {border:none; background:none;}
	
	form.crud ol li input[type="text"], form.crud ol li textarea {width:400px;}
	
	form.crud input[type="text"].short, form.crud ol li textarea.short {width:305px;}
	
	form.crud label {font-size: 14px;float:left; margin-right:15px; display:block; font-weight:bold; width:180px; padding-top:3px;}
	form.crud label.normallabel {margin:0; font-weight: normal; float:none; width: auto;}
