body{
	color: #000;
	font-family: 'Titillium Web';
	font-size: 14px;
	font-weight: normal;
	
}
#content > h2:first-child {
  display: none;
}
.navbar-default{
	background-color: #fff;
}
.navbar-nav{
	padding: 25px 0px;
}
.navbar-brand{
	padding:  0px 10px 0 0px;
	margin-right: 10px;
	border-right: 1px solid #ddd;
	height: 105px;
}
.navbar-nav>li>a {
	font-size: 16px;	
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.current>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #000;
	font-weight: 550;
	background-color: #fff;
}
.navbar-default .navbar-nav>li>a:hover>span, .navbar-default .navbar-nav>.active>a>span,.navbar-default .navbar-nav>.current>a>span, .navbar-default .navbar-nav>.active>a:focus>span, .navbar-default .navbar-nav>.active>a:hover>span{
	display: block;
	margin-top: 15px;
	margin-bottom: -15px;
	width: 20px;
	border-bottom: 3px solid #000;
}
.navbar-default .navbar-nav>li.top-menu-share > a{
	font-weight: bold;
	font-size: 14px;
	color: #000;
	padding: 0px;
}
.navbar-default .navbar-nav>li.top-menu-share > a.text{
	padding: 15px;
}
.navbar-right{
	margin-right: 0px;
}
.navbar-default .navbar-nav>li.top-menu-share > a > img{
	padding: 0 5px;
}
.top-menu-right{
	border-left: 1px solid #ddd;
	padding-left: 30px; 
	padding-right: 20px;
}
.background-cover{
/*  	margin-top: 105px;*/
	background: url(../img/TopImg-Home.jpg);
	background-size: cover;
	min-height: 530px;
	padding: 0 75px;
}
.cover-text-wrapper{
/*	position: relative;*/
	color: #fff;
	font-size: 27px;
	font-weight: bold;
	font-family: 'Titillium Web';
}
.welcome-text-background{
	background-color:  RGBA(255,255,255,0.7);    
	display: block;
	width: 255px;
	height: 55px;
	
}
.welcome-text{
	font-family: "Pacifico";
	font-size: 33px;
	margin-left: 20px;
	position: absolute;
	top: 10px;
}
.coral-triangle-text-background{
	background-color: RGBA(255,255,255,0.7);    
	display: block;
	width: 400px;    
	height: 55px;
}
.coral-triangle-text{
	font-family: "Pacifico";
	font-size: 33px;
    margin-left: 20px;
    top: 55px;
    position: absolute;
}
.cover-text-description{
/*	padding: 20px;
	margin-top: 10px;
	width: 400px;
	background-color: RGBA(255,255,255,0.7);*/
	max-width: 505px;
	color: #fff;
	font-size: 17px;
}
.background-cover .pull-left .line{
	border-bottom: 1px solid #fff;
	width: 230px;
	margin: 20px 0;
}
.cover-right{
	margin-top:100px;
}
.cover-right .date{
	font-size: 100px;
	color: #fff;
	font-weight: bold;
	font-family: 'Titillium Web';
}
.cover-right .line{
	border-bottom: 1px solid #fff;
	width: 112px;
	display: block;
	margin: -4px auto -15px auto;
}
.cover-right .text{
	margin-top: 40px;
	color:#fff; 
	font-size:18px;
}
.instagram-contest{
	text-align:center; 
	padding-top:35px;
	height: 562px;
}
.instagram-contest .title{
	font-family:'Pacifico'; 
	font-size: 33px;
}
.instagram-contest .line{
	margin: 15px auto 23px;
	border-bottom: 1px solid #ddd;
	width: 245px;
}
.instagram-contest p{
	max-width: 700px;
	margin: 15px auto 25px;
	font-size: 16px;
}
.instagram-contest .photo-list{
	max-width: 1187px;
	margin: 20px auto;
	height: 350px;
}
.instagram-contest .photo-list ul{
	list-style: none;
}
.instagram-contest .photo-list ul > li{
	float: left;
	border: 1px solid #fff;
	border-left: 0px;
	border-top: 0px;
}
.instagram-contest .photo-list img{
	width:175px;
	height: 175px;
}
.btn-primary{
	background-color: #38aed2;
	text-transform: uppercase;
	border: none;
	padding: 12px 18px;
	font-weight: 600;
}
btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #2B9CBE;
  border-color: none;
}
#map-canvas{
	height: 620px;
	width:100%;
	background-color: #38aed2;
}
.map-wrapper{
	position: relative;
	margin-top: 50px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.map-wrapper .modal-map{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 620px;
	background: RGBA(0,0,0,0.3);
}
.map-wrapper .modal-map .content {
	position: absolute;
	background: #fff;
	padding: 50px;
	left: 0;
	right: 0;
	bottom: 0px;
	top: 0px;
	margin: auto;
	max-height: 315px;
	max-width: 585px;
	text-align: center;
}
.map-wrapper .modal-map .content p{
	margin-bottom: 25px;
}
.map-wrapper .modal-map .content .title{
	font-weight: bold;
	font-size: 33px;
	font-family: 'Titillium Web';
}
.map-wrapper .modal-map .btn-close{
	color: #000;
	background-color: #ebebeb;
	padding: 10px 15px;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 18px;
	font-weight: bold;
	font-stretch: expanded;
	cursor: pointer;
}
.sidemenu-country-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	background: #fff;
	padding: 30px 35px;
	width: 280px;
}
.sidemenu-country-wrapper .title{
	font-size: 18px;
}
.sidemenu-country-wrapper p{
	font-size: 14px;
}
.sidemenu-country-wrapper ul{
	list-style: none;
	padding: 0px;
}
.sidemenu-country-wrapper ul li:first-child{
	border-top: 1px solid #ddd;
}
.sidemenu-country-wrapper ul li {
	font-size: 14px;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	margin-top: 15px;
	cursor: pointer;
	font-weight: bold;
}
.sidemenu-country-wrapper ul li:hover{
	color: #2B9CBE;
}
.sidemenu-country-wrapper > button{
	bottom: 30px;
	position: absolute;
}
.sidedetail-event-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	background: #fff;
	padding: 25px 35px;
	width: 690px;
}
.sidedetail-event-wrapper  .navigation{
	color: #2B9CBE;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Titillium Web';
	height: 45px;
  	border-bottom: 1px solid #ddd;
}
.sidedetail-event-wrapper  .navigation a{
	vertical-align: top;
}
.sidedetail-event-wrapper .btn-close{
	background-color: #f0f0f0;
	color: #000;
	font-weight: bold;
	border: none;
	font-family: 'Titillium Web';
	border-radius: 0px;
	width: 40px;
	font-size: 20px;
	margin-top: -10px;
}
.sidedetail-event-wrapper .title:first-child{
	font-size: 18px;
}
.sidedetail-event-wrapper .title{
	display: block;
	margin-top: 30px;
	margin-bottom: 0px;
  	font-size: 14px;
}
.sidedetail-event-wrapper .content {
	margin-top: 20px;
}

.sidedetail-event-wrapper p.description{
	margin-top: 10px;
	font-size: 14px;
}
.sidedetail-event-wrapper p{
	margin-bottom: -10px;
}
.sidedetail-event-wrapper .organizer-wrapper .title{
	margin-bottom: 15px;
}
.sidedetail-event-wrapper .sponsor-wrapper .title{
	margin-bottom: 15px;
}
.eventlist-wrapper{
	max-width: 960px;
	margin:28px auto;
	text-align: center;
}
.eventlist-wrapper .title{
	font-size: 33px;
	font-family: 'Titillium Web';
	font-weight: bold;
}
.eventlist-wrapper .nav-tabs>li {
	background-color: #ebebeb;
	margin-left: -1px;
	border-bottom: 1px solid #ebebeb;
}
.eventlist-wrapper .nav-tabs>li>a {
	padding: 14px 17px;
	color: #000;
	margin-right: 0px;
	border-radius: 0px;
	border: 1px solid #ddd;
	border-bottom: 0;
}
.eventlist-wrapper .nav-tabs>li>a :hover{
	border: 1px solid #ddd;
}
.eventlist-wrapper .nav-tabs>li.active>a{
	clear: both;
	border: 1px solid transparent;
}
.eventlist-wrapper .nav-tabs>li.active {
	border: 1px solid #ddd;
	border-bottom: 0px;
}
.eventlist-wrapper .nav-tabs>li:hover{
	border-bottom: 1px solid #2B9CBE;
}
.eventlist-wrapper .nav-tabs>li.active:hover {
	border-bottom: 1px solid #fff;
}
.eventlist-wrapper .nav-tabs>li.active>a:hover{
	border-bottom: 0px;
	background-color:#fff;
	border-color: transparent;
	color: #000;
}
.eventlist-wrapper .nav-tabs>li>a:hover{
	color: #fff;
	background-color: #2B9CBE;
	border-color: #2B9CBE;
}
.coloumn-head{
	margin-left: -1px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.coloumn-when{
	display: inline-block;
	width: 115px;
	padding: 15px 20px;
	font-weight: bold;
}
.coloumn-event{
	display: inline-block;
	width: 380px;
	padding: 15px 20px;
	font-weight: bold;
}
.coloumn-where{
	display: inline-block;
	width: 250px;
	padding: 15px 20px;
	font-weight: bold;
}
.coloumn-city{
	display: inline-block;
	width: 200px;
	padding: 15px 20px;
	font-weight: bold;
}
.coloumn-detail{
  	padding: 5px 20px 35px;
	max-width: 850px;
	display: none;
}
.coloumn-detail .title{
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 0px;
}
.coloumn-body{
	position: relative;
	margin-left: -1px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background: url(../img/Button-CloseDropdown.png) no-repeat;
	background-position: top 10px right 20px;
}
.coloumn-body.active{
	background: url(../img/Button-OpenDropdown.png) no-repeat;
	background-position: top 10px right 20px;
}
.coloumn-body .head{
	cursor: pointer;
}
.coloumn-body.active > span{
	position: absolute; 
	border-left: 5px solid #2B9CBE; 
	min-height: 100%; 
}
.coloumn-body .head > div{
	vertical-align: top;
}
.coloumn-body .organizer-wrapper{
	width:280px;
	display: inline-block;
	margin-top: -10px;
}
.coloumn-body .sponsor-wrapper{
	width:280px;
	display: inline-block;
	margin-top: -10px;
}
.coloumn-detail .organizer-wrapper .title, .coloumn-detail .sponsor-wrapper .title{
	margin-bottom: 15px;
}
.event-photo .photo-list{
	max-width: 1372px;
	margin: 20px auto;
}
.event-photo .photo-list ul{
	padding:0px;
	list-style: none;
}
.event-photo .photo-list ul > li{
	float: left;
	border: 1px solid #fff;
	border-left: 0px;
	border-top: 0px;
}
.news{
	padding: 35px;
	text-align: center;
	background-color: #f0f0f0;
	position:relative;
}
.title{
	font-family: 'Titillium Web';
}
.news-list{
	margin-top: 15px;
	text-align: left;
	list-style: none;
}
.news-title{
	color: #000;
	font-weight: bold;	
	cursor: pointer;
}
.news-list > li{
	border-bottom: 1px solid #ddd;
	padding: 10px 20px;
	max-width: 960px;
	margin:auto;
}
.news-list > li:first-child{
	border-top: 1px solid #ddd;
}
.news-list > li .date{
	font-weight: normal;
	color:#777;
	width: 115px;
}
.eventsponsor{
	margin-top: 45px;
	text-align: center;
}
.eventsponsor .title{
	font-size: 14px;
}
.list-sponsor{
	position: relative;
	overflow: hidden;
	height: 100px;
}
.list-sponsor .item{
	float: left;
	margin:20px 35px;
}
/* carousel */
.media-carousel 
{
  margin:auto;
/*  padding: 0 40px 30px 40px;*/
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left {
  left: -9px;
  background-image: none;
  border: none;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 22px;
  color: #777;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
	right: -9px !important;
	background-image: none;
	height: 40px;
	width: 40px;
	margin-top: 22px;
	color: #777;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
/*.media-carousel img
{
  width: 250px;
  height: 100px
}*/
/* End carousel */
.inner-item{
	padding: 8px 30px;
	display: inline-block;
}
#media .inner-item .thumbnail{
	border: 0px;
}
div#media {
	max-width: 1210px;
}
.carousel-control {
	color: #777;
	text-shadow: none;
	font-size: 30px;
}
.carousel-control:hover {
	color: #777;
	text-shadow: none;
}
.footer{
 	margin: 32px auto;
	max-width: 1210px;
  	padding: 35px 0 25px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.footer-menu{
	position: relative;
	height: 50px;
}
.footer-menu ul{
	padding: 0px;
	list-style: none;
	font-size: 14px;
}
.footer-menu ul li{
	display: inline-block;
}
.footer-menu ul li > a{
	color: #000;
}
.footer-menu ul li > a{
	text-decoration: none;
	margin-right: 35px;
}
.social-media-wrapper{
	margin-top: -8px;
}
.social-media-wrapper > label{
	font-size: 14px;
	font-weight: normal;
	color: #777;
	margin-right: 18px;
}
.footer .partner{
	font-size: 14px;
  	margin-top: 20px;
	text-align: center;
}
.footer .partner .partner-list{
	margin-top: 30px auto;
	list-style: none;
	padding: 0px;
}
.footer .partner .partner-list > li{
	margin: 3px;
	display: inline-block;
}
.footer .copyright {
	text-align: center;
	font-size: 14px;
	color: #777;
	margin-top: 55px;
}

/*Instagram page*/
.cover-title-instagramcontent{
	font-family: 'Pacifico';
	font-weight: normal;
	font-size: 32px;
	margin-bottom: 10px;
}
.instagram-date{
	color: #da5b26;
  	margin-top: -40px;
}
.instagram-date .date{
	font-family: 'Pacifico';
	font-size: 145px;
	display: inline-block;
}
.instagram-date .line{
	background-color: #da5b26;
	height: 100px;
	width: 1px;
	display: inline-block;
	margin: -15px 25px;
}
.instagram-date .text{
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}
.row.participate{
	margin-top: 45px;
	text-align: center;
}
.title-instagram{
	font-family: 'Pacifico';
	font-size: 32px;
}
.participate-coloumn .text {
	display: inline-block;
	width: 260px;
	text-align: left;
	/*	font-weight: bold;*/
}
.participate-coloumn .number {
	display: inline-block;
	font-family: Pacifico;
	font-size: 75px;
	margin-right: -25px;
	border-bottom: 1px solid #ddd;
	float: left;
	margin-top: -45px;
}
.participate-coloumn {
	width: 365px;
	display: inline-block;
}
.participate .terms{
	margin-top: 15px;
	color: #777;
	font-size: 14px;
}
.row.prizes{
	margin-top: 45px;
	background-color: #f0f0f0;
	padding: 43px;
	text-align: center;
}
.row.prizes .coloumn{
	text-align: left;
	max-width: 515px;
}
label.title-coloumnprizes {
	font-size: 20px;
	font-weight: bold;
}
.row.prizes .coloumn-wrapper{
	margin: 20px auto;
	max-width: 980px;
}
.photo-list ul{
	list-style: none;
}
.photo-list ul > li{
/*	float: left;*/
	display: inline-block;
	border: 1px solid #fff;
	border-left: 0px;
	border-top: 0px;
}
.pagination>li>a, .pagination>li>span {
	border: 0;
	color: #777;
	cursor: pointer;
	padding: 2px;
	margin: 6px 12px;
	font-weight: bold;
}
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a,  .pagination>li:last-child>span {
	border: 0;
	color: #2B9CBE;
}
.pagination>li>a:hover, .pagination>li>span:hover{
	background-color: #fff;
	color: #000;
}
.btn-small{
	text-transform: none;  
	padding: 8px 20px;
}
.row-line{
	  padding: 45px 0;
	  max-width:1210px; 
	  border-bottom:1px solid #ddd; 
	  margin:auto;
}
.toc ul{
  	max-width: 500px;
	margin: auto;
}
.toc ul li{
	text-align: left;
	line-height: 2;
}
.cover-instagram-contest{
	color: da5b26;
}
.cover-instagram-contest .cover-text-wrapper{
	background-color: #da5b26;
	color: #fff;
	float: left;
	padding: 5px 20px;
	margin-bottom: 0px;
}
.cover-instagram-contest .cover-text-description{
	color: #035392;
	font-weight: bold;
	font-size: 17px;
	margin-top: 77px;
}
#instagram-photolist li > img{
	width: 225px;
	height: 225px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>li>span:hover, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #fff;
	border-color: #fff;
	color: #000;
	border-bottom: 2px solid;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #fff;
	border-color: #fff;
	color: #000;
	border-bottom: 2px solid;
}