/* A few styles to ajust default form styles for the events module */
form.crud label.intro {
    display: block;
    float: none;
}
li.date-meta div.selector {
    float: left;
    width: 70px;
    /*background-position: -633px -130px;*/
}
li.date-meta div.selector span {
    width: 28px;
}
li.date-meta label.time-meta {
    width: auto;
}
form.crud label.normal {
	font-weight: normal;
	text-align: left;
	padding: 0;
	margin: 0;
	width: 50px;
	min-height: 50px;
	height: 20px;
}

div.filter {
	padding: 2px;
	height: auto;
	vertical-align: middle;
}

div.filter a.go {
	color: #4b9b6e;
	padding: 1px 6px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 8px;
	display: inline-block;
}

div.filter li.datefilter {
	padding: 2px;
	border: 1px solid #a2a2a2;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

div.filter li.datefilter .dpicker {
	height: 10px;
	font-size: 0.9em;
}

#datepicker {min-width: 85px; width: 85px; max-width: 85px; }
.datetime_input {display: inline;}
.chzn-container-single {top: 0px;}

div.input label.col_1_column, div.input label.col_2_column, div.input label.col_2_column_l {
	position: relative;
	width: 170px;
	height: 20px;
	display: block;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	padding: 3px;
	padding-top: 200px;
	border: 1px solid #cdcdcd;
}
label.col_1_column {
	background: url(../img/1_column.jpg) no-repeat;
}
label.col_2_column {
	background: url(../img/2_column.jpg) no-repeat;
}
label.col_2_column_l {
	background: url(../img/2_column_l.jpg) no-repeat;
}
label.col_1_column input,
label.col_2_column input,
label.col_2_column_l input {
	position: absolute;
	bottom: 5px;
	left: 50%;
}
/*
form.crudli.date-meta div.selector {
    float: left;
    width: 30px;
    border: 1px solid blue;
}
form.crud li.date-meta div input#datepicker { width: 8em; }
form.crud li.date-meta div.selector { width: 5em !important; }
form.crud li.date-meta div.selector span { width: 1em; border: 1px solid red !important;}
form.crud li.date-meta label.time-meta { min-width: 4em; width:4em; }
form.crud .time-meta { min-width: 3em; width:3em; }
*/
