/* A few styles to ajust default form styles for the events module */
form.crud label.intro {
    display: block;
    float: none;
}
li.date-meta div.selector {
    float: left;
    width: 70px;
    /*background-position: -633px -130px;*/
}
li.date-meta div.selector span {
    width: 28px;
}
li.date-meta label.time-meta {
    width: auto;
}
form.crud label.normal {
	font-weight: normal;
	text-align: left;
	padding: 0;
	margin: 0;
	width: 50px;
	min-height: 50px;
	height: 20px;
}

div.filter {
	padding: 2px;
	height: auto;
	vertical-align: middle;
}

div.filter a.go {
	color: #4b9b6e;
	padding: 1px 6px;
	text-decoration: none;
	vertical-align: middle;
	margin-left: 8px;
	display: inline-block;
}

div.filter li.datefilter {
	padding: 2px;
	border: 1px solid #a2a2a2;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

div.filter li.datefilter .dpicker {
	height: 10px;
	font-size: 0.9em;
}