<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{{ theme:partial name="metadata" }}
		
		<!-- Google Analytics -->
		{{ integration:analytics }}
	</head>
	<body>
		<!-- Global container, 12 columns wide -->
		<div id="container" class="container_12 clearfix">
			<!-- Header -->
			<div id="header" class="grid_12">
				{{ theme:partial name="header" }}
			</div>
			<!-- Content -->
			<div class="col-xs-12" style="margin-top:105px;">
				<div id="content" class="grid_8 suffix_1">
					<div class="row background-cover">
					    <div class="pull-left" style="margin-top:135px;">
					        <div class="cover-text-wrapper">WELCOME TO
					            <br /> THE CORAL TRIANGLE DAY 2015</div>
					
					        <div class="line">&nbsp;</div>
					
					        <div class="cover-text-description">Join us we celebrate the Coral Triangle! On June 9th, get involved in events to celebrate the richest marine environment on the planet on the planet and share our message - let&#39;s protect the ocean that connect us all</div>
					    </div>
					
					    <div class="pull-right cover-right">
					        <div style="text-align:center;"><span class="date">14</span>
								<div class="line">&nbsp;</div>
					            <p class="text">DAYS TO
					                <br /> THE CORAL TRIANGLE DAY
					                <br /> 9 JUNE 2015</p>
					        </div>
					    </div>
					</div>
					
					<div class="instagram-contest">
					    <label class="title">Instagram Contest</label>
					
					    <div class="line">&nbsp;</div>
					
						<div class="col-xs-12">
							<div class="col-md-6 col-xs-12">
								<img src="{{ theme:path }}/img/heart-coral-triangle.png" class="img-responsive pull-right" />
							</div>
							<div class="col-md-6 col-xs-12" style="text-align:left;">
								<p>Help us to create awareness of the Coral Triangle, the centre of marine diversity!
					               <br /> Get creative on Instagram and you could win a stay in an Eco-Resort, <br/>
								   or amazing photo book! <label>How to participate?</label>
								</p>
								<div class="participate-coloumn" style="margin-bottom: 25px;">
									<div class="number" style="margin-right: 20px;">1</div>
									<div class="text">Create beautiful ocean-themed heart shape (use shells, seaweeds, the beach, even your hands)</div>
								</div>
								<div class="participate-coloumn" style="margin-bottom: 25px;">
									<div class="number" style="margin-right: 20px;">2</div>
									<div class="text">
										Take a picture of it on the beach or underwater and post in on your Instagram with
										the hashtag #iheartcoraltriangle
										
									</div>
								</div>
								<div class="participate-coloumn" style="margin-bottom: 25px;">
									<div class="number" style="margin-right: 20px;">3</div>
									<div class="text">
										Share it on Facebook and Twitter  and get your photo 'loved'
										by others.<br>
										Photo with the most likes will win*!
										
									</div>
								</div>
							</div>
							<button class="btn btn-primary" style="margin-top: 15px;">GET THE DETAILS</button>
						</div>
						<!--<p>Help us to create awareness of the Coral Triangle, the centre of marine diversity!
					        <br /> Get creative on Instagram and you could win a stay in an Eco-Resort, or amazing photo book.</p>
					    <button class="btn btn-primary">GET THE DETAILS</button>
					
					    <div class="photo-list">
					        <ul>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					            <li><img data-pyroimage="true" src="{{ theme:path }}/img/img-contest.jpg" /></li>
					        </ul>
					    </div>-->
					</div>
					<!--Google map-->
					
					<div class="row map-wrapper">
					    <div id="map-canvas">&nbsp;</div>
					
					    <div class="modal-map">
					        <!--modal map-->
					        <div class="content">
					            <div class="btn-close" onclick="Catalyze.map.hidemodal()">X</div>
					
					            <div class="title">Joint the Celebration!</div>
					
					            <div style="border-bottom:1px solid #ddd; width:245px; margin: 20px auto 25px;">&nbsp;</div>
					
					            <p>What makes the Coral Triangle Day so special each year is the events that take place across the Coral Triangle: beach clean-ups, film screenings, educational talks and more. Joint the fun!</p>
					            <button class="btn btn-primary" style="margin-right:8px;">BROWSE EVENT</button>
					            <button class="btn btn-primary" style="margin-left:8px;">SUBMIT EVENT</button>
					        </div>
					    </div>
					    <!--End modal map-->
					
					    <div class="sidemenu-country-wrapper" style="display:none;">
					        <!--Side menu country-->
					        <label class="title">Events</label>
					
					        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed</p>
					
					        <ul>
					            <li>Fiji</li>
					            <li>Indonesia</li>
					            <li>Malaysia</li>
					            <li>Philippines</li>
					            <li>Solomon Islands</li>
					            <li>Timor Leste</li>
					        </ul>
					        <button class="btn btn-primary">submit event</button>
					    </div>
					
					    <div class="sidedetail-event-wrapper" style="display:none;">
					        <div class="navigation"><a href="#">PREV</a> <a href="#">NEXT</a>
					            <button class="btn btn-close pull-right" onclick="Catalyze.map.toggledetailevent()">X</button>
					        </div>
					
					        <div class="content">
					            <label class="title">No Ordinary Fish Market Sustainable Seafood Festival </label>
					            <label>7 Jun - 9 Jun 2015</label>
					
					            <p class="description">A fish market where visitors can have face-to-face interaction with fishermen implementing best fishing and aquaculture practices, and buy high quality responsible seafood products. The event is supported by the community of Bintaro, JARING Nusantara (a network of best fishers and NGOs), Fish &#39;n Blues (a supplier), chefs from Trisakti Tourism Academy and WWF-Indonesia.</p>
					            <label class="title">ADDRESS</label>
					
					            <p>Nine Walk - Jl. Maleo (Bintaro Jaya Sektor 9).</p>
					            <label class="title">CONTACT</label>
					
					            <p>info@ninewalk.com</p>
					
					            <div class="organizer-wrapper">
					                <label class="title">ORGANIZER</label> <img data-pyroimage="true" src="{{ theme:path }}/img/organizer.jpg" /> <img data-pyroimage="true" src="{{ theme:path }}/img/organizer.jpg" /></div>
					
					            <div class="sponsor-wrapper">
					                <label class="title">SPONSOR</label> <img data-pyroimage="true" src="{{ theme:path }}/img/sponsor.jpg" /> <img data-pyroimage="true" src="{{ theme:path }}/img/sponsor.jpg" /></div>
					        </div>
					    </div>
					</div>
					<!--End google map-->
					
					<div class="row eventlist-wrapper">
					    <div class="title">Find an event near you!</div>
					
					    <div role="tabpanel" style="margin-top: 20px;">
					        <ul class="nav nav-tabs" role="tablist">
					            <li class="active" role="presentation"><a aria-controls="home" data-toggle="tab" href="#indonesia" role="tab">Indonesia</a></li>
					            <li role="presentation"><a aria-controls="profile" data-toggle="tab" href="#philippines" role="tab">Philippines</a></li>
					            <li role="presentation"><a aria-controls="messages" data-toggle="tab" href="#malaysia" role="tab">Malaysia</a></li>
					            <li role="presentation"><a aria-controls="settings" data-toggle="tab" href="#solomon" role="tab">Solomon Island</a></li>
					            <li role="presentation"><a aria-controls="settings" data-toggle="tab" href="#fiji" role="tab">Fiji</a></li>
					            <li role="presentation"><a aria-controls="settings" data-toggle="tab" href="#timorleste" role="tab">Timor Leste</a></li>
					        </ul>
					
					        <div class="tab-content" style="text-align:left;">
					            <div class="tab-pane active" id="indonesia" role="tabpanel">
					                <div class="coloumn-head">
					                    <div class="coloumn-when">WHEN</div>
					
					                    <div class="coloumn-event">EVENTS</div>
					
					                    <div class="coloumn-where">WHERE</div>
					
					                    <div class="coloumn-city">CITY</div>
					                </div>
					
					                <div class="coloumn-body">
					                    <div class="head">
					                        <div class="coloumn-when">7 Jun - 9 Jun 2015</div>
					
					                        <div class="coloumn-event">No Ordinary Fish Market Sustainable Seafood Festival</div>
					
					                        <div class="coloumn-where">Nine Walk</div>
					
					                        <div class="coloumn-city">Banten</div>
					                    </div>
					
					                    <div class="coloumn-detail">
					                        <p class="description">A fish market where visitors can have face-to-face interaction with fishermen implementing best fishing and aquaculture practices, and buy high quality responsible seafood products. The event is supported by the community of Bintaro, JARING Nusantara (a network of best fishers and NGOs), Fish &#39;n Bules (a supplier), chefs from Trisakti Tourism Academy and WWF-Indonesia.</p>
					                        <label class="title">ADDRESS</label>
					
					                        <p>Nine Walk - Jl. Maleo (Bintaro Jaya Sektor 9).</p>
					                        <label class="title">CONTACT</label>
					
					                        <p>info@ninewalk.com</p>
					
					                        <div class="organizer-wrapper">
					                            <label class="title">ORGANIZER</label> <img data-pyroimage="true" src="{{ theme:path }}/img/organizer.jpg" /> <img data-pyroimage="true" src="{{ theme:path }}/img/organizer.jpg" /></div>
					
					                        <div class="sponsor-wrapper">
					                            <label class="title">SPONSOR</label> <img data-pyroimage="true" src="{{ theme:path }}/img/sponsor.jpg" /> <img data-pyroimage="true" src="{{ theme:path }}/img/sponsor.jpg" /></div>
					                    </div>
					                </div>
					                <!--Start coloumn-->
					
					                <div class="coloumn-body">
					                    <div class="head">
					                        <div class="coloumn-when">7 Jun 2015</div>
					
					                        <div class="coloumn-event">General lecture</div>
					
					                        <div class="coloumn-where">University of Hasanuddin</div>
					
					                        <div class="coloumn-city">Makasar</div>
					                    </div>
					
					                    <div class="coloumn-detail">
					                        <p class="description">A fish market where visitors can have face-to-face interaction with fishermen implementing best fishing and aquaculture practices, and buy high quality responsible seafood products. The event is supported by the community of Bintaro, JARING Nusantara (a network of best fishers and NGOs), Fish &#39;n Bules (a supplier), chefs from Trisakti Tourism Academy and WWF-Indonesia.</p>
					                        <label class="title">ADDRESS</label>
					
					                        <p>Nine Walk - Jl. Maleo (Bintaro Jaya Sektor 9).</p>
					                        <label class="title">CONTACT</label>
					
					                        <p>info@ninewalk.com</p>
					
					                        <div class="organizer-wrapper">
					                            <label class="title">ORGANIZER</label> <img data-pyroimage="true" src="{{ theme:path }}/img/organizer.jpg" /> <img data-pyroimage="true" src="{{ theme:path }}/img/organizer.jpg" /></div>
					
					                        <div class="sponsor-wrapper">
					                            <label class="title">SPONSOR</label> <img data-pyroimage="true" src="{{ theme:path }}/img/sponsor.jpg" /> <img data-pyroimage="true" src="{{ theme:path }}/img/sponsor.jpg" /></div>
					                    </div>
					                </div>
					                <!--End coloumn-->
					                <!--Start coloumn-->
					
					                <div class="coloumn-body">
					                    <div class="head">
					                        <div class="coloumn-when">8 Jun 2015</div>
					
					                        <div class="coloumn-event">National Forum of Coastal Regents in Coral Triangle Area</div>
					
					                        <div class="coloumn-where">Banyualit Spa &amp; Resor, Lovina</div>
					
					                        <div class="coloumn-city">Singaraja</div>
					                    </div>
					
					                    <div class="coloumn-detail">
					                        <p class="description">A fish market where visitors can have face-to-face interaction with fishermen implementing best fishing and aquaculture practices, and buy high quality responsible seafood products. The event is supported by the community of Bintaro, JARING Nusantara (a network of best fishers and NGOs), Fish &#39;n Bules (a supplier), chefs from Trisakti Tourism Academy and WWF-Indonesia.</p>
					                        <label class="title">ADDRESS</label>
					
					                        <p>Nine Walk - Jl. Maleo (Bintaro Jaya Sektor 9).</p>
					                        <label class="title">CONTACT</label>
					
					                        <p>info@ninewalk.com</p>
					
					                        <div class="organizer-wrapper">
					                            <label class="title">ORGANIZER</label> <img data-pyroimage="true" src="{{ theme:path }}/img/organizer.jpg" /> <img data-pyroimage="true" src="{{ theme:path }}/img/organizer.jpg" /></div>
					
					                        <div class="sponsor-wrapper">
					                            <label class="title">SPONSOR</label> <img data-pyroimage="true" src="{{ theme:path }}/img/sponsor.jpg" /> <img data-pyroimage="true" src="{{ theme:path }}/img/sponsor.jpg" /></div>
					                    </div>
					                </div>
					                <!--End coloumn-->
					                <!--Start coloumn-->
					
					                <div class="coloumn-body">
					                    <div class="head">
					                        <div class="coloumn-when">7 Jun 2015</div>
					
					                        <div class="coloumn-event">General lecture</div>
					
					                        <div class="coloumn-where">University of Hasanuddin</div>
					
					                        <div class="coloumn-city">Makasar</div>
					                    </div>
					
					                    <div class="coloumn-detail">
					                        <p class="description">A fish market where visitors can have face-to-face interaction with fishermen implementing best fishing and aquaculture practices, and buy high quality responsible seafood products. The event is supported by the community of Bintaro, JARING Nusantara (a network of best fishers and NGOs), Fish &#39;n Bules (a supplier), chefs from Trisakti Tourism Academy and WWF-Indonesia.</p>
					                        <label class="title">ADDRESS</label>
					
					                        <p>Nine Walk - Jl. Maleo (Bintaro Jaya Sektor 9).</p>
					                        <label class="title">CONTACT</label>
					
					                        <p>info@ninewalk.com</p>
					
					                        <div class="organizer-wrapper">
					                            <label class="title">ORGANIZER</label> <img data-pyroimage="true" src="{{ theme:path }}/img/organizer.jpg" /> <img data-pyroimage="true" src="{{ theme:path }}/img/organizer.jpg" /></div>
					
					                        <div class="sponsor-wrapper">
					                            <label class="title">SPONSOR</label> <img data-pyroimage="true" src="{{ theme:path }}/img/sponsor.jpg" /> <img data-pyroimage="true" src="{{ theme:path }}/img/sponsor.jpg" /></div>
					                    </div>
					                </div>
					                <!--End coloumn-->
					            </div>
					
					            <div class="tab-pane" id="philippines" role="tabpanel">
					                <div class="coloumn-head">
					                    <div class="coloumn-when">WHEN</div>
					
					                    <div class="coloumn-event">EVENTS</div>
					
					                    <div class="coloumn-where">WHERE</div>
					
					                    <div class="coloumn-city">CITY</div>
					                </div>
					            </div>
					
					            <div class="tab-pane" id="malaysia" role="tabpanel">
					                <div class="coloumn-head">
					                    <div class="coloumn-when">WHEN</div>
					
					                    <div class="coloumn-event">EVENTS</div>
					
					                    <div class="coloumn-where">WHERE</div>
					
					                    <div class="coloumn-city">CITY</div>
					                </div>
					            </div>
					
					            <div class="tab-pane" id="solomon" role="tabpanel">
					                <div class="coloumn-head">
					                    <div class="coloumn-when">WHEN</div>
					
					                    <div class="coloumn-event">EVENTS</div>
					
					                    <div class="coloumn-where">WHERE</div>
					
					                    <div class="coloumn-city">CITY</div>
					                </div>
					            </div>
					
					            <div class="tab-pane" id="fiji" role="tabpanel">
					                <div class="coloumn-head">
					                    <div class="coloumn-when">WHEN</div>
					
					                    <div class="coloumn-event">EVENTS</div>
					
					                    <div class="coloumn-where">WHERE</div>
					
					                    <div class="coloumn-city">CITY</div>
					                </div>
					            </div>
					
					            <div class="tab-pane" id="timorleste" role="tabpanel">
					                <div class="coloumn-head">
					                    <div class="coloumn-when">WHEN</div>
					
					                    <div class="coloumn-event">EVENTS</div>
					
					                    <div class="coloumn-where">WHERE</div>
					
					                    <div class="coloumn-city">CITY</div>
					                </div>
					            </div>
					        </div>
					    </div>
					</div>

<!-- new mosaic starts -->
{{ theme:js file="mosaic.js"}}
<div class="row event-photo" style="display:block;float:none;clear:both;">

	<div class="masonry-wrapper photo-list">

		<div id="loading" style="width: 100%;height:100px;background:#fff url(/img/loading.gif) no-repeat center center;"></div>
		<div id="mcontainer" class="effect-parent" style="display:none;">

		{{galleries:images category="homepage" limit="12"}}
			<div class="item">
				{{thumbnail}}
			</div>
		{{/galleries:images}}

		</div><!-- end:#mcontainer -->

	</div>

	<div class="clearfix"></div>

</div>		<!-- / row event-photo -->

<div class="clearfix"></div>
<hr />
<!-- new mosaic ends -->

	<div class="clearfix"></div>

					<div class="row news">
					    <label class="title">News</label>
					
					    <ul class="news-list">
					    {{news:posts}}
					    	<li><label class="date">{{date_only}}</label> <a href="{{external_url}}" target="_blank" class="news-title">{{title}}</a></li></li>
					    {{/news:posts}}
					    </ul>
					</div>
					<!--event sponsor-->
					
					<div class="eventsponsor">
					    <label class="title">CORAL TRIANGLE DAY EVENT SPONSORS</label>
					
					    <div class="carousel slide media-carousel " id="media">
					        <div class="carousel-inner">
					            <div class="item  active">
					                <div class="row">
					                    <div class="inner-item">
					                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/120x50" /></a>
					                    </div>
					
					                    <div class="inner-item">
					                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/120x50" /></a>
					                    </div>
					
					                    <div class="inner-item">
					                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/120x50" /></a>
					                    </div>
					
					                    <div class="inner-item">
					                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/120x50" /></a>
					                    </div>
					
					                    <div class="inner-item">
					                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/120x50" /></a>
					                    </div>
					
					                    <div class="inner-item">
					                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/120x50" /></a>
					                    </div>
					                </div>
					            </div>
					
					            <div class="item">
					                <div class="row">
					                    <div class="inner-item">
					                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/120x50" /></a>
					                    </div>
					
					                    <div class="inner-item">
					                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/120x50" /></a>
					                    </div>
					
					                    <div class="inner-item">
					                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/120x50" /></a>
					                    </div>
					
					                    <div class="inner-item">
					                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/120x50" /></a>
					                    </div>
					
					                    <div class="inner-item">
					                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/120x50" /></a>
					                    </div>
					
					                    <div class="inner-item">
					                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/120x50" /></a>
					                    </div>
					                </div>
					            </div>
					        </div>
					    </div>
					</div>
				</div>

				<!-- Footer -->
				<div id="footer" class="grid_12">
					{{ theme:partial name="footer" }}
				</div>
			</div>
		</div>
	</body>
</html>