<!--<div id="site_info">
	<h1 id="site_title">{{ settings:site_name }}</h1>
	<p id="site_slogan">{{ settings:site_slogan }}</p>
</div>
<div id="site_navigation" class="clearfix">
	<ul>
	{{ navigation:links group="header" }}
	</ul>
</div>-->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{{ theme:path }}/img/ctd-logo.png" alt="corel triangle day" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="top-menu">
      <ul class="nav navbar-nav">
<!--        <li class="active"><a href="#">Home <span></span></a></li>
        <li><a href="#">About<span></span></a></li>
        <li><a href="#">Instagram Event<span></span></a></li>
        <li><a href="#">Submit an Event<span></span></a></li>
        <li><a href="#">Event Gallery<span></span></a></li>-->
       {{ navigation:links group="header" }}
      </ul>
      <ul class="nav navbar-nav navbar-right top-menu-right">
        <li><img src="{{ theme:path }}/img/Logo-Header-CTI.png" alt="Facebook"/></li>
<!--        <li class="top-menu-share"><a href="#" class="text">SHARE</a></li>
    		<li class="top-menu-share"><a href="#"><img src="{{ theme:path }}/img/fb-button.png" alt="Facebook"/></a></li>
    		<li class="top-menu-share"><a href="#"><img src="{{ theme:path }}/img/twitter-button.png" alt="Twitter"/></a></li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
