<div class="row" style="border-bottom: 1px solid #ddd;  padding: 40px;">
    <div class="col-xs-12 cover-instagram-contest">
    	
    	<div class="col-xs-12 col-md-6">
    		<div class="instagram-date"><span class="date">14</span>
                <span class="line"></span>
                <p class="text">DAYS TO
                    <br /> THE CORAL TRIANGLE DAY
                    <br /> 9 JUNE 2015</p>
            </div>
            <div class="cover-text-wrapper">
                <label class="cover-title-instagramcontent">Coral Triangle Day Instagram Contest</label>
            </div>
            <div class="cover-text-description">Help us protect world&#39;s biggest centre of marine life you are living in!
                <br /> Get creative with Instagram and win an eco-resort beach escape, or <br>an amazing photo book.
             </div>
    	</div>
    	<div class="col-xs-12 col-md-6">
    		<img src="/addons/shared_addons/themes/coraltriangle/img/cover-heart-coral-triangle.png" alt="corel triangle day" class="img-responsive" style="margin: auto;"/>
    	</div>
    	
    	
    <!--    <div class="pull-left" style="margin-top:110px;">
            <div class="cover-text-wrapper">
                <label class="cover-title-instagramcontent">Coral Triangle Day Instagram Contest</label>
            </div>
    
            <div class="cover-text-description">Help us protect world&#39;s biggest centre of marine life you are living in!
                <br /> Get creative with Instagram and win an eco-resort beach escape, or an amazing photo book.</div>
    
            <div class="instagram-date"><span class="date">14</span>
                <p class="text">DAYS TO
                    <br /> THE CORAL TRIANGLE DAY
                    <br /> 9 JUNE 2015</p>
            </div>
        </div>-->
    </div>
</div>

<div class="row participate">
    <label class="title-instagram">How to participate?</label>

    <div style="margin: 15px auto 25px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

    <div class="participate-coloumn">
        <div class="number">1</div>

        <div class="text">Create beautiful ocean-themed heart shape (use shells, seaweeds, the beach, even your hands)</div>
    </div>

    <div class="participate-coloumn">
        <div class="number">2</div>

        <div class="text">Take a picture of it on the beach or underwater and post in on your Instagram with the hashtag #iheartcoraltriangle</div>
    </div>

    <div class="participate-coloumn">
        <div class="number">3</div>

        <div class="text">Share it on Facebook and Twitter and get your photo &#39;loved&#39; by others.
            <br /> Photo with the most likes will win*!</div>
    </div>

    <div class="terms">*Term and condition apply.</div>
</div>

<div class="row prizes">
    <label class="title-instagram">Prizes</label>

    <div class="coloumn-wrapper">
        <div class="col-md-6 coloumn">
            <div class="col-md-6 ">
                <label class="title-coloumnprizes">GRAND PRIZES
                    <br /> WINNER
                </label>

                <p>Lorem ipsum dolor sit amet, nam ea ipsum erroribus appellantur. Cu has vide imperdiet. Sed modus munere oporteat an. Labitur detracto pertinax sit no.</p>
            </div>

            <div class="col-md-6"><img src="/addons/shared_addons/themes/coraltriangle/img/Prizes-1.jpg" /></div>
        </div>

        <div class="col-md-6 coloumn">
            <div class="col-md-6">
                <label class="title-coloumnprizes">TOP 10
                    <br /> MOST LOVED
                    <br /> PHOTOS
                </label>

                <p>Winners will receive &quot;The Coral Triangle&quot;, a 276-page book that showcases that faces, places and wildlife that make this region truly remarkable, as well as a fragile wonder that must be conserved.</p>
            </div>

            <div class="col-md-6"><img src="/addons/shared_addons/themes/coraltriangle/img/Prizes-2.jpg" /></div>
        </div>
    </div>
</div>

<div class="row" style="border-bottom: 1px solid #ddd;">
    <div class="photo-list ">
        <ul id="instagram-photolist" style="text-align:center;">
<!--            <li><img src="http://placehold.it/227x227" /></li>
            <li><img src="http://placehold.it/227x227" /></li>
            <li><img src="http://placehold.it/227x227" /></li>
            <li><img src="http://placehold.it/227x227" /></li>
            <li><img src="http://placehold.it/227x227" /></li>
            <li><img src="http://placehold.it/227x227" /></li>
            <li><img src="http://placehold.it/227x227" /></li>
            <li><img src="http://placehold.it/227x227" /></li>
            <li><img src="http://placehold.it/227x227" /></li>
            <li><img src="http://placehold.it/227x227" /></li>
            <li><img src="http://placehold.it/227x227" /></li>
            <li><img src="http://placehold.it/227x227" /></li>-->
        </ul>
         
    </div>
    <div class="col-xs-12" style="text-align:center;  font-weight: bold;">
        <ul class="pagination pagination-md" id="photolist-pagination">
        </ul>
    </div>
</div>

<div class="row participate row-line">
    <label class="title-instagram">Spread the good news!</label>

    <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

    <div style="margin-bottom: 25px;">Lorem ipsum dolor sit amet, nam ea ipsum erroribus appellantur.</div>
    <button class="btn btn-primary btn-small">Download the Promo-Kit</button>
</div>

<div class="row participate toc">
    <label class="title-instagram">Term &amp; Conditions</label>

    <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

    <div style="margin-bottom: 25px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>

    <ul>
        <li>sed do eiusmod tempor incididunt ut labore</li>
        <li>sed do eiusmod tempor incididunt ut labore</li>
        <li>sed do eiusmod tempor incididunt ut labore</li>
        <li>sed do eiusmod tempor incididunt ut labore</li>
        <li>sed do eiusmod tempor incididunt ut labore</li>
        <li>sed do eiusmod tempor incididunt ut labore</li>
        <li>sed do eiusmod tempor incididunt ut labore</li>
        <li>sed do eiusmod tempor incididunt ut labore</li>
    </ul>
</div>

<script>
    
    var dataimage = null;
    var limit = 18;
      
    function getimage() {
        $.post("/instagram/", {hashtag:"coraltriangle"}, 
                function(data){ 
                    dataimage= JSON.parse(data);
                    generatePage();
                }
        );
    }
    
    function generatePage() {
        var page = $("#photolist-pagination");
        page.html('');
        var prev = '<li onclick="prev()"><span>PREV</span</li>';
        page.append(prev);
        
        var lengthpage = parseInt(dataimage.length / limit);
        if(dataimage.length % limit != 0){
            lengthpage = lengthpage +1;
        }
        
        for(i = 0; i < (lengthpage); i++){
            var li = '<li class="pagingnumber"><span>'+ (i + 1) +'</span></li>';
            page.append(li);
        }
        
        var next = ' <li onclick="next()"><span>NEXT</span></li>';
        page.append(next);
        
         $("#photolist-pagination >li.pagingnumber").click(function(){
            getPage($(this).text() * 1);
        })
        
        $("#photolist-pagination >li.pagingnumber:eq(0)").trigger("click");
    }
    
    function prev(){
        var num = ($("#photolist-pagination >li.pagingnumber.active").text() * 1) -1;
        if(num >= 1)
        {
            getPage(num);
        }
    }
    
    function next(){
        var num = ($("#photolist-pagination >li.pagingnumber.active").text()*1)+1;
        console.log(num);
        if(num <= (dataimage.length % limit))
        {
            getPage(num);
        }
    }
    
    
    function getPage(page){
        console.log(page);
        $("#photolist-pagination >li").removeClass("active");
        $("#photolist-pagination >li.pagingnumber:eq("+ (page - 1) +")").addClass("active");
        $("#instagram-photolist").html('');
      
        for(var i = (page * limit) - limit ; i < (page * limit); i++){
            if(dataimage[i])
            {
                var li = "<li><img src='" + dataimage[i].images.low_resolution.url + "' class='img-responsive' /></li>";
                $("#instagram-photolist").append(li);
            }
        }
    }
    
    
    $(function(){
        
        getimage();
        
    })
    
</script>