body{
	color: #000;
	font-size: 14px;
	font-weight: normal;
	font-family: Roboto;
}

.hidethis{
	display:none!important;
}

#time9june16, #time9junedone, #date9june{
	margin-top:-28px;
}

/* announcement content */
.announcement-right-img-heart{
	float:left; 
	width:24%; 
	padding-top:10px; 
	padding-bottom:10px;
}

.announcement-right-img-text{
	float:left; 
	width:76%; 
	padding-bottom:20px; 
	padding-top:10px;
}


#containingBlock {
	display: table; 
	height:530px; 
	position: relative; 
	overflow: hidden;
	width:100%; 
	padding-left: 25px;
}
#containingBlock div {
	display: table-cell; 
	vertical-align: middle; 
}

.warning-text-runner-up{
	margin:20px auto;
}

.icon-like-announcements{
	color:#DF0101;
}

.left-winner-contest-ctd{
	background:url('../img/winner/winner-banner.jpg') no-repeat center center;
	min-height: 530px;
	background-size: cover;
}

.title-announcement-winner{
	font-family:Pacifico; 
	font-size:60px; 
	color:#DA5B26; 
	margin-bottom:20px; 
	margin-top:0px;
}

.img-heart-announcement{
	width: 115px; 
	height: 110px;
}

.margin-top-20{
	margin-top: 20px;
}

.col-sm-5-am{
	float:left;
}

.col-sm-5-am{
	width:20%;
	text-align:center;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}

.runner-up-outer{
	display:table; 
	height:50px; 
	margin-top:5px; 
	width:100%;
}

.runner-up-inner-left{
	display: table-cell; 
	vertical-align: middle; 
	width: 25%;
}

.runner-up-inner-left p{
	margin: -15px 0px 0px; 
	font-size: 40px; 
	font-family: Pacifico; 
	border-bottom: 1px solid rgb(221, 221, 221);
}

.runner-up-inner{
	display:table-cell; 
	vertical-align:middle; 
	width:75%; 
	padding-left:5px; 
	text-align: left; 
	font-size: 13px;
}

.runner-up-inner p{
	margin:0px;
}
/* end announcement content */

.inst-im4u{
	width:127px;
	height:57px;
}

.step-instagram-contest-am{
	text-align:left;
}

.no-pad{
	padding:0px!important;
}

.no-pad-left{
	padding-left:0px!important;
}

.no-pad-right{
	padding-right:0px!important;
}

.supported-by a img{
	padding-right:4.5%;
	outline:none;
}

.urgentshow{
	display:table!important;
	width: 100%;
}

.displaynone{
	display:none!important;
}

.btn{
	font-family: 'Titillium Web',Roboto,SansSerif;
	font-size: 14px;
	font-weight: bold;
	/*font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;*/
}
.align-center{
	text-align:center;
}
#content > h2:first-child {
  display: none;
}
.navbar-default{
	background-color: #fff;
	height: 104px;
}
.navbar-nav{
	padding: 19px 0px 25px 0px;
}
.navbar-brand{
	padding:  0px 10px 0 0px;
	margin-right: -7px;
/*	border-right: 1px solid #ddd;*/
	height: 104px;
}
.navbar-nav>li>a {
	font-size: 16px;
	font-weight: normal;
	font-family: 'Titillium Web';
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.current>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #000;
	font-weight: normal;
	background-color: #fff;
}
.navbar-default .navbar-nav>li>a:hover>span, .navbar-default .navbar-nav>.active>a>span,.navbar-default .navbar-nav>.current>a>span, .navbar-default .navbar-nav>.active>a:focus>span, .navbar-default .navbar-nav>.active>a:hover>span{
	display: block;
	margin-top: 15px;
	margin-bottom: -15px;
	width: 20px;
	border-bottom: 3px solid #000;
}

.navbar-default .navbar-nav.navbar-right.top-menu-right>li>a:hover>span,
.navbar-default .navbar-nav.navbar-right.top-menu-right>.active>a>span,
.navbar-default .navbar-nav.navbar-right.top-menu-right>.current>a>span,
.navbar-default .navbar-nav.navbar-right.top-menu-right>.active>a:focus>span,
.navbar-default .navbar-nav.navbar-right.top-menu-right>.active>a:hover>span {
	display: block;
	margin-top: 15px;
	margin-bottom: -15px;
	width: 20px;
	border-bottom: none;
}
.navbar-default .navbar-nav>li.top-menu-share > a{
	font-weight: normal;
	font-size: 14px;
	color: #000;
	padding: 0px;
}
.navbar-default .navbar-nav>li.top-menu-share > a.text{
	padding: 15px;
}
.navbar-right{
	margin-right: 0px;
}
.navbar-default .navbar-nav>li.top-menu-share > a > img{
	padding: 0 5px;
}
.top-menu-right{
/*	border-left: 1px solid #ddd;*/
	padding: 0px 10px 0px 0px !important;
}
.cover-copyright{
	position: absolute;
	color: #fff;
	bottom: 5px;
	right: 10px;
	font-size: 11px;
}
.background-cover{
/*  	margin-top: 105px;*/
	background: url(../img/TopImg-Home.jpg);
	background-size: cover;
	min-height: 530px;
	padding: 0 75px;
	position: relative;
}
.cover-text-wrapper{
	margin-top: -3px;
	/* position: relative; */
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	font-family: 'Titillium Web',Roboto,SansSerif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.welcome-text-background{
	background-color:  RGBA(255,255,255,0.7);    
	display: block;
	width: 255px;
	height: 55px;
	
}
.welcome-text{
	font-family: "Pacifico";
	font-size: 33px;
	margin-left: 20px;
	position: absolute;
	top: 10px;
}
.coral-triangle-text-background{
	background-color: RGBA(255,255,255,0.7);    
	display: block;
	width: 400px;    
	height: 55px;
}
.coral-triangle-text{
	font-family: "Pacifico";
	font-size: 33px;
    margin-left: 20px;
    top: 55px;
    position: absolute;
}
.cover-text-description{
/*	padding: 20px;
	margin-top: 10px;
	width: 400px;
	background-color: RGBA(255,255,255,0.7);*/
	max-width: 570px;
	color: #fff;
	font-size: 16px;
	padding: 20px;
	 
}
.cover-text-description.home{
	font-size: 16px;
	line-height: 1.5;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 0px 0px 50px rgba(0, 0, 0, 1); 
	background-color: RGBA(0,0,0, 0.5);
}
.background-cover .pull-left .line{
	border-bottom: 1px solid #fff;
	width: 230px;
	margin: 0px 0 20px;
}
.cover-right{
	margin-top:102px;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}
.cover-right .date{
	font-size: 100px;
	color: #fff;
	font-weight: bold;
	font-family: 'Titillium Web';
	text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}
.cover-right .line{
	border-bottom: 1px solid #fff;
	width: 112px;
	display: block;
	margin: -23px auto -15px auto;
}
.cover-right .text{
	margin-top: 38px;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.instagram-contest{
	text-align:center; 
	padding-top:35px;
	/*height: 562px;*/
	margin: 0px -15px;
}
.instagram-contest .title{
	font-family:'Pacifico'; 
	font-size: 33px;
	color: #035291;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.instagram-contest .line{
	margin: 15px auto 23px;
	border-bottom: 1px solid #ddd;
	width: 245px;
}
.instagram-contest p{
	max-width: 700px;
	margin: 0px auto 23px;
	font-size: 16px;
	line-height: 1.4;
}
.instagram-contest .photo-list{
	max-width: 1187px;
	margin: 20px auto;
	/*height: 350px;*/
}
.instagram-contest .photo-list ul{
	list-style: none;
}
.instagram-contest .photo-list ul > li{
	float: left;
	border: 1px solid #fff;
	border-left: 0px;
	border-top: 0px;
}
.instagram-contest .photo-list img{
	width:175px;
	height: 175px;
}
.btn-primary{
	background-color: #38aed2;
	text-transform: uppercase;
	border: none;
	padding: 12px 18px;
}
btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #2B9CBE;
  border-color: 1px solid #d7d7d7;
}
#map-canvas-wrapper {
	width: 100%;
	position: relative;
	height: 620px;
}
#map-canvas{
	height: 620px;
	width:100%;
	background-color: #38aed2;
}
.map-wrapper{
	position: relative;
	margin-top: 50px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.map-wrapper .modal-map{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 620px;
	background: RGBA(0,0,0,0.3);
}
.map-wrapper .modal-map .content {
	position: absolute;
	background: #fff;
  	padding: 42px 50px;
	left: 0;
	right: 0;
	bottom: 0px;
	top: 0px;
	margin: auto;
	max-height: 333px;
	max-width: 585px;
	text-align: center;
}
.map-wrapper .modal-map .content p{
	margin-bottom: 25px;
}
.map-wrapper .modal-map .content .title{
	font-weight: bold;
	font-size: 33px;
	font-family: 'Titillium Web';
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.map-wrapper .modal-map .btn-close{
	color: #000;
	background-color: #f5f5f5;
	padding:14px;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 18px;
	font-weight: bold;
	font-stretch: expanded;
	cursor: pointer;
}
.sidemenu-country-wrapper {
	position: absolute;
	top: 0px;
	right: 100%;
	height: 100%;
	background: #fff;
	padding: 30px 35px;
	width: 280px;
	/*right: 0px;*/
}
.sidemenu-country-wrapper .title{
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sidemenu-country-wrapper p{
	font-size: 14px;
}
.sidemenu-country-wrapper ul{
	list-style: none;
	padding: 0px;
}
.sidemenu-country-wrapper ul li:first-child{
	border-top: 1px solid #ddd;
}
.sidemenu-country-wrapper ul li {
	font-size: 14px;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	/*margin-top: 15px;*/
	cursor: pointer;
	font-weight: bold;
}
.sidemenu-country-wrapper ul li.active {
	color: #2ba9cf;
}
.sidemenu-country-wrapper ul li:hover{
	color: #2B9CBE;
}
.sidemenu-country-wrapper > button{
	bottom: 30px;
	position: absolute;
}

.sidedetail-event-wrapper {
	position: absolute;
	top: 0px;
    right: 0px;
	height: 100%;
	background: #FFF none repeat scroll 0% 0%;
	padding: 25px 35px;
	width: 50%;
	max-width: 600px;
	float: right;
}
.sidedetail-event-wrapper .navigation{
	color: #2B9CBE;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Titillium Web';
	height: 45px;
  	border-bottom: 1px solid #ddd;
}
.sidedetail-event-wrapper .navigation a{
	height: 30px;
	line-height: 30px;
	display: block;
	float: left;
}
.sidedetail-event-wrapper .navigation a.disabled {
	color: #b7b7b7;
}
.sidedetail-event-wrapper .navigation a.disabled:hover {
	text-decoration: none;
}
.sidedetail-event-wrapper .navigation .divider{
	height: 30px;
	width: 1px;
	display: block;
	float: left;
	border-left: 1px solid #d7d7d7;
	margin-left: 20px;
	margin-right: 19px;
}
.sidedetail-event-wrapper .btn-close{
	background-color: #f0f0f0;
	color: #000;
	font-weight: bold;
	border: none;
	font-family: 'Titillium Web';
	border-radius: 0px;
	width: 40px;
	font-size: 20px;
	margin-top: -10px;
}
.sidedetail-event-wrapper .title:first-child{
	font-size: 18px;
}
.sidedetail-event-wrapper .title{
	display: block;
	margin-top:0px;
	margin-bottom: 0px;
  	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#event_content{
	height: 100%;
	padding-right: 20px;
}

#event_content .title{
	margin-top: 24px;
}

.sidedetail-event-wrapper p.description{
	margin-top: 10px;
	font-size: 14px;
}
.sidedetail-event-wrapper p{
	margin-bottom: -10px;
}
.sidedetail-event-wrapper .organizer-wrapper .title{
  	font-size: 14px;
	margin-bottom: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sidedetail-event-wrapper .sponsor-wrapper .title{
  	font-size: 14px;
	margin-bottom: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.eventlist-wrapper{
	max-width: 960px;
	margin:28px auto 50px;
	text-align: center;
}
.eventlist-wrapper .title, .news .title {
	font-size: 33px;
	font-family: 'Titillium Web';
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.eventlist-wrapper .nav-tabs>li {
	background-color: #ebebeb;
	/* margin-left: -1px; */
	border-bottom: 1px solid #ebebeb;
	height: 50px;
	outline: none;
}
.eventlist-wrapper .nav-tabs>li>a {
	padding: 14px 17px;
	color: #000;
	margin-right: 0px;
	border-radius: 0px;
	border: 1px solid #ddd;
	border-bottom: 0;
	border-left: none;
}
.eventlist-wrapper .nav-tabs>li>a :hover{
	border: 1px solid #ddd;
}
.eventlist-wrapper .nav-tabs>li.active>a{
	clear: both;
	border: 1px solid transparent;
	border-left: none;
	outline: none;
}
.eventlist-wrapper .nav-tabs>li.active {
	border: 1px solid #ddd;
	border-bottom: 0px;
	border-left: none;
}
.eventlist-wrapper .nav-tabs>li:hover{
	border-bottom: 1px solid #2B9CBE;
}
.eventlist-wrapper .nav-tabs>li.active:hover {
	border-bottom: 1px solid #fff;
}
.eventlist-wrapper .nav-tabs>li.active>a:hover{
	border-bottom: 0px;
	background-color:#fff;
	border-color: transparent;
	color: #000;
}
.eventlist-wrapper .nav-tabs>li>a:hover{
	color: #fff;
	background-color: #2B9CBE;
	border-color: #2B9CBE;
}
.eventlist-wrapper .events-scroller {
	/* max-height: 390px; */
	/* overflow-y: scroll; */
}
.coloumn-head{
	/* margin-left: -1px; */
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #ddd;
}
.nav-tabs {
    border-bottom: 1px solid #DDD;
    width: 959px;
	border-left: 1px solid #ddd;
}
.coloumn-when{
	display: inline-block;
	width: 145px;
	/*width: 220px;*/
	padding: 15px 20px;
	font-weight: bold;
}
.coloumn-event{
	display: inline-block;
/*	width: 370px;*/
    width: 308px;
	padding: 15px 20px;
	font-weight: bold;
}
.coloumn-where{
	display: inline-block;
/*	width: 240px;*/
  	width: 230px;
	padding: 15px 20px;
	font-weight: bold;
}
.coloumn-city{
	display: inline-block;
	width: 190px;
	padding: 15px 20px;
	font-weight: bold;
}
.coloumn-detail{
  	padding: 5px 20px 35px;
	max-width: 850px;
	display: none;
}
.coloumn-detail .title{
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 0px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.coloumn-body{
	position: relative;
	/* margin-left: -1px; */
	/* border-left: 1px solid #ddd; */
	border-bottom: 1px solid #ddd;
	/* border-right: 1px solid #ddd; */
	background: url(../img/Button-OpenDropdown.png) no-repeat;
	background-position: top 10px right 30px;
	transition: 0.25s;
}
.coloumn-body.active{
	background: url(../img/Button-CloseDropdown.png) no-repeat;
	background-position: top 10px right 30px;
}
.coloumn-body .head{
	cursor: pointer;
}
.coloumn-body.active > span{
	position: absolute; 
	border-left: 5px solid #2B9CBE; 
	min-height: 100%; 
}
.coloumn-body .head > div{
	vertical-align: top;
}
.coloumn-body .organizer-wrapper{
	/*width:280px;*/
	/*width: 49%;*/
	display: inline-block;
	margin-top: -10px;
}
.coloumn-body .sponsor-wrapper{
	/*width:280px;*/
	/*width: 49%;*/
	display: inline-block;
	margin-top: -10px;
}
.coloumn-body .organizer-wrapper img,
.coloumn-body .sponsor-wrapper img {
	max-height: 40px;
	padding-right: 20px;
}
.coloumn-detail .organizer-wrapper .title, .coloumn-detail .sponsor-wrapper .title{
	margin-bottom: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.event-photo .photo-list{
	width: 100%;
	max-width: 1375px;
	margin: 20px auto;
	height: 350px;
}
.event-photo .photo-list ul{
	padding:0px;
	list-style: none;
}
.event-photo .photo-list ul > li{
	float: left;
	border: 1px solid #fff;
	border-left: 0px;
	border-top: 0px;
}
.news{
	padding: 35px;
	text-align: center;
	background-color: #f0f0f0;
	position:relative;
}
.title{
	font-family: 'Titillium Web';
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.news-list{
	margin-top: 15px;
	text-align: left;
	list-style: none;
}
.news-title{
	color: #000;
	font-weight: bold;	
	cursor: pointer;
}
.news-list ul{
	list-style: none;
	/* max-width: 960px; */
	margin: auto;
	/* max-height: 370px;
  	overflow-y: auto; */
	padding-left:0px;
}
.news-list  li{
	border-bottom: 1px solid #ddd;
	padding: 10px 20px;

	margin:auto;
}
.news-list  li:first-child{
	border-top: 1px solid #ddd;
}
.news-list  li .date{
	font-weight: normal;
	color:#777;
	width: 115px;
}
.eventsponsor{
	margin-top: 45px;
	text-align: center;
}
.eventsponsor .title{
	font-size: 14px;
}
.list-sponsor{
	position: relative;
	overflow: hidden;
	height: 100px;
}
.list-sponsor .item{
	float: left;
	margin:20px 35px;
}
/* carousel */
.media-carousel 
{
  margin:auto;
/*  padding: 0 40px 30px 40px;*/
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left {
  left: -9px;
  background-image: none;
  border: none;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width: 40px;
  margin-top: 22px;
  color: #777;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
	right: -9px !important;
	background-image: none;
	height: 40px;
	width: 40px;
	margin-top: 22px;
	color: #777;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
/*.media-carousel img
{
  width: 250px;
  height: 100px
}*/
/* End carousel */
.inner-item{
	padding: 8px 30px;
	display: inline-block;
}
#media .inner-item .thumbnail{
	border: 0px;
}
div#media {
	max-width: 1210px;
}
.carousel-control {
	color: #777;
	text-shadow: none;
	font-size: 30px;
}
.carousel-control:hover {
	color: #777;
	text-shadow: none;
}
.footer{
 	margin: 32px auto 50px;
	max-width: 1210px;
  	padding: 35px 0 25px;
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
}
.footer-menu{
	position: relative;
	height: 50px;
}
.footer-menu ul{
	padding: 0px;
	list-style: none;
	font-size: 14px;
}
.footer-menu ul li{
	display: inline-block;
}
.footer-menu ul li > a{
	color: #000;
	text-decoration: none;
	margin-right: 35px;
	font-family: 'Titillium Web';
}
.footer-menu ul li > a:hover {
	color: #37aed2;
	text-decoration: underline;
}
.social-media-wrapper{
	margin-top: -8px;
}
.social-media-wrapper > label{
	font-size: 14px;
	font-weight: normal;
	color: #777;
	margin-right: 18px;
	font-family: "Titillium Web", Roboto, sans-serif;
}
.footer .partner{
	font-size: 14px;
  	margin-top: 20px;
	text-align: center;
}
.footer .partner .partner-list{
	margin-top: 30px auto;
	list-style: none;
	padding: 0px;
}
.footer .partner .partner-list > li{
	margin: 3px 10px 3px 10px;
	display: inline-block;
}
.footer .copyright {
	text-align: center;
	font-size: 14px;
	color: #777;
	margin-top: 55px;
}

/*Instagram page*/
.cover-title-instagramcontent{
	font-family: 'Pacifico';
	font-weight: normal;
	font-size: 32px;
	margin-bottom: 10px;
}
.instagram-date{
	color: #da5b26;
  	margin-top: -40px;
}
.instagram-date .date{
	font-family: 'Pacifico';
	font-size: 130px;
	display: inline-block;
}
.instagram-date .line{
	background-color: #da5b26;
	height: 100px;
	width: 1px;
	display: inline-block;
	margin: -15px 25px;
}
.instagram-date .text{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}
.row.participate{
	margin-top: 45px;
	text-align: center;
}
.title-instagram{
	font-family: 'Pacifico';
	font-size: 32px;
	color: #035291
}
.participate-coloumn .text {
	display: inline-block;
	width: 400px;
	text-align: left;
	/*	font-weight: bold;*/
}
.participate-coloumn .number {
	display: inline-block;
	font-family: Pacifico;
	font-size: 75px;
	margin-right: -25px;
	border-bottom: 1px solid #ddd;
	float: left;
	margin-top: -45px;
}
.participate-coloumn {
	width: 465px;
	display: inline-block;
}
.participate .terms{
	margin-top: 15px;
	color: #777;
	font-size: 14px;
}
.row.prizes{
	margin-top: 45px;
	background-color: #f0f0f0;
	padding: 43px;
	text-align: center;
}
.row.prizes .coloumn{
	text-align: left;
	max-width: 515px;
}
label.title-coloumnprizes {
	font-size: 20px;
	font-weight: bold;
}
.row.prizes .coloumn-wrapper{
	margin: 20px auto;
	max-width: 980px;
}
.photo-list ul{
	list-style: none;
}
.photo-list ul > li{
/*	float: left;*/
	display: inline-block;
	border: 1px solid #fff;
	border-left: 0px;
	border-top: 0px;
}
.pagination>li>a, .pagination>li>span {
	border: 0;
	color: #777;
	cursor: pointer;
	padding: 2px;
	margin: 6px 12px;
	font-weight: bold;
}
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a,  .pagination>li:last-child>span {
	border: 0;
	color: #2B9CBE;
}
.pagination>li>a:hover, .pagination>li>span:hover{
	background-color: #fff;
	color: #000;
}
.btn-small{
	text-transform: none;  
	padding: 8px 20px;
}
.row-line{
	  padding: 45px 0;
	  max-width:1210px; 
	  border-bottom:1px solid #ddd; 
	  margin:auto;
}
.toc ul{
	margin: auto;
}
.toc ol li{
	text-align: left;
	line-height: 1.7;
	width: 100%;
	margin-bottom: 10px;
}
.cover-instagram-contest{
	color: da5b26;
}
span.toc-instagramcontest, a.toc-instagramcontest{
	/* color: #37aed2; */
	color:gray;
}
.cover-instagram-contest .cover-text-wrapper{
	background-color: #da5b26;
	color: #fff;
	float: left;
	padding: 5px 20px;
	margin-bottom: 20px;
}
.cover-instagram-contest .cover-text-description{
	color: #035392;
	font-weight: bold;
	font-size: 16px;
	margin-top: 77px;
	padding-left: 0;
}
#instagram-photolist li > img{
	width: 225px;
	height: 225px;
}
a.to_tnc, a.s_link {
	color: #37aed2;
}
a.to_tnc:hover, a.s_link:hover {
	text-decoration: underline;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>li>span:hover, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #fff;
	border-color: #fff;
	color: #000;
	border-bottom: 2px solid;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #fff;
	border-color: #fff;
	color: #000;
	border-bottom: 2px solid;
}
.top-text-share{
	list-style: none;
	vertical-align: middle;
	padding: 34px 30px;
	font-size: 16px;
	color: #777;
	margin-bottom: -7px;
}
.top-text-share a{
	color: #777;
}
.top-text-share a:hover, .top-text-share a:focus{
	color: #000;
	text-decoration: none;
}
.top-text-share .dropdown-menu>li>a{
	display: inline-block;
	padding: 0px;
}
.dropdown-menu:after {
	position: absolute;
	top: -12px;
	left: 134px;
	display: inline-block;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #ffffff;
	border-left: 12px solid transparent;
	content: '';
}
.dropdown-menu:before {
	position: absolute;
	top: -13px;
	left: 133px;
	display: inline-block;
	border-right: 13px solid transparent;
	border-bottom: 13px solid #ccc;
	border-left: 13px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.1);
	content: '';
}
.photo-list .thumbnail {
  border: 0px;
  padding: 0px;
  margin-bottom: 0px;
}
.photo-list .thumbnail a>img, .photo-list .thumbnail>img {
  margin: 0px;
}
.photo-list .col-md-2.col-sm-4 {
	padding: 0px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.photo-list .img-responsive{
	width: 100%;
}
.btn-share{
	margin-left: 13px;
	background-color: #fff;
	border: 1px solid #d7d7d7;
}
.btn-share{
	background-color: #fff;
	border: 1px solid #d7d7d7;
	font-size: 16px;
	padding: 6px 12px !important;
	/* margin-top: 8px !important; */
	margin-top: 15px !important;
	
}
.dropdown.open .btn-share, .btn-share:hover, .btn-share:focus {
	color: #fff !important;
	background-color: #2B9CBE !important;
	border: 1px solid #fff ;
	font-size: 16px;
}
.btn-share:hover>span{
	border-bottom: 0px !important;
}
.top-text-share a:hover{
	color: #fff;
	font-size: 16px;
}
.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

 .navbar-inner {
    text-align:center;
}
.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

/*mosaic start*/
.masonry-wrapper {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}
.masonry-wrapper #mcontainer {
	display:none;
	width:100%;
	padding:0;
	margin:0;
	overflow:hidden;
}
#mcontainer .item {
	display: block;
	float: left;
	margin:0;
	padding:0;
	position: relative;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
#mcontainer .item img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	padding: 0;
	margin: 0;
}
#mcontainer .item .mosaic_meta {
	z-index: 1;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	position: absolute;
	vertical-align: middle;
	text-align: center;
	/* background-color: rgba(0,0,0,0.45); */
	background-color: rgba(0,0,0,0.8);
	display: none;
	color: #dcdcdc;
	padding: 25% 10px 10px;
	font-family: Roboto, 'Titillium Web';
	font-size: 14px;
	font-weight: normal;
}
#mcontainer .item .mosaic_meta p {
	position: absolute;
	width: 90%;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	line-height: 1.4em;
}
#mcontainer .item .mosaic_meta p strong,
#mcontainer .item .mosaic_meta p i {
	display: block;
	padding-bottom: 7px;
}
#mcontainer .item .mosaic_meta p strong {
	font-size: 1.2em;
	font-weight: 700;
	/*border-bottom: 1px solid #ccc;*/
	margin-bottom: 3px;
}
/*mosaic end*/

/*instagram feeds*/
.instagram-feeds {
	position: relative;
	padding:0;
	margin:0;
	background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
	overflow: hidden;
}
.instagram_img_wrapper {
	position: relative;
}
.instagram-feeds .instagram_img {
	z-index: 1;
}
.instagram-feeds:hover {
}
.insta_meta_wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background-color: rgba(0,0,0,0.6);
	z-index: 1;
}
.instagram-feeds .instagram_meta {
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 1;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	line-height: 1.4em;
	position: absolute;
	vertical-align: middle;
	text-align: center;
	/*display: block;*/
	color: #dcdcdc;
}
.instagram-feeds .instagram_meta p {
	text-align: center;
	font-family: Roboto, 'Titillium Web';
	font-size: 14px;
	font-weight: normal;
}
.instagram-feeds .instagram_meta a {
	color: #fff;
	text-decoration: none;
	transition: 0.25s;
	margin-left: 0;
}
.instagram-feeds .instagram_meta a:hover {
	color: #dcdcdc;
	text-decoration: none;
}
.instagram-feeds .instagram_meta a.btn {
	color: #555;
	transition: 0.25s;
	margin: 0 auto;
}
.instagram-feeds .instagram_meta a.btn:hover {
	color: #000;
}
a.insta_link {
	font-size: 12px;
	white-space: nowrap;
}
/*end instagram feeds*/

/*form-event-wrapper*/
.form-event-wrapper{
	max-width: 835px;
	padding: 31px 50px 50px;
	background-color: #f0f0f0;
	margin: 50px auto;
}
.form-event-wrapper .title{
	font-size: 32px;
	text-align: center;
	margin-bottom: 25px;
}
.form-event-wrapper .form-control {
  border-radius: 0px;
  height: 40px;
  margin-bottom: 1px;
}
.form-event-wrapper label{
	width: 100%;
}
.form-event-wrapper label>span, .checkbox label {
	  float: right;
	  font-size: 12px;
	  color: #777;
}
.form-event-wrapper textarea.form-control {
	height: 245px;
}
.checkbox{
	  margin-bottom: 22px;
	  margin-top: 5px;
	  text-align: right;
}
.form-event-wrapper .form-control.map-event-wrapper{
	height: 230px;
	margin-top: -2px;
}
.form-event-wrapper .input-group-addon:last-child {
  border-radius: 0;
  background: #fff;
  width: 85px;
}
.form-event-wrapper .input-group{
	margin-bottom: -1px;
}
.btn-browse{
	height: 40px;
	border-radius: 0;
	margin-left: -1px;
	width: 85px;
	margin-top: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
}
.list-form-upload{
	margin-top: -50px;
	padding-left: 17px;
	list-style-type: decimal;
	-moz-margin-top:-35px;
}
.list-form-upload > li{
/*	padding-top: 25px;*/
/*	margin-top: 5px;*/
	padding-top: 5px;
  	margin-top: 30px;
	margin-bottom: 10px;
/*	display: block;*/
	position: relative;
}
@-moz-document url-prefix() {
	.list-form-upload > li{
		padding-top: 5px;
	  	margin-top: 50px;
		margin-bottom: 10px;
		position: relative;
	}
}
.list-form-upload  li > .input-group:first-child{
	width:100%; 
	padding-top: 0;
	margin-top: 0;
	margin-top: -20px;
}
.form-event-wrapper label>span.more{
	float: right;
	font-size: 12px;
	color: #2B9CBE;
	cursor: pointer;
	font-weight: normal;
}
.form-event-wrapper .form-control[readonly] {
	background-color: #fff;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.popovernote{
	margin: 15px;
	display: none;
	border: 1px solid #F0F0F0;
	box-shadow: none;
	margin-left: 15px;
	border-radius: 0;
	box-shadow: #888888 0 0 2px;
}
.popovernote li{
  	padding: 10px 15px;
}
.dropdown-menu.popovernote:after {
  	left: 20px;
}
.dropdown-menu.popovernote:before {
  	left: 19px;
}
ul.dropdown-menu.popovernote.top:before {
	left: 45%;
	bottom: -14px;
	top: auto;
	border-right: 13px solid transparent;
	border-top: 13px solid #ebebeb;
	border-left: 13px solid transparent;
	border-bottom: 0;
}
ul.dropdown-menu.popovernote.top:after {
	left: 45%;
	bottom: -13px;
	top: auto;
	border-right: 13px solid transparent;
	border-top: 13px solid #fff;
	border-left: 13px solid transparent;
	border-bottom: 0;
}
.dropdown-menu.popovernote.top.textarea{
	top: -80px
}
.dropdown-menu.popovernote.top {
  display: none;
  right: 0px;
  top: -60px;
}

.dropdown-menu.popovernote.top.checkbox {
  display: none;
  right: 0px;
  top: -75px;
  text-align: left;
}

.message-wrapper{
	max-width: 835px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: -20px;
	font-size: 16px;
}

/*end form event*/


.remove_me {
	position: absolute;
	right: 0px;
/*	top: 2px;*/
	top:-17px;
	padding: 1px 6px;
	border: 1px solid #ccc;
	background: #de1f00;
	color: #f5f5f5;
	border-radius: 3px;
	transition: 0.25s;
	z-index: 100;
}
.remove_me:hover {
	color: #fff;
	background: #fb2400;
	text-decoration: none;
}

@-moz-document url-prefix() {
	.remove_me {
		position: absolute;
		right: 0px;
	/*	top: 2px;*/
		top:-38px;
		padding: 1px 6px;
		border: 1px solid #ccc;
		background: #de1f00;
		color: #f5f5f5;
		border-radius: 3px;
		transition: 0.25s;
		z-index: 100;
	}
}

.eventsponsor .list_carousel ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.eventsponsor .list_carousel li {
	margin: 6px;
	display: block;
	float: left;
}
.eventsponsor .list_carousel li img{
	/* height: 100px; */
	height: 70px;
	padding-left: 10px;
	padding-right: 10px;
}
.eventsponsor .list_carousel.responsive {
	width: auto;
	margin-left: 0;
	margin-top: 32px;
	margin-bottom: 40px;
}
.eventsponsor .slider-control{
	font-size: 40px;
	margin-top: -60px;
	color: #d7d7d7;
	outline: none;
}
.clearfix {
	float: none;
	clear: both;
}	

/* AM */

/* tooltip */
.tooltip.left {
    margin-left: -3px;
    padding: 0px 9px 0px 3px;
	width: 200px;
}
.tooltip.right {
    padding: 0px 3px 0px 9px;
    margin-left: 3px;
	width: 200px;
}
.tooltip.bottom {
    margin-top: 3px;
    padding: 9px 0px;
}
.tooltip.top {
    margin-top: -3px;
    padding: 9px 0px;
}
.tooltip.top .tooltip-arrow {
    bottom: 0px;
    left: 50%;
    margin-left: -5px;
    border-width: 9px 9px 0px;
    border-top-color: #fff;
}
.tooltip.bottom .tooltip-arrow {
    top: 0px;
    left: 50%;
    margin-left: -5px;
    border-width: 0px 9px 9px;
    border-bottom-color: #fff;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0px;
    margin-top: -5px;
    border-left-color: #fff;
    border-width: 9px 0px 9px 9px;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0px;
    margin-top: -5px;
    border-width: 9px 9px 9px 0px;
    border-right-color: #fff;
}
.tooltip-inner {
    max-width: 400px;
    text-decoration: none;
    font-size: 14px;
	font-weight: normal;
	font-family: Roboto;
    text-align: left;
    border-radius: 0px;
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 2px #ddd;
}
/* end tooltip */

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    padding-top: 8px;
}

.socmed-share-content{
	margin-left: -100px;
	margin-top: 15px !important;
	border: 1px solid #F0F0F0;
}

.homepage .participate-coloumn {
    text-align: left;

}

.event-table-inner-content{
	text-align:left; 
	height:338px; 
	max-height:338px;
}

/* end ctd.css */
/*width 1200px*/
@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1852px) {}

@media only screen and (max-width: 1500px) {}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1200px) {}

@media (min-width: 1199px){
    .shrink .navbar-right {
        /* margin-right: -60px; */
		padding-top: 0px !important;
    }
}

@media(min-width:1021px) and (max-width:1199px){
	.nav>li>a {
	  padding-left: 9px;
	  padding-right: 9px;
	}
	.shrink .navbar-right {
        margin-right: 0px;
		padding-top: 0px !important;
		
    }
	.shrink .navbar-right .navbar-brand img{
		float: right;
	}
	.footer-menu ul li > a{
		  margin-right: 30px;
	}
	.participate-coloumn .text {
	  width: 400px !important;
	}
	.participate-coloumn {
	  width: 502px !important;
	  margin-bottom: 30px;
	  margin-right: 0 !important;
	}
}

@media (max-width:1200px) {
	.contestpage .participate .participate-coloumn {
		width: 331px !important;
		margin-bottom: 30px;
		margin-right: 0 !important;
	}
	.contestpage .participate .participate-coloumn .text {
		margin-left: 0 !important;
		margin-bottom: 20px;
		width: 230px !important;
	}
}

@media (max-width:1025px) {
	/* announcement content */
	.announcement-right-img-heart {
		width: 30%;
		text-align: center;
	}
	
	.announcement-right-img-text {
		width: 70%;
	}
	
	.col-sm-5-am {
		width: 25%;
	}
	/* end announcement content */

	/* content ints contest */
	.sponsored-by {
		width: 100%;
	}
	
	.supported-by {
		padding-top: 30px;
		padding-right: 0px;
	}
	
	.contestpage .participate-coloumn {
		margin: 0px auto !important;
	}
	.participate-coloumn {
		width: 360px !important;
	}
	.participate-coloumn .text {
		width: 83% !important;
	}
	/* end content ints contest */

	.footer-menu ul li > a{
		  margin-right: 30px;
	}
	.participate-coloumn .text {
	  width: 400px !important;
	}
	.contestpage .participate .participate-coloumn {
	  width: 602px !important;
	  margin-bottom: 30px;
	  margin-right: 0 !important;
	}
	.contestpage .participate .participate-coloumn .text {
		margin-left: 27px !important;
		margin-bottom: 20px;
		width: 425px !important;
	}
}

@media (max-width:981px){
	/* submit-photo */
	.form-event-wrapper {
		padding: 10px 30px;
	}
	/* end submit-photo */

	/* announcement content */

	.title-announcement-winner{
		font-family:Pacifico; 
		font-size:35px; 
		color:#DA5B26; 
		margin-bottom:20px; 
		margin-top:0px;
	}

	.col-sm-5-am{
		width: 33%;
		text-align:center;
		padding-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.runner-up-outer{
		display:table; 
		height:50px; 
		margin-top:5px; 
		width:100%;
		padding: 0px 25px;
	}
	
	.warning-text-runner-up{
		padding:0 30px;
	}
	/* end announcement content */

	.step-instagram-contest-am{
		text-align:center;
	}

	/* contest */
	.supported-by a img {
		padding: 0 20px;
		outline: medium none;
	}
	
	.supported-by{
		padding-top: 30px;
		padding-right: 0px;
	}
	
	.promote-contest-content .col-sm-6{
		width:50%;
		float: left;
	}
	.contestpage .instagram-contest .col-sm-2.instagram-feeds {
		width: 25%;
		float: left;
	}
	.get-detail-inst-contest{
		margin-top:0px!important;
	}
	.content-intagram-contest{
		margin-bottom:30px;
	}
	/* end contest */

	/* navigation */
	ul.nav.navbar-nav.navbar-center {
		width: 100%;
		margin-top: 15px;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.navbar-right-img {
		width: 100% !important;
		border-top: 1px solid #ddd;
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background: #fff;
		height: 100%;
		max-height: 480px;
		overflow: hidden;
		-webkit-box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
		box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
	}
	
	ul.nav.navbar-nav.navbar-right.top-menu-right {
		padding-right: 0px!important;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.center.navbar .nav, .center.navbar .nav > li {
		display: table;
		width: 100%;
	}
	
	.navbar-default .navbar-nav > li > a {
		text-align: left;
	}
	
	.center.navbar .nav, .center.navbar .nav .first a {
		padding-top: 3px;
		padding-bottom: 18px;
	}
	
	.navbar-nav > li > a {
		padding-top: 15px;
	}
	/* navigation */

	/* navigation 24may2015 */
	.navbar-default .navbar-nav>li>a:hover>span, .navbar-default .navbar-nav>.active>a>span,.navbar-default .navbar-nav>.current>a>span, .navbar-default .navbar-nav>.active>a:focus>span, .navbar-default .navbar-nav>.active>a:hover>span{
		padding-top: 15px;
		margin-top:-3px;
	}
	.nav > li > a {
		padding: 10px 0px;
	}
	
	.btn-share {
		margin-left: 0px;
	}
	.navbar-collapse {
		padding-right: 30px;
		padding-left: 30px;
	}
	.btn-share {
		margin-top: 30px!important;
	}
	.navbar-default .navbar-nav>li>.btn-share:hover>span, .navbar-default .navbar-nav>.active>.btn-share>span,.navbar-default .navbar-nav>.current>.btn-share>span, .navbar-default .navbar-nav>.active>.btn-share:focus>span, .navbar-default .navbar-nav>.active>.btn-share:hover>span{
		padding-top: 15px;
		margin-top:0px;
	}
	.socmed-share-content {
		margin-left: 0px;
	}
	.socmed-share-content li a img{
		width: 115px;
		height: 39px;
	}
	.navbar-nav .open .dropdown-menu {
		position: relative;
		box-shadow: 0px 0px 2px #DDD;
		border: 1px solid #ddd;
		top: 0px;
		width:275px;
	}
	.shrink .navbar-collapse {
		height: 340px!important;
		max-height: 340px!important;
		border-bottom:1px solid #ddd;
	}
	.shrink .navbar-right-img img {
		max-height: 104px!important;
	}
	/* end navigation 24may2015 */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .participate-coloumn .text {
		width: 90% !important;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		float: none !important;
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 498px !important;
	}
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */

	.eventlist-wrapper .nav-tabs{
		width: 100%;
	}
	.content-event-table{
		width: 100% !important;
		max-width: 100% !important;
	}
	.row.eventlist-wrapper{
		width: 100%;
	}
	.row.background-cover .pull-left {
	  max-width: 530px;
	}
	.footer>.footer-menu>ul.pull-left {
	  float: none !important;
	  text-align: center;
	}
	.footer>.footer-menu>.social-media-wrapper.pull-right {
	  margin-top: 20px;
	  float: none !important;
	  text-align: center;
	}
	.footer-menu {
		height: 80px;
	}
	.coloumn-where{
		width: 180px;
	}
	.cover-instagram-contest{
		text-align: center;
	}
	.cover-instagram-contest .instagram-date {
	  	text-align: center;
	}
	.cover-instagram-contest .instagram-date .text {
	  	text-align: left;
	}
	.cover-instagram-contest .cover-text-description{
		text-align: center;
  		margin: auto;
	}
	.contestpage .participate-coloumn {
	    width: 440px !important;
  		margin: 0px auto !important;
	}
	.contestpage .participate-coloumn .text {
	  margin-left: 40px !important;
	  margin-bottom: 20px;
	  width: 324px !important;
	}
	.contestpage .prizes{
	  padding: 10px;
	}
	.contestpage .prizes .coloumn {
		margin-bottom: 20px;
		margin:auto;
	}
	.contestpage .prizes img {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	.contestpage .cover-instagram-contest .cover-text-wrapper {
		margin: auto;
		float: none;
		width: 100%;
	}
	.prizes .col-md-6.coloumn .col-md-6 {
	  width: 50%;
	  float: left;
	  margin-bottom: 40px;
	}
	.homepage .participate-coloumn {
    	width: 695px !important;
		margin-bottom: 30px;
		margin-right: 0 !important;
		text-align:left;
	}
	.homepage .participate-coloumn .text {
		width: 90%!important;
	}
}

@media (max-width:961px){
	/* announcement content */
	
	.title-announcement-winner{
		font-family:Pacifico; 
		font-size:35px; 
		color:#DA5B26; 
		margin-bottom:20px; 
		margin-top:0px;
	}

	.col-sm-5-am{
		width: 33%;
		text-align:center;
		padding-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.runner-up-outer{
		display:table; 
		height:50px; 
		margin-top:5px; 
		width:100%;
		padding: 0px 22px;
	}
	
	.warning-text-runner-up{
		padding:0 30px;
	}
	/* end announcement content */

	/* navigation 24may2015 */
	.navbar-right-img {
		width: 100% !important;
		border-top: 1px solid #ddd;
	}
	
	.navbar-default .navbar-nav>li>a:hover>span, .navbar-default .navbar-nav>.active>a>span,.navbar-default .navbar-nav>.current>a>span, .navbar-default .navbar-nav>.active>a:focus>span, .navbar-default .navbar-nav>.active>a:hover>span{
		padding-top: 15px;
		margin-top:-3px;
	}
	.nav > li > a {
		padding: 10px 0px;
	}
	
	.btn-share {
		margin-left: 0px;
	}
	.navbar-collapse {
		padding-right: 30px;
		padding-left: 30px;
	}
	.btn-share {
		margin-top: 30px!important;
	}
	.navbar-default .navbar-nav>li>.btn-share:hover>span, .navbar-default .navbar-nav>.active>.btn-share>span,.navbar-default .navbar-nav>.current>.btn-share>span, .navbar-default .navbar-nav>.active>.btn-share:focus>span, .navbar-default .navbar-nav>.active>.btn-share:hover>span{
		padding-top: 15px;
		margin-top:0px;
	}
	.socmed-share-content {
		margin-left: 0px;
	}
	.socmed-share-content li a img{
		width: 115px;
		height: 39px;
	}
	.navbar-nav .open .dropdown-menu {
		position: relative;
		box-shadow: 0px 0px 2px #DDD;
		border: 1px solid #ddd;
		top: 0px;
		width:275px;
	}
	.shrink .navbar-collapse {
		height: 340px!important;
		max-height: 340px!important;
		border-bottom:1px solid #ddd;
	}
	.shrink .navbar-right-img img {
		max-height: 104px!important;
	}
	/* end navigation 24may2015 */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .participate-coloumn .text {
		width: 90% !important;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		float: none !important;
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 350px !important;
	}
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */

	.row.background-cover .pull-left {
	  max-width: 530px;
	}
	.footer>.footer-menu>ul.pull-left {
	  float: none !important;
	  text-align: center;
	}
	.footer>.footer-menu>.social-media-wrapper.pull-right {
	  margin-top: 20px;
	  float: none !important;
	  text-align: center;
	}
	.footer-menu {
		height: 80px;
	}
}

@media (max-width:901px){
	/* announcement content */
	
	.title-announcement-winner{
		font-family:Pacifico; 
		font-size:35px; 
		color:#DA5B26; 
		margin-bottom:20px; 
		margin-top:0px;
	}

	.col-sm-5-am{
		width: 33%;
		text-align:center;
		padding-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.runner-up-outer{
		display:table; 
		height:50px; 
		margin-top:5px; 
		width:100%;
		padding: 0px 15px;
	}
	
	.warning-text-runner-up{
		padding:0 30px;
	}
	/* end announcement content */

	/* navigation 24may2015 */
	.navbar-right-img {
		width: 100% !important;
		border-top: 1px solid #ddd;
	}
	
	.navbar-default .navbar-nav>li>a:hover>span, .navbar-default .navbar-nav>.active>a>span,.navbar-default .navbar-nav>.current>a>span, .navbar-default .navbar-nav>.active>a:focus>span, .navbar-default .navbar-nav>.active>a:hover>span{
		padding-top: 15px;
		margin-top:-3px;
	}
	.nav > li > a {
		padding: 10px 0px;
	}
	
	.btn-share {
		margin-left: 0px;
	}
	.navbar-collapse {
		padding-right: 30px;
		padding-left: 30px;
	}
	.btn-share {
		margin-top: 30px!important;
	}
	.navbar-default .navbar-nav>li>.btn-share:hover>span, .navbar-default .navbar-nav>.active>.btn-share>span,.navbar-default .navbar-nav>.current>.btn-share>span, .navbar-default .navbar-nav>.active>.btn-share:focus>span, .navbar-default .navbar-nav>.active>.btn-share:hover>span{
		padding-top: 15px;
		margin-top:0px;
	}
	.socmed-share-content {
		margin-left: 0px;
	}
	.socmed-share-content li a img{
		width: 115px;
		height: 39px;
	}
	.navbar-nav .open .dropdown-menu {
		position: relative;
		box-shadow: 0px 0px 2px #DDD;
		border: 1px solid #ddd;
		top: 0px;
		width:275px;
	}
	.shrink .navbar-collapse {
		height: 340px!important;
		max-height: 340px!important;
		border-bottom:1px solid #ddd;
	}
	.shrink .navbar-right-img img {
		max-height: 104px!important;
	}
	/* end navigation 24may2015 */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 485px !important;
		margin-right: 0px !important;
	}
	.homepage .participate-coloumn .text {
		width: 90% !important;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		float: none !important;
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 498px !important;
	}
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */

	.homepage .background-cover {
	  padding: 0 10px;
	}
	.homepage .row.background-cover .pull-left{
		margin: auto;
  		float: none !important;
		margin-top: 80px !important;
  		max-width: 465px;
	}
	.homepage .cover-text-wrapper {
	  font-size: 24px;
	  text-align: center;
	}
	.homepage .background-cover .cover-right {
		margin-top: 10px;
		margin-bottom: 50px;
		float: none !important;
	}
	.homepage .background-cover .pull-left .line {
	  border-bottom: 1px solid #fff;
	  width: 230px;
	  margin: 0px auto 20px;
	}
	.homepage .contestpage .participate .participate-coloumn {
/*	  width: 385px !important;
	  margin-right: 0 !important;*/
	  width: 485px !important;
	  display: block;
	  margin: 35px auto !important;
	}
	.homepage .participate-coloumn .text {
	  width: 325px !important;
	}
	.homepage .coloumn-event {
	  	display: inline-block;
	 	width: 233px;
	}
}

@media (min-width: 641px) and (max-width: 800px){
	/* announcement content */
	
	.announcement-right-img-heart {
		width: 30%;
		text-align: center;
	}
	
	.announcement-right-img-text {
		width: 70%;
	}
	
	.title-announcement-winner{
		font-family:Pacifico; 
		font-size:35px; 
		color:#DA5B26; 
		margin-bottom:20px; 
		margin-top:0px;
	}

	.col-sm-5-am{
		width: 33%;
		text-align:center;
		padding-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.runner-up-outer{
		display:table; 
		height:50px; 
		margin-top:5px; 
		width:100%;
		padding: 0;
	}
	
	.warning-text-runner-up{
		padding:0 30px;
	}
	/* end announcement content */

	/* navigation 24may2015 */
	.navbar-right-img {
		width: 100% !important;
		border-top: 1px solid #ddd;
	}
	
	.navbar-default .navbar-nav>li>a:hover>span, .navbar-default .navbar-nav>.active>a>span,.navbar-default .navbar-nav>.current>a>span, .navbar-default .navbar-nav>.active>a:focus>span, .navbar-default .navbar-nav>.active>a:hover>span{
		padding-top: 15px;
		margin-top:-3px;
	}
	.nav > li > a {
		padding: 10px 0px;
	}
	
	.btn-share {
		margin-left: 0px;
	}
	.navbar-collapse {
		padding-right: 30px;
		padding-left: 30px;
	}
	.btn-share {
		margin-top: 30px!important;
	}
	.navbar-default .navbar-nav>li>.btn-share:hover>span, .navbar-default .navbar-nav>.active>.btn-share>span,.navbar-default .navbar-nav>.current>.btn-share>span, .navbar-default .navbar-nav>.active>.btn-share:focus>span, .navbar-default .navbar-nav>.active>.btn-share:hover>span{
		padding-top: 15px;
		margin-top:0px;
	}
	.socmed-share-content {
		margin-left: 0px;
	}
	.socmed-share-content li a img{
		width: 115px;
		height: 39px;
	}
	.navbar-nav .open .dropdown-menu {
		position: relative;
		box-shadow: 0px 0px 2px #DDD;
		border: 1px solid #ddd;
		top: 0px;
		width:275px;
	}
	.shrink .navbar-collapse {
		height: 340px!important;
		max-height: 340px!important;
		border-bottom:1px solid #ddd;
	}
	.shrink .navbar-right-img img {
		max-height: 104px!important;
	}
	/* end navigation 24may2015 */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .participate-coloumn .text {
		width: 90% !important;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		float: none !important;
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 498px !important;
	}
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */
	
	.homepage .background-cover {
	  padding: 0 10px;
	}
	.homepage .row.background-cover .pull-left{
		margin: auto;
  		float: none !important;
		margin-top: 80px !important;
  		max-width: 465px;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
  		float: none !important;
	}
	.homepage .cover-text-wrapper {
	  font-size: 24px;
	  text-align: center;
	}
	.homepage .background-cover .cover-right {
		margin-top: 10px;
		margin-bottom: 50px;
		float: none !important;
	}
	.homepage .participate-coloumn {
	  width: 100%;
	}
	.homepage .participate-coloumn .number {
	  font-size: 50px;
	  margin-top: -25px;
	}
	.homepage  .coloumn-event {
	  width: 118px;
	  padding: 5px 10px;
	}
	.homepage .coloumn-where {
	  display: inline-block;
	  width: 125px;
	  padding: 5px 10px;
	  font-weight: bold;
	}
	.homepage .coloumn-city {
	  display: inline-block;
	  width: 100px;
	  padding: 5px 10px;
	  font-weight: bold;
	}
	.homepage .participate-coloumn .text {
		width: 420px;
	}
	.homepage ul.nav.nav-tabs {
	  width: 100%;
	}
	.homepage .content-event-table {
	  width: 100%;
	}
	.homepage .background-cover .pull-left .line {
	  border-bottom: 1px solid #fff;
	  width: 230px;
	  margin: 0px auto 20px;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		float: none !important;
		margin: auto;
	}
	.coloumn-when {
	  display: inline-block;
	  width: 112px;
	  padding: 5px 10px;
	  font-weight: bold;
	}
	.coloumn-body {
	  padding: 15px 0;
	}
	.prizes .coloumn-wrapper .col-md-6.coloumn .col-md-6 {
	  width: 50%;
	  float: left;
	  margin-bottom: 10px;
	}
	.contestpage .instagram-contest .col-sm-2.instagram-feeds {
	  width: 25%;
	  float: left;
	}
	.footer-menu ul li {
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 1px;
	}
	.footer-menu {
	  height: 130px;
	}
	.social-media-wrapper.pull-right > a {
	  display: inline-block;
	}
	.social-media-wrapper > label {
		display: block;
	}
	
	.footer-menu ul li > a {
	  margin-right: 25px;
	}
	.footer .partner {
	  font-size: 13px;
 	 }
	  
/*about*/
	.containt-800 {
	  width: 100% !important;
	  max-width: 100% !important;
	}
	.containt-800 .col-sm-3 {
	  width: 25%;
	  float: left;
	}
	.coverinstagramcontestpage{
		padding: 5px !important;
	}
	.contestpage .cover-instagram-contest {
	  text-align: center;
	}
	.contestpage .cover-instagram-contest .cover-text-wrapper {
	  margin: auto;
	  float: none;
	  width: 430px;
	}
	.cover-instagram-contest .cover-text-description {
	  margin-top: 5px;
	  max-width: 100%;
	}
	.contestpage .cover-title-instagramcontent {
  		font-size: 24px;
	}
	 .participate {
	  	padding: 0 20px;
	}
	.contestpage .participate .title-instagram {
	  font-size: 28px;
	}
	.contestpage .participate-coloumn {
	  width: 330px !important;
	}
	.contestpage .participate-coloumn .text {
	  margin-left: 40px !important;
	  margin-bottom: 20px;
	}
	.contestpage .prizes{
	  padding: 10px;
	}
	.contestpage .prizes .coloumn {
		margin-bottom: 20px;
		margin:auto;
	}
	.contestpage .prizes img {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	.contestpage .row.participate.row-line{
		margin-top:0px !important;
		padding: 0px 0 40px;
	}
	.contestpage .row.participate.row-line .col-sm-3{
		text-align: center !important;
		float:left;
	}
}

@media only screen and (max-width: 768px) {
	/* announcement content */
	
	.title-announcement-winner{
		font-family:Pacifico; 
		font-size:35px; 
		color:#DA5B26; 
		margin-bottom:20px; 
		margin-top:0px;
	}

	.col-sm-5-am{
		width: 33%;
		text-align:center;
		padding-bottom: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.runner-up-outer{
		display:table; 
		height:50px; 
		margin-top:5px; 
		width:100%;
		padding: 0;
	}
	
	.warning-text-runner-up{
		padding:0 30px;
	}
	/* end announcement content */

	/* submit-photo */
	.form-event-wrapper {
		padding: 10px 30px;
	}
	/* end submit-photo */

	/* contest */
	.promote-contest-content .col-sm-6{
		width:50%;
		float: left;
	}
	.supported-by {
		padding-top: 30px;
		padding-right: 0px;
	}
	/* end contest */

	/* navigation 24may2015 */
	.navbar-right-img {
		width: 100% !important;
		border-top: 1px solid #ddd;
	}
	
	.navbar-default .navbar-nav>li>a:hover>span, .navbar-default .navbar-nav>.active>a>span,.navbar-default .navbar-nav>.current>a>span, .navbar-default .navbar-nav>.active>a:focus>span, .navbar-default .navbar-nav>.active>a:hover>span{
		padding-top: 15px;
		margin-top:-3px;
	}
	.nav > li > a {
		padding: 10px 0px;
	}
	
	.btn-share {
		margin-left: 0px;
	}
	.navbar-collapse {
		padding-right: 30px;
		padding-left: 30px;
	}
	.btn-share {
		margin-top: 30px!important;
	}
	.navbar-default .navbar-nav>li>.btn-share:hover>span, .navbar-default .navbar-nav>.active>.btn-share>span,.navbar-default .navbar-nav>.current>.btn-share>span, .navbar-default .navbar-nav>.active>.btn-share:focus>span, .navbar-default .navbar-nav>.active>.btn-share:hover>span{
		padding-top: 15px;
		margin-top:0px;
	}
	.socmed-share-content {
		margin-left: 0px;
	}
	.socmed-share-content li a img{
		width: 115px;
		height: 39px;
	}
	.navbar-nav .open .dropdown-menu {
		position: relative;
		box-shadow: 0px 0px 2px #DDD;
		border: 1px solid #ddd;
		top: 0px;
		width:275px;
	}
	/* .shrink .navbar-collapse {
		height: 500px !important;
		max-height: 500px !important;
		border-bottom: 1px solid #DDD;
	} */
	
	.shrink .navbar-collapse {
		height: 450px !important;
		max-height: 500px !important;
		border-bottom: 1px solid #DDD;
	}
	
	.shrink .navbar-right-img img {
		max-height: 104px!important;
	}
	/* end navigation 24may2015 */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .participate-coloumn .text {
		width: 90% !important;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		float: none !important;
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 498px !important;
	}
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */
}

@media (min-width: 481px) and (max-width: 640px){
	.event-table-inner-content {
		height: 330px;
		max-height: 330px;
	}
	
	/* announcement content */
	.left-winner-contest-ctd {
		min-height: 360px;
	}
	
	#containingBlock {
		height: 550px;
	}
	
	.announcement-right-img-heart {
		width: 30%;
		text-align: center;
	}
	
	.announcement-right-img-text {
		width: 70%;
	}
	
	#containingBlock {
		padding-left: 10px;
	}
	
	.title-announcement-winner{
		font-size: 60px;
	}

	.col-sm-5-am{
		width:50%;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.runner-up-outer{
		padding: 0 20px;
	}
	
	.warning-text-runner-up{
		padding:0 20px;
	}
	/* end announcement content */

	/* submit-photo */
	.form-event-wrapper {
		padding: 10px 20px;
	}
	/* end submit-photo */

	/* contest */
	.promote-contest-content .col-sm-6{
		width:50%;
		float: left;
	}
	/* end contest */
	
	/* navigation */
	ul.nav.navbar-nav.navbar-center {
		width: 100%;
		margin-top: 15px;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.navbar-right-img {
		width: 100% !important;
		border-top: 1px solid #ddd;
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background: #fff;
		height: 100%;
		max-height: 200px;
		overflow: auto;
		-webkit-box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
		box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
	}
	
	ul.nav.navbar-nav.navbar-right.top-menu-right {
		padding-right: 0px!important;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.center.navbar .nav, .center.navbar .nav > li {
		display: table;
		width: 100%;
	}
	
	.navbar-default .navbar-nav > li > a {
		text-align: left;
	}
	
	.center.navbar .nav, .center.navbar .nav .first a {
		padding-top: 3px;
		padding-bottom: 18px;
	}
	
	.navbar-nav > li > a {
		padding-top: 15px;
	}
	.shrink .navbar-collapse {
		height: 200px!important;
		max-height: 200px!important;
		border-bottom:1px solid #ddd;
	}
	/* navigation */
	
	/* navigation 24may2015 */
	.navbar-right-img {
		width: 100% !important;
		border-top: 1px solid #ddd;
	}
	
	.navbar-default .navbar-nav>li>a:hover>span, .navbar-default .navbar-nav>.active>a>span,.navbar-default .navbar-nav>.current>a>span, .navbar-default .navbar-nav>.active>a:focus>span, .navbar-default .navbar-nav>.active>a:hover>span{
		padding-top: 15px;
		margin-top:-3px;
	}
	.nav > li > a {
		padding: 10px 0px;
	}
	
	.btn-share {
		margin-left: 0px;
	}
	.navbar-collapse {
		padding-right: 30px;
		padding-left: 30px;
	}
	.btn-share {
		margin-top: 30px!important;
	}
	.navbar-default .navbar-nav>li>.btn-share:hover>span, .navbar-default .navbar-nav>.active>.btn-share>span,.navbar-default .navbar-nav>.current>.btn-share>span, .navbar-default .navbar-nav>.active>.btn-share:focus>span, .navbar-default .navbar-nav>.active>.btn-share:hover>span{
		padding-top: 15px;
		margin-top:0px;
	}
	.socmed-share-content {
		margin-left: 0px;
	}
	.socmed-share-content li a img{
		width: 115px;
		height: 39px;
	}
	.navbar-nav .open .dropdown-menu {
		position: relative;
		box-shadow: 0px 0px 2px #DDD;
		border: 1px solid #ddd;
		top: 0px;
		width:275px;
	}
	.shrink .navbar-right-img img {
		max-height: 104px!important;
	}
	/* end navigation 24may2015 */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .participate-coloumn .text {
		width: 90% !important;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		float: none !important;
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 498px !important;
	}
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */
	
	.homepage .background-cover {
	  padding: 0 10px;
	}
	.homepage .row.background-cover .pull-left{
		margin: auto;
  		float: none !important;
		margin-top: 80px !important;
  		max-width: 465px;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
  		float: none !important;
	}
	.homepage .cover-text-wrapper {
	  font-size: 24px;
	  text-align: center;
	}
	.homepage .background-cover .cover-right {
		margin-top: 10px;
		margin-bottom: 50px;
		float: none !important;
	}
	.homepage .participate-coloumn {
	  width: 100%;
	}
	.homepage .participate-coloumn .number {
	  font-size: 50px;
	  margin-top: -25px;
	}
	.homepage  .coloumn-event {
	  width: 118px;
	  padding: 5px 10px;
	}
	.homepage .coloumn-where {
	  display: inline-block;
	  width: 115px;
	  padding: 5px 10px;
	  font-weight: bold;
	}
	.homepage .coloumn-city {
	  display: inline-block;
	  width: 100px;
	  padding: 5px 10px;
	  font-weight: bold;
	}
	.homepage ul.nav.nav-tabs {
	  width: 100%;
	}
	.homepage .content-event-table {
	  width: 100%;
	}
	.homepage .background-cover .pull-left .line {
	  border-bottom: 1px solid #fff;
	  width: 230px;
	  margin: 0px auto 20px;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		float: none !important;
		margin: auto;
	}
	.coloumn-when {
	  display: inline-block;
	  width: 112px;
	  padding: 5px 10px;
	  font-weight: bold;
	}
	.coloumn-body {
	  padding: 15px 0;
	}
	.prizes .coloumn-wrapper .col-md-6.coloumn .col-md-6 {
	  width: 50%;
	  float: left;
	  margin-bottom: 10px;
	}
	.contestpage .instagram-contest .col-sm-2.instagram-feeds {
	  width: 50%;
	  float: left;
	}
	.footer-menu ul li {
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 1px;
	}
	.footer-menu {
	  height: 130px;
	}
	.social-media-wrapper.pull-right > a {
	  display: inline-block;
	}
	.social-media-wrapper > label {
		display: block;
	}
	
	.footer-menu ul li > a {
	  margin-right: 25px;
	}
	.footer .partner {
	  font-size: 13px;
 	 }
	  
/*about*/
	
	.embed-youtube{
		height: 350px !important;
	}
	.last-fact{
		margin-top:15px;
	}

	.containt-800 {
	  width: 100% !important;
	  max-width: 100% !important;
	}
	.containt-800 > .row > .col-sm-3 > div {
		border-right: 0px !important;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 10px;
		padding-top: 10px;
	}	
	
	.coverinstagramcontestpage{
		padding: 5px !important;
	}
	.contestpage .cover-instagram-contest {
	  text-align: center;
	}
/*	.contestpage .instagram-date .text {
		border-top: 1px solid;
		padding: 15px 0;
	}*/
	.contestpage .cover-title-instagramcontent {
  		font-size: 24px;
	}
/*	.contestpage 
	
	.instagram-date .line{
		display: block;
	}*/
	
	.cover-instagram-contest .cover-text-wrapper {
		float: none;
	}
	
	 .participate {
	  	padding: 0 20px;
	}
	.contestpage .participate .title-instagram {
	  font-size: 28px;
	}
	.contestpage .participate .participate-coloumn{
	  width: 100% !important;
	}
	.contestpage .participate-coloumn .text {
      width: 390px!important;
	  margin-left: 40px !important;
	  margin-bottom: 20px;
	}
	.contestpage .prizes{
	  padding: 10px;
	}
	.contestpage .prizes .coloumn {
		margin-bottom: 20px;
	}
	.contestpage .prizes img {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	.contestpage .row.participate.row-line{
		margin-top:0px !important;
		padding: 0px 0 40px;
	}
	.contestpage .row.participate.row-line .col-sm-3{
		text-align: center !important;
		float:left;
	}
	/*submit event*/
}

@media only screen and (max-width: 480px){
	.event-table-inner-content {
		height: 450px;
		max-height: 450px;
	}
	
	/* announcement content */
	.left-winner-contest-ctd {
		min-height: 360px;
	}
	
	#containingBlock {
		height: 550px;
	}
	
	.announcement-right-img-heart {
		width: 30%;
		text-align: center;
	}
	
	.announcement-right-img-text {
		width: 70%;
	}
	
	#containingBlock {
		padding-left: 10px;
	}
	
	.title-announcement-winner{
		font-size: 60px;
	}

	.col-sm-5-am{
		width:50%;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.runner-up-outer{
		padding: 0;
	}
	
	.warning-text-runner-up{
		padding:0 20px;
	}
	/* end announcement content */
	
	/* submit-photo */
	.form-event-wrapper {
		padding: 10px 20px;
	}
	/* end submit-photo */

	/* contest */
	.contestpage .instagram-contest .col-sm-2.instagram-feeds {
		width: 50%;
		float: left;
	}
	.promote-contest-content .col-sm-6 {
		width: 50%;
		float: left;
	}
	/* end contest */

	/* about */
	.embed-youtube{
		height: 260px !important;
	}
	.last-fact{
		margin-top:15px;
	}
	/* end about */
	
	/* navigation */
	ul.nav.navbar-nav.navbar-center {
		width: 100%;
		margin-top: 15px;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.navbar-right-img {
		width: 100% !important;
		border-top: 1px solid #ddd;
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background: #fff;
		height: 100%;
		max-height: 185px;
		overflow: auto;
		-webkit-box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
		box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
	}
	
	ul.nav.navbar-nav.navbar-right.top-menu-right {
		padding-right: 0px!important;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.center.navbar .nav, .center.navbar .nav > li {
		display: table;
		width: 100%;
	}
	
	.navbar-default .navbar-nav > li > a {
		text-align: left;
	}
	
	.center.navbar .nav, .center.navbar .nav .first a {
		padding-top: 3px;
		padding-bottom: 18px;
	}
	
	.navbar-nav > li > a {
		padding-top: 15px;
	}
	.shrink .navbar-collapse {
		height: 180px!important;
		max-height: 180px!important;
		border-bottom:1px solid #ddd;
	}
	/* navigation */
	
	/* navigation 24may2015 */
	.navbar-right-img {
		width: 100% !important;
		border-top: 1px solid #ddd;
	}
	
	.navbar-default .navbar-nav>li>a:hover>span, .navbar-default .navbar-nav>.active>a>span,.navbar-default .navbar-nav>.current>a>span, .navbar-default .navbar-nav>.active>a:focus>span, .navbar-default .navbar-nav>.active>a:hover>span{
		padding-top: 15px;
		margin-top:-3px;
	}
	.nav > li > a {
		padding: 10px 0px;
	}
	
	.btn-share {
		margin-left: 0px;
	}
	.navbar-collapse {
		padding-right: 30px;
		padding-left: 30px;
	}
	.btn-share {
		margin-top: 30px!important;
	}
	.navbar-default .navbar-nav>li>.btn-share:hover>span, .navbar-default .navbar-nav>.active>.btn-share>span,.navbar-default .navbar-nav>.current>.btn-share>span, .navbar-default .navbar-nav>.active>.btn-share:focus>span, .navbar-default .navbar-nav>.active>.btn-share:hover>span{
		padding-top: 15px;
		margin-top:0px;
	}
	.socmed-share-content {
		margin-left: 0px;
	}
	.socmed-share-content li a img{
		width: 115px;
		height: 39px;
	}
	.navbar-nav .open .dropdown-menu {
		position: relative;
		box-shadow: 0px 0px 2px #DDD;
		border: 1px solid #ddd;
		top: 0px;
		width: 100%;
	}
	.shrink .navbar-right-img img {
		max-height: 104px!important;
	}
	/* end navigation 24may2015 */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .participate-coloumn .text {
		width: 80% !important;
	}
	.homepage .instagram-contest img.img-responsive.pull-right {
		float: none !important;
		margin: auto;
		text-align:center;
	}
	/* end content inst contest */
	
	/* content event table */
	.row.eventlist-wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 350px !important;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */
	
	.homepage .background-cover {
	  padding: 0 10px;
	}
	.homepage .row.background-cover .pull-left{
		margin-top: 80px !important;
	}
	.homepage .cover-text-wrapper {
	  font-size: 24px;
	  text-align: center;
	}
	.homepage .background-cover .cover-right {
		margin-top: 10px;
		margin-bottom: 50px;
		float: none !important;
	}
	.homepage .participate-coloumn {
	  width: 100%;
	}
	.homepage .participate-coloumn .number {
	  font-size: 50px;
	  margin-top: -25px;
	}
	.homepage  .coloumn-event {
	  width: 100%;
	}
	.homepage ul.nav.nav-tabs {
	  width: 100%;
	}
	.homepage .content-event-table {
	  width: 100%;
	}
	.footer-menu ul li {
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 1px;
	}
	.footer-menu {
	  height: 110px;
	}
	.social-media-wrapper.pull-right > a {
	  display: inline-block;
	}
	.social-media-wrapper > label {
		display: block;
	}
	
	.footer-menu ul li > a {
	  margin-right: 0px;
	}
	.footer .partner {
	  font-size: 13px;
 	 }
	.containt-800 {
	  width: 100% !important;
	  max-width: 100% !important;
	}
	.containt-800 > .row > .col-sm-3 > div {
		border-right: 0px !important;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 10px;
		padding-top: 10px;
	}	
	
	.coverinstagramcontestpage{
		padding: 5px !important;
	}
	.contestpage .cover-instagram-contest {
	  text-align: center;
	}
	.contestpage .instagram-date .text {
		border-top: 1px solid;
		padding: 15px 0;
	}
	.contestpage .cover-title-instagramcontent {
  		font-size: 24px;
	}
	.contestpage .instagram-date .line{
		display: none;
	}
	 .participate {
	  	padding: 0 20px;
	}
	.contestpage .participate .title-instagram {
	  font-size: 28px;
	}
	.contestpage .participate-coloumn {
	  width: 100% !important;
	}
	.contestpage .participate-coloumn .text {
	  width: 295px!important;
	  margin-left: 40px !important;
	  margin-bottom: 20px;
	}
	.contestpage .prizes{
	  padding: 10px;
	}
	.contestpage .prizes .coloumn {
		margin-bottom: 20px;
	}
	.contestpage .prizes img {
	  display: block;
	  max-width: 100%;
	  height: auto;
	}
	.contestpage .row.participate.row-line{
		margin-top:0px !important;
		padding: 0px 0 40px;
	}
	.contestpage .row.participate.row-line .col-sm-3{
		text-align: center !important;
	}
	
	/* content contest */
	.contestpage .participate .participate-coloumn {
		width: 100% !important;
	}
	.contestpage .participate .participate-coloumn .text {
		width: 86% !important;
	}
	.this-for-space-last{
		display:none;
	}
	.contestpage .prizes .coloumn .col-md-6  {
		margin-bottom: 20px;
	}
	.prizes .col-md-6.coloumn .col-md-6 {
	  width: 100%;
	  float: left;
	  margin-bottom: 40px;
	}
	
	.last-prize{
		border-top:1px solid #ddd;
		padding-top: 32px;
	}
	.row.participate .term-condition ol{
		padding-left:15px!important;
	}
	
	.row.participate .term-condition p{
		padding-left:15px!important;
	}
	/* end content contest */
}

@media only screen and (max-width: 360px){
	.event-table-inner-content {
		height: 500px;
		max-height: 500px;
	}
	
	/* announcement content */
	.left-winner-contest-ctd {
		min-height: 400px;
	}
	
	#containingBlock {
		height: 720px;
	}
	
	.announcement-right-img-heart {
		width: 100%;
		text-align: center;
	}
	
	.announcement-right-img-text {
		width: 100%;
	}
	
	#containingBlock {
		padding-left: 5px;
	}
	
	.title-announcement-winner{
		font-size: 45px;
	}

	.col-sm-5-am{
		width:100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.runner-up-outer{
		padding: 0 35px;
	}
	
	.warning-text-runner-up{
		padding:0 20px;
	}
	/* end announcement content */

	/* contest */
	.supported-by a img {
		padding: 0px 30% 10px;
		outline: medium none;
	}
	
	.contestpage .instagram-contest .col-sm-2.instagram-feeds {
		width: 50%;
		float: left;
	}
	
	.promote-contest-content .col-sm-6{
		text-align:center!important;
		width: 100%;
	}
	/* end contest */

	/* about */
	.embed-youtube{
		height: 190px !important;
	}
	.last-fact{
		margin-top:15px;
	}
	/* end about */
	
	/* navigation */
	ul.nav.navbar-nav.navbar-center {
		width: 100%;
		margin-top: 15px;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.navbar-right-img {
		width: 100% !important;
		border-top: 1px solid #ddd;
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background: #fff;
		height: 100%;
		max-height: 480px;
		overflow: hidden;
		-webkit-box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
		box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
	}
	
	ul.nav.navbar-nav.navbar-right.top-menu-right {
		padding-right: 0px!important;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.center.navbar .nav, .center.navbar .nav > li {
		display: table;
		width: 100%;
	}
	
	.navbar-default .navbar-nav > li > a {
		text-align: left;
	}
	
	.center.navbar .nav, .center.navbar .nav .first a {
		padding-top: 3px;
		padding-bottom: 18px;
	}
	
	.navbar-nav > li > a {
		padding-top: 15px;
	}
	.shrink .navbar-collapse {
		height: 480px!important;
		max-height: 480px!important;
		border-bottom:1px solid #ddd;
	}
	/* navigation */
	
	/* navigation 24may2015 */
	.navbar-right-img {
		width: 100% !important;
		border-top: 1px solid #ddd;
	}
	
	.navbar-default .navbar-nav>li>a:hover>span, .navbar-default .navbar-nav>.active>a>span,.navbar-default .navbar-nav>.current>a>span, .navbar-default .navbar-nav>.active>a:focus>span, .navbar-default .navbar-nav>.active>a:hover>span{
		padding-top: 15px;
		margin-top:-3px;
	}
	.nav > li > a {
		padding: 10px 0px;
	}
	
	.btn-share {
		margin-left: 0px;
	}
	.navbar-collapse {
		padding-right: 30px;
		padding-left: 30px;
	}
	.btn-share {
		margin-top: 30px!important;
	}
	.navbar-default .navbar-nav>li>.btn-share:hover>span, .navbar-default .navbar-nav>.active>.btn-share>span,.navbar-default .navbar-nav>.current>.btn-share>span, .navbar-default .navbar-nav>.active>.btn-share:focus>span, .navbar-default .navbar-nav>.active>.btn-share:hover>span{
		padding-top: 15px;
		margin-top:0px;
	}
	.socmed-share-content {
		margin-left: 0px;
	}
	.socmed-share-content li {
		width: 100% !important;
	}
	.socmed-share-content li a img{
		width: 115px;
		height: 39px;
	}
	.navbar-nav .open .dropdown-menu {
		position: relative;
		box-shadow: 0px 0px 2px #DDD;
		border: 1px solid #ddd;
		top: 0px;
	}
	.shrink .navbar-right-img img {
		max-height: 104px!important;
	}
	/* end navigation 24may2015 */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .participate-coloumn .text {
		width: 80% !important;
	}
	/* end content inst contest */
	
	/* content event table */
	.row.eventlist-wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 350px !important;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 100%;
		max-width: 100%;
		overflow-x: auto;
	}
	.news {
		padding: 35px 25px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 100%!important;
		max-width: 100%!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */
	
	.contestpage .participate-coloumn .text{
		width: 185px!important;
	}
	.footer-menu ul li {
	  display: block;
	  margin-bottom: 10px;
	}
	.footer-menu {
	  height: 290px;
	}
	.social-media-wrapper.pull-right > a {
	  display: block;
	}
	.footer-menu ul li > a {
	  margin-right: 0px;
	}
	.footer .partner {
	  font-size: 13px;
	} 
	
	/* content contest */
	.contestpage .participate .participate-coloumn {
		width: 100% !important;
	}
	.contestpage .participate .participate-coloumn .text {
		width: 86% !important;
	}
	.this-for-space-last{
		display:none;
	}
	.contestpage .prizes .coloumn .col-md-6  {
		margin-bottom: 20px;
	}
	.prizes .col-md-6.coloumn .col-md-6 {
	  width: 100%;
	  float: left;
	  margin-bottom: 40px;
	}
	
	.last-prize{
		border-top:1px solid #ddd;
		padding-top: 32px;
	}
	
	.last-promote-contest{
		padding-top:30px;
	}
	
	.row.participate .term-condition ol{
		padding-left:15px!important;
	}
	
	.row.participate .term-condition p{
		padding-left:15px!important;
	}
	/* end content contest */
}

@media only screen and (max-width: 320px){
	.event-table-inner-content {
		height: 500px;
		max-height: 500px;
	}
	
	/* announcement content */
	.left-winner-contest-ctd {
		min-height: 310px;
	}
	
	#containingBlock {
		height: 720px;
	}
	
	.announcement-right-img-heart {
		width: 100%;
		text-align: center;
	}
	
	.announcement-right-img-text {
		width: 100%;
	}
	
	#containingBlock {
		padding-left: 5px;
	}
	
	.title-announcement-winner{
		font-size: 40px;
	}

	.col-sm-5-am{
		width:100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.runner-up-outer{
		padding: 0 20px;
	}
	
	.warning-text-runner-up{
		padding:0 20px;
	}
	/* end announcement content */

	/* contest */
	.promote-contest-content .col-sm-6{
		text-align:center!important;
	}
	/* end contest */
	
	/* navigation */
	ul.nav.navbar-nav.navbar-center {
		width: 100%;
		margin-top: 15px;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.navbar-right-img {
		width: 100% !important;
		border-top: 1px solid #ddd;
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background: #fff;
		height: 100%;
		max-height: 290px;
		overflow: auto;
		-webkit-box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
		box-shadow: 0px 5px 8px -4px rgba(0,0,0,0.75);
	}
	
	ul.nav.navbar-nav.navbar-right.top-menu-right {
		padding-right: 0px!important;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.center.navbar .nav, .center.navbar .nav > li {
		display: table;
		width: 100%;
	}
	
	.navbar-default .navbar-nav > li > a {
		text-align: left;
	}
	
	.center.navbar .nav, .center.navbar .nav .first a {
		padding-top: 3px;
		padding-bottom: 18px;
	}
	
	.navbar-nav > li > a {
		padding-top: 15px;
	}
	.shrink .navbar-collapse {
		height: 340px!important;
		max-height: 340px!important;
		border-bottom:1px solid #ddd;
	}
	/* navigation */
	
	/* navigation 24may2015 */
	.shrink .navbar-nav > li > a {
		padding-top: 10px!important;
		transition: all 0.5s ease 0s;
	}
	
	.navbar-right-img {
		width: 100% !important;
		border-top: 1px solid #ddd;
	}
	
	.navbar-nav > li > a {
		padding-top: 10px!important;
		transition: all 0.5s ease 0s;
	}
	
	.navbar-default .navbar-nav>li>a:hover>span, .navbar-default .navbar-nav>.active>a>span,.navbar-default .navbar-nav>.current>a>span, .navbar-default .navbar-nav>.active>a:focus>span, .navbar-default .navbar-nav>.active>a:hover>span{
		padding-top: 15px;
		margin-top:-3px;
	}
	.nav > li > a {
		padding: 10px 0px;
	}
	.nav .first > a {
		padding-bottom: 25px;
	}
	
	.btn-share {
		margin-left: 0px;
	}
	.navbar-collapse {
		padding-right: 30px;
		padding-left: 30px;
	}
	.btn-share {
		margin-top: 20px!important;
	}
	.navbar-default .navbar-nav>li>.btn-share:hover>span, .navbar-default .navbar-nav>.active>.btn-share>span,.navbar-default .navbar-nav>.current>.btn-share>span, .navbar-default .navbar-nav>.active>.btn-share:focus>span, .navbar-default .navbar-nav>.active>.btn-share:hover>span{
		padding-top: 15px;
		margin-top:0px;
	}
	.socmed-share-content {
		margin-left: 0px;
	}
	.socmed-share-content li {
		width: 100% !important;
	}
	.socmed-share-content li a img{
		width: 115px;
		height: 39px;
	}
	.navbar-nav .open .dropdown-menu {
		position: relative;
		box-shadow: 0px 0px 2px #DDD;
		border: 1px solid #ddd;
		top: 0px;
	}
	.shrink .navbar-collapse {
		height: 340px!important;
		max-height: 340px!important;
		border-bottom:1px solid #ddd;
	}
	.shrink .navbar-right-img img {
		max-height: 104px!important;
	}
	/* end navigation 24may2015 */
	
	/* content inst contest */
	.homepage .participate-coloumn {
		width: 100% !important;
		margin-right: 0px !important;
	}
	.homepage .participate-coloumn .text {
		width: 80% !important;
	}
	/* end content inst contest */
	
	/* content event table */
	.eventlist-wrapper .nav-tabs > li {
		width: 100%;
	}
	.mCustomScrollbar {
		height: 350px !important;
	}
	/* end content event table */
	
	/* content news */
	.news-list {
		width: 290px;
		max-width: 290px;
		overflow-x: auto;
	}
	.news {
		padding: 35px 20px;
	}
	.news-list ul {
		padding-left: 0px;
	}
	.news-list li {
		padding: 10px 0px;
	}
	.content-news {
		overflow: auto;
		position: relative;
		padding: 0px;
		margin: 0px auto;
		width: 285px!important;
		max-width: 285px!important;
		height: 370px;
		box-sizing: border-box;
	}
	.news-list li .date {
		font-weight: normal;
		color: #777;
		width: 100%;
	}
	/* content news */
	
	/* about */
	.embed-youtube{
		height: 170px !important;
	}
	.last-fact{
		margin-top:15px;
	}
	/* end about */
	
	/* content contest */
	.contestpage .participate .participate-coloumn {
		width: 100% !important;
	}
	.contestpage .participate .participate-coloumn .text {
		width: 86% !important;
	}
	.this-for-space-last{
		display:none;
	}
	.contestpage .prizes .coloumn .col-md-6  {
		margin-bottom: 20px;
	}
	.prizes .col-md-6.coloumn .col-md-6 {
	  width: 100%;
	  float: left;
	  margin-bottom: 40px;
	}
	
	.last-prize{
		border-top:1px solid #ddd;
		padding-top: 32px;
	}
	
	.last-promote-contest{
		padding-top:30px;
	}
	
	.row.participate .term-condition ol{
		padding-left:15px!important;
	}
	
	.row.participate .term-condition p{
		padding-left:15px!important;
	}
	.get-detail-inst-contest{
		margin-top:0px;
	}
	/* end content contest */
}