.navbar-default .navbar-toggle .collapsed {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #38AED2;
    border-color: #38AED2;
}

.icon-bar:hover {
    background-color: #fff;
}

.navbar-center{
	max-height: 104px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.navbar-toggle {
    margin-top: 35px;
    margin-right: 25px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
    outline: none !important;
}

.navbar-nav > li > a {
    padding-top: 21px;
    padding-bottom: 15px;
	text-align: right;
}

.navbar-brand {
	padding: 0px !important;
	width:203px;
	outline: none !important;
	text-align: left;
}
.navbar-brand img {
	max-height: 104px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.navbar-right-img{
	padding: 0px !important;
	width:203px;
}

.navbar-right-img img {
	max-height: 104px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.shrink {
	height: 60px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-toggle {
    margin-top: 13px;
    margin-right: 25px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-collapse {
	height: 60px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-inner {
	height: 60px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .container-fluid {
	height: 60px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-center {
	padding-top: 0px;
	padding-bottom: 0px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-right {
	padding-top: 12px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-right-img img {
	max-height: 59px;
	padding-top: 0px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-brand {
	max-height: 59px;
	outline: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-brand img {
	max-height: 59px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .navbar-nav > li > a {
    padding-top: 21px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
.shrink .btn-share {
    margin-top: 14px !important;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}