<!--event sponsor-->
			<div class="footer">
				<div class="footer-menu">
					<ul class="pull-left">
						<li><a href="#">Home</a></li>
						<li><a href="#">About Coral Triangle Day</a></li>
						<li><a href="#">Instagram Contest</a></li>
						<li><a href="#">Submit Event</a></li>
					</ul>
					
					<div class="social-media-wrapper pull-right">
						<label>Follow us on:</label>
						<a href="#"><img src="{{ theme:path }}/img/fb-bottom.png" alt="facebook"/></a>
						<a href="#"><img src="{{ theme:path }}/img/twitter-bottom.png" alt="twitter"/></a>
						<a href="#"><img src="{{ theme:path }}/img/instagram-bottom.png" alt="instagram"/></a>
					</div>
				</div>
				<div class="partner">
					<label>PARTNERS</label>
					<p>The Coral Triangle Day is officially endorsed by the CTI-CFF and Development Partners</p>
					<ul class="partner-list">
						<li><a href="#"><img src="{{ theme:path }}/img/coral-initiative.png" alt="partner"/></a></li>
						<li><a href="#"><img src="{{ theme:path }}/img/wwf-logo.png" alt="partner"/></a></li>
						<li><a href="#"><img src="http://placehold.it/120x50" alt="partner"/></a></li>
						<li><a href="#"><img src="http://placehold.it/120x50" alt="partner"/></a></li>
						<li><a href="#"><img src="http://placehold.it/120x50" alt="partner"/></a></li>
						<li><a href="#"><img src="http://placehold.it/120x50" alt="partner"/></a></li>
						<li><a href="#"><img src="http://placehold.it/120x50" alt="partner"/></a></li>
						<li><a href="#"><img src="http://placehold.it/120x50" alt="partner"/></a></li>
						<li><a href="#"><img src="http://placehold.it/120x50" alt="partner"/></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; 2014 The Coral Triangle Day. All Rights Reserved
				</div>
			</div>
	</body>
</html>
