<!-- Meta data -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{{ template:metadata }}
<title>{{ settings:site_name }} &bull; {{ template:title }}</title>

<!-- CSS Stylesheets -->
{{ theme:css file="bootstrap.min.css" }}
<link href='http://fonts.googleapis.com/css?family=Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
{{ theme:css file="ctd.css"}}

<!--Java script-->
{{ theme:js file="jquery-2.1.4.min.js"}}
{{ theme:js file="bootstrap.min.js"}}
{{ theme:js file="jquery.livequery.min.js"}}

<!-- additional js -->
{{ theme:js file="imagesloaded.pkgd.min.js"}}
{{# theme:js file="jquery.collagePlus.min.js" #}}
{{# theme:js file="jquery.removeWhitespace.min.js" #}}
{{ theme:js file="jquery.row-grid.min.js"}}
{{ theme:js file="jquery.hoverIntent.minified.js" }}
<!-- additional js -->

{{ theme:js file="ctd.js"}}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>