<!--event sponsor-->
			<div class="footer">
				<div class="footer-menu">
					<ul class="pull-left">
						{{ navigation:links group="header" }}
							<li><a href="{{url}}">{{title}}</a></li>
						{{ /navigation:links }}
					</ul>

					<div class="social-media-wrapper pull-right">
						<label>Follow us on:</label>
						<a href="https://www.facebook.com/thecoraltriangle" target="_blank" class="follow-facebook-track"><img src="/{{ theme:path }}/img/fb-bottom.png" alt="facebook"/></a>
						<a href="https://twitter.com/_coraltriangle_" target="_blank" class="follow-twitter-track"><img src="/{{ theme:path }}/img/twitter-bottom.png" alt="twitter"/></a>
						<a href="https://instagram.com/coraltriangle/" target="_blank" class="follow-instagram-track"><img src="/{{ theme:path }}/img/instagram-bottom.png" alt="instagram"/></a>
					</div>
				</div>
				<div class="partner">
					<?php if($this->uri->segment(1) == 'contest'):?>
						<label>ORGANIZERS</label>
						<p style="margin-bottom:30px;">The Coral Triangle Day <span style="color:#90DB05;">#plasticresistance</span> Instagram Contest is organized by<br />WWF, TheCoralTriangle.com, and Coral Triangle Initiative on Coral Reefs, Fisheries, and Food Security (CTI-CFF)</p>
						<ul class="partner-list">
							<li>
								<a href="http://wwf.panda.org/" target="_blank">
									{{theme:image file="wwf-logo.png" alt="WWF"}}
								</a>
							</li>
							<li>
								<a href="http://thecoraltriangle.com/" target="_blank">
									{{theme:image file="TCT_NAV.png" alt="TCT" class="bg-inst"}}
								</a>
							</li>
							<li>
								<a href="http://coraltriangleinitiative.org/" target="_blank">
									{{theme:image file="coral-initiative.png" alt="CTI"}}
								</a>
							</li>
						</ul>
					<?php else:?>
						<label>PARTNERS</label>
						<p style="margin-bottom:30px;">The Coral Triangle Day is officially endorsed by<br />
						Coral Triangle Initiative on Coral Reefs, Fisheries, and Food Security (CTI-CFF) and Development Partners</p>
						<ul class="partner-list">
							<li>
								<a href="http://wwf.panda.org/" target="_blank">
									{{theme:image file="wwf-logo.png" alt="WWF"}}
								</a>
							</li>
							<li>
								<a href="http://coraltriangleinitiative.org/" target="_blank">
									{{theme:image file="coral-initiative.png" alt="CTI"}}
								</a>
							</li>
						</ul>
					<?php endif; ?>
				</div>
				<div class="copyright">
					&copy; {{helper:date format="Y"}} The Coral Triangle Day. All Rights Reserved
				</div>
			</div>
			
			{{ theme:js file="jquery.mCustomScrollbar.concat.min.js"}}
			{{ theme:js file="youtube-ctd.js"}}
			{{ theme:js file="custom.js"}}

