<?php 
    $time = time();
    $deadline_time = 1465405201;
?>
<div class="contestpage">
    <div class="row coverinstagramcontestpage" style="min-height:530px; position:relative;">
		<div class="cover-instagram-contest">
	        <div class="cover_instagram_contest_in1">
                <?php if($time <= $deadline_time){ ?>
	            	<div class="instagram-date" id="deadline_contest"></div>
	            <?php } ?>
				<div class="cover-text-wrapper">
	                <label class="cover-title-instagramcontent">#NOPLACE4PLASTIC INSTAGRAM CONTEST</label>
	            </div>
	            <div class="cover-text-description">
                <?php if($time <= $deadline_time){ ?>
				Win a 3 day 2 night holiday at Gaya Island Resort, a 5 day 4 night all-inclusive dive package with Scuba Junkie in Borneo, a 7-night stay at Fatboys Resort in Gizo & the latest hi-tech Cressi mask & snorkel!<br/><br/>
				Winning photos will be announced on 11 June 2016 at 6 pm (GMT+7).
	            <?php } else { ?>
				The #noplace4plastic Instagram contest is now closed. Thank you for participating! Winners will be announced on 11 June 2016 at 6 pm (GMT+7). 
				<br/><br/>
				Find out who are the lucky winners of a 3 day 2 night holiday at Gaya Island Resort, a 5 day 4 night all-inclusive dive package with Scuba Junkie in Borneo, a 7-night stay at Fatboys Resort in Gizo & the latest hi-tech Cressi mask & snorkel.
	            <?php } ?>
	            </div>
	        </div>
	    </div>
		
		<div class="copyright_banner_contest">&copy; Nick Pumphrey</div>
	</div>

<div class="eventsponsor contest_sponsor">
	<div class="eventsponsor" style="width:92.7%; margin: 0 auto; padding-top: 45px;">
		<label class="title">SPONSORS</label>
		<div class="list_carousel responsive">
			<ul id="sponsorslider">
				<li>
					<a href="http://www.gayaislandresort.com/"  target="_blank">
						{{theme:image file="contest/Gaya-Island Resort.png" class="img-responsive" style="height: 85px;"}}
					</a>
				</li>
				<li>
					<a href="http://www.scuba-junkie.com/"  target="_blank">
						{{theme:image file="contest/scuba_junkie.png" class="img-responsive" style="height: 80px;"}}
					</a>
				</li>
				<li>
					<a href="http://www.cressisubusa.com/"  target="_blank">
						{{theme:image file="contest/logo_cressi_since1946_blu_rev01.jpg" class="img-responsive"}}
					</a>
				</li>
				<li>
					<a href="http://www.byoguides.com/reeffinder/"  target="_blank">
						{{theme:image file="contest/byo-guides-logo-small.png" class="img-responsive"}}
					</a>
				</li>
				<li>
					<a href="http://byebyeplasticbags.org/"  target="_blank">
						{{theme:image file="contest/BBPB.png" class="img-responsive" style="height: 80px;"}}
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
			
<div class="eventsponsor contest_partners">
	<div class="eventsponsor" style="width:92.7%; margin: 0 auto;">
		<label class="title">PARTNERS</label>
		<div class="list_carousel responsive">
			<ul id="partnerslider">
				<li>
					<a href="http://www.conservation.org/"  target="_blank">
						{{theme:image file="contest/photo.png" class="img-responsive" style="height: 80px;"}}
					</a>
				</li>
				<li>
					<a href="http://mission-blue.org/"  target="_blank">
						{{theme:image file="contest/MBlogo2.jpg" class="img-responsive" style="height: 80px;"}}
					</a>
				</li>
				<li>
					<a href="http://matadornetwork.com/"  target="_blank">
						{{theme:image file="contest/dMJh4cCB.png" class="img-responsive" style="height: 80px;"}}
					</a>
				</li>
				<li>
					<a href="https://gobarefoot.travel/"  target="_blank">
						{{theme:image file="contest/679914274_scale_625x310.png" class="img-responsive"}}
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){

	$('#sponsorslider').imagesLoaded(function(){
		$('#sponsorslider').carouFredSel({
			width: '100%',
			scroll: 1,
			prev: '#prev-sponsor',
			next: '#next-sponsor'
		});
	});

	$('#partnerslider').imagesLoaded(function(){
		$('#partnerslider').carouFredSel({
			width: '100%',
			scroll: 1,
			prev: '#prev-sponsor',
			next: '#next-sponsor'
		});
	});

});
</script>

<?php if($time <= $deadline_time){ ?>
<div class="row participate how_to_participate">
    <label class="title-instagram">How to participate?</label>

    <div style="margin: 15px auto 25px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

	<div class="container_h_participate">
		<div class="col-sm-4 no-pad-l-r">
			<div class="col-sm-2 no-pad-l">
				<div>1</div>
			</div>
			<div class="col-sm-10 no-pad-l">
				<div>Take creative photos of plastic waste where it <b>SHOULDN'T</b> be.</div>
			</div>
		</div>

		<div class="col-sm-4 no-pad-l-r">
			<div class="col-sm-2 no-pad-l">
				<div>2</div>
			</div>
			<div class="col-sm-10 no-pad-l">
				<div>Post on Instagram, tag <b>#noplace4plastic</b> and <b>#coraltriangle</b> and tell us what YOU'RE doing to cut down plastic use.</div>
			</div>
		</div>
		
		<div class="col-sm-4 no-pad-l-r">
			<div class="col-sm-2 no-pad-l">
				<div>3</div>
			</div>
			<div class="col-sm-10 no-pad-l-r">
				<div>Win a stay at an exclusive eco resort, a dive package, or a dive gear. 5 runnners-up take home a coffee table book.</div>
			</div>
		</div>
    </div>

    <div class="terms"><sup style="color:#000">*</sup> <a href="#insta_tnc" class="to_tnc toc-instagramcontest term-and-condition-track">Terms and conditions apply</a></div>
</div>
<?php } ?>
<div class="row prizes">
    <label class="title-instagram">Prizes</label>

    <div class="coloumn-wrapper">
        <div class="col-sm-3 coloumn">
			<a href="http://www.gayaislandresort.com/" target="_blank">{{theme:image file="prizes/Gaya-Island-Resort-Exterior.jpg"}}</a>
			<div class="list_prizes">
				<label class="number-coloumnprizes">1ST PRIZE</label><br/>
				<label class="title-coloumnprizes">GAYA ISLAND RESORT</label>
				<p>A 3 day 2 night all inclusive holiday for two guests at this 5 star luxury boutique resort in Sabah, Malaysia, including daily meals (with non-alcoholic beverages), speedboat transfers and a guided nature walk with the resort’s resident naturalist. 
				<br/>+ BYO underwater reef guide
				<br/>+ Coral Triangle coffee table book</p>
			</div>
        </div>

        <div class="col-sm-3 coloumn">
            <a href="http://www.scuba-junkie.com/" target="_blank">{{theme:image file="prizes/Diver-and-Schooling-Big-Eye Trevally-Sipadan-Island-Tino Hermann.jpg"}}</a>
			<div class="list_prizes">
				<label class="number-coloumnprizes">2ND PRIZE</label><br/>
				<label class="title-coloumnprizes">SCUBA JUNKIE BORNEO DIVE HOLIDAY</label>
                <p>A 5 day 4 night all inclusive dive package for one guest including food, accommodation in a deluxe AC room + 3 days diving (3 dives per day). All dive gear and transfers included. All dive sites included except Sipadan.   
				<br/>+ BYO underwater reef guide
				<br/>+ Coral Triangle coffee table book</p>
			</div>
        </div>

        <div class="col-sm-3 coloumn">
            <a href="http://www.cressisubusa.com/" target="_blank">{{theme:image file="prizes/AirTraspaWhiteBlueAmazonx.jpg"}}</a>
			<div class="list_prizes">
				<label class="number-coloumnprizes">3RD PRIZE</label><br/>
				<label class="title-coloumnprizes">CRESSI SNORKEL SET</label>
                <p>Cressi Air Mask 2016 + Alpha Ultra Dry Snorkel
				<br/>+ BYO underwater reef guide
				<br/>+ Coral Triangle coffee table book</p>
			</div>
        </div>

        <div class="col-sm-3 coloumn">
            <a href="http://wwf.panda.org/what_we_do/where_we_work/coraltriangle/publications/photobook/">{{theme:image file="prizes/Prizes-4.jpg"}}</a>
			<div class="list_prizes">
				<label class="number-coloumnprizes" target="_blank">Popular Prize</label><br/>
                <p>Bye Bye Plastic Bags cap, t-shirt & tote bag and Coral Triangle coffee table book for 1 popular prize winner
				<br/>Coral Triangle coffee table book for 4 popular prize runners up</p>
			</div>
        </div>
    </div>
</div>

<div class="row judges">
    <label class="title-instagram">Judges</label>

    <div class="coloumn-wrapper">
        <div class="col-sm-12 judges_list no-pad-l-r">
            <div class="col-sm-2 no-pad-l-r align-l judges_photo">
				{{theme:image file="judges/JAMES_MORGAN.png"}}
            </div>
            <div class="col-sm-10 no-pad-r align-l">
				<p class="name_judges">JAMES MORGAN</h2>
				<p class="bio_judges"><a href="http://www.jamesmorgan.co.uk/" target="_blank">James Morgan</a> is a multi award-winning photo-journalist and film director. His documentary & travel photography has appeared on the BBC and in publications including National Geographic, Sunday Times, Guardian. His images regularly lead campaigns for WWF and USAID and he is represented by Panos & Getty. He is a two time winner of the Travel Photographer of the Year Award and was selected as one of Magnum’s ‘30 under 30’ in 2014.</p>
			</div>
        </div>
        <div class="col-sm-12 judges_list no-pad-l-r">
            <div class="col-sm-2 no-pad-l-r align-l judges_photo">
				{{theme:image file="judges/Putu_Sayoga.png"}}
            </div>
            <div class="col-sm-10 no-pad-r align-l">
				<p class="name_judges">Putu Sayoga</h2>
				<p class="bio_judges">Balinese photographer <a href="http://www.putusayoga.net/" target="_blank">Putu Sayoga</a> started out shooting street photographry while studying politics at Gadjah Mada university. His passion, enthusiasm and skill quickly saw his images appearing in many of the world’s leading media brands including the New York Times, Le Monde, Monocle and Geographical. He is also the co-founder of He also co-founder of a documentary photographers collective <a href="http://arkaproject.com/" target="_blank">Arka Project</a>.</p>
			</div>
        </div>
        <div class="col-sm-12 no-pad-l-r judges_list last_judges_list">
            <div class="col-sm-2 no-pad-l-r align-l judges_photo">
				{{theme:image file="judges/Tommy_Schulz.png"}}
            </div>
            <div class="col-sm-10 no-pad-r align-l">
				<p class="name_judges">Tommy Schulz</h2>
				<p class="bio_judges"><a href="http://www.tommyschultz.com/" target="_blank">Tommy Schultz</a> is a hugely versatile photographer with well over a decade’s experience shooting surf, fashion, commercial, underwater and documentary photography at the highest level, particularly in South East Asia. His clients include National Geographic, Patagonia, Air Asia & Oryx magazine.</p>
			</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 photo-list">

        <!-- instagram feeds start -->
        <div id="insta_feeds" class="instagram-contest">
            <style>
            </style>

            <label class="title-instagram">Contest Photos</label>

            <div class="clearfix">
                <br />
            </div>


            <div id="feeds-wrapper">

            {{instagram_api:feeds limit="18"}}
                <div class="col-sm-2 instagram-feeds" onclick="window.open('{{link}}','_blank')" style="cursor:pointer;">

					<div class="insta_meta_wrapper">
	                    <div class="instagram_meta">
	                        <p><i class="glyphicon glyphicon-heart"></i> {{likes}}</p>
							<!--<p><a class="insta_link" href="{{link}}" target="_blank">View on Instagram</a></p>-->
	                    </div>
					</div>
                    <div class="instagram_img_wrapper">
                        <img class="instagram_img img-responsive" data-pyroimage="true" src="{{images}}" />
                    </div>

                </div>
            {{/instagram_api:feeds}}
            </div>

            <div class="clearfix"></div>


            <div class="container">
                <div class="col-sm-12" style="text-align:center;margin-top:40px;">
                    <a class="btn btn-primary btn-small see-all-contest-photos-track" target="_blank" href="https://instagram.com/explore/tags/noplace4plastic/">SEE ALL CONTEST PHOTOS</a> 
                </div>
            </div>

            <div class="clearfix">&nbsp;</div>

            <hr />

            <script>
                $(document).ready(function() {

                    // rollover effect
                    $('.instagram-feeds').livequery(function() {
						$(this).hoverIntent({
							sensitivity: 2,
							over: function(){
								var $meta = $(this).find('.insta_meta_wrapper');
								$meta.fadeIn('100');
							},
							out: function(){
								var $meta = $(this).find('.insta_meta_wrapper');
								$meta.fadeOut('100');
							}
						});
                    });

                    // load more
                    $('#load_more_feeds').click(function(e) {
                        var h = $(this).attr('href');
                        $(this).html('Please wait...').attr('disabled', true);
                        e.preventDefault();
                        $.ajax({
                            type: 'GET',
                            url: h,
                            dataType: 'json',
                            cache: false,
                            success: function(data) {
                                if (data.status == 'ok') {
                                    $('#feeds-wrapper').append('<div style="display:none;"></div>');
                                    $('#feeds-wrapper div:last').html(data.feeds).fadeIn('slow');
                                    $('#load_more_feeds').attr('href', '{{url:site}}instagram_api/get_more/' + data.max_tag_id + '/coraltriangle')
                                }
                            },
                            complete: function() {
                                $('#load_more_feeds').html('Load more').attr('disabled', false);
                            }
                        });

                    });

                });
            </script>

        </div>
        <!-- instagram feeds end -->

    </div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div class="row participate row-line" style="margin-top:-30px;">
    <label class="title-instagram">Promote the contest!<!-- Spread the good news! --></label>

    <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

    <div style="margin-bottom: 25px;">
    	<!-- Promote the contest!<br /> -->
		Download and share our poster and images you can use with your social media accounts.
    </div>
	
	<div class="row promote-contest-content" style="margin-bottom:30px;">
		<div class="col-sm-12" style="text-align:center;">
			<a href="{{ url:site }}files/download/464abe09058811a"><img src="{{url:site}}{{ theme:path }}/img/promo_contest.jpg" style="text-align:center; width:450px;"/></a>
		</div>
	</div>
	
    <a href="https://drive.google.com/folderview?id=0BzxfqmHBbSeSLVE1dnQzMUp5U3c&usp=sharing" target="_blank" class="btn btn-primary btn-small download-promo-kit-track">DOWNLOAD THE PROMO KIT</a>
</div>

<div class="row participate toc t_and_c_first">
    <label class="title-instagram" id="insta_tnc">Contest Terms &amp; Conditions</label>

    <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

	<div class="col-md-8 col-md-offset-2 term-condition">
	    <ol class="ol_t_c_out">
			<li><b>This contest is aimed at raising awareness and protecting our shared planet. Photos that involve deliberate damage to the environment will be disqualified.</b></li>
			<li>Submitted Instagram photos must 
				<ol class="ol_in_t_c_l_1">
					<li>portray plastic waste in a natural setting WHERE IT SHOULD NOT BE...</li>
					<li>or show a RECYCLED plastic structure/art piece/creation that resembles nature or wildlife,</li>
					<li>use the hashtags <b>#noplace4plastic</b> and <b>#coraltriangle</b>.</li>
				</ol>
			</li>
			<li>To participate in the contest, you must be at least 13 years old and agree to <a href="https://help.instagram.com/478745558852511" target="_blank">Instagram terms of use</a></li>
			<li>Photos can be taken anywhere in the world. We encourage images that relate to the ocean or coast but these will not be given preference by the judges.</li>
			<li>The top 3 photographs will be selected by a panel of professional photographers & environmental advocates. The judges’ decision is final. The prizes are detailed separately on Prizes Terms & Conditions.
			</li>
			<li>The 5 photographs with the most likes will receive a People’s Vote prize – A Coral Triangle coffee table book. Winners of the top 3 prizes are not eligible to win the popular prizes.</li>
			<li>IMPORTANT: ALL IMAGES WILL BE AUDITED BY OUR WEBMASTER AND ANY FOUND TO HAVE SOLICITED FAKE LIKES WILL BE IMMEDIATELY DISQUALIFIED.</li>
			<li>By entering the contest, you warrant that the submitted photograph is an original work created solely by yourself and that no other party has any right, title, claim or interest in the photograph.</li>
			<li>Use of image post-processing tools is permitted.</li>
			<li>You are allowed to submit as many photos as you like.</li>
			<li>By submitting your photo, you permit the organisers to feature it on <a href="http://coraltriangleday.org/" target="_blank">www.coraltriangleday.org</a> and in any and all media deemed relevant.</li>
			<li>Winning photos will be announced on <a href="http://coraltriangleday.org/contest" target="_blank">www.coraltriangleday.org</a> on June 9, 2016, 6:00 pm (GMT+7).</li>
			<li>Winners will be contacted privately via their Instagram accounts.</li>
			<li>The winner of the grand prize will be responsible for paying for his / her own travel to and from the resort, and for all travel arrangement (unless specified otherwise by the sponsor).</li>
			<li>If the winner of the grand prize is a minor in the jurisdiction of his/her legal country of residence, he/she can only take part in such a travel if accompanied by a guardian.</li>
			<li>The 10 winners of the book prize will have 10 days to respond to claim their prize after they have been notified by the contest organizers, otherwise their prize will be forfeited.</li>
			<li>The 10 winners of the Coral Triangle book will receive the book via post. They will need to provide their full mailing address.</li>
			<li>WWF will retain full ownership of the copyright pertaining to the winning Instagram photos.</li>
			<li>Direct employees of the Coral Triangle Initiative on Coral Reefs, Fisheries and Food Security (CTI-CFF), CTI National Coordinating Committees (NCCs) and CTI-CFF Development Partners, and employees of contest sponsors/supporters are not eligible for prizes.</li>
	    </ol>
		
		<p style="text-align:left; padding-left:40px;">Enquiries about the contest can be emailed <a href="mailto:contest@coraltriangleday.org?Subject=Enquiries about Coral Triangle Day Instagram contest" class="s_link">here</a>.</p>
	</div>
</div>

<div class="line-am"></div>

<div class="row participate toc">
    <label class="title-instagram" id="insta_tnc">Prizes Terms &amp; Conditions</label>

    <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

	<div class="col-md-8 col-md-offset-2 term-condition">
	    <ol class="ol_t_c_out">
			<li>1st Prize:
				<ul class="ul_in_t_c_l_1">
					<li>3 day/2 night stay at the 5 star Gaya Island Resort, inclusive of villa accommodation and daily meals with non-alcoholic beverages for 2 persons (excluding private dining experiences) + scheduled speedboat transfers to/from Jesselton Point Ferry Terminal + a guided Nature Walk with our Resident Naturalist (subject to availability) + YES Huddle 4G Mobile Hotspot for WIFI access.</li>
					<li>Prize validity will be for 6 months starting 09-Jun. To be used between July - December 2016. Black-out dates apply.</li>
					<li>1 x BYO Underwater Reef Guide</li>
					<li>1 x Coral Triangle coffee table book</li>
				</ul>
			</li>
			<li>2nd Prize:
				<ul class="ul_in_t_c_l_1">
					<li>5 day/4 night stay in ‘Scuba Junkie: Mabul Beach Resort’ inclusive of accommodation and daily meals for 2 persons + selected diving package at appointed diving sites for 2 persons (excluding Sipadan island). The winners will get the chance to participate in their environmental projects/events during their stay.</li>
					<li>1 x BYO Underwater Reef Guide</li>
					<li>1 x Coral Triangle coffee table book</li>
				</ul>
			</li>
			<li>3rd Prize: 
				<ul class="ul_in_t_c_l_1">
					<li>Cressi 2016 Air Mask in blue/white + Alpha Ultra Dry snorkel.</li>
					<li>1 x BYO Underwater Reef Guide</li>
					<li>1 x Coral Triangle coffee table book</li>
				</ul>
			</li>
			<li>Popular Prize:
				<ul class="ul_in_t_c_l_1">
					<li>Bye Bye Plastic Bags cap, t-shirt & tote bag</li>
					<li>Coral Triangle coffee table book</li>
				</ul>
			</li>
			<li>4 x Popular Prize runners up will each receive:
				<ul class="ul_in_t_c_l_1">
					<li>1 x Coral Triangle coffee table book</li>
				</ul>
			</li>
	    </ol>
	</div>
</div>

</div>
	
	<script>
		function ctdcontest9june() {
			var contest9june = new Date("June 9, 2015 16:01:00");
			var now = new Date();
			var timeDiff = contest9june.getTime() - now.getTime();
			
			$("#deadline_contest").append("<div id='date9june'><span class='date' id='remainingdays'>14</span><span class='line'></span><p class='text'>DAYS TO THE CLOSING<br/>OF THE #NOPLACE4PLASTIC<br/>INSTAGRAM CONTEST</p></div>");
		
			$("#remainingdays").countdown("2016/06/10", function(event) {
				$(this).text(
					event.strftime('%D')
				);
			});

			var cek_date = document.getElementById("remainingdays").innerHTML;
			
			if(cek_date != '00'){
				
			}
			else if (timeDiff <= 0) {
				clearTimeout(timer);
				// document.write("complete time deadline");
				$('#date9june').remove();
				$('#time9june16').remove();
				$('#time9junedone').remove();
				$("#deadline_contest").append("<div id='time9junedone'><span class='date' id='contest_closed'><span id='hoursBox' class='hidethis'></span>00<span style='text-align: left; padding-right: 15px;'>:</span>00<span id='minsBox' class='hidethis'></span></span><span class='line'></span><p class='text'>THE CORAL TRIANGLE DAY <br/>INSTAGRAM CONTEST <br/>IS NOW CLOSED</p></div>");
				return false;
			}else{
				$('#date9june').remove();
				$('#time9june16').remove();
				$('#time9junedone').remove();
				$("#deadline_contest").append("<div id='time9june16'><span class='date' id='remainingdays_time'><span id='hoursBox'></span><span style='text-align: left; padding-right: 15px;'>:</span><span id='minsBox'></span></span><span class='line'></span><p class='text'>TIME TO THE CLOSING <br/>OF THE #NOPLACE4PLASTIC <br/>INSTAGRAM CONTEST</p></div>");
			}
				
			var seconds = Math.floor(timeDiff / 1000);
			var minutes = Math.floor(seconds / 60);
			var hours = Math.floor(minutes / 60);
			var days = Math.floor(hours / 24);
			
			hours %= 24;
			minutes %= 60;
			seconds %= 60;
			
			//day = ("00" + day).substr(-2);            
            hours = ("00" + hours).substr(-2);            
            minutes = ("00" + minutes).substr(-2);            
            //second = ("00" + second).substr(-2);
			
			//document.getElementById("daysBox").innerHTML = days;
			document.getElementById("hoursBox").innerHTML = hours;
			document.getElementById("minsBox").innerHTML = minutes;
			//document.getElementById("secsBox").innerHTML = seconds;
			var timer = setTimeout('ctdcontest9june()',1000);
		}
	</script>
	<script>ctdcontest9june();</script>
