<div class="contestpage">
<div class="clearfix"></div>
<div class="row instagramthumbcontestpage">
	<div class="col-sm-4 no-pad bor-exc-bot">
		<a href="https://www.instagram.com/p/BU44yz_j3rz/" target="_blank">
		{{theme:image file="winner-2017/1stwinner.jpg" class="bg-inst"}}
		</a>
		<div class="area-winner">
			<div class="col-sm-4 winner-desc-left">
				<span class="rank">1<small>st</small> PRIZE</span><br/>
				<span class="attraction">Scuba Junkie Borneo Dive Holiday</span>
			</div>
			<div class="col-sm-8 no-pad-left winner-desc-right">
				{{theme:image file="winner-2017/s.hilbourne.jpg"}}
				<span class="name">
					<div>s.hilbourne</div>
				</span>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-sm-4 no-pad bor-exc-bot">
		<a href="https://www.instagram.com/p/BVD-_W5AQqV/" target="_blank">
		{{theme:image file="winner-2017/2ndphoto.jpg" class="bg-inst"}}
		</a>
		<div class="area-winner">
			<div class="col-sm-4 winner-desc-left">
				<span class="rank">2<small>nd</small> PRIZE</span><br/>
				<span class="attraction">Stay at Puri Dajuma Eco Resort</span>
			</div>
			<div class="col-sm-8 no-pad-left winner-desc-right">
				{{theme:image file="winner-2017/iqrorinaldi.jpg"}}
				<span class="name">
					<div>iqrorinaldi</div>
				</span>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-sm-4 no-pad bor-exc-bot">
		<a href="https://www.instagram.com/p/BVGH3TfF1qV/" target="_blank">
		{{theme:image file="winner-2017/3rdphoto.jpg" class="bg-inst"}}
		</a>
		<div class="area-winner">
			<div class="col-sm-4 winner-desc-left">
				<span class="rank">3<small>rd</small> PRIZE</span><br/>
				<span class="attraction">Chilly’s Bottle</span>
			</div>
			<div class="col-sm-8 no-pad-left winner-desc-right">
				{{theme:image file="winner-2017/1stcremiatwin.jpg"}}
				<span class="name">
					<div>1stcremiatwin</div>
				</span>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
$( document ).ready(function() {
    $('.bor-exc-bot').hover(
        function(){
            $(this).find('.area-winner').slideUp(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.area-winner').slideDown(250); //.fadeOut(205)
        }
    );
    $('.bor-all').hover(
        function(){
            $(this).find('.area-popular-photo').slideUp(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.area-popular-photo').slideDown(250); //.fadeOut(205)
        }
    );  
});
</script>

<div class="eventsponsor contest_sponsor">
	<div class="eventsponsor" style="width:92.7%; margin: 0 auto; padding-top: 45px;">
		<label class="title">SPONSORS</label>
		<div class="list_carousel responsive">
			<ul id="sponsorslider">
				<li>
					<a href="http://www.scuba-junkie.com/"  target="_blank">
						{{theme:image file="contest/scuba_junkie.png" class="img-responsive" style="height: 80px;"}}
					</a>
				</li>
				<li>
					<a href="http://www.gayaislandresort.com/"  target="_blank">
						{{theme:image file="contest/dajuma_logo.gif" class="img-responsive" style="height: 85px;"}}
					</a>
				</li>
<!-- 				<li>
					<a href="http://www.cressisubusa.com/"  target="_blank">
						{{theme:image file="contest/chilis.png" class="img-responsive"}}
					</a>
				</li> -->
				<li>
					<a href="http://www.byoguides.com/reeffinder/"  target="_blank">
						{{theme:image file="contest/byo-guides-logo-small.png" class="img-responsive"}}
					</a>
				</li>
				<li>
					<a href="http://byebyeplasticbags.org/"  target="_blank">
						{{theme:image file="contest/BBPB.png" class="img-responsive" style="height: 80px;"}}
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
			
<div class="eventsponsor contest_partners">
	<div class="eventsponsor" style="width:92.7%; margin: 0 auto;">
		<label class="title">PARTNERS</label>
		<div class="list_carousel responsive">
			<ul id="partnerslider">
				<li>
					<a href="http://www.conservation.org/"  target="_blank">
						{{theme:image file="contest/photo.png" class="img-responsive" style="height: 80px;"}}
					</a>
				</li>
				<li>
					<a href="http://mission-blue.org/"  target="_blank">
						{{theme:image file="contest/MBlogo2.jpg" class="img-responsive" style="height: 80px;"}}
					</a>
				</li>
				<li>
					<a href="http://matadornetwork.com/"  target="_blank">
						{{theme:image file="contest/dMJh4cCB.png" class="img-responsive" style="height: 80px;"}}
					</a>
				</li>
				<li>
					<a href="https://gobarefoot.travel/"  target="_blank">
						{{theme:image file="contest/679914274_scale_625x310.png" class="img-responsive"}}
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){

	$('#sponsorslider').imagesLoaded(function(){
		$('#sponsorslider').carouFredSel({
			width: '100%',
			scroll: 1,
			prev: '#prev-sponsor',
			next: '#next-sponsor'
		});
	});

	$('#partnerslider').imagesLoaded(function(){
		$('#partnerslider').carouFredSel({
			width: '100%',
			scroll: 1,
			prev: '#prev-sponsor',
			next: '#next-sponsor'
		});
	});

});
</script>

<div class="row prizes">
    <label class="title-instagram">Prizes</label>

    <div class="coloumn-wrapper">
        <div class="col-sm-3 coloumn">
            <a href="http://www.scuba-junkie.com/" target="_blank">{{theme:image file="prizes/Diver-and-Schooling-Big-Eye Trevally-Sipadan-Island-Tino Hermann.jpg"}}</a>
			<div class="list_prizes">
				<label class="number-coloumnprizes">1ST PRIZE</label><br/>
				<label class="title-coloumnprizes">SCUBA JUNKIE BORNEO DIVE HOLIDAY</label>
                <p>A 3 day 2 night dive holiday at Scuba Junkie, Mabul in Malaysian Borneo*. Includes two nights twin accommodation including meals at Scuba Junkie's resort on Mabul Island, 3 dives per day, snorkel &amp; dive gear.  
				<br/>+ Coral Triangle Coffee Table Book - the story of the world's epicentre of marine biodiversity in words and pictures. 
				<br/>+ BYO Underwater Dive Guide, which uses visual cues to identify marine species and brings your dive to life!</p>
			</div>
        </div>

        <div class="col-sm-3 coloumn">
            <a href="http://www.dajuma.com" target="_blank">{{theme:image file="prizes/puri.jpg"}}</a>
			<div class="list_prizes">
				<label class="number-coloumnprizes">2ND PRIZE</label><br/>
				<label class="title-coloumnprizes">STAY AT PURI DAJUMA ECO RESORT</label>
                <p>A 3 day 2 night break at Puri Dajuma Eco Resort in idyllic east Bali in a VIP Cottage, including breakfast*.
				<br/>+ Coral Triangle Coffee Table Book - the story of the world's epicentre of marine biodiversity in words and pictures. 
				<br/>+ BYO Underwater Dive Guide, which uses visual cues to identify marine species and brings your dive to life!</p>
			</div>
        </div>

        <div class="col-sm-3 coloumn">
            <a href="https://www.chillysbottles.com" target="_blank">{{theme:image file="prizes/chilis.jpg"}}</a>
			<div class="list_prizes">
				<label class="number-coloumnprizes">3RD PRIZE</label><br/>
				<label class="title-coloumnprizes">CHILLY’S BOTTLE</label>
                <p>Double Walled, Vacuum Insulated, Reusable Water Bottle. 24 Hours Cold - 12 Hours Hot!
				<br/>+ Coral Triangle Coffee Table Book - the story of the world's epicentre of marine biodiversity in words and pictures. 
				<br/>+ BYO Underwater Dive Guide, which uses visual cues to identify marine species and brings your dive to life!</p>
			</div>
        </div>

    </div>
	<div class="terms"><sup style="color:#000">*</sup> Travel costs not included</div>
</div>

<div class="row judges">
    <label class="title-instagram">Judges</label>

    <div class="coloumn-wrapper">
        <div class="col-sm-12 judges_list no-pad-l-r">
            <div class="col-sm-2 no-pad-l-r align-l judges_photo">
				{{theme:image file="judges/byebyeplasticbag-girls.png"}}
            </div>
            <div class="col-sm-10 no-pad-r align-l">
				<p class="name_judges">MELATI & ISABEL (BYE BYE PLASTIC BAG)</h2>
				<p class="bio_judges">Sisters Melati (15) & Isabel (13) set up <a href="http://www.byebyeplasticbags.org/" target="_blank">Bye Bye Plastic Bags</a> to try and curb the tide of single use plastics in Bali. Since its launch, the campaign has gone global, connecting communities around the world, while the two sisters have been sharing their message at high profile forums like the TED London conference and the UN. </p>
			</div>
        </div>
        <div class="col-sm-12 judges_list no-pad-l-r">
            <div class="col-sm-2 no-pad-l-r align-l judges_photo">
				{{theme:image file="judges/JAMES_MORGAN.png"}}
            </div>
            <div class="col-sm-10 no-pad-r align-l">
				<p class="name_judges">JAMES MORGAN</h2>
				<p class="bio_judges"><a href="http://www.jamesmorgan.co.uk/" target="_blank">James Morgan</a> is a multi award-winning photo-journalist and film director. His documentary & travel photography has appeared on the BBC and in publications including National Geographic, Sunday Times, Guardian. His images regularly lead campaigns for WWF and USAID and he is represented by Panos & Getty. He is a two time winner of the Travel Photographer of the Year Award and was selected as one of Magnum’s ‘30 under 30’ in 2014.</p>
			</div>
        </div>
        <div class="col-sm-12 no-pad-l-r judges_list last_judges_list">
            <div class="col-sm-2 no-pad-l-r align-l judges_photo">
				{{theme:image file="judges/Tommy_Schulz.png"}}
            </div>
            <div class="col-sm-10 no-pad-r align-l">
				<p class="name_judges">Tommy Schultz</h2>
				<p class="bio_judges"><a href="http://www.tommyschultz.com/" target="_blank">Tommy Schultz</a> is a hugely versatile photographer with well over a decade’s experience shooting surf, fashion, commercial, underwater and documentary photography at the highest level, particularly in South East Asia. His clients include National Geographic, Patagonia, Air Asia & Oryx magazine.</p>
			</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 photo-list">

        <!-- instagram feeds start -->
        <div id="insta_feeds" class="instagram-contest">
			<label class="title-instagram">Contest Photos</label>
            <div class="clearfix"><br /></div>

            <div id="feeds-wrapper">
            {{instagram_api:feeds2017 limit="12"}}
                <div class="col-sm-2 instagram-feeds" onclick="window.open('{{link}}','_blank')" style="cursor:pointer;">

					<div class="insta_meta_wrapper">
	                    <div class="instagram_meta">
	                        <p><i class="glyphicon glyphicon-heart"></i> {{likes}}</p>
							<!--<p><a class="insta_link" href="{{link}}" target="_blank">View on Instagram</a></p>-->
	                    </div>
					</div>
                    <div class="instagram_img_wrapper">
                        <img class="instagram_img img-responsive" data-pyroimage="true" src="{{images}}" />
                    </div>

                </div>
            {{/instagram_api:feeds2017}}
            </div>

            <div class="clearfix"></div>

            <div class="container">
                <div class="col-sm-12" style="text-align:center;margin-top:40px;">
                    <a class="btn btn-primary btn-small see-all-contest-photos-track" target="_blank" href="https://instagram.com/explore/tags/sayno2plastic/">SEE ALL CONTEST PHOTOS</a> 
                </div>
            </div>

            <div class="clearfix">&nbsp;</div>

            <hr />

            <script>
                $(document).ready(function() {

                    // rollover effect
                    $('.instagram-feeds').livequery(function() {
						$(this).hoverIntent({
							sensitivity: 2,
							over: function(){
								var $meta = $(this).find('.insta_meta_wrapper');
								$meta.fadeIn('100');
							},
							out: function(){
								var $meta = $(this).find('.insta_meta_wrapper');
								$meta.fadeOut('100');
							}
						});
                    });

                    // load more
                    $('#load_more_feeds').click(function(e) {
                        var h = $(this).attr('href');
                        $(this).html('Please wait...').attr('disabled', true);
                        e.preventDefault();
                        $.ajax({
                            type: 'GET',
                            url: h,
                            dataType: 'json',
                            cache: false,
                            success: function(data) {
                                if (data.status == 'ok') {
                                    $('#feeds-wrapper').append('<div style="display:none;"></div>');
                                    $('#feeds-wrapper div:last').html(data.feeds).fadeIn('slow');
                                    $('#load_more_feeds').attr('href', '{{url:site}}instagram_api/get_more/' + data.max_tag_id + '/coraltriangle')
                                }
                            },
                            complete: function() {
                                $('#load_more_feeds').html('Load more').attr('disabled', false);
                            }
                        });

                    });

                });
            </script>

        </div>
        <!-- instagram feeds end -->

    </div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div class="row participate row-line" style="margin-top:-30px;">
    <label class="title-instagram">Promote the contest!<!-- Spread the good news! --></label>

    <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

    <div style="margin-bottom: 25px;">
    	<!-- Promote the contest!<br /> -->
		Download our posters and share them on your social media accounts.
    </div>
	
	<div class="row promote-contest-content" style="margin-bottom:30px;">
		<div class="col-sm-12" style="text-align:center;">
			<a href="https://drive.google.com/drive/folders/0Bw4PuANp5Wj-Vm9UVmRUVzVfdDg"><img src="{{url:site}}{{ theme:path }}/img/promo_contest.jpg" style="text-align:center; width:450px;"/></a>
		</div>
	</div>
	
    <a href="https://drive.google.com/drive/folders/0Bw4PuANp5Wj-Vm9UVmRUVzVfdDg" target="_blank" class="btn btn-primary btn-small download-promo-kit-track">DOWNLOAD THE PROMO KIT</a>
</div>

<div class="row participate toc t_and_c_first">
    <label class="title-instagram" id="insta_tnc">Contest Terms &amp; Conditions</label>

    <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

	<div class="col-md-8 col-md-offset-2 term-condition">
	    <ol class="ol_t_c_out">
			<li><b>This contest is aimed at raising awareness and protecting our shared planet. Photos that involve deliberate damage to the environment will be disqualified.</b></li>
			<li>Submitted Instagram photos must:
				<ol class="ol_in_t_c_l_1">
					<li>Portray single use plastic products as they are encountered in day to day life. This could mean in the home, a shop or in the environment. Your image should communicate why single use plastics are bad/pointless</li>
					<li>And/or demonstrate how YOU are reducing your plastic waste</li>
					<li>Include a message telling us why single use plastics suck</li>
					<li>use the hashtags <b>#sayno2plastic</b> and <b>#coraltriangle</b>.</li>
				</ol>
			</li>
			<li>To participate in the contest, you must be at least 13 years old and agree to <a href="https://help.instagram.com/478745558852511" target="_blank">Instagram terms of use</a></li>
			<li>Photos can be taken anywhere in the world. We encourage images that relate to the ocean or coast but these will not be given preference by the judges.</li>
			<li>The top 3 photographs will be selected by a panel of professional photographers & environmental advocates. The judges’ decision is final. Photographs will be judged on their impact in communicating the core message about the importance of reducing single use plastics</li>
			<li>The prizes are detailed separately on Prizes Terms & Conditions.</li>
			<li>The 5 photographs with the most likes will receive a People’s Vote prize – A Coral Triangle coffee table book. Winners of the top 3 prizes are not eligible to win the popular prizes.</li>
			<li>IMPORTANT: ALL IMAGES WILL BE AUDITED BY OUR WEBMASTER AND ANY FOUND TO HAVE SOLICITED FAKE LIKES WILL BE IMMEDIATELY DISQUALIFIED.</li>
			<li>By entering the contest, you warrant that the submitted photograph is an original work created solely by yourself and that no other party has any right, title, claim or interest in the photograph.</li>
			<li>Use of image post-processing tools is permitted.</li>
			<li>You are allowed to submit as many photos as you like.</li>
			<li>By submitting your photo, you permit the organisers to feature it on <a href="http://coraltriangleday.org/">www.coraltriangleday.org</a> and in any and all media deemed relevant.</li>
			<li>Winning photos will be announced on <a href="http://coraltriangleday.org/">www.coraltriangleday.org</a> on June 11, 2017, 6:00 pm (GMT+7).</li>
			<li>Winners will be contacted privately via their Instagram accounts.</li>
			<li>The winner of the grand prize will be responsible for paying for his / her own travel to and from the resort, and for all travel arrangement (unless specified otherwise by the sponsor).</li>
			<li>If the winner of the grand prize is a minor in the jurisdiction of his/her legal country of residence, he/she can only take part in such a travel if accompanied by a guardian.</li>
			<li>The 10 winners of the book prize will have 10 days to respond to claim their prize after they have been notified by the contest organizers, otherwise their prize will be forfeited.</li>
			<li>The 10 winners of the Coral Triangle book will receive the book via post. They will need to provide their full mailing address.</li>
			<li>WWF will retain full ownership of the copyright pertaining to the winning Instagram photos.</li>
			<li>Direct employees of the Coral Triangle Initiative on Coral Reefs, Fisheries and Food Security (CTI-CFF), CTI National Coordinating Committees (NCCs) and CTI-CFF Development Partners, and employees of contest sponsors/supporters are not eligible for prizes.</li>
	    </ol>
		
		<p style="text-align:left; padding-left:40px;">Enquiries about the contest can be emailed <a href="mailto:contest@coraltriangleday.org?Subject=Enquiries about Coral Triangle Day Instagram contest" class="s_link">here</a>.</p>
	</div>
</div>

<!-- <div class="line-am"></div> -->

<!-- <div class="row participate toc">
    <label class="title-instagram" id="insta_tnc">Prizes Terms &amp; Conditions</label>

    <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

	<div class="col-md-8 col-md-offset-2 term-condition">
	    <ol class="ol_t_c_out">
			<li>1st Prize:
				<ul class="ul_in_t_c_l_1">
					<li>3 day/2 night stay at the 5 star Gaya Island Resort, inclusive of villa accommodation and daily meals with non-alcoholic beverages for 2 persons (excluding private dining experiences) + scheduled speedboat transfers to/from Jesselton Point Ferry Terminal + a guided Nature Walk with our Resident Naturalist (subject to availability) + YES Huddle 4G Mobile Hotspot for WIFI access.</li>
					<li>Prize validity will be for 6 months starting 09-Jun. To be used between July - December 2016. Black-out dates apply.</li>
					<li>1 x BYO Underwater Reef Guide</li>
					<li>1 x Coral Triangle coffee table book</li>
				</ul>
			</li>
			<li>2nd Prize:
				<ul class="ul_in_t_c_l_1">
					<li>5 day/4 night stay in ‘Scuba Junkie: Mabul Beach Resort’ inclusive of accommodation and daily meals for 2 persons + selected diving package at appointed diving sites for 2 persons (excluding Sipadan island). The winners will get the chance to participate in their environmental projects/events during their stay.</li>
					<li>1 x BYO Underwater Reef Guide</li>
					<li>1 x Coral Triangle coffee table book</li>
				</ul>
			</li>
			<li>3rd Prize: 
				<ul class="ul_in_t_c_l_1">
					<li>Cressi 2016 Air Mask in blue/white + Alpha Ultra Dry snorkel.</li>
					<li>1 x BYO Underwater Reef Guide</li>
					<li>1 x Coral Triangle coffee table book</li>
				</ul>
			</li>
			<li>Popular Prize:
				<ul class="ul_in_t_c_l_1">
					<li>Bye Bye Plastic Bags cap, t-shirt & tote bag</li>
					<li>Coral Triangle coffee table book</li>
				</ul>
			</li>
			<li>4 x Popular Prize runners up will each receive:
				<ul class="ul_in_t_c_l_1">
					<li>1 x Coral Triangle coffee table book</li>
				</ul>
			</li>
	    </ol>
	</div>
</div> -->

</div>
	
	<script>
		function ctdcontest9june() {
			var contest9june = new Date("May 9, 2017 16:01:00");
			var now = new Date();
			var timeDiff = contest9june.getTime() - now.getTime();
			
			$("#deadline_contest").append("<div id='date9june'><span class='date' id='remainingdays'>14</span><span class='line'></span><p class='text'>DAYS TO THE CLOSING<br/>OF THE #NOPLACE4PLASTIC<br/>INSTAGRAM CONTEST</p></div>");
		
			$("#remainingdays").countdown("2017/05/9", function(event) {
				$(this).text(
					event.strftime('%D')
				);
			});

			var cek_date = document.getElementById("remainingdays").innerHTML;
			
			if(cek_date != '00'){
				
			}
			else if (timeDiff <= 0) {
				clearTimeout(timer);
				// document.write("complete time deadline");
				$('#date9june').remove();
				$('#time9june16').remove();
				$('#time9junedone').remove();
				$("#deadline_contest").append("<div id='time9junedone'><span class='date' id='contest_closed'><span id='hoursBox' class='hidethis'></span>00<span style='text-align: left; padding-right: 15px;'>:</span>00<span id='minsBox' class='hidethis'></span></span><span class='line'></span><p class='text'>THE CORAL TRIANGLE DAY <br/>INSTAGRAM CONTEST <br/>IS NOW CLOSED</p></div>");
				return false;
			}else{
				$('#date9june').remove();
				$('#time9june16').remove();
				$('#time9junedone').remove();
				$("#deadline_contest").append("<div id='time9june16'><span class='date' id='remainingdays_time'><span id='hoursBox'></span><span style='text-align: left; padding-right: 15px;'>:</span><span id='minsBox'></span></span><span class='line'></span><p class='text'>TIME TO THE CLOSING <br/>OF THE #NOPLACE4PLASTIC <br/>INSTAGRAM CONTEST</p></div>");
			}
				
			var seconds = Math.floor(timeDiff / 1000);
			var minutes = Math.floor(seconds / 60);
			var hours = Math.floor(minutes / 60);
			var days = Math.floor(hours / 24);
			
			hours %= 24;
			minutes %= 60;
			seconds %= 60;
			
			//day = ("00" + day).substr(-2);            
            hours = ("00" + hours).substr(-2);            
            minutes = ("00" + minutes).substr(-2);            
            //second = ("00" + second).substr(-2);
			
			//document.getElementById("daysBox").innerHTML = days;
			document.getElementById("hoursBox").innerHTML = hours;
			document.getElementById("minsBox").innerHTML = minutes;
			//document.getElementById("secsBox").innerHTML = seconds;
			var timer = setTimeout('ctdcontest9june()',1000);
		}
	</script>
	<script>ctdcontest9june();</script>
