<div class="contestpage">
<div class="row coverinstagramcontestpage" style="border-bottom: 1px solid #ddd;  padding: 40px;">
    <div class="col-xs-12 cover-instagram-contest">
        <div class="">
            <div class="instagram-date" id="deadline_contest"></div>
            
			<div class="cover-text-wrapper">
                <label class="cover-title-instagramcontent">Coral Triangle Day Instagram Contest</label>
            </div>
            <div class="cover-text-description">
			Fancy an escape to El Nido Resorts in the Philippines or a stunning underwater photo book? Win a prize by joining this fun and easy Instagram competition, and get creative with nature.
            </div>
            <div style="margin-top:10px;">
				<div class="col-sm-2 no-pad-left no-pad-right sponsored-by">
					<p style="font-size:14px; color:#fff;">Sponsored by:</p>
					<a href="http://www.elnidoresorts.com/" target="_blank">{{theme:image file="El Nido Logotype - Gold.jpg" style="width: 148px; height: 52px;"}}</a>
				</div>
				<div class="col-sm-10 no-pad-left supported-by">
					<p style="font-size:14px; color:#fff;">Supported by:</p>
					<a href="https://www.facebook.com/1DPhil" target="_blank">{{theme:image file="FC-1.jpg"}}</a>
					<a href="https://www.facebook.com/Official5SOSPH" target="_blank">{{theme:image file="FC-2.jpg"}}</a>
					<a href="https://twitter.com/TheVampsPH" target="_blank">{{theme:image file="FC-3.jpg"}}</a>
					<a href="http://www.im4u.my/" target="_blank">{{theme:image file="iM4U-logo.png" class="inst-im4u"}}</a>
					<p style="font-size:14px; color:#fff; padding-top:10px;">Helping promote ocean conservation among the youth</p>
				</div>
            </div>
        </div>
    </div>
</div>

<div class="row participate">
    <label class="title-instagram">How to participate?</label>

    <div style="margin: 15px auto 25px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

	<div>
		<div class="participate-coloumn" style="width:330px;margin-right: 40px;">
			<div class="number">1</div>
			<div class="text" style="width:300px;margin-left: 40px;">
				Take your creative photo of plastic where it SHOULDN'T be.
			</div>
		</div>

		<div class="participate-coloumn" style="width:330px;margin-right: 40px;">
			<div class="number">2</div>
			<div class="text" style="width:280px;margin-left: 40px;">
				Post on Instagram, tag <b>#noplace4plastic</b> & tell us what YOU'RE doing to cut down plastic use.
			</div>
		</div>

		<div class="participate-coloumn" style="width:330px;margin-right: 40px;">
			<div class="number">3</div>
			<div class="text" style="width:280px;margin-left: 40px;">
				Get your photo selected by our judges & win LUXURY RESORT STAYS, DIVE GEAR & COFFEE TABLE BOOKS.
			</div>
		</div>
    </div>

    <div class="terms"><sup style="color:#000">*</sup> <a href="#insta_tnc" class="to_tnc toc-instagramcontest term-and-condition-track">Terms and conditions apply</a></div>
</div>

<div class="row prizes">
    <label class="title-instagram">Prizes</label>

    <div class="coloumn-wrapper">
        <div class="col-md-6 coloumn">
            <div class="col-md-6 no-pad-l">
                <label class="title-coloumnprizes">GRAND PRIZE</label>
                <p>A 3-day, 2-night stay for two at El Nido Resorts' award-winning Miniloc Island Resort in the Philippines, including two-way airfare (Manila-El Nido-Manila), full board meals, and a tour of the island.</p>
            </div>
            <div class="col-md-6">{{theme:image file="Prizes-1.jpg"}}</div>
        </div>

        <div class="col-md-6 coloumn">
            <div class="col-md-6 last-prize">
                <label class="title-coloumnprizes">RUNNERS-UP</label>
                <p>Ten copies of "The Coral Triangle", a 276-page book that showcases the faces, places and wildlife that make this region truly remarkable.</p>
            </div>
            <div class="col-md-6">{{theme:image file="Prizes-2.jpg"}}</div>
        </div>
    </div>
</div>

<div class="row judges">
    <label class="title-instagram">Judges</label>

    <div class="coloumn-wrapper">
        <div class="col-sm-12 judges_list no-pad-l-r">
            <div class="col-sm-2 no-pad-l-r align-l judges_photo">
				{{theme:image file="judges/Putu_Sayoga.png"}}
            </div>
            <div class="col-sm-10 no-pad-r align-l">
				<p class="name_judges">Putu Sayoga</h2>
				<p class="bio_judges">Balinese photographer <a href="http://www.putusayoga.net/" target="_blank">Putu Sayoga</a> started out shooting street photographry while studying politics at Gadjah Mada university. His passion, enthusiasm and skill quickly saw his images appearing in many of the world’s leading media brands including the New York Times, Le Monde, Monocle and Geographical. He is also the co-founder of He also co-founder of a documentary photographers collective <a href="http://arkaproject.com/" target="_blank">Arka Project</a>.</p>
			</div>
        </div>
        <div class="col-sm-12 judges_list no-pad-l-r">
            <div class="col-sm-2 no-pad-l-r align-l judges_photo">
				{{theme:image file="judges/Tommy_Schulz.png"}}
            </div>
            <div class="col-sm-10 no-pad-r align-l">
				<p class="name_judges">Tommy Schulz</h2>
				<p class="bio_judges"><a href="http://www.tommyschultz.com/" target="_blank">Tommy Schultz</a> is a hugely versatile photographer with well over a decade’s experience shooting surf, fashion, commercial, underwater and documentary photography at the highest level, particularly in South East Asia. His clients include National Geographic, Patagonia, Air Asia & Oryx magazine.</p>
			</div>
        </div>
        <div class="col-sm-12 no-pad-l-r judges_list last_judges_list">
            <div class="col-sm-2 no-pad-l-r align-l judges_photo">
				{{theme:image file="judges/JAMES_MORGAN.png"}}
            </div>
            <div class="col-sm-10 no-pad-r align-l">
				<p class="name_judges">JAMES MORGAN</h2>
				<p class="bio_judges"><a href="http://www.jamesmorgan.co.uk/" target="_blank">James Morgan</a> is a multi award-winning photo-journalist and film director. His documentary & travel photography has appeared on the BBC and in publications including National Geographic, Sunday Times, Guardian. His images regularly lead campaigns for WWF and USAID and he is represented by Panos & Getty. He is a two time winner of the Travel Photographer of the Year Award and was selected as one of Magnum’s ‘30 under 30’ in 2014.</p>
			</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 photo-list">

        <!-- instagram feeds start -->
        <div id="insta_feeds" class="instagram-contest">
            <style>
            </style>

            <label class="title-instagram">Contest Photos</label>

            <div class="clearfix">
                <br />
            </div>

            {{instagram_api:feeds limit="18"}}

            <div id="feeds-wrapper">
                {{feeds}}
                <div class="col-sm-2 instagram-feeds" onclick="window.open('{{link}}','_blank')" style="cursor:pointer;">

					<div class="insta_meta_wrapper">
	                    <div class="instagram_meta">
	                        <p>By <a href="https://instagram.com/{{username}}/" target="_blank">{{full_name}}</a>
	                            <br /> <i class="glyphicon glyphicon-heart"></i> {{likes}}</p>
<!--	                        <p><a class="insta_link" href="{{link}}" target="_blank">View on Instagram</a></p>-->
	                    </div>
					</div>
                    <div class="instagram_img_wrapper">
                        <img class="instagram_img img-responsive" data-pyroimage="true" src="{{images.low_resolution.url}}" />
                    </div>

                </div>
                {{/feeds}}
            </div>

            <div class="clearfix"></div>

            {{/instagram_api:feeds}}

            <div class="container">
                <div class="col-sm-12" style="text-align:center;margin-top:40px;">
                    <a class="btn btn-primary btn-small see-all-contest-photos-track" target="_blank" href="https://instagram.com/explore/tags/iheartcoraltriangle/">SEE ALL CONTEST PHOTOS</a> 
                </div>
            </div>

            <div class="clearfix">&nbsp;</div>

            <hr />

            <script>
                $(document).ready(function() {

                    // rollover effect
                    $('.instagram-feeds').livequery(function() {
						$(this).hoverIntent({
							sensitivity: 2,
							over: function(){
								var $meta = $(this).find('.insta_meta_wrapper');
								$meta.fadeIn('100');
							},
							out: function(){
								var $meta = $(this).find('.insta_meta_wrapper');
								$meta.fadeOut('100');
							}
						});
                    });

                    // load more
                    $('#load_more_feeds').click(function(e) {
                        var h = $(this).attr('href');
                        $(this).html('Please wait...').attr('disabled', true);
                        e.preventDefault();
                        $.ajax({
                            type: 'GET',
                            url: h,
                            dataType: 'json',
                            cache: false,
                            success: function(data) {
                                if (data.status == 'ok') {
                                    $('#feeds-wrapper').append('<div style="display:none;"></div>');
                                    $('#feeds-wrapper div:last').html(data.feeds).fadeIn('slow');
                                    $('#load_more_feeds').attr('href', '{{url:site}}instagram_api/get_more/' + data.max_tag_id + '/coraltriangle')
                                }
                            },
                            complete: function() {
                                $('#load_more_feeds').html('Load more').attr('disabled', false);
                            }
                        });

                    });

                });
            </script>

        </div>
        <!-- instagram feeds end -->

    </div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div class="row participate row-line" style="margin-top:-30px;">
    <label class="title-instagram">Promote the contest!<!-- Spread the good news! --></label>

    <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

    <div style="margin-bottom: 25px;">
    	<!-- Promote the contest!<br /> -->
		Download our poster and images you can use with your social media accounts.
    </div>
	
	<div class="row promote-contest-content" style="margin-bottom:30px;">
		<div class="col-sm-6" style="text-align:right;">
			<img src="{{url:site}}{{ theme:path }}/img/CTD Poster lowres-1.jpg" style="text-align:center; width:auto;"/>
		</div>
		<div class="col-sm-6 last-promote-contest" style="text-align:left;">
			<img src="{{url:site}}{{ theme:path }}/img/CTD Poster lowres-2.jpg" style="text-align:center; width:auto;"/>
		</div>
	</div>
	
    <a href="https://www.dropbox.com/sh/qx67a7x555k1rbh/AAAsKUgpyuA6czHQEh2z4_EVa?dl=0" target="_blank" class="btn btn-primary btn-small download-promo-kit-track">DOWNLOAD THE PROMO KIT</a>
</div>

<div class="row participate toc">
    <label class="title-instagram" id="insta_tnc">Terms &amp; Conditions</label>

    <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

	<div class="col-md-8 col-md-offset-2 term-condition">
	    <ol>
			<li>Submitted Instagram photos must 
				<br/>a) portray plastic waste in a natural setting or show plastic made to resemble nature or wildlife, 
				<br/>b) use the hashtags #noplace4plastic and #coraltriangle, and 
				<br/>c) include an explanation of your contribution to reduce plastic waste.
			</li>
			<li>To participate in the contest, you must be at least 13 years old and agree to <a href="https://help.instagram.com/478745558852511" target="_blank">Instagram terms of use</a>.</li>
			<li>Photos can be taken anywhere in the world. We encourage images that relate to the ocean or coast but these will not be given preference by the judges.</li>
			<li>The winning photographs will be selected by a panel of professional photographers. The judges’ decision is final. The photograph with the most likes will receive a People’s Vote prize – A BYO underwater guide & Coral Triangle coffee table book.</li>
			<li>Photos that involve damage to the environment will be disqualified. Any photos deemed to have used purchased likes will be immediately disqualified.</li>
			<li>By entering the contest, you warrant that the submitted photograph is an original work created solely by yourself and that no other party has any right, title, claim or interest in the photograph.</li>
			<li>Use of image post-processing tools is permitted.</li>
			<li>You are allowed to submit as many photos as you like.</li>
			<li>By submitting your photo, you permit the organisers to feature it on <a href="http://www.coraltriangleday.org/" target="_blank">www.coraltriangleday.org</a> and in any and all media deemed relevant.</li>
			<li>Winning photos will be announced on <a href="http://www.coraltriangleday.org/" target="_blank">www.coraltriangleday.org</a> on June 9, 2016, 6:00 pm (GMT+7).</li>
			<li>Winners will be contacted privately via their Instagram accounts.</li>
			<li>The winner of the grand prize will be responsible for paying for his / her own travel to and from the resort, and for all travel arrangement (unless specified otherwise by the sponsor).</li>
			<li>If the winner of the grand prize is a minor in the jurisdiction of his/her legal country of residence, he/she can only take part in such a travel if accompanied by a guardian.</li>
			<li>The 10 winners of the book prize will have 10 days to respond to claim their prize after they have been notified by the contest organizers, otherwise their prize will be forfeited.</li>
			<li>The 10 winners of the Coral Triangle book will receive the book via post. They will need to provide their full mailing address.</li>
			<li>WWF will retain full ownership of the copyright pertaining to the winning Instagram photos.</li>
			<li>Direct employees of the Coral Triangle Initiative on Coral Reefs, Fisheries and Food Security (CTI-CFF), CTI National Coordinating Committees (NCCs) and CTI-CFF Development Partners, and employees of contest sponsors/supporters are not eligible for prizes.</li>
	    </ol>
		
		<p style="text-align:left; padding-left:40px;">Enquiries about the contest can be emailed <a href="mailto:contest@coraltriangleday.org?Subject=Enquiries about Coral Triangle Day Instagram contest" class="s_link">here</a>.</p>
	</div>


</div>
</div>
	<script>
		function ctdcontest9june() {
			var contest9june = new Date("June 9, 2015 16:01:00");
			var now = new Date();
			var timeDiff = contest9june.getTime() - now.getTime();
			
			$("#deadline_contest").append("<div id='date9june'><span class='date' id='remainingdays'>14</span><span class='line'></span><p class='text'>DAYS TO THE CLOSING<br/>OF THE CORAL TRIANGLE DAY<br/>INSTAGRAM CONTEST</p></div>");
		
			$("#remainingdays").countdown("2016/06/10", function(event) {
				$(this).text(
					event.strftime('%D')
				);
			});

			var cek_date = document.getElementById("remainingdays").innerHTML;
			
			if(cek_date != '00'){
				
			}
			else if (timeDiff <= 0) {
				clearTimeout(timer);
				// document.write("complete time deadline");
				$('#date9june').remove();
				$('#time9june16').remove();
				$('#time9junedone').remove();
				$("#deadline_contest").append("<div id='time9junedone'><span class='date' id='contest_closed'><span id='hoursBox' class='hidethis'></span>00<span style='text-align: left; padding-right: 15px;'>:</span>00<span id='minsBox' class='hidethis'></span></span><span class='line'></span><p class='text'>THE CORAL TRIANGLE DAY <br/>INSTAGRAM CONTEST <br/>IS NOW CLOSED</p></div>");
				return false;
			}else{
				$('#date9june').remove();
				$('#time9june16').remove();
				$('#time9junedone').remove();
				$("#deadline_contest").append("<div id='time9june16'><span class='date' id='remainingdays_time'><span id='hoursBox'></span><span style='text-align: left; padding-right: 15px;'>:</span><span id='minsBox'></span></span><span class='line'></span><p class='text'>TIME TO THE CLOSING <br/>OF THE CORAL TRIANGLE DAY <br/>INSTAGRAM CONTEST</p></div>");
			}
				
			var seconds = Math.floor(timeDiff / 1000);
			var minutes = Math.floor(seconds / 60);
			var hours = Math.floor(minutes / 60);
			var days = Math.floor(hours / 24);
			
			hours %= 24;
			minutes %= 60;
			seconds %= 60;
			
			//day = ("00" + day).substr(-2);            
            hours = ("00" + hours).substr(-2);            
            minutes = ("00" + minutes).substr(-2);            
            //second = ("00" + second).substr(-2);
			
			//document.getElementById("daysBox").innerHTML = days;
			document.getElementById("hoursBox").innerHTML = hours;
			document.getElementById("minsBox").innerHTML = minutes;
			//document.getElementById("secsBox").innerHTML = seconds;
			var timer = setTimeout('ctdcontest9june()',1000);
		}
	</script>
	<script>ctdcontest9june();</script>
<script>
	//$("#remainingdays").countdown("2015/06/09", function(event) {
		//$(this).text(
		//	event.strftime('%D')
		//);
	//});

//    var dataimage = null;
//    var limit = 18;
//
//    function getimage() {
//        $.post("/instagram/", {
//                hashtag: "coraltriangle"
//            },
//            function(data) {
//                dataimage = JSON.parse(data);
//                generatePage();
//            }
//        );
//    }
//
//    function generatePage() {
//        var page = $("#photolist-pagination");
//        page.html('');
//        var prev = '<li onclick="prev()"><span>PREV</span</li>';
//        page.append(prev);
//
//        var lengthpage = parseInt(dataimage.length / limit);
//        if (dataimage.length % limit != 0) {
//            lengthpage = lengthpage + 1;
//        }
//
//        for (i = 0; i < (lengthpage); i++) {
//            var li = '<li class="pagingnumber"><span>' + (i + 1) + '</span></li>';
//            page.append(li);
//        }
//
//        var next = ' <li onclick="next()"><span>NEXT</span></li>';
//        page.append(next);
//
//        $("#photolist-pagination >li.pagingnumber").click(function() {
//            getPage($(this).text() * 1);
//        })
//
//        $("#photolist-pagination >li.pagingnumber:eq(0)").trigger("click");
//    }
//
//    function prev() {
//        var num = ($("#photolist-pagination >li.pagingnumber.active").text() * 1) - 1;
//        if (num >= 1) {
//            getPage(num);
//        }
//    }
//
//    function next() {
//        var num = ($("#photolist-pagination >li.pagingnumber.active").text() * 1) + 1;
//        console.log(num);
//        if (num <= (dataimage.length % limit)) {
//            getPage(num);
//        }
//    }
//
//
//    function getPage(page) {
//        console.log(page);
//        $("#photolist-pagination >li").removeClass("active");
//        $("#photolist-pagination >li.pagingnumber:eq(" + (page - 1) + ")").addClass("active");
//        $("#instagram-photolist").html('');
//
//        for (var i = (page * limit) - limit; i < (page * limit); i++) {
//            if (dataimage[i]) {
//                var list = '<div class="col-md-2 col-sm-4">' + '       <a href="#" class="thumbnail">' + '          <img src="' + dataimage[i].images.low_resolution.url + '" class="img-responsive"/>' + '      </a>' + '</div>';
//
//                //                var li = "<li><img src='" + dataimage[i].images.low_resolution.url + "' class='img-responsive' /></li>";
//                $("#instagram-photolist").append(list);
//            }
//        }
//    }
//
//
//    $(function() {
//
//        getimage();
//
//    })
</script>