<div class="contestpage">
    <div class="clearfix"></div>

    <div class="row contest-welcome-2018">
        <label class="title-instagram"><span style="font-size: 28px;color:#b3ec4a">JOIN THE</span> <b>#PLASTIC<span style="color:#b3ec4a">RESISTANCE</span></b><br><span style="font-size: 28px;color:#b3ec4a">THIS CORAL TRIANGLE DAY<br>&amp; WIN GREAT PRIZES!</span></label>
        <hr class="separator separator-wide" />
        <div class="row steps">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-2">1</div>
                    <div class="col-xs-10">
                        Post a photo or video to Instagram that demonstrates how YOU are saying NO to pointless plastics, like bags, straws, coffee cup lids, cotton buds and packaging.
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-2">2</div>
                    <div class="col-xs-10">
                        Tag your photo <strong style="color:#b3ec4a">#plasticresistance</strong> &amp; <strong style="color:#b3ec4a">#coraltriangle</strong> and share with us your plastic pledge in no more than 50 words!
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-xs-2">3</div>
                    <div class="col-xs-10">
                        Nominate a friend and recruit her/him to the <strong style="color:#b3ec4a">#plasticresistance</strong>!
                    </div>
                </div>
            </div>
        </div>
        <hr class="separator" />
        <div class="hollow-button-container">
            <button id="sponsorsBtn"><i class="fa fa-male"></i>&nbsp;&nbsp;SPONSORS &amp; PARTNERS</button>
            <button id="prizesBtn"><i class="fa fa-trophy"></i>&nbsp;&nbsp;PRIZES</button>
            <button id="judgesBtn"><i class="fa fa-users"></i>&nbsp;&nbsp;JUDGES</button>
            <button id="moreBtn"><i class="fa fa-list"></i>&nbsp;&nbsp;TERMS &amp; CONDITION</button>
        </div>
    </div>

    <div class="row prizes">
        <label class="title-instagram">Prizes</label>

        <div class="coloumn-wrapper">
            <div class="col-sm-4">
                <a href="http://www.scuba-junkie.com/" target="_blank">
                    <div class="img-overlay">
                        <h1>1<sup>st</sup> Prize
                        </h1>
                    </div>
                    {{theme:image file="prizes/2018/1st.jpg"}}
                </a>
                <label class="number-coloumnprizes">1ST PRIZE</label>
                <hr class="separator separator-dark" />
                <div class="list_prizes">
                        <label class="title-coloumnprizes">7-nights Diving Kri Eco Resort Raja Ampat </label>
                        <p>
                            One Week’s Accommodation at Kri Eco Resort in a Papuan Water Cottage for one person
                            <ul>
                                <li>Boat transfer to and from Sorong (following our boat transfer schedule)*</li>
                                <li>Meals 3x a day</li>
                                <li>Diving 3x a day plus equipment</li>
                            </ul>
                        </p>
                        <!-- <hr class="separator separator-dark" /> -->
                    </div>
            </div>
            <div class="col-sm-4">
                <a href="http://www.dajuma.com" target="_blank">
                    <div class="img-overlay">
                        <h1>2<sup>nd</sup> Prize
                        </h1>
                    </div>
                    {{theme:image file="prizes/2018/2nd.jpg"}}
                </a>
                <label class="number-coloumnprizes">2ND PRIZE</label>
                <hr class="separator separator-dark" />
                <div class="list_prizes">
                        <label class="title-coloumnprizes">3-day Diving, Scuba Junkie Borneo</label>
                        <ul>
                            <li>3 days,9 dives Mabul &amp; Kapalai*</li>
                            <li>Diving &amp; Snorkeling equipment</li>
                            <li>2 nights accommodation Ensuite Fan room</li>
                            <li>Meals,tea,coffee &amp; water</li>
                            <li>Return scheduled boat transfers from Semporna</li>
                        </ul>
                    </div>
            </div>
            <div class="col-sm-4">
                <a href="https://www.chillysbottles.com" target="_blank">
                    <div class="img-overlay">
                        <h1>3<sup>rd</sup> Prize
                        </h1>
                    </div>
                    {{theme:image file="prizes/2018/3rd.jpg"}}
                </a>
                <label class="number-coloumnprizes">3RD PRIZE</label>
                <hr class="separator separator-dark" />
                <div class="list_prizes">
                    <label class="title-coloumnprizes">Mares Avanti TRE Ray Mask, Snorkel &amp; Fins Set</label>
                    <!-- <hr class="separator separator-dark" /> -->
                </div>
            </div>
            
        </div>
        <div class="terms">
            <!-- <ol>
                <li>Post a photo or video showing how YOU are breaking up with pointless plastics</li>
                <li>Tag it <b>#plasticresistance</b> &amp; <b>#coraltriangle</b></li>
                <li>Share your plastic pledge in 50 words or less &amp; tag a fried to join the <b>#plasticresistance!</b></li>
            </ol> -->
            <sup style="color:#000">*</sup> All prize winners will also receive a Coral Triangle coffee table book</div>
    </div>

    <div class="eventsponsor contest_sponsor">
        <div class="eventsponsor" style="width:92.7%; margin: 0 auto; padding-top: 45px;">
            <label class="title">SPONSORS</label>
            <div class="list_carousel responsive">
                <ul id="sponsorslider" class="img-grayscale-list">
                    <li>
                        <a href="https://papua-diving.com/" target="_blank">
                            {{theme:image file="contest/PAPUA DIVING RESORTS LOGO.png" class="img-responsive" style="height:80px;"}}
                        </a>
                    </li>
                    <li>
                        <a href="http://www.scuba-junkie.com/" target="_blank">
                            {{theme:image file="contest/scuba_junkie.png" class="img-responsive" style="height: 80px;"}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="eventsponsor contest_partners">
        <div class="eventsponsor" style="width:92.7%; margin: 0 auto;">
            <label class="title">PARTNERS</label>
            <div class="list_carousel responsive">
                <ul id="partnerslider" class="img-grayscale-list">
                    <li>
                        <a href="http://www.conservation.org/" target="_blank">
                            {{theme:image file="contest/photo.png" class="img-responsive" style="height: 80px;"}}
                        </a>
                    </li>
                    <li>
                        <a href="http://mission-blue.org/" target="_blank">
                            {{theme:image file="contest/MBlogo2.jpg" class="img-responsive" style="height: 80px;"}}
                        </a>
                    </li>
                    <li>
                        <a href="http://matadornetwork.com/" target="_blank">
                            {{theme:image file="contest/dMJh4cCB.png" class="img-responsive" style="height: 80px;"}}
                        </a>
                    </li>
                    <li>
                        <a href="https://www.connect4climate.org/" target="_blank">
                            {{theme:image file="contest/connect4climate-logo-website2.jpg" class="img-responsive" style="height:80px;"}}
                        </a>
                    </li>
                    <li>
                        <a href="http://byebyeplasticbags.org/"  target="_blank">
                            {{theme:image file="contest/BBPB.png" class="img-responsive" style="height: 80px;"}}
                        </a>
                    </li>
                    <li>
                        <a href="https://www.worldwildlife.org/"  target="_blank">
                            {{theme:image file="wwf-logo@2x.png" class="img-responsive" style="height: 80px;"}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {

            $('#sponsorslider').imagesLoaded(function () {
                $('#sponsorslider').carouFredSel({
                    width: '100%',
                    scroll: 1,
                    prev: '#prev-sponsor',
                    next: '#next-sponsor'
                });
            });

            $('#partnerslider').imagesLoaded(function () {
                $('#partnerslider').carouFredSel({
                    width: '100%',
                    scroll: 1,
                    prev: '#prev-sponsor',
                    next: '#next-sponsor'
                });
            });

            $("#moreBtn").on("click", function (e) {
                $("html, body").animate({
                    scrollTop: $("#insta_tnc").offset().top - 60
                }, 800);
            });

            $("#sponsorsBtn").on("click", function(e){
                $("html, body").animate({
                    scrollTop: $(".eventsponsor").offset().top - 60
                }, 800);
            });

            $("#prizesBtn").on("click", function(e){
                $("html, body").animate({
                    scrollTop: $(".prizes").offset().top - 60
                }, 800);
            });

            $("#judgesBtn").on("click", function(e){
                $("html, body").animate({
                    scrollTop: $(".judges").offset().top - 60
                }, 800);
            });

        });
    </script>

    <div class="row judges">
        <label class="title-instagram">Judges</label>

        <div class="coloumn-wrapper">
            <div class="col-md-12 judges_list no-pad-l-r">
                <div class="col-md-2 no-pad-l-r align-l judges_photo judges2018">
                    {{theme:image file="judges/byebyeplasticbag-girls.png"}}
                </div>
                <div class="col-md-10 no-pad-r align-l">
                    <p class="name_judges">Melati &amp; Isabel Wisjen (Bye Bye Plastic Bag)</h2>
                    <p class="bio_judges">Sisters Melati (15) &amp; Isabel (13) set up <a href="http://www.byebyeplasticbags.org/" target="_blank">Bye Bye Plastic Bags</a> to try and curb the tide of single use plastics in Bali. Since its launch, the campaign has gone global, connecting communities around the world, while the two sisters have been sharing their message at high profile forums like the TED London conference and the UN. </p>
                </div>
            </div>
            <div class="col-md-12 judges_list no-pad-l-r">
                <div class="col-md-2 no-pad-l-r align-l judges_photo judges2018">
                    {{theme:image file="judges/JAMES_MORGAN.png"}}
                </div>
                <div class="col-md-10 no-pad-r align-l">
                    <p class="name_judges">JAMES MORGAN</h2>
                    <p class="bio_judges"><a href="http://www.jamesmorgan.co.uk/" target="_blank">James Morgan</a> is a multi award-winning photo-journalist and film director. His documentary &amp; travel photography has appeared on the BBC and in publications including National Geographic, Sunday Times, Guardian. His images regularly lead campaigns for WWF and USAID and he is represented by Panos &amp; Getty. He is a two time winner of the Travel Photographer of the Year Award and was selected as one of Magnum’s ‘30 under 30’ in 2014.</p>
                </div>
            </div>
            <div class="col-md-12 no-pad-l-r judges_list last_judges_list">
                <div class="col-md-2 no-pad-l-r align-l judges_photo judges2018">
                    {{theme:image file="judges/Tommy_Schulz.png"}}
                </div>
                <div class="col-md-10 no-pad-r align-l">
                    <p class="name_judges">Tommy Schultz</h2>
                    <p class="bio_judges"><a href="http://www.tommyschultz.com/" target="_blank">Tommy Schultz</a> is a hugely versatile photographer with well over a decade’s experience shooting surf, fashion, commercial, underwater and documentary photography at the highest level, particularly in South East Asia. His clients include National Geographic, Patagonia, Air Asia &amp; Oryx magazine.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 photo-list">

            <!-- instagram feeds start -->
            <div id="insta_feeds" class="instagram-contest">
                <label class="title-instagram">Contest Photos</label>
                <div class="clearfix">
                    <br />
                </div>

                <div id="feeds-wrapper">
                    {{instagram_api:feeds2018 limit="12"}}
                    <div class="col-sm-2 instagram-feeds" onclick="window.open('{{link}}','_blank')" style="cursor:pointer;">

                        <div class="insta_meta_wrapper">
                            <div class="instagram_meta">
                                <p>
                                    <i class="glyphicon glyphicon-heart"></i> {{likes}}</p>
                            </div>
                        </div>
                        <div class="instagram_img_wrapper">
                            <img class="instagram_img img-responsive" data-pyroimage="true" src="{{images}}" />
                        </div>

                    </div>
                    {{/instagram_api:feeds2018}}
                </div>

                <div class="clearfix"></div>

                <div class="container">
                    <div class="col-sm-12" style="text-align:center;margin-top:40px;">
                        <a class="btn btn-primary btn-small see-all-contest-photos-track" target="_blank" href="https://instagram.com/explore/tags/plasticresistance/">SEE ALL CONTEST PHOTOS</a>
                    </div>
                </div>

                <div class="clearfix">&nbsp;</div>

                <hr />

                <script>
                    $(document).ready(function () {

                        // rollover effect
                        $('.instagram-feeds').livequery(function () {
                            $(this).hoverIntent({
                                sensitivity: 2,
                                over: function () {
                                    var $meta = $(this).find('.insta_meta_wrapper');
                                    $meta.fadeIn('100');
                                },
                                out: function () {
                                    var $meta = $(this).find('.insta_meta_wrapper');
                                    $meta.fadeOut('100');
                                }
                            });
                        });

                        // load more
                        $('#load_more_feeds').click(function (e) {
                            var h = $(this).attr('href');
                            $(this).html('Please wait...').attr('disabled', true);
                            e.preventDefault();
                            $.ajax({
                                type: 'GET',
                                url: h,
                                dataType: 'json',
                                cache: false,
                                success: function (data) {
                                    if (data.status == 'ok') {
                                        $('#feeds-wrapper').append(
                                            '<div style="display:none;"></div>');
                                        $('#feeds-wrapper div:last').html(data.feeds).fadeIn(
                                            'slow');
                                        $('#load_more_feeds').attr('href',
                                            '{{url:site}}instagram_api/get_more/' +
                                            data.max_tag_id + '/coraltriangle')
                                    }
                                },
                                complete: function () {
                                    $('#load_more_feeds').html('Load more').attr('disabled',
                                        false);
                                }
                            });

                        });

                    });
                </script>

            </div>
            <!-- instagram feeds end -->

        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div class="row participate row-line" style="margin-top:-30px;">
        <label class="title-instagram">Promote the contest!
            <!-- Spread the good news! -->
        </label>

        <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

        <div style="margin-bottom: 25px;">
            <!-- Promote the contest!<br /> -->
            Download our posters and share them on your social media accounts.
        </div>

        <div class="row promote-contest-content" style="margin-bottom:30px;">
            <div class="col-sm-12" style="text-align:center;">
                <a href="https://drive.google.com/drive/folders/1D4yEJzWOEib4QHGf-Hdy2Vjqhktxdgmh?usp=sharing">
                    <img src="{{url:site}}{{ theme:path }}/img/promo_contest2018.jpg" style="text-align:center; width:450px;" />
                </a>
            </div>
        </div>

        <a href="https://drive.google.com/drive/folders/1D4yEJzWOEib4QHGf-Hdy2Vjqhktxdgmh?usp=sharing" target="_blank" class="btn btn-primary btn-small download-promo-kit-track">DOWNLOAD THE POSTERS</a>
    </div>

    <div class="row participate toc t_and_c_first">
        <label class="title-instagram" id="insta_tnc">Competition Criteria</label>

        <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

        <div class="col-md-8 col-md-offset-2 term-condition">
            <ol class="ol_t_c_out">
                <li>
                    To qualify, Instagram photos &amp; videos must demonstrate an action or actions by the entrant that contribute to the reduction of plastic usage and plastic waste, particularly single use plastic. Entries must also include a plastic pledge - a statement of not more than 50 word describing the entrant's commitment to giving up plastic. Don't forget to include the contest hashtags: <b>#PLASTICRESISTANCE</b> and <b>#CORALTRIANGLE</b> and to tag a friend!
                </li>
                <li>To participate in the contest, you must be at least 13 years old and agree to
                    <a href="https://help.instagram.com/478745558852511" target="_blank">Instagram terms of use</a>
                </li>
                <li>Photos can be taken anywhere in the world. We encourage images that relate to the ocean or coast but these will not be given preference by judges</li>
                <li>The winning photographs will be selected by a panel of professional photographers. The judges’ decision is final. The photograph with the most likes will receive a People’s Vote prize.</li>
                <li>Photos that involve damage to the environment will be disqualified. Any photos deemed to have purchased likes will be immediately disqualified. </li>
                <li>By entering the contest, you warrant that the submitted photograph is an original work created solely by yourself and that no other party has any right, title, claim or interest in the photograph.</li>
                <li>Use of post-processing tools is permitted</li>
                <li>You are allowed to submit as many photos as you like</li>
                <li>By submitting your photo, you permit the organisers to feature it on www.coraltriangleday.org and in any and all media deemed relevant</li>
                <li>Winning photos will be announced 2 days after www.coraltriangleday.org on June 11, 2018, 7:00 pm (GMT+7).</li>
                <li>Winners will be contacted privately via their Instagram accounts</li>
                <li>The winner of the grand prize will be responsible for paying for his / her own travel to and from the resort, and for all travel arrangement (unless specified by the sponsor)</li>
                <li>If the winner of the grand prize is a minor in the jurisdiction of his/her legal country of residence, he/she can only take part in such a travel if accompanied by a guardian</li>
                <li>WWF will retain full ownership of the copyright pertaining to the winning Instagram photo</li>
                <li>Direct employees of the Coral Triangle Initiative on Coral Reefs, Fisheries and Food Security (CTI-CFF), CTI National Coordinating Committees (NCCs) and CTI-CFF Development Partners, and employees of contest sponsors/supporters are not eligible for prizes</li>
            </ol>
        </div>
    </div>
</div>

<script>
    function ctdcontest9june() {
        var contest9june = new Date("May 9, 2018 23:59:00");
        var now = new Date();
        var timeDiff = contest9june.getTime() - now.getTime();

        $("#deadline_contest").append(
            "<div id='date9june'><span class='date' id='remainingdays'>14</span><span class='line'></span><p class='text'>DAYS TO THE CLOSING<br/>OF THE #plasticresistance<br/>INSTAGRAM CONTEST</p></div>"
        );

        $("#remainingdays").countdown("2018/05/9", function (event) {
            $(this).text(
                event.strftime('%D')
            );
        });

        var cek_date = document.getElementById("remainingdays").innerHTML;

        
        var seconds = Math.floor(timeDiff / 1000);
        var minutes = Math.floor(seconds / 60);
        var hours = Math.floor(minutes / 60);
        var days = Math.floor(hours / 24);

        hours %= 24;
        minutes %= 60;
        seconds %= 60;

        days = ("00" + days).substr(-2);            
        hours = ("00" + hours).substr(-2);
        minutes = ("00" + minutes).substr(-2);
        second = ("00" + seconds).substr(-2);

        document.getElementById("daysBox").innerHTML = days;
        document.getElementById("hoursBox").innerHTML = hours;
        document.getElementById("minsBox").innerHTML = minutes;
        document.getElementById("secsBox").innerHTML = seconds;
        var timer = setTimeout('ctdcontest9june()', 1000);

        if (cek_date != '00') {

        } else if (timeDiff <= 0) {
            clearTimeout(timer);
            // document.write("complete time deadline");
            $('#date9june').remove();
            $('#time9june16').remove();
            $('#time9junedone').remove();
            $("#deadline_contest").append(
                "<div id='time9junedone'><span class='date' id='contest_closed'><span id='hoursBox' class='hidethis'></span>00<span style='text-align: left; padding-right: 15px;'>:</span>00<span id='minsBox' class='hidethis'></span></span><span class='line'></span><p class='text'>THE CORAL TRIANGLE DAY <br/>INSTAGRAM CONTEST <br/>IS NOW CLOSED</p></div>"
            );
            return true;
        } else {
            $('#date9june').remove();
            $('#time9june16').remove();
            $('#time9junedone').remove();
            $("#deadline_contest").append(
                "<div id='time9june16'><span class='date' id='remainingdays_time'><span id='hoursBox'></span><span style='text-align: left; padding-right: 15px;'>:</span><span id='minsBox'></span></span><span class='line'></span><p class='text'>TIME TO THE CLOSING <br/>OF THE #plasticresistance <br/>INSTAGRAM CONTEST</p></div>"
            );
        }

    }
</script>
<script>
    ctdcontest9june();
</script>