<div class="contestpage">
<div class="clearfix"></div>
<div class="row banner_2015" style="border-bottom: 1px solid #D7D7D7;">
	<div class="col-sm-6 no-pad banner_2015_left">
		<div class="left-winner-contest-ctd">&nbsp;</div>
	</div>
					
	<div class="col-sm-6">
		<div id="containingBlock">
			<div>
				<h1 class="title-announcement-winner" style="color:#035291;">Congratulations!</h1>
				<div class="announcement-right-img-heart">
					<img data-pyroimage="true" src="{{ url:site }}{{ theme:path }}/img/HeartImg-Small.png" class="img-heart-announcement">
				</div>
				<div class="announcement-right-img-text">
					<h3 style="margin:0px;">@kenservationist</h3>
					<h3 style="margin:5px 0px 0px 0px;">&#10084; 85</h3>
					<p style="margin: 10px 0px 0px; font-weight:bold; color:#035291;">Grand Prize Winner of<br />The Coral Triangle Day Instagram Contest!</p>
				</div>

				<p>This photo received the most likes in the Coral Triangle Day Instagram Contest.</p>
				<p>Its owner takes the Grand Prize of a 3-day, 2-night stay for two at <a href="http://www.elnidoresorts.com" target="_blank">El Nido Resorts'</a> award-winning Miniloc Island Resort in the Philippines, including two-way airfare (Manila-El Nido-Manila), full board meals, and a tour of the island.</p>
				<p>The contest winners have been selected on the basis of our <a href="{{url:site}}contest#insta_tnc" class="to_tnc">Terms and Conditions</a> and <a href="https://help.instagram.com/477434105621119/" target="_blank">Instagram Community Guidelines</a></p>

				<p style="font-size:14px; color:gray;">Sponsored by:</p>
				<a href="http://www.elnidoresorts.com/" target="_blank">{{theme:image file="El Nido Logotype - Gold.jpg" style="width: 148px; height: 52px;"}}</a>
			</div>
		</div>
	</div>
</div>
				
<div class="row">
	<div style="margin:0 auto; width:76%; padding-top:30px; text-align:center;">
		<h2 style="font-family: Pacifico; margin-top: 0px; margin-bottom: 25px;">Runners Up</h2>
		<p style="margin-top: 25px; margin-bottom: 25px;">Runners-up receive one copy each of the <a href="http://wwf.panda.org/what_we_do/where_we_work/coraltriangle/publications/photobook/" target="_blank">The Coral Triangle photo book</a>.</p>

		<div class="col-sm-5-am">
			<img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 01.jpg" />
			<div class="runner-up-outer">
				<div class="runner-up-inner-left">
					<p>1</p>
				</div>

				<div class="runner-up-inner">
					<p>@batang_walay</p>
					<p>&#10084; 49</p>
				</div>
			</div>
		</div>
					
		<div class="col-sm-5-am">
			<img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 02.jpg" />
			<div class="runner-up-outer">
				<div class="runner-up-inner-left">
					<p>2</p>
				</div>

				<div class="runner-up-inner">
					<p>@lalabells</p>
					<p>&#10084; 48</p>
				</div>
			</div>
		</div>
					
		<div class="col-sm-5-am">
			<img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 03.jpg" />
			<div class="runner-up-outer">
				<div class="runner-up-inner-left">
					<p>3</p>
				</div>

				<div class="runner-up-inner">
					<p>@meeiyeng</p>
					<p>&#10084; 42</p>
				</div>
			</div>
		</div>
					
		<div class="col-sm-5-am">
			<img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 04.jpg" />
			<div class="runner-up-outer">
				<div class="runner-up-inner-left">
					<p>4</p>
				</div>

				<div class="runner-up-inner">
					<p>@myusrilmirza</p>
					<p>&#10084; 32</p>
				</div>
			</div>
		</div>
					
		<div class="col-sm-5-am">
			<img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 05.jpg" />
			<div class="runner-up-outer">
				<div class="runner-up-inner-left">
					<p>5</p>
				</div>

				<div class="runner-up-inner">
					<p>@iamkippie</p>
					<p>&#10084; 25</p>
				</div>
			</div>
		</div>
					
		<div class="col-sm-5-am">
			<img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 06.jpg" />
			<div class="runner-up-outer">
				<div class="runner-up-inner-left">
					<p>6</p>
				</div>

				<div class="runner-up-inner">
					<p>@irvanardiyanto</p>
					<p>&#10084; 23</p>
				</div>
			</div>
		</div>
					
		<div class="col-sm-5-am">
			<img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 07.jpg" />
			<div class="runner-up-outer">
				<div class="runner-up-inner-left">
					<p>7</p>
				</div>

				<div class="runner-up-inner">
					<p>@torrricameron</p>
					<p>&#10084; 23</p>
				</div>
			</div>
		</div>
					
		<div class="col-sm-5-am">
			<img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 08.jpg" />
			<div class="runner-up-outer">
				<div class="runner-up-inner-left">
					<p>8</p>
				</div>

				<div class="runner-up-inner">
					<p>@fakruddin727</p>
					<p>&#10084; 22</p>
				</div>
			</div>
		</div>
					
		<div class="col-sm-5-am">
			<img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 09.jpg" />
			<div class="runner-up-outer">
				<div class="runner-up-inner-left">
					<p>9</p>
				</div>

				<div class="runner-up-inner">
					<p>@iamemerissa</p>
					<p>&#10084; 19</p>
				</div>
			</div>
		</div>
					
		<div class="col-sm-5-am">
			<img data-pyroimage="true" src="{{ url:site }}{{theme:path}}/img/winner/book 10.jpg" />
			<div class="runner-up-outer">
				<div class="runner-up-inner-left">
					<p>10</p>
				</div>

				<div class="runner-up-inner">
					<p>@kimmytran_19</p>
					<p>&#10084; 15</p>
				</div>
			</div>
		</div>		
	</div>
</div>
				
<div class="row">
	<p class="align-center warning-text-runner-up">Number of Instagram likes are based on June 9 contest cut-off time at 17.00 (GMT+7)<p/>
</div>

<div class="row participate how_to_participate">
    <label class="title-instagram">How to participate?</label>

    <div style="margin: 15px auto 25px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

	<div class="container_h_participate">
		<div class="col-sm-4 no-pad-l-r">
			<div class="col-sm-2 no-pad-l">
				<div>1</div>
			</div>
			<div class="col-sm-10 no-pad-l">
				<div>Create a heart shape with any natural materials you can find (leaves, seashells, your hands, etc.) in the Coral Triangle in a way that is respectful and harmless for nature.</div>
			</div>
		</div>

		<div class="col-sm-4 no-pad-l-r">
			<div class="col-sm-2 no-pad-l">
				<div>2</div>
			</div>
			<div class="col-sm-10 no-pad-l">
				<div>Take a photo and post it on Instagram with the hashtag <b>#iheartcoraltriangle</b></div>
			</div>
		</div>
		
		<div class="col-sm-4 no-pad-l-r">
			<div class="col-sm-2 no-pad-l">
				<div>3</div>
			</div>
			<div class="col-sm-10 no-pad-l-r">
				<div>Share it on Facebook and Twitter, and get your photo 'liked' by others. The photo with the most likes will win<sup>*</sup>! <p style="opacity: 0;" class="this-for-space-last"><!-- temp -->this for space this for space this for space</div>
			</div>
		</div>
    </div>

    <div class="terms"><sup style="color:#000">*</sup> <a href="#insta_tnc" class="to_tnc toc-instagramcontest term-and-condition-track">Terms and conditions apply</a></div>
</div>

<div class="row prizes">
    <label class="title-instagram">Prizes</label>
    <div class="coloumn-wrapper">
        <div class="col-md-6 coloumn">
            <div class="col-md-6 ">
                <label class="title-coloumnprizes">GRAND PRIZE</label>
                <p>A 3-day, 2-night stay for two at El Nido Resorts' award-winning Miniloc Island Resort in the Philippines, including two-way airfare (Manila-El Nido-Manila), full board meals, and a tour of the island.</p>
            </div>
            <div class="col-md-6">{{theme:image file="prizes-2015/Prizes-1.jpg"}}</div>
        </div>

        <div class="col-md-6 coloumn">
            <div class="col-md-6 last-prize">
                <label class="title-coloumnprizes">RUNNERS-UP</label>
                <p>Ten copies of "The Coral Triangle", a 276-page book that showcases the faces, places and wildlife that make this region truly remarkable.</p>
            </div>
            <div class="col-md-6">{{theme:image file="prizes-2015/prizes-2.jpg"}}</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 photo-list">

        <!-- instagram feeds start -->
        <div id="insta_feeds" class="instagram-contest">
            <label class="title-instagram">Contest Photos</label>
            <div class="clearfix"><br /></div>

            <div id="feeds-wrapper">
            {{instagram_api:feeds2015 limit="18"}}
                <div class="col-sm-2 instagram-feeds" onclick="window.open('{{link}}','_blank')" style="cursor:pointer;">

					<div class="insta_meta_wrapper">
	                    <div class="instagram_meta">
	                        <p><i class="glyphicon glyphicon-heart"></i> {{likes}}</p>
<!--	                        <p><a class="insta_link" href="{{link}}" target="_blank">View on Instagram</a></p>-->
	                    </div>
					</div>
                    <div class="instagram_img_wrapper">
                        <img class="instagram_img img-responsive" data-pyroimage="true" src="{{images}}" />
                    </div>

                </div>
            {{/instagram_api:feeds2015}}
            </div>

			<div class="clearfix"></div>
			
            <div class="container">
                <div class="col-sm-12" style="text-align:center;margin-top:40px;">
                    <a class="btn btn-primary btn-small see-all-contest-photos-track" target="_blank" href="https://instagram.com/explore/tags/iheartcoraltriangle/">SEE ALL CONTEST PHOTOS</a> 
                </div>
            </div>

            <div class="clearfix">&nbsp;</div>

            <hr />

            <script>
                $(document).ready(function() {

                    // rollover effect
                    $('.instagram-feeds').livequery(function() {
						$(this).hoverIntent({
							sensitivity: 2,
							over: function(){
								var $meta = $(this).find('.insta_meta_wrapper');
								$meta.fadeIn('100');
							},
							out: function(){
								var $meta = $(this).find('.insta_meta_wrapper');
								$meta.fadeOut('100');
							}
						});
                    });

                    // load more
                    $('#load_more_feeds').click(function(e) {
                        var h = $(this).attr('href');
                        $(this).html('Please wait...').attr('disabled', true);
                        e.preventDefault();
                        $.ajax({
                            type: 'GET',
                            url: h,
                            dataType: 'json',
                            cache: false,
                            success: function(data) {
                                if (data.status == 'ok') {
                                    $('#feeds-wrapper').append('<div style="display:none;"></div>');
                                    $('#feeds-wrapper div:last').html(data.feeds).fadeIn('slow');
                                    $('#load_more_feeds').attr('href', '{{url:site}}instagram_api/get_more/' + data.max_tag_id + '/coraltriangle')
                                }
                            },
                            complete: function() {
                                $('#load_more_feeds').html('Load more').attr('disabled', false);
                            }
                        });

                    });

                });
            </script>

        </div>
        <!-- instagram feeds end -->

    </div>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>

<div class="row participate row-line" style="margin-top:-30px;">
    <label class="title-instagram">Promote the contest!<!-- Spread the good news! --></label>

    <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

    <div style="margin-bottom: 25px;">
    	<!-- Promote the contest!<br /> -->
		Download our poster and images you can use with your social media accounts.
    </div>
	
	<div class="row promote-contest-content" style="margin-bottom:30px;">
		<div class="col-sm-6" style="text-align:right;">
			<img src="{{url:site}}{{ theme:path }}/img/CTD Poster lowres-1.jpg" style="text-align:center; width:auto;"/>
		</div>
		<div class="col-sm-6 last-promote-contest" style="text-align:left;">
			<img src="{{url:site}}{{ theme:path }}/img/CTD Poster lowres-2.jpg" style="text-align:center; width:auto;"/>
		</div>
	</div>
	
    <a href="https://www.dropbox.com/sh/qx67a7x555k1rbh/AAAsKUgpyuA6czHQEh2z4_EVa?dl=0" target="_blank" class="btn btn-primary btn-small download-promo-kit-track">DOWNLOAD THE PROMO KIT</a>
</div>

<div class="row participate toc" id="insta_tnc">
    <label class="title-instagram">Terms &amp; Conditions</label>

    <div style="margin: 15px auto 20px;width: 245px;border-bottom: 1px solid #ddd;">&nbsp;</div>

	<div class="col-md-8 col-md-offset-2 term-condition">
	    <ol>
			<li>Submitted Instagram photos must contain a heart shape created by the submitter with natural materials and the hashtag #iheartcoraltriangle". The photo should be made during the contest period (22 May until 9 June 2015).</li>
			<li>To participate in the contest, you must be at least 13 years old and agree to <a href="https://help.instagram.com/478745558852511" target="_blank">Instagram terms of use</a>.</li>
			<li>Submitted Instagram photos must contain the hashtag #iheartcoraltriangle. Optionally you can also include a positive message (e.g., why you care about the Coral Triangle and ocean life).</li>
			<li>All photos must be taken in at least one of the Coral Triangle countries (Indonesia, Malaysia, Papua New Guinea, the Philippines, Solomon Islands, and Timor Leste) and ideally should include a location hashtag (e.g. #Komodo).</li>
			<li>The contest organizers reserve the right to disqualify any photo entered in the contest that shows evidence of destructive use of natural organisms, including but not limited to the removal of live corals and/or coral organisms from reefs, mangroves, and trees.</li>
			<li>By entering the contest, you warrant that the submitted photograph is an original work created solely by yourself and that no other party has any right, title, claim or interest in the photograph.</li>
			<li>Photos can either be all-natural or digitally enhanced, as long as they reflect the beauty of nature in the Coral Triangle.</li>
			<li>You are allowed to submit as many photos as you like. </li>
			<li>All photos posted on Instagram with the hashtag #iheartcoraltriangle will be displayed on <a href="http://www.coraltriangleday.org/">www.coraltriangleday.org</a> and will be used for promotional purpose in any and all media without permission.</li>
			<li>The winners of the grand prize (1) and the runner-up prizes (10 in total) will be those whose photos have the most Instagram “likes” as of June 9, 2015, 4:00 pm (GMT+7).</li>
			<li>Winning photos will be announced on <a href="http://www.coraltriangleday.org/">www.coraltriangleday.org</a> on June 9, 2015, 6:00 pm (GMT+7). </li>
			<li>Winners will be contacted privately via their Instagram accounts.</li>
            <li>The winner of the grand prize will be responsible for paying for his / her own travel to and from the resort, and for all travel arrangement (unless specified by the sponsor).</li>
            <li>If the winner of the grand prize is a minor in the jurisdiction of his/her legal country of residence, he/she can only take part in such a travel if accompanied by a parental authority. If this should cause extra costs these will have to be paid for by the winner.</li>
            <li>The 10 winners of the book prize will have 10 days to respond to claim their prize after they have been notified by the contest organizers, otherwise their prize will be forfeited.</li>
            <li>The 10 winners of the Coral Triangle book will receive the book via courier. They will need to provide their full mailing address.</li>
            <li>WWF will have full ownership of the copyright subsisting in the winning Instagram photo.</li>
            <li>WWF, contest organizers and the sponsor reserve the right to showcase the submitted contest photos in perpetuity on the <a href="http://www.coraltriangleday.org/">www.coraltriangleday.org</a> and on several social media platforms affiliated to the contest’s organizers. The contest organizers may also share the winning photos with the media.</li>
            <li>Direct employees of the Coral Triangle Initiative on Coral Reefs, Fisheries and Food Security (CTI-CFF), CTI National Coordinating Committees (NCCs) and CTI-CFF Development Partners, and direct collaborating contest sponsors/supporters are not eligible for the contest prizes.</li>
	    </ol>
		
		<p style="text-align:left; padding-left:40px;">Enquiries about the contest can be emailed <a href="mailto:contest@coraltriangleday.org?Subject=Enquiries about Coral Triangle Day Instagram contest" class="s_link">here</a>.</p>
	</div>


</div>

</div>
	
	<script>
		// function to calculate local time
		// in a different city
		// given the city's UTC offset
		function calcTime() {
			// create Date object for current location
			d = new Date();
			   
			// convert to msec
			// add local time zone offset
			// get UTC time in msec
			utc = d.getTime() + (d.getTimezoneOffset() * 60000);
			   
			// create new Date object for different city
			// using supplied offset
			nd = new Date(utc + (3600000*'+7'));
			   
			// return time as a string
			return nd.toLocaleString();
		}
	
		function ctdcontest9june() {
			var contest9june = new Date("June 8, 2015 23:51:00");
			var now = new Date(calcTime());
			var timeDiff = contest9june.getTime() - now.getTime();
			
			$("#deadline_contest").append("<div id='date9june'><span id='hoursBox' class='hidethis'></span><span id='minsBox' class='hidethis'></span><span class='date' id='remainingdays'>14</span><span class='line'></span><p class='text'>DAYS TO THE CLOSING<br/>OF THE CORAL TRIANGLE DAY<br/>INSTAGRAM CONTEST</p></div>");
		
			$("#remainingdays").countdown("2015/06/8", function(event) {
				$(this).text(
					event.strftime('%D')
				);
			});

			var cek_date = document.getElementById("remainingdays").innerHTML;
			
			if(cek_date != '00'){
				
			}
			else if (timeDiff <= 0) {
				clearTimeout(timer);
				// document.write("complete time deadline");
				$('#date9june').remove();
				$('#time9june16').remove();
				$('#time9junedone').remove();
				$("#deadline_contest").append("<div id='time9junedone'><span class='date' id='contest_closed'><span id='hoursBox' class='hidethis'></span>00<span style='text-align: left; padding-right: 15px;'>:</span>00<span id='minsBox' class='hidethis'></span></span><span class='line'></span><p class='text'>THE CORAL TRIANGLE DAY <br/>INSTAGRAM CONTEST <br/>IS NOW CLOSED</p></div>");
				return false;
			}else{
				$('#date9june').remove();
				$('#time9june16').remove();
				$('#time9junedone').remove();
				$("#deadline_contest").append("<div id='time9june16'><span class='date' id='remainingdays_time'><span id='hoursBox'></span><span style='text-align: left; padding-right: 15px;'>:</span><span id='minsBox'></span></span><span class='line'></span><p class='text'>TIME TO THE CLOSING <br/>OF THE CORAL TRIANGLE DAY <br/>INSTAGRAM CONTEST</p></div>");
			}
				
			var seconds = Math.floor(timeDiff / 1000);
			var minutes = Math.floor(seconds / 60);
			var hours = Math.floor(minutes / 60);
			var days = Math.floor(hours / 24);
			
			hours %= 24;
			minutes %= 60;
			seconds %= 60;
			
			//day = ("00" + day).substr(-2);            
            hours = ("00" + hours).substr(-2);            
            minutes = ("00" + minutes).substr(-2);            
            //second = ("00" + second).substr(-2);
			
			//document.getElementById("daysBox").innerHTML = days;
			document.getElementById("hoursBox").innerHTML = hours;
			document.getElementById("minsBox").innerHTML = minutes;
			//document.getElementById("secsBox").innerHTML = seconds;
			var timer = setTimeout('ctdcontest9june()',1000);
		}
	</script>
	<script>ctdcontest9june();</script>