<script>
var map_width;
var markers = {{ctd:js_map}};
var cmarkers = [];
var infoWindowContent = [];
var infoWindow;
var def_center;
var def_zoom;
var bounds = new google.maps.LatLngBounds();
function addMarker()
{

	for( i = 0; i < markers.length; i++ )
	{

		var position = new google.maps.LatLng(markers[i][1], markers[i][2]);

		marker = new google.maps.Marker({
			position: position,
			map: Catalyze.map.element,
			title: markers[i][0],
			ctd_event_id: markers[i][4],
		});
		marker.country = markers[i][5]
		cmarkers.push(marker);
/*
		infoWindow = new google.maps.InfoWindow(), marker, i;
		infoWindowContent.push('<div class="gInfoWindow"><h3>'+markers[i][0]+'</h3>'+'<p>'+markers[i][3]+'</p></div>');
*/

		// Allow each marker to have an info window    
		google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {
				// get event details
				$.ajax({
					url: "{{url:site}}ctd/event/"+marker.ctd_event_id,
					beforeSend: function() {
						$("#event_content").fadeOut();
					},
					complete: function(data){
						console.log('i am complete');
					}
				})
				.done(function(data){
						if (data)
						{
							$('#event_content').html(data.view);
							if (data.prev)
								$('#prev_event').attr('rel', data.prev);
							if (data.next)
								$('#next_event').attr('rel', data.next);
							$('#event_content').fadeIn('slow');
							//$('#event_content').fadeOut('slow', function(){
							//	$(this).html(data).fadeIn('slow');
							//});
						}
						else
						{
							$('#event_content').html("Sorry, we have problems retrieving the details.. Please try again in a moment.");
						}
						//$('.sidedetail-event-wrapper, #event_content').fadeIn();
				});


				if ($(".sidedetail-event-wrapper").css('display')=='none')
				{
					Catalyze.map.toggledetailevent_os();
				}

				$('#map-canvas').animate({width:'50%'}, 350, function(){
					google.maps.event.trigger(Catalyze.map.element, "resize");
					Catalyze.map.element.setCenter(marker.getPosition());
					Catalyze.map.element.setZoom(10);
				});
			}
		})(marker, i));

	}

}

function show(country, countrylong) {
	if (!country || country == undefined) return false;
	for (var i=0; i<cmarkers.length; i++) {
		if (country=='all' || cmarkers[i].country == country) {
			cmarkers[i].setVisible(true);
		}
		else
		{
			cmarkers[i].setVisible(false);
		}
	}

	if (countrylong)
	{
		var geocoder = new google.maps.Geocoder();
		geocoder.geocode( { 'address': countrylong}, function(results, status) {
		    if (status == google.maps.GeocoderStatus.OK) {
		        Catalyze.map.element.setCenter(results[0].geometry.location);
		        Catalyze.map.element.fitBounds(results[0].geometry.bounds);
		    } else {
		        alert("Geocode was not successful for the following reason: " + status);
		    }
		});
	}
	else
	{
		        Catalyze.map.element.setCenter(Latlng);
		        Catalyze.map.element.setZoom(def_zoom);
/*
		var geocoder = new google.maps.Geocoder();
		var address = '5.024347, 139.592012';
		var address2 = '1.163532, 126.628145';
		geocoder.geocode( { 'address': address}, function(results, status) {
		    if (status == google.maps.GeocoderStatus.OK) {
		    }
		});
*/
	}
}

$(document).ready(function(){

	$(".sidemenu-country-wrapper ul li").click(function(){
		var c = $(this).attr('data-country-short');
		var cl = $(this).attr('data-country');
		$(".sidemenu-country-wrapper ul li").not($(this)).removeClass('active');
		$(this).addClass('active');
		if (c)
		{
			if (c=='all')
				show(c);
			else
				show(c, cl);
		}
		//Catalyze.map.toggledetailevent();
	});

	$(".prevnext_event").livequery('click', function(e){
		var eid = $(this).attr('rel');
		if (eid)
		{

			for (var i=0; i<cmarkers.length; i++) {
				if (cmarkers.ctd_event_id==eid)
					google.maps.event.trigger(cmarkers[i], 'click');
				break;
			}

			
		}
	});

});

</script>
