<script>
var map_width;
var markers = {{ctd:js_map}};
var cmarkers = [];
var res_marker;
var infoWindowContent = [];
var resort_infoWindow;
var infoWindow;
var def_center;
var def_zoom;
var bounds = new google.maps.LatLngBounds();
function addMarker()
{
	// pin/markers for sponsor
	var contentString  = '<div class="gSponsorInfoWindow"><b>El Nido Resorts, Miniloc Island</b><br/>Sited across from crystal clear waters teeming with marine life, this dream getaway is where the lucky winner of our Instagram contest will get to spend 2 nights.<br /><a href="http://www.elnidoresorts.com/" target="_blank">http://www.elnidoresorts.com/</a></div>';

	var resort_position = new google.maps.LatLng(11.1432032,119.3493104,12);
	resort_infoWindow = new google.maps.InfoWindow({
		content: contentString
	});

	res_marker = new google.maps.Marker({
		position: resort_position,
		map: Catalyze.map.element,
		icon: '{{theme:image_path file="markers/special.jpg"}}',
		title: 'El Nido Resorts, Miniloc Island'
	});
	google.maps.event.addListener(res_marker, 'click', function() {
		resort_infoWindow.open(Catalyze.map.element,res_marker);
	});

	for( i = 0; i < markers.length; i++ )
	{
		var position = new google.maps.LatLng(markers[i][1], markers[i][2]);

		marker = new google.maps.Marker({
			position: position,
			map: Catalyze.map.element,
			title: markers[i][0],
			//icon: '{{theme:image_path file="markers/Icon-PinResort-Yellow.png"}}',
			ctd_event_id: markers[i][4],
		});
		marker.country = markers[i][5]
		cmarkers.push(marker);

		infoWindow = new google.maps.InfoWindow(), marker, i;
		infoWindowContent.push('<div class="gInfoWindow">'+markers[i][0]+'</div>');

		// Allow each marker to have an info window    
		google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {

						Catalyze.map.toggledetailevent();
						$("#event_loading").fadeOut();

					// get event details
					$.ajax({
						method: "post",
						url: "{{url:site}}ctd/event/"+marker.ctd_event_id,
						beforeSend: function() {
							$("#event_content").fadeOut();
							$('#event_loading').fadeIn(function(){
							});
							$('.sidedetail-event-wrapper').show();
						}
					})
					.done(function(data){
							if (data)
							{
								$('#event_content').html(data.view);
								if (data.prev)
								{
									$('#prev_event').attr('rel', data.prev).removeClass('disabled');
								}
								else
								{
									$('#prev_event').attr('rel', '').addClass('disabled');
								}
								if (data.next)
								{
									$('#next_event').attr('rel', data.next).removeClass('disabled');
								}
								else
								{
									$('#next_event').attr('rel', '').addClass('disabled');
								}
							}
							else
							{
								$('#event_content').html("Sorry, we have problems retrieving the details.. Please try again in a moment.");
							}

							$('#event_loading').fadeOut(function(){
							});
								$('#event_content').fadeIn('fast')

					});

				infoWindow.setContent(infoWindowContent[i]);
				resort_infoWindow.close();
				infoWindow.open(Catalyze.map.element,marker);

				$('#map-canvas-wrapper').animate({width:'80%'}, 350, function(){
					google.maps.event.trigger(Catalyze.map.element, "resize");
					Catalyze.map.element.setCenter(marker.getPosition());
					
					Catalyze.map.element.setZoom(10);
				});
				return false;
			}
		})(marker, i));

	}

}

function show(country, countrylong) {
	if (!country || country == undefined) return false;
	for (var i=0; i<cmarkers.length; i++) {
		if (country=='all' || cmarkers[i].country == country) {
			cmarkers[i].setVisible(true);
		}
		else
		{
			cmarkers[i].setVisible(false);
		}
	}

	if (countrylong)
	{
		var geocoder = new google.maps.Geocoder();
		geocoder.geocode( { 'address': countrylong}, function(results, status) {
		    if (status == google.maps.GeocoderStatus.OK) {
		        Catalyze.map.element.setCenter(results[0].geometry.location);
		        Catalyze.map.element.fitBounds(results[0].geometry.bounds);
		    } else {
		        alert("Geocode was not successful for the following reason: " + status);
		    }
		});
	}
	else
	{
        Catalyze.map.element.setCenter(Latlng);
        Catalyze.map.element.setZoom(def_zoom);
	}
}

$(document).ready(function(){

	$(".sidemenu-country-wrapper ul li").click(function(){
		var c = $(this).attr('data-country-short');
		var cl = $(this).attr('data-country');
		$(".sidemenu-country-wrapper ul li").not($(this)).removeClass('active');
		$(this).addClass('active');
		if (c)
		{
			if (c=='all')
				show(c);
			else
				show(c, cl);
		}
		resort_infoWindow.close();
		infoWindow.close();
	});

	$('.prevnext_event').click(function(e){
		e.preventDefault();
		var ei = $(this).attr('rel');
		if (ei)
		{
			for (var i=0; i<cmarkers.length; i++) {
				if (ei==cmarkers[i].ctd_event_id)
				{
					google.maps.event.trigger(cmarkers[i], 'click');
				}
			}
		}
	});

});

</script>
