<script>
var map_width;
var markers = {{ctd:js_map}};
var cmarkers = [];
var res_marker;
var infoWindowContent = [];
var resort_infoWindow;
var infoWindow;
var def_center;
var def_zoom;
var bounds = new google.maps.LatLngBounds();
function addMarker()
{
	// pin/markers for sponsor
	var resort_position = [
		['Gaya Indah Resort', '<div class="gSponsorInfoWindow"><b>Gaya Indah Resort</b><br/>A stunning boutique resort nestled amid verdant jungle and aquamarine seas in the middle of a marine park, Gaya Island offers close encounters with nature alongside a world class lifestyle experience. Our Instagram contest winner + guest will enjoy an all inclusive  3 days 2 night break here.<br /><a href="http://www.gayaislandresort.com/" target="_blank">www.gayaislandresort.com</a></div>', 6.020502, 116.047289],
		['Scuba Junkie', '<div class="gSponsorInfoWindow"><b>Scuba Junkie, Mabul Island, Borneo</b><br/>Located in one of the most fertile areas of the Coral Triangle, Scuba Junkie is an award winning dive operator, with top drawer dive masters, a friendly communal vibe and a real commitment to conservation - our lucky 2nd place winner will enjoy a 5 day all inclusive dive package here!<br /><a href="http://www.scuba-junkie.com/" target="_blank">www.scuba-junkie.com</a></div>', 4.247170, 118.631083],
		['Fatboys Resort, Solomon Islands', '<div class="gSponsorInfoWindow"><b>Fatboys Resort, Solomon Islands</b><br/>Sheltered from the Coral Sea by the surrounding Islands, Fatboys Resort could be considered the perfect hideaway. The Bar & Restaurant is situated 100 metres out atop the crystal clear waters of Mbabanga Island, an 10 minutes boat ride from Gizo, the Provincial Capital of the Western Solomons.<br /><a href="http://www.solomonislandsfatboys.com.au/" target="_blank">www.solomonislandsfatboys.com.au/</a></div>', -8.102152, 156.841839],
    ];
	
	var infowindow = new google.maps.InfoWindow();
	var res_marker, i;

    for (i = 0; i < resort_position.length; i++) {  
		res_marker = new google.maps.Marker({
			position: new google.maps.LatLng(resort_position[i][2], resort_position[i][3]),
			map: Catalyze.map.element,
			icon: '{{theme:image_path file="markers/special.jpg"}}',
			title: resort_position[i][0],
		});

		google.maps.event.addListener(res_marker, 'click', (function(res_marker, i) {
			return function() {
			infowindow.setContent(resort_position[i][1]);
			infowindow.open(Catalyze.map.element,res_marker);
			}
		})(res_marker, i));
    }
	<!-- end markers for sponsor -->
	
	for( i = 0; i < markers.length; i++ )
	{
		var position = new google.maps.LatLng(markers[i][1], markers[i][2]);

		marker = new google.maps.Marker({
			position: position,
			map: Catalyze.map.element,
			title: markers[i][0],
			//icon: '{{theme:image_path file="markers/Icon-PinResort-Yellow.png"}}',
			ctd_event_id: markers[i][4],
		});
		marker.country = markers[i][5]
		cmarkers.push(marker);

		infoWindow = new google.maps.InfoWindow(), marker, i;
		infoWindowContent.push('<div class="gInfoWindow">'+markers[i][0]+'</div>');

		// Allow each marker to have an info window    
		google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {

						Catalyze.map.toggledetailevent();
						$("#event_loading").fadeOut();

					// get event details
					$.ajax({
						method: "post",
						url: "{{url:site}}ctd/event/"+marker.ctd_event_id,
						beforeSend: function() {
							$("#event_content").fadeOut();
							$('#event_loading').fadeIn(function(){
							});
							$('.sidedetail-event-wrapper').show();
						}
					})
					.done(function(data){
							if (data)
							{
								$('#event_content').html(data.view);
								if (data.prev)
								{
									$('#prev_event').attr('rel', data.prev).removeClass('disabled');
								}
								else
								{
									$('#prev_event').attr('rel', '').addClass('disabled');
								}
								if (data.next)
								{
									$('#next_event').attr('rel', data.next).removeClass('disabled');
								}
								else
								{
									$('#next_event').attr('rel', '').addClass('disabled');
								}
							}
							else
							{
								$('#event_content').html("Sorry, we have problems retrieving the details.. Please try again in a moment.");
							}

							$('#event_loading').fadeOut(function(){
							});
								$('#event_content').fadeIn('fast')

					});

				infoWindow.setContent(infoWindowContent[i]);
				resort_infoWindow.close();
				infoWindow.open(Catalyze.map.element,marker);

				$('#map-canvas-wrapper').animate({width:'80%'}, 350, function(){
					google.maps.event.trigger(Catalyze.map.element, "resize");
					Catalyze.map.element.setCenter(marker.getPosition());
					
					Catalyze.map.element.setZoom(10);
				});
				return false;
			}
		})(marker, i));

	}

}

function show(country, countrylong) {
	if (!country || country == undefined) return false;
	for (var i=0; i<cmarkers.length; i++) {
		if (country=='all' || cmarkers[i].country == country) {
			cmarkers[i].setVisible(true);
		}
		else
		{
			cmarkers[i].setVisible(false);
		}
	}

	if (countrylong)
	{
		var geocoder = new google.maps.Geocoder();
		geocoder.geocode( { 'address': countrylong}, function(results, status) {
		    if (status == google.maps.GeocoderStatus.OK) {
		        Catalyze.map.element.setCenter(results[0].geometry.location);
		        Catalyze.map.element.fitBounds(results[0].geometry.bounds);
		    } else {
		        alert("Geocode was not successful for the following reason: " + status);
		    }
		});
	}
	else
	{
        Catalyze.map.element.setCenter(Latlng);
        Catalyze.map.element.setZoom(def_zoom);
	}
}

$(document).ready(function(){

	$(".sidemenu-country-wrapper ul li").click(function(){
		var c = $(this).attr('data-country-short');
		var cl = $(this).attr('data-country');
		$(".sidemenu-country-wrapper ul li").not($(this)).removeClass('active');
		$(this).addClass('active');
		if (c)
		{
			if (c=='all')
				show(c);
			else
				show(c, cl);
		}
		resort_infoWindow.close();
		infoWindow.close();
	});

	$('.prevnext_event').click(function(e){
		e.preventDefault();
		var ei = $(this).attr('rel');
		if (ei)
		{
			for (var i=0; i<cmarkers.length; i++) {
				if (ei==cmarkers[i].ctd_event_id)
				{
					google.maps.event.trigger(cmarkers[i], 'click');
				}
			}
		}
	});

});

</script>
