<script>
var markers = {{ctd:js_map}};
var infoWindowContent = [];
var infoWindow;
var bounds = new google.maps.LatLngBounds();
function addMarker()
{
	for( i = 0; i < markers.length; i++ )
	{

		var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
		bounds.extend(position);
		marker = new google.maps.Marker({
			position: position,
			map: Catalyze.map.element,
			title: markers[i][0],
			id: 'marker_'+i
		});

		infoWindow = new google.maps.InfoWindow(), marker, i;

		infoWindowContent.push('<div class="gInfoWindow"><h3>'+markers[i][0]+'</h3>'+'<p>'+markers[i][3]+'</p></div>');

		// Allow each marker to have an info window    
		google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {
console.log($(this).attr('id'));
				Catalyze.map.element.setCenter(marker.getPosition());
				//infoWindow.setContent(infoWindowContent[i]);
				//infoWindow.open(Catalyze.map.element, marker);
			}
		})(marker, i));

	}

	Catalyze.map.element.fitBounds(bounds);
}
</script>
