<!-- Meta data -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

{{ template:breadcrumbs }}
	{{ if name == 'Home' }}
		<title>Coral Triangle Day </title>
	{{ else}}	
		
	{{ endif}}
{{ /template:breadcrumbs }}

<title>{{ if template:title }} {{template:title}} - {{ endif }} {{settings:site_name}}</title>

{{ theme:favicon file="CTD-favicon.ico" sizes="16x16" }}

<!-- CSS Stylesheets -->
{{ theme:css file="bootstrap.min.css" }}
<link href='http://fonts.googleapis.com/css?family=Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
<!-- <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
{{ theme:css file="nav.css"}}
{{ theme:css file="scroll.css"}}
{{ theme:css file="jquery.mCustomScrollbar.css"}}
{{ theme:css file="datepicker.css"}}
{{ theme:css file="css.css"}} <!-- font Roboto -->
{{ theme:css file="ctd.css"}}
{{ theme:css file="custom2018.css" }}

<!--Java script-->
{{ theme:js file="flexcroll.js"}}
{{ theme:js file="jquery-2.1.4.min.js"}}
{{ theme:js file="bootstrap.min.js"}}
{{ theme:js file="jquery.livequery.min.js"}}

<!-- additional js -->
{{ theme:js file="jquery.row-grid.min.js"}}
{{ theme:js file="jquery.hoverIntent.minified.js" }}
{{ theme:js file="imagesloaded.pkgd.min.js"}}
{{ theme:js file="jquery.carouFredSel-6.2.1.js"}}
{{ theme:js file="jquery.countdown.min.js"}}
{{ theme:js file="retina.js"}}
<!-- additional js -->

<!-- datepicker js -->
{{ theme:js file="bootstrap-datepicker.js"}}
<!-- datepicker js -->

<meta property="og:type" content="website"/>
<meta property="og:url" content="{{url:current}}" />
<meta property="og:title" content="{{ template:title }} - {{ settings:site_name }}" />
<meta property="og:image" content="{{url:site}}{{ theme:path }}/img/coraltriangleday_small.jpg" />
<meta property="og:image:type" content="image/jpeg" /> 
<meta property="og:image:width" content="400" /> 
<meta property="og:image:height" content="300" />

{{ if meta_description }}
	<meta property="og:description" content="{{meta_description}}"/>
{{ elseif page:meta_description }}
	<meta property="og:description" content="{{page:meta_description}}"/>
{{ else }}
	<meta property="og:description" content="Coral Triangle Day 2015"/>
{{ endif }}

{{ template:metadata }}

{{ theme:js file="ctd.js"}}
{{ theme:js file="moment.min.js"}}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyC0g0ghhFZueBHYM4fZ7eVXLq2T2CAjClM"></script>