<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{{ theme:partial name="metadata" }}
		
		<!-- Google Analytics -->
		{{ integration:analytics }}
	</head>
	<body>
		<!-- Global container, 12 columns wide -->
		<div id="container" class="container_12 clearfix">
			<!-- Header -->
			<div id="header" class="grid_12">
				{{ theme:partial name="header" }}
			</div>
			<!-- Content -->
			<div class="col-xs-12" style="margin-top:104px;">
				<div id="content" class="grid_8 suffix_1">
					{{ template:body }}
				</div>
				<!-- Footer -->
				<div id="footer" class="grid_12">
					{{ theme:partial name="footer" }}
				</div>
			</div>
		</div>
	</body>
</html>