                <div class="clearfix"></div>
				
                <div class="row news">
                    <div class="title">News</div>
                    <div class="news-list">
					<div class="content-news mCustomScrollbar">
						<ul style="list-style:none;">
							{{news:posts f_year="2015"}}
							<li>
								<label class="date">{{date_only}}</label> <a href="{{external_url}}" target="_blank" class="news-title">{{title}}</a></li>
							</li>
							{{/news:posts}}
						</ul>
                    </div>
                    </div>
                </div>
