				<div class="col-md-12 partners-container col-xs-12">

					<div class="list-carousel">
						<ul class="slides" id="partnerslide" style="display:none;">
						{{ galleries:images slug="partners" order-dir="rand"}}
							<li class="col-md-2">
								<div class="wraptocenter"><span></span>
								{{if subtitle}}
									<a href="{{subtitle}}" target="_blank"><img src="{{thumbnail_small}}" alt="{{title}}" /></a>
								{{else}}
									<img src="{{thumbnail_small}}" alt="{{title}}" />
								{{endif}}
								</div>
							</li>
						{{ /galleries:images }}
						</ul>
					</div>
					<div class="clearfix"></div>
					<!-- Controls -->
					  <a id="prev-3" class="nav-arrows prev" href="#carousel-example-generic" data-slide="prev">
					  </a>
					  <a id="next-3" class="nav-arrows next" href="#carousel-example-generic" data-slide="next">
					  </a>
<!--
		            <a id="prev-3" class="prev" href="#"><span class="glyphicon glyphicon-chevron-left"></span></a>
		            <a id="next-3" class="next" href="#"><span class="glyphicon glyphicon-chevron-right"></span></a>
-->
				</div>
