<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{{ theme:partial name="metadata" }}
		
		<!-- Google Analytics -->
		{{ integration:analytics }}
	</head>
	<body>
		<!-- Global container, 12 columns wide -->
		<div id="container" class="container_12 clearfix">
			<!-- Header -->
			<div id="header" class="grid_12">
				{{ theme:partial name="header" }}
			</div>
			<!-- Content -->
			<div id="content" class="grid_8 suffix_1">
				{{# template:body #}}

<div class="clearfix">&nbsp;</div>

<h3>Hashtag: #coraltriangle</h3>
{{instagram_api:feeds limit="12"}}

{{feeds}}
<div class="col-sm-3" style="height:550px;"><img class="img-responsive" data-pyroimage="true" src="{{images.low_resolution.url}}" />
<p>By {{user}} | Likes: {{likes}}</p>
</div>
{{/feeds}}

<div class="pagination">
	{{ if prev_url <> "" }}
		<a href="{{prev_url}}">&laquo; Previous</a>
	{{ endif }}
	{{ if next_url <> "" }}
		<a href="{{next_url}}">Next &raquo;</a>
	{{ endif }}
</div>

{{/instagram_api:feeds}}

<hr />
<div class="clearfix">&nbsp;</div>


			</div>
			<!-- Sidebar -->
			<div id="sidebar" class="grid_3">
				{{ theme:partial name="sidebar" }}
			</div>
			<!-- Footer -->
			<div id="footer" class="grid_12">
				{{ theme:partial name="footer" }}
			</div>
		</div>
	</body>
</html>