<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ theme:partial name="metadata" }}

    <!-- Google Analytics -->
    {{ integration:analytics }}
</head>

<body>
    <!-- Global container, 12 columns wide -->
    <div id="container" class="container_12 clearfix homepage">
        <!-- Header -->
        <div id="header" class="grid_12">
            {{ theme:partial name="header" }}
        </div>
		
        <!-- Content -->
        <div class="col-xs-12" style="margin-top:104px;">
            <div id="content" class="grid_8 suffix_1">
				<div class="row  background-cover">
                    <div class="pull-left" style="margin-top:145px;">
                        <div class="cover-text-wrapper">Celebrating the Coral Triangle</div>
                        <div class="line">&nbsp;</div>

                        <div class="cover-text-description home" style="">
							Coral Triangle Day is a public annual event to celebrate the world's epicentre of marine biodiversity. On June 9 2016, get involved in events to celebrate the richest marine environment on the planet and share our message: let&#39;s protect the ocean that sustains us all!
                        </div>
                    </div>
                    <div class="cover-copyright">
                        &copy; Cat Holloway / WWF
                    </div>
                </div>
				
				<!-- events starts -->
				{{ctd:events_table}}
				<!-- events ends -->

				{{theme:partial name="hp-map"}}
				
                <!-- new mosaic starts -->
                <div class="clearfix"><br /><br /></div>
				
				<h1 style="font-size: 33px;font-family: 'Titillium Web'; font-weight: bold; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align:center; margin-bottom: 20px;">Event Gallery</h1>
                {{ theme:js file="mosaic.js"}}
                <div class="row event-photo">

                    <div class="masonry-wrapper" style="width:100%;">

                        <div id="loading" style="width:100%;height:100px;background:#fff url({{site:url}}/img/loading.gif) no-repeat center center; background-size: 64px 64px;"></div>
                        <div id="mcontainer" class="effect-parent">

                            {{galleries:images slug="homepage-mosaic" limit="15"}}
                            <div class="item">{{if external_url}}<a target="_blank" href="{{external_url}}">{{endif}}
                                {{thumbnail}}
                                <div class="mosaic_meta">
                                    <p>
                                        <strong>{{subtitle}}</strong>
                                        {{title}}
                                    </p>
                                </div>
                            {{if external_url}}</a>{{endif}}</div>
                            {{/galleries:images}}

                        </div>
                        <!-- end:#mcontainer -->

                    </div>

                    <div class="clearfix"></div>

                </div>
                <!-- / row event-photo -->

                <div class="clearfix"></div>
                <!-- new mosaic ends -->

				{{theme:partial name="news"}}

                <!--event sponsor-->
				{{theme:partial name="sponsors"}}

            </div>
		
            <!-- Footer -->
            <div id="footer" class="grid_12">
                {{ theme:partial name="footer" }}
            </div>
        </div>
    </div>
</body>
</html>