<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {{ theme:partial name="metadata" }}

    <!-- Google Analytics -->
    {{ integration:analytics }}
</head>

<body>
    <!-- Global container, 12 columns wide -->
    <div id="container" class="container_12 clearfix">
        <!-- Header -->
        <div id="header" class="grid_12">
            {{ theme:partial name="header" }}
        </div>
        <!-- Content -->
        <div class="col-xs-12" style="margin-top:104px;">
            <div id="content" class="grid_8 suffix_1">
                <div class="row background-cover">
                    <div class="pull-left" style="margin-top:135px;">
                        <div class="cover-text-wrapper">WELCOME TO
                            <br /> THE CORAL TRIANGLE DAY 2015</div>
                        <div class="line">&nbsp;</div>

                        <div class="cover-text-description home" style="">
                            Join us as we celebrate the Coral Triangle! 
							<br/>On June 9th, get involved in events to celebrate the richest 
							<br/>marine environment on the planet and share our message:
							<br/>let&#39;s protect the ocean that connect us all!
                        </div>
                    </div>

                    <div class="pull-right cover-right">
                        <div style="text-align:center;"><span class="date" id="remainingdays">14</span>
                            <div class="line">&nbsp;</div>
                            <p class="text">DAYS TO
                                <br /> THE CORAL TRIANGLE DAY
                                <br /> 9 JUNE 2015</p>
                        </div>
                    </div>
                    <div class="cover-copyright">
                        &copy; Cat Holloway / WWF
                    </div>
                </div>

                <div class="instagram-contest">
                    <label class="title">Instagram Contest</label>

                    <div class="line">&nbsp;</div>

                    <div class="col-xs-12">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a href="{{url:site}}contest"><img src="{{ theme:path }}/img/heart-coral-triangle.png" class="img-responsive pull-right" /></a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">
                            <div class="participate-coloumn" style="margin-bottom: 25px;">
                                Fancy an escape to <a href="http://www.elnidoresorts.com/" target="_blank">El Nido Resorts</a> in the Philippines or a stunning underwater photo book? Win a prize by joining this fun and easy Instagram competition, and get creative with nature.
                            </div>
                            <div class="participate-coloumn" style="margin-bottom: 25px;">
                                <div class="number" style="margin-right: 29px;">1</div>
                                <div class="text">
                                    Create a heart shape with any natural materials you can find (leaves, seashells, your hands, etc.) in the Coral Triangle in a way that is respectful and harmless for nature. 
                                </div>
                            </div>
                            <div class="participate-coloumn" style="margin-bottom: 25px;">
                                <div class="number" style="margin-right: 20px;">2</div>
                                <div class="text">
                                    Take a photo and post it on Instagram with the hashtag <b>#iheartcoraltriangle</b>
                                </div>
                            </div>
                            <div class="participate-coloumn" style="margin-bottom: 25px;">
                                <div class="number" style="margin-right: 23px;">3</div>
                                <div class="text">
                                    Share it on Facebook and Twitter, and get your photo 'liked' by others. The photo with the most likes will win<sup>*</sup>!
                                    <br>
                                        <!--<a href="#" class="toc-instagramcontest">*Terms and conditions apply.</a>-->
                                        <span class="toc-instagramcontest"><sup>*</sup>Terms and conditions apply</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <a href="{{url:site}}contest" class="btn btn-primary get-the-detail-track" style="margin-top: 15px;">GET THE DETAILS</a>
                        </div>
                    </div>
                </div>

                {{#theme:partial name="hp-map"#}}

				<!-- events starts -->
				{{#ctd:events_table#}}
				<!-- events ends -->

                <!-- new mosaic starts -->
                <div class="clearfix"><br /><br /></div>
                {{ theme:js file="mosaic.js"}}
                <div class="row event-photo">

                    <div class="masonry-wrapper" style="width:100%;">

                        <div id="loading" style="width: 100%;height:100px;background:#fff url(/img/loading.gif) no-repeat center center; background-size: 100px 100px;"></div>
                        <div id="mcontainer" class="effect-parent">

                            {{galleries:images slug="homepage-mosaic" limit="15"}}
                            <div class="item">{{if external_url}}<a target="_blank" href="{{external_url}}">{{endif}}
                                {{thumbnail}}
                                <div class="mosaic_meta">
                                    <p>
                                        <strong>{{title}}</strong>
                                    </p>
                                </div>
                            {{if external_url}}</a>{{endif}}</div>
                            {{/galleries:images}}

                        </div>
                        <!-- end:#mcontainer -->

                    </div>

                    <div class="clearfix"></div>

                </div>
                <!-- / row event-photo -->

                <div class="clearfix"></div>
                <!-- new mosaic ends -->

				{{#theme:partial name="news"#}}

                <!--event sponsor-->
				{{#theme:partial name="sponsors"#}}

            </div>

            <!-- Footer -->
            <div id="footer" class="grid_12">
                {{ theme:partial name="footer" }}
            </div>
        </div>
    </div>
    
    <script>
        $("#remainingdays").countdown("2015/06/09", function(event) {
             $(this).text(
               event.strftime('%D')
             );
       });
        
    </script>
</body>

</html>