<!--<div id="site_info">
	<h1 id="site_title">{{ settings:site_name }}</h1>
	<p id="site_slogan">{{ settings:site_slogan }}</p>
</div>
<div id="site_navigation" class="clearfix">
	<ul>
	{{ navigation:links group="header" }}
	</ul>
</div>-->

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top center">
	<div class="navbar-inner">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{url:site}}"><img src="{{url:site}}{{ theme:path }}/img/ctd-logo.png" alt="corel triangle day" /></a>
		</div>

		<div class="collapse navbar-collapse" id="top-menu">
			<ul class="nav navbar-nav navbar-center">
				{{ navigation:links group="header" }}
				<li class="dropdown" style="cursor:pointer;"> 
					<a class="dropdown-toggle btn btn-share" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Share</a>
					<ul class="dropdown-menu socmed-share-content" role="menu">
						<li role="presentation" style="width:275px; padding: 5px 10px; text-align: center;">
							<a href="#" rel="facebook" class="socmed-link-share share-facebook-track" style="margin-right: 3px;display: inline-block;padding: 0px;"><img src="{{url:site}}{{ theme:path }}/img/fb-button.png" alt="Facebook"/></a>
							<a href="#" rel="twitter" class="socmed-link-share share-twitter-track" style="display: inline-block;padding: 0px;"><img src="{{url:site}}{{ theme:path }}/img/twitter-button.png" alt="Twitter"/></a>
						</li>
					</ul>
				</li>	
			</ul>
			<ul class="nav navbar-nav navbar-right top-menu-right">
				<li><a href="http://www.coraltriangleinitiative.org/" class="navbar-right-img" target="_blank" style="padding:0;margin:0"><img src="{{url:site}}{{ theme:path }}/img/Logo-Header-CTI.png" /></a></li>
			</ul>
    </div>
  </div>
  </div>
</nav>

<script>
$(window).scroll(function() {
if ($(document).scrollTop() > 150) {
	$('.navbar').addClass('shrink');
}
else {
	$('.navbar').removeClass('shrink'); 
}
});
</script>