                <!--Google map-->
<style>
.gInfoWindow {
	min-height: 38px;
	font-size: 16px;
	font-weight: bold;
	overflow-y: auto;
	width: 250px;
	max-width: 250px;
	text-align: center;
	vertical-align: middle;
	display: block;
}
.gSponsorInfoWindow {
	font-size: 15px;
	width: 340px;
}
</style>
{{theme:partial name="map-js"}}
                <div class="row hidden-xs">
                    <div class="col-xs-12 map-wrapper">
                        <div class="row">
                            <div id="map-canvas-wrapper"><div id="map-canvas">&nbsp;</div></div>

                            <!--modal map-->
                            <div class="modal-map">
                                <div class="content">
                                    <div class="btn-close" onclick="Catalyze.map.hidemodal()">
                                        <img src="{{ theme:path }}/img/Button-Close.png">
                                    </div>
                                    <div class="title">Join the celebration!</div>
                                    <div style="border-bottom:1px solid #ddd; width:245px; margin: -1px auto 23px;">&nbsp;</div>
                                    <p>What makes the Coral Triangle Day so special each year are the events that take place across the Coral Triangle: beach clean-ups, film screenings, educational talks and more. Join the fun!</p>
                                    <button onclick="Catalyze.map.hidemodal()" class="btn btn-primary">BROWSE 2015 EVENTS</button>
                                </div>
                            </div>
	                        <!--End modal map-->

							<div class="sidemenu-country-wrapper" style="display:block;">
								<!--Side menu country-->
								<label class="title">Events</label>

								<p>Find your local Coral Triangle Day events by clicking on one  of the countries below.</p>

								<ul>
									<li data-country-short="all" class="active">Show All</li>
									{{ctd:get_countries}}
									<li data-country="{{country_name}}" data-country-short="{{country_code}}">{{country_name}}</li>
									{{/ctd:get_countries}}
								</ul>
							</div>

                        </div>


                        <div class="sidedetail-event-wrapper" style="display:none;-webkit-transform: translateZ(0px);">
                            <div class="navigation"><a class="prevnext_event" id="prev_event" rel="" href="#">PREV</a><div class="divider"></div><a class="prevnext_event" id="next_event" rel="" href="#">NEXT</a>
								<img id="back_show_menu_country"class="pull-right" src="addons/default/themes/coraltriangle/img/Button-Close.png" onclick="Catalyze.map.hideDetail()" style="background-color:rgb(245, 245, 245); padding:7px; cursor:pointer;">
                            </div>

	                        <div id="event_loading" style="position:absolute;display:none;top:75px;width:100%;height:100px;background: transparent url(/img/loading.gif) no-repeat center center; background-size: 64px 64px;-webkit-transform: translateZ(0px);"></div>

							<div class="content-detail-event-map mCustomScrollbar">
								<div id="event_content" style="-webkit-transform: translateZ(0px);"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End google map-->
