			<!--event sponsor-->
<!--			<div class="eventsponsor">
				<label class="title">CORAL TRIANGLE DAY EVENT SPONSORS</label>
				
				<div class="carousel slide media-carousel " id="media">
					<div class="carousel-inner">
					{{ galleries:images slug="sponsors" order-dir="rand"}}
						<div class="col-xs-2">
							{{if external_url}}
								<a href="{{external_url}}" class="img-responsive" target="_blank"><img src="{{thumbnail_small}}" alt="{{title}}" /></a>
							{{else}}
								<img src="{{thumbnail_small}}" class="img-responsive" alt="{{title}}" />
							{{endif}}
						</div>
					{{ /galleries:images }}
					</div>
					<a data-slide="prev" href="#media" class="left carousel-control">
						<i class="glyphicon glyphicon-menu-left"></i>
					</a>
					<a data-slide="next" href="#media" class="right carousel-control">
						<i class="glyphicon glyphicon-menu-right"></i>
					</a>
				</div>      
				
			</div>-->
			<!--event sponsor-->
			
			<div class="eventsponsor" style="width:92.7% !important; margin: 0 auto; padding-top: 45px;">
				<label class="title">CORAL TRIANGLE DAY EVENT SPONSORS</label>
				<div class="list_carousel responsive">
					<ul id="sponsorslider">
						{{ galleries:images slug="sponsors" order-dir="rand"}}
						<li>
							{{if external_url}}
								<a href="{{external_url}}"  target="_blank">
									<img src="{{thumbnail_small}}" alt="{{title}}" class="img-responsive" />
								</a>
							{{else}}
								<img src="{{thumbnail_small}}" class="img-responsive" alt="{{title}}" />
							{{endif}}
						</li>
						{{ /galleries:images }}
					</ul>
					<div class="clearfix"></div>
						
					<a data-slide="prev" href="#" class="slider-control pull-left" id="prev-sponsor">
						<i class="glyphicon glyphicon-menu-left"></i>
					</a>
					<a data-slide="next" href="#" class="slider-control pull-right" id="next-sponsor">
						<i class="glyphicon glyphicon-menu-right"></i>
					</a>
				</div>
				
			</div>

<script>
$(document).ready(function(){

	$('#sponsorslider').imagesLoaded(function(){
		$('#sponsorslider').carouFredSel({
			width: '100%',
			scroll: 2,
			prev: '#prev-sponsor',
			next: '#next-sponsor'
		});
	});

});
</script>